<template>
  <section>
    <el-collapse-transition>
      <el-row v-if="getIsTaskedSolveAlready">
        <el-alert
          type="success"
          title="Du hast diese Aufgabe abgeschlossen. Wähle oben eine Aufgabe die du noch nicht erledigt hast oder klicke unten auf Nächste Aufgabe."
          :closable="false"
        >
        </el-alert>
      </el-row>
    </el-collapse-transition>

    <el-row :class="{ disabled: getIsTaskedSolveAlready > 0 }">
      <div
        v-html="markdownToHtml"
        v-if="task.data.description"
        class="framed"
      ></div>

      <el-row>
        <component
          v-loading="isLoading"
          element-loading-text="Nächste Aufgabe wird geladen ..."
          element-loading-background="rgba(0, 0, 0, 0.2)"
          :is="task.tag"
          :task="task"
          :key="task._id"
          @task-solved="onTaskSolved($event)"
        />
      </el-row>
    </el-row>

    <el-row type="flex" justify="space-between">
      <el-button :disabled="isFirstTask" @click="goToPrevious"
        ><i class="el-icon-arrow-left"></i
      ></el-button>
      <el-button :loading="isLoading" @click="goToNext">{{
        isLastTask ? "Beenden" : "Nächste Aufgabe"
      }}</el-button>
    </el-row>
  </section>
</template>

<script>
import KoanTask from "./KoanTask";
import CodeTask from "./CodeTask";
import VideoTask from "./VideoTask";
import InfoTask from "./InfoTask";
import ReflectionTask from "./ReflectionTask";
import SingleChoiceTask from "./SingleChoiceTask";
import MultipleChoiceTask from "./MultipleChoiceTask";
import { mapActions, mapState } from "vuex";
import TaskMixin from "@/mixins/TaskMixin";
import marked from "marked";

export default {
  name: "BaseTask",
  mixins: [TaskMixin],
  components: {
    InfoTask,
    ReflectionTask,
    SingleChoiceTask,
    MultipleChoiceTask,
    KoanTask,
    CodeTask,
    VideoTask,
  },
  props: ["chapter"],
  data() {
    return {
      isLoading: false,
    };
  },
  computed: {
    ...mapState("userStore", ["user"]),
    task() {
      return this.chapter.tasks.find(
        (task) => task._id === this.$route.params.taskId
      );
    },
    getTaskIdAsInteger() {
      return Number.parseInt(this.task._id);
    },
    isFirstTask() {
      return this.task && this.task._id === "1";
    },
    isLastTask() {
      return (
        this.task && this.task._id === this.chapter.tasks.length.toString()
      );
    },
    isChapterStart() {
      return this.$route.name === "chapter-start";
    },
    getIsTaskedSolveAlready() {
      return this.isTaskSolvedAlready(
        this.user,
        this.$route.params.semesterId,
        this.$route.params.courseId,
        this.$route.params.chapterId,
        this.task
      );
    },
    markdownToHtml() {
      try {
        return marked.parse(this.task.data.description.trim());
      } catch (error) {
        console.error(
          "Error rendering Markdown: Please check the input: " +
            this.task.data.description.trim(),
          error
        );
        return "<p>" + this.task.data.description.trim() + "</p>";
      }
    },
  },
  methods: {
    ...mapActions("userStore", ["updateUser"]),

    goToPrevious() {
      this.$router.push({
        name: "task",
        params: { taskId: (this.getTaskIdAsInteger - 1).toString() },
      });
    },
    goToNext() {
      if (this.isLastTask) {
        this.$router.push({ name: "chapter-start" });
      } else {
        this.$router.push({
          name: "task",
          params: {
            taskId: this.isChapterStart
              ? "1"
              : (Number.parseInt(this.$route.params.taskId) + 1).toString(),
          },
        });
      }
      this.isLoading = false;
    },
    onTaskSolved(solveData) {
      if (solveData.scoreValue > 0) {
        this.$message({
          message: "Aufgabe beendet",
          type: "success",
          customClass: "score-message",
          duration: 2000,
        });
      }
      if (this.user.settings.autoNext && solveData.redirect) {
        this.isLoading = true;
        setTimeout(this.goToNext, 1500);
      }
    },
  },
};
</script>

<style lang="scss">
// Note: This is not scoped!
.score-message {
  min-width: 0 !important;
  background-color: $htwg-color-teal !important;
  border-color: $htwg-color-soft-blue;

  i,
  p {
    color: $htwg-color-soft-blue !important;
    font-family: swiss-heavy, $font-stack;
  }
}
.disabled {
  user-select: none;
}
</style>
