<template>
  <div>
    <el-row>
      <el-col>
        <el-alert
          type="info"
          effect="light"
          :closable="false"
          v-if="this.user.settings.infoText"
        >
          <slot name="title">
            <p>
              Um diese Aufgabe zu lösen, vervollständige den Code im leeren
              Eingabefeld. Achte dabei darauf, dass du auf die unten erwartete
              Lösung kommst.<br />Du kannst dein Ergebnis mit
              <b>Klick auf den Button</b> überprüfen lassen.
            </p>
            <p>Dir ist frei überlassen wie du diese Aufgabe löst.</p>
            <p>
              Um die Lösung der Aufgabe zu erhalten, klicke auf das
              Informationssymbol <i class="el-icon-question" />
              <small style="color: red">
                (Diese Aufgabe ist dadurch zwar fertig, allerdings
                <b>nicht selbst gelöst</b>)</small
              >
            </p>
          </slot>
        </el-alert>
      </el-col>
    </el-row>

    <el-row v-if="!isSolutionAlreadySolved">
      <el-col>
        Die Ausführung des Gesamtcodes muss folgende Ergebnisse liefern:
        <ul class="result-list">
          <li
            v-for="solutionValue in task.data.solutions.map(
              (solution) => solution.solution
            )"
            :key="solutionValue"
          >
            {{ solutionValue }}
          </li>
        </ul>
      </el-col>
    </el-row>

    <el-row>
      <CodeTaskBlank
        ref="blankInput"
        class="code-blank"
        @onBlankSolved="onBlankSolved"
      />

      <codemirror
        v-if="isMounted"
        v-loading="isLoading"
        element-loading-background="rgba(0, 0, 0, 0.4)"
        :value="task.data.code"
        :options="codemirrorOptions"
        ref="codemirror"
        @ready="placeBlankInputs"
      />
    </el-row>

    <el-row v-if="!isSolutionAlreadySolved">
      <el-col :span="6">
        <el-button
          :type="checkHasFailed ? 'danger' : 'secondary'"
          @click="checkResult"
          :loading="isChecking"
          >Ergebnis prüfen</el-button
        >
      </el-col>
      <el-col :span="18">
        <el-input
          autosize
          class="log"
          type="textarea"
          rows="6"
          placeholder="Output log ..."
          readonly
          v-model="log"
        />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { codemirror } from "vue-codemirror";
import "codemirror/lib/codemirror.css";
import "codemirror/theme/monokai.css"; // Theme
import "codemirror/mode/clike/clike";
import CodeTaskBlank from "@/components/learn/task/CodeTaskBlank";
import { mapActions, mapState } from "vuex";
import { taskSolvedSuccessfully, taskSolvedWithHint } from "@/utils/constants";
import UserMixin from "@/mixins/UserMixin";
import TaskMixin from "@/mixins/TaskMixin"; // Scala

export default {
  name: "CodeTask",
  mixins: [UserMixin, TaskMixin],
  components: {
    CodeTaskBlank,
    codemirror,
  },
  props: ["task"],
  data() {
    return {
      isLoading: true,
      isChecking: false,
      isMounted: false,
      scoreValue: 1,
      log: "",
      checkHasFailed: false,
      codemirrorOptions: {
        tabSize: 2,
        styleActiveLine: true,
        lineNumbers: true,
        mode: "text/x-scala",
        theme: "monokai",
        readOnly: "nocursor",
      },
    };
  },
  computed: {
    ...mapState("userStore", ["user"]),
    isSolutionAlreadySolved() {
      const solved = this.user.solved.find(
        (solve) =>
          solve.chapterId === this.$route.params.chapterId &&
          solve.taskId === this.$route.params.taskId
      );
      if (solved) {
        const result = solved.result[0];
        if (result) {
          return result;
        }
      }
      return 0;
    },
  },
  created() {
    if (!this.task.data.solutions) {
      this.onTaskSolved();
    }
  },
  mounted() {
    if (this.task.data.solutions) {
      this.isMounted = true;
    }
  },
  methods: {
    ...mapActions("courseStore", ["checkCodeTask", "getCodeSolution"]),
    placeBlankInputs(cm) {
      const blankNode = Array.from(document.querySelectorAll(".code-blank"));
      const regex = /_#_/g;

      cm.setValue(this.task.data.code);

      // Format Code
      cm.setSelection(
        {
          line: cm.firstLine(),
          ch: 0,
          sticky: null,
        },
        {
          line: cm.lastLine(),
          ch: 100,
          sticky: null,
        },
        { scroll: false }
      );
      cm.indentSelection("smart");
      cm.setSelection({
        line: cm.firstLine(),
        ch: 0,
        sticky: null,
      });

      cm.getValue()
        .split("\n")
        .forEach((line, index) => {
          let match;
          while ((match = regex.exec(line))) {
            const pos = { line: index, ch: match.index };
            const posTo = { line: index, ch: match.index + match[0].length };
            cm.replaceRange("", pos, posTo);
            cm.setBookmark(pos, {
              widget: blankNode.shift(),
              insertLeft: true,
            });
          }
        });

      setTimeout(() => {
        this.isLoading = false;
      }, 500);
    },
    checkResult() {
      const userCode = this.$refs.blankInput.$refs.codemirror.content;
      const composedCode = this.$refs.codemirror.value.replace(/_#_/, userCode);
      this.checkHasFailed = false;
      this.isChecking = true;
      this.checkCodeTask({
        code: composedCode,
        semesterId: this.$route.params.semesterId,
        courseId: this.$route.params.courseId,
        chapterId: this.$route.params.chapterId,
        taskId: this.$route.params.taskId,
      })
        .then(() => {
          this.log = "";
          this.saveProgressStatus(
            taskSolvedSuccessfully,
            0,
            userCode
          ).then(() => this.onTaskSolved(true));
        })
        .catch((error) => {
          this.checkHasFailed = true;
          this.log = error.response.data.message;
        })
        .finally(() => (this.isChecking = false));
    },
    async saveProgressStatus(status, solutionId, userCode) {
      let resultObject = {};
      let solvedWithObject = {};
      resultObject[solutionId] = status;
      solvedWithObject[solutionId] = userCode;
      return this.saveProgress(
        this.user,
        this.$route.params.semesterId,
        this.$route.params.courseId,
        this.$route.params.chapterId,
        this.$route.params.taskId,
        resultObject,
        solvedWithObject
      );
    },
    onBlankSolved() {
      // Solved here means cheated :)
      this.scoreValue--;
      this.getCodeSolution({
        courseId: this.$route.params.courseId,
        chapterId: this.$route.params.chapterId,
        taskId: this.$route.params.taskId,
      })
        .then((response) =>
          this.saveProgressStatus(
            taskSolvedWithHint,
            0,
            response.data
          ).then(() => this.onTaskSolved(false))
        )
        .catch(() =>
          this.$notify({
            title: "Fehler",
            message:
              "Entschuldigung, die Lösung konnte nicht angefordert werden.",
            type: "error",
          })
        );
    },
    onTaskSolved(redirect = true) {
      this.$emit("task-solved", { scoreValue: this.scoreValue, redirect });
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep ul {
  margin: 4px 0 0 0;
}
::v-deep .CodeMirror {
  padding: 1rem;
  line-height: 1.4rem !important;
}

::v-deep .CodeMirror-linenumbers {
  width: 1.5rem;
}

::v-deep .CodeMirror-linenumber {
  text-align: center;
}

::v-deep .log {
  textarea {
    background-color: #333;
    color: lightcoral;
  }
}
</style>
