<template>
  <div class="codetask-blank-container">
    <codemirror
      class="code-input"
      :class="{ success: isSolutionAlreadySolved }"
      ref="codemirror"
      :value="solvedWith"
      :options="codemirrorOptions"
      @ready="configureCodemirror"
    ></codemirror>

    <!-- TODO: Extract helper into separate component -->
    <el-tooltip effect="light" placement="top-start">
      <div slot="content" class="helper-tooltip">
        <div v-if="!isSolutionAlreadySolved">
          <p>
            Klicke auf das Symbol
            <b>um die Lösung zu erhalten und einzutragen</b>.
          </p>
          <p style="color: red">
            Achtung: Diese Aufgabe ist dadurch allerdings
            <b>nicht selbst gelöst.</b>.
          </p>
        </div>
        <div v-else-if="isSolutionAlreadySolved === 1">
          <p>
            Bei dieser Aufgabe hast du die Lösung erhalten. Diese Aufgabe zählt
            als nicht gelöst.
          </p>
        </div>
        <div v-else>
          <p>
            Super, du hast diese Aufgabe vollständig richtig gelöst.
          </p>
        </div>
      </div>
      <i
        v-if="!isSolutionAlreadySolved"
        class="el-icon-question"
        @click="pasteSolution"
      />
      <i
        v-else-if="isSolutionAlreadySolved === 1"
        class="el-icon-error failed"
      />
      <i v-else class="el-icon-success success" />
    </el-tooltip>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import UserMixin from "@/mixins/UserMixin";
import { codemirror } from "vue-codemirror";

export default {
  name: "CodeTaskBlank",
  mixins: [UserMixin],
  components: { codemirror },
  data() {
    return {
      isSolvedByUser: false,
      solvedWith: "",
      codemirrorOptions: {
        tabSize: 2,
        scrollbarStyle: null,
        lineNumbers: false,
        mode: "text/x-scala",
        matchBrackes: true,
        theme: "monokai"
      }
    };
  },
  computed: {
    ...mapState("userStore", ["user"]),
    ...mapGetters("courseStore", ["currentTaskProgress"]),
    isSolutionAlreadySolved() {
      const solved = this.user.solved.find(
        solve =>
          solve.semesterId === this.$route.params.semesterId &&
          solve.courseId === this.$route.params.courseId &&
          solve.chapterId === this.$route.params.chapterId &&
          solve.taskId === this.$route.params.taskId
      );
      if (solved) {
        const result = solved.result[0];
        if (result) {
          return result;
        }
      }
      return 0;
    }
  },
  created() {
    if (this.isSolutionAlreadySolved) {
      const solved = this.user.solved.find(
        solve =>
          solve.chapterId === this.$route.params.chapterId &&
          solve.taskId === this.$route.params.taskId
      );
      this.solvedWith = solved.solvedWith[0];
    }
  },
  methods: {
    configureCodemirror(cm) {
      cm.setSize("100%", 150);
    },
    pasteSolution() {
      this.$emit("onBlankSolved", false);
    }
  }
};
</script>

<style scoped lang="scss">
::v-deep .code-input {
  position: relative;
  flex: 1;
  border: 1px dashed #363;
  border-top: 1px dashed transparent;
  border-bottom: 1px dashed transparent;
  transition: border 0.3s ease;
  margin: -1.4rem 0 -1rem -0.28rem;
  &.success {
    cursor: not-allowed !important;
    background-color: #122d0d;
    * {
      pointer-events: none;
    }
  }
  .CodeMirror {
    padding: 0;
    background-color: transparent;
  }
  &:focus-within {
    border: 1px dashed transparent !important;
    outline: none;
    &:before {
      opacity: 0;
    }
  }
  &:before {
    content: "Schreibe hier deine Codelösung";
    pointer-events: none;
    font-size: 10px;
    color: #666;
    position: absolute;
    top: 0;
    z-index: 999;
    right: 4px;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  &.success:before {
    display: none;
  }
}
.codetask-blank-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  .el-tooltip {
    flex: 0.5;
    margin-left: 8px;
  }
}
.helper-tooltip {
  button {
    padding: 4px 6px;
    margin-left: 0.6rem;
  }
}
i {
  user-select: none;
  cursor: pointer;
  &.success {
    color: $success-color;
  }
  &.failed {
    color: $failed-color;
  }
}
</style>
