<template>
  <div class="info-btn-display">
    <el-alert
      title="Um diese Aufgabe zu lösen, kannst du sie 'Als Erledigt markieren!' Sofern eine Handlungsaufforderung existiert, erledige diese bitte zuvor."
      type="info"
      effect="light"
      :closable="false"
      v-if="this.user.settings.infoText"
    >
    </el-alert>
    <div class="btn">
      <el-button v-if="!isAlreadySolved" @click="solve">
        Als Erledigt markieren!
      </el-button>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import UserMixin from "@/mixins/UserMixin";
import { taskSolvedSuccessfully } from "@/utils/constants";

export default {
  name: "InfoTask",
  mixins: [UserMixin],
  props: ["task"],
  data() {
    return {
      scoreValue: 5,
    };
  },
  computed: {
    ...mapState("userStore", ["user"]),
    ...mapGetters("courseStore", ["currentUser"]),
    isAlreadySolved() {
      const solved = this.user.solved.find(
        (solve) =>
          solve.semesterId === this.$route.params.semesterId &&
          solve.courseId === this.$route.params.courseId &&
          solve.chapterId === this.$route.params.chapterId &&
          solve.taskId === this.task._id
      );
      if (solved) {
        return Object.keys(solved.result).length > 0;
      }
      return false;
    },
  },
  methods: {
    async saveProgressStatus(status) {
      let resultObject = {};
      resultObject[0] = status;
      return this.saveProgress(
        this.user,
        this.$route.params.semesterId,
        this.$route.params.courseId,
        this.$route.params.chapterId,
        this.$route.params.taskId,
        resultObject
      );
    },
    solve() {
      if (!this.isAlreadySolved) {
        this.saveProgressStatus(taskSolvedSuccessfully).then(() =>
          this.$emit("task-solved", {
            scoreValue: this.scoreValue,
            redirect: true,
          })
        );
      }
    },
  },
};
</script>

<style scoped>
.info-btn-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  margin-top: 1rem;
}
</style>
