<template>
  <div>
    <input
      type="text"
      autocomplete="off"
      v-model="inputValue"
      :class="{
        success: isSolutionAlreadySolved,
        'used-helper': isSolutionAlreadySolved === 1
      }"
      :readonly="isSolutionAlreadySolved > 0"
      ref="input"
    />

    <!-- TODO: Extract helper into separate component -->
    <el-tooltip effect="light" placement="top-start">
      <div slot="content" class="helper-tooltip">
        <div v-if="!isSolutionAlreadySolved">
          <p>
            Klicke auf das Symbol
            <b>um die Lösung zu erhalten und einzutragen</b>.
          </p>
          <p style="color: red">
            Achtung: Diese Aufgabe ist dadurch allerdings
            <b>nicht selbst gelöst.</b>.
          </p>
        </div>
        <div v-else-if="isSolutionAlreadySolved === 1">
          <p>
            Bei dieser Aufgabe hast du die Lösung erhalten. Diese Aufgabe zählt
            als nicht gelöst.
          </p>
        </div>
        <div v-else>
          <p>
            Super, du hast diese Aufgabe vollständig richtig gelöst.
          </p>
        </div>
      </div>
      <i
        v-if="!isSolutionAlreadySolved"
        class="el-icon-question"
        @click="pasteSolution"
      />
      <i
        v-else-if="isSolutionAlreadySolved === 1"
        class="el-icon-error failed"
      />
      <i v-else class="el-icon-success success" />
    </el-tooltip>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import UserMixin from "@/mixins/UserMixin";
import { taskSolvedSuccessfully, taskSolvedWithHint } from "@/utils/constants";

export default {
  name: "KoanTaskBlank",
  mixins: [UserMixin],
  props: {
    solution: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      inputValue: "",
      wasPasted: false
    };
  },
  computed: {
    ...mapState("userStore", ["user"]),
    ...mapGetters("courseStore", ["currentTaskProgress"]),
    isSolutionAlreadySolved() {
      const solved = this.user.solved.find(
        solve =>
          solve.semesterId === this.$route.params.semesterId &&
          solve.courseId === this.$route.params.courseId &&
          solve.chapterId === this.$route.params.chapterId &&
          solve.taskId === this.$route.params.taskId
      );
      if (solved) {
        const result = solved.result[this.solution._id];
        if (result) {
          return result;
        }
      }
      return 0;
    }
  },
  watch: {
    inputValue(value) {
      if (
        !this.isSolutionAlreadySolved &&
        !this.wasPasted &&
        value === this.solution.solution
      ) {
        this.$emit("onBlankSolved", {
          status: taskSolvedSuccessfully,
          solutionId: this.solution._id,
          usedHelper: false
        });
      }
    }
  },
  created() {
    if (this.isSolutionAlreadySolved) {
      this.inputValue = this.solution.solution;
    }
  },
  methods: {
    pasteSolution() {
      this.wasPasted = true;
      this.$emit("onBlankSolved", {
        status: taskSolvedWithHint,
        solutionId: this.solution._id,
        usedHelper: true
      });
      this.inputValue = this.solution.solution;
    }
  }
};
</script>

<style scoped lang="scss">
input {
  /* From Monokai Syntax CSS theme */
  background-color: #49483e;
  border: 1px solid #ccc;
  border-radius: 0.2rem;

  /* Don't touch padding-right, it seems buggy with vue-input-autowidth */
  padding: 6px 0 6px 6px;
  margin: 0 0.3rem;

  color: #ffffff;
  font-family: monospace;
  font-size: medium;
  font-weight: bold;
  cursor: text;

  &:focus {
    outline: none;
    background-color: rgba(254, 130, 85, 0.75);
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  }

  &.success {
    background-color: $success-color;

    &.used-helper {
      color: black;
      background-color: lighten($success-color, 40%);
    }
  }
}
.helper-tooltip {
  button {
    padding: 4px 6px;
    margin-left: 0.6rem;
  }
}
i {
  user-select: none;
  cursor: pointer;
  &.success {
    color: $success-color;
  }
  &.failed {
    color: $failed-color;
  }
}
</style>
