<template>
  <div>
    <el-row>
      <el-col>
        <el-alert
          type="info"
          effect="light"
          :closable="false"
          v-if="this.user.settings.infoText"
        >
          <slot name="title">
            <p>
              Um diese Aufgabe zu lösen, gib die exakten Rückgabewerte in die
              leeren Eingabefelder ein. String Ergebnisse sehen z.b. so aus
              "Hello"
            </p>
            <p>
              Um die Lösung einer Aufgabe zu erhalten, klicke auf das
              Informationssymbol <i class="el-icon-question" />
              <small style="color: red">
                (Diese einzelne Aufgabe ist dadurch zwar fertig, allerdings
                <b>nicht selbst gelöst</b>)</small
              >
            </p>
          </slot>
        </el-alert>
      </el-col>
    </el-row>

    <KoanTaskBlank
      v-for="(solution, index) in task.data.solutions"
      :key="index"
      ref="blankInputs"
      :solution="solution"
      class="koan-blank"
      @onBlankSolved="onBlankSolved"
    ></KoanTaskBlank>

    <codemirror
      v-if="isMounted"
      v-loading="isLoading"
      element-loading-background="rgba(0, 0, 0, 0.4)"
      :value="task.data.code"
      :options="codemirrorOptions"
      ref="codemirror"
      @ready="placeBlankInputs"
    />
  </div>
</template>

<script>
import { codemirror } from "vue-codemirror";
import "codemirror/lib/codemirror.css";
import "codemirror/theme/monokai.css";
import "codemirror/mode/clike/clike"; // Scala
import KoanTaskBlank from "./KoanTaskBlank";
import { taskSolvedSuccessfully } from "@/utils/constants";
import UserMixin from "@/mixins/UserMixin";
import { mapState } from "vuex";
import TaskMixin from "@/mixins/TaskMixin";

export default {
  name: "KoanTask",
  mixins: [UserMixin, TaskMixin],
  components: {
    codemirror,
    KoanTaskBlank,
  },
  props: ["task"],
  data() {
    return {
      isLoading: true,
      isMounted: false,
      remainingBlanks: this.task.data.solutions.length,
      scoreValue: this.task.data.solutions.length,
      codemirrorOptions: {
        tabSize: 2,
        styleActiveLine: true,
        lineNumbers: true,
        mode: "text/x-scala",
        theme: "monokai",
        readOnly: "nocursor",
      },
    };
  },
  computed: {
    ...mapState("userStore", ["user"]),
    getIsTaskedSolveAlready() {
      return this.isTaskSolvedAlready(
        this.user,
        this.$route.params.semesterId,
        this.$route.params.courseId,
        this.$route.params.chapterId,
        this.task
      );
    },
  },
  created() {
    if (!this.task.data.solutions.length && !this.getIsTaskedSolveAlready) {
      this.onAutoSolve();
    }
  },
  mounted() {
    this.isMounted = true;
  },
  methods: {
    placeBlankInputs(cm) {
      const blankNodes = Array.from(document.querySelectorAll(".koan-blank"));
      const regex = /__/g;

      cm.setValue(this.task.data.code);

      // Format Code
      cm.setSelection(
        {
          line: cm.firstLine(),
          ch: 0,
          sticky: null,
        },
        {
          line: cm.lastLine(),
          ch: 100,
          sticky: null,
        },
        { scroll: false }
      );
      cm.indentSelection("smart");
      cm.setSelection({
        line: cm.firstLine(),
        ch: 0,
        sticky: null,
      });

      cm.getValue()
        .split("\n")
        .forEach((line, index) => {
          let match;
          while ((match = regex.exec(line))) {
            const pos = { line: index, ch: match.index };
            const posTo = { line: index, ch: match.index + match[0].length };
            cm.replaceRange("", pos, posTo);
            cm.setBookmark(pos, { widget: blankNodes.shift() });
          }
        });

      setTimeout(() => {
        this.isLoading = false;
        if (this.$refs.blankInputs) {
          this.$refs.blankInputs[0].$refs.input.focus();
        }
      }, 500);
    },
    async saveProgressStatus(status, solutionId) {
      let resultObject = {};
      resultObject[solutionId] = status;
      return this.saveProgress(
        this.user,
        this.$route.params.semesterId,
        this.$route.params.courseId,
        this.$route.params.chapterId,
        this.$route.params.taskId,
        resultObject
      );
    },
    onAutoSolve() {
      this.saveProgressStatus(taskSolvedSuccessfully, 0).then(() => {
        if (this.remainingBlanks === 0) {
          this.onTaskSolved(false);
          this.$notify({
            title: "Hinweis",
            message:
              "Da diese Aufgabe keine Lösung fordert, hast du diese automatisch bestanden.",
            type: "info",
          });
        }
      });
    },
    onBlankSolved(solveData) {
      this.remainingBlanks--;
      if (solveData.usedHelper) {
        this.scoreValue--;
      }
      this.saveProgressStatus(solveData.status, solveData.solutionId).then(
        () => {
          if (this.remainingBlanks === 0) {
            this.onTaskSolved();
          }
        }
      );
    },
    onTaskSolved(redirect = true) {
      this.$emit("task-solved", { scoreValue: this.scoreValue, redirect });
    },
  },
};
</script>

<style scoped lang="scss">
::v-deep .CodeMirror {
  padding: 1rem;
  line-height: 1.4rem !important;
}

::v-deep .CodeMirror-linenumbers {
  width: 1.5rem;
}

::v-deep .CodeMirror-linenumber {
  text-align: center;
}
</style>
