<template>
  <div class="text-input-component">
    <textarea
      v-model="inputText"
      placeholder="Geben Sie hier Ihren Text ein..."
    ></textarea>
    <div class="alert">
      <el-alert
        title="Vorsicht: Das Speichern ist endgültig. Überlege es dir also gut und schließe dann mit dem Speichern deinen Task ab!"
        type="info"
        effect="light"
        :closable="false"
        v-if="this.user.settings.infoText"
      >
      </el-alert>
    </div>

    <el-button @click="solve">
      Speichern
    </el-button>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import UserMixin from "@/mixins/UserMixin";
import { taskSolvedSuccessfully } from "@/utils/constants";

export default {
  name: "ReflectionTask",
  mixins: [UserMixin],
  props: ["task"],
  data() {
    return {
      inputText: "",
      scoreValue: 5,
    };
  },
  computed: {
    ...mapState("userStore", ["user"]),
    ...mapGetters("courseStore", ["currentUser"]),
    isAlreadySolved() {
      const solved = this.user.solved.find(
        (solve) =>
          solve.semesterId === this.$route.params.semesterId &&
          solve.courseId === this.$route.params.courseId &&
          solve.chapterId === this.$route.params.chapterId &&
          solve.taskId === this.task._id
      );
      if (solved) {
        return Object.keys(solved.result).length > 0;
      }
      return false;
    },
  },
  mounted() {
    const solved = this.user.solved.find(
      (solve) =>
        solve.semesterId === this.$route.params.semesterId &&
        solve.courseId === this.$route.params.courseId &&
        solve.chapterId === this.$route.params.chapterId &&
        solve.taskId === this.task._id
    );
    if (solved) {
      this.inputText = solved.solvedWith.solution;
    }
  },
  methods: {
    solve() {
      if (!this.isAlreadySolved) {
        this.saveProgressStatus(taskSolvedSuccessfully).then(() =>
          this.$emit("task-solved", {
            scoreValue: this.scoreValue,
            redirect: true,
          })
        );
      }
    },
    async saveProgressStatus(status) {
      let resultObject = {};
      resultObject[0] = status;
      return this.saveProgress(
        this.user,
        this.$route.params.semesterId,
        this.$route.params.courseId,
        this.$route.params.chapterId,
        this.$route.params.taskId,
        resultObject,
        { solution: this.inputText }
      );
    },
  },
};
</script>

<style scoped>
.text-input-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 100%;
  max-width: 800px;
  min-height: 200px;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  resize: vertical;
}
.alert {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
</style>
