<template>
  <div class="single-choice-test">
    <!-- <el-alert
      title="Einfache Auswahlmöglichkeit. Wenn es nicht richtig ist, probier es einfach nochmal!"
      type="info"
      effect="light"
      :closable="false"
      v-if="this.user.settings.infoText"
    >
    </el-alert> -->
    <div class="optionDiv">
      <div
        v-for="(solution, index) in task.data.solutions"
        :key="index"
        class="option"
      >
        <input
          type="radio"
          :id="'option-' + index"
          :value="index"
          v-model="selectedOption"
        />
        <label :for="'option-' + index">{{ solution.solution }}</label>
      </div>
    </div>

    <el-button @click="checkAnswer" :disabled="selectedOption === null">
      Antwort überprüfen
    </el-button>
    <el-alert
      v-if="answerFeedback !== ''"
      :type="isAnswerRight ? 'success' : 'error'"
      :title="answerFeedback"
      :closable="true"
      style="margin-top: 15px"
    >
    </el-alert>
  </div>
</template>

<script>
import { taskSolvedSuccessfully } from "@/utils/constants";
import UserMixin from "@/mixins/UserMixin";
import { mapState, mapGetters } from "vuex";
import TaskMixin from "@/mixins/TaskMixin";

export default {
  name: "SingleChoiceTask",
  mixins: [UserMixin, TaskMixin],
  props: ["task"],
  data() {
    return {
      selectedOption: null,
      answerFeedback: "",
      isAnswerRight: true,
      scoreValue: 5,
    };
  },
  computed: {
    ...mapState("userStore", ["user"]),
    ...mapGetters("courseStore", ["currentUser"]),
    isAlreadySolved() {
      const solved = this.user.solved.find(
        (solve) =>
          solve.semesterId === this.$route.params.semesterId &&
          solve.courseId === this.$route.params.courseId &&
          solve.chapterId === this.$route.params.chapterId &&
          solve.taskId === this.task._id
      );
      if (solved) {
        return Object.keys(solved.result).length > 0;
      }
      return false;
    },
  },
  methods: {
    checkAnswer() {
      const correctAnswer = this.task.data.solutions.find(
        (solution) => solution.correctness === true
      );
      const selectedOption = this.task.data.solutions[this.selectedOption];
      if (selectedOption.correctness === true) {
        this.isAnswerRight = true;
        if (this.task.data.url != "" || null) {
          this.answerFeedback = "Richtig! " + this.task.data.url;
        } else {
          this.answerFeedback = "Richtig, Gut gemacht!";
        }
        this.solve();
      } else {
        this.isAnswerRight = false;
        this.answerFeedback = "Falsch, versuche es noch einmal.";
      }
    },
    solve() {
      if (!this.isAlreadySolved) {
        this.saveProgressStatus(taskSolvedSuccessfully).then(() =>
          this.$emit("task-solved", {
            scoreValue: this.scoreValue,
            redirect: true,
          })
        );
      }
    },
    async saveProgressStatus(status) {
      let resultObject = {};
      resultObject[0] = status;
      return this.saveProgress(
        this.user,
        this.$route.params.semesterId,
        this.$route.params.courseId,
        this.$route.params.chapterId,
        this.$route.params.taskId,
        resultObject
      );
    },
  },
};
</script>

<style scoped>
.single-choice-test {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  display: flex;
  align-items: center;
}
.optionDiv {
  margin: 1rem;
}

.feedback {
  margin-top: 1rem;
  font-weight: bold;
}
</style>
