<template>
  <div>
    <el-row>
      <el-col>
        <el-alert
          title="Um diese Aufgabe zu lösen, musst du das Video bis zum Ende ansehen."
          type="info"
          effect="light"
          :closable="false"
          v-if="this.user.settings.infoText"
        >
        </el-alert>
      </el-col>
    </el-row>
    <el-row>
      <el-col>
        <youtube
          :video-id="task.data.url"
          player-width="100%"
          :player-vars="{ autoplay: user.settings.autoPlay }"
          @ready="ready = true"
          @ended="onVideoEnded"
          v-loading="!ready"
          element-loading-background="rgba(0, 0, 0, 0.8)"
        />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import UserMixin from "@/mixins/UserMixin";
import { taskSolvedSuccessfully } from "@/utils/constants";

export default {
  name: "VideoTask",
  mixins: [UserMixin],
  props: ["task"],
  data() {
    return {
      ready: false,
      scoreValue: 5,
    };
  },
  computed: {
    ...mapState("userStore", ["user"]),
    ...mapGetters("courseStore", ["currentUser"]),
    isVideoAlreadySolved() {
      const solved = this.user.solved.find(
        (solve) =>
          solve.semesterId === this.$route.params.semesterId &&
          solve.courseId === this.$route.params.courseId &&
          solve.chapterId === this.$route.params.chapterId &&
          solve.taskId === this.task._id
      );
      if (solved) {
        return Object.keys(solved.result).length > 0;
      }
      return false;
    },
  },
  methods: {
    async saveProgressStatus(status) {
      let resultObject = {};
      resultObject[0] = status;
      return this.saveProgress(
        this.user,
        this.$route.params.semesterId,
        this.$route.params.courseId,
        this.$route.params.chapterId,
        this.$route.params.taskId,
        resultObject
      );
    },
    onVideoEnded() {
      if (!this.isVideoAlreadySolved) {
        this.saveProgressStatus(taskSolvedSuccessfully).then(() =>
          this.$emit("task-solved", {
            scoreValue: this.scoreValue,
            redirect: true,
          })
        );
      }
    },
  },
};
</script>

<style scoped></style>
