<template>
  <div>
    <h1>Dein persönlicher Bereich</h1>
    <el-tabs v-model="activeTab">
      <el-tab-pane label="Profil" name="user-profile">
        <router-view />
      </el-tab-pane>
      <el-tab-pane label="Einstellungen" name="user-settings">
        <router-view />
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
export default {
  name: "UserShell",
  data() {
    return {
      activeTab: this.$route.name
    };
  },
  watch: {
    $route(currentRoute) {
      this.activeTab = currentRoute.name;
    },
    activeTab(value) {
      if (this.$route.name !== value) {
        this.$router.push({ name: value });
      }
    }
  }
};
</script>

<style scoped></style>
