<template>
  <div>
    <el-row style="margin-bottom: 20px">
      <el-dropdown @command="updateSelectedSemester">
        <el-button type="primary">{{ selectedSemester ? selectedSemester.name : '' }}<i class="el-icon-arrow-down el-icon--right"></i></el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item
            v-for="semester in getSemestersOfUser"
            :key="semester._id"
            :command="semester"
          >
            {{ semester.name }}
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </el-row>
    <el-row :gutter="24" type="flex" class="row-bg wrap-row" justify="space-between">
      <el-col :xs="24" :sm="24" :md="12" :xl="12">
        <SemesterCalendar
          :from-date="selectedSemester ? new Date(selectedSemester.opensAt) : new Date()"
          :course-deadlines="getCourseDeadlinesInSelectedSemester"
          :quizduell-deadlines="getQuizduellDeadlinesInSelectedSemester"
        ></SemesterCalendar>
      </el-col>
      <el-col :xs="24" :sm="24" :md="12" :xl="12">
        <SemesterCalendarLegend></SemesterCalendarLegend>
        <SemesterTasksBoard
          :course-deadlines="getCourseDeadlinesInSelectedSemester"
          :quizduell-deadlines="getQuizduellDeadlinesInSelectedSemester"
        ></SemesterTasksBoard>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import SemesterCalendar from "@/components/calendar/SemesterCalendar.vue"
import { mapActions, mapState } from "vuex";
import SemesterTasksBoard from "@/components/calendar/SemesterTasksBoard.vue";
import QuizduellDeadline from "@/models/QuizduellDeadline";
import CourseDeadline from "@/models/CourseDeadline";
import SemesterCalendarLegend from "@/components/calendar/SemesterCalenderLegend.vue";

export default {
  name: "DashboardCalendar",
  components: {
    SemesterCalendarLegend,
    SemesterTasksBoard,
    SemesterCalendar,
  },
  computed: {
    ...mapState("userStore", ["user"]),
    ...mapState("semesterStore", ["semesters"]),
    ...mapState("courseStore", ["courses"]),
    ...mapState("lectureStore", ["lectures"]),
    ...mapState("quizTaskSetStore", ["quizTaskSets"]),
    ...mapState("quizduellDeadlineStore", ["quizduellDeadlines"]),
    ...mapState("courseDeadlineStore", ["courseDeadlines"]),
    getSemestersOfUser() {
      return this.semesters
        .filter(semester =>
          this.user.subscriptions.some(
            subscription => subscription.semester === semester._id
          )
        )
        .sort((a, b) => a.opensAt - b.opensAt);
    },
    getCourseDeadlinesInSelectedSemester() {
      let selectedCourseDeadlines = []
      if (this.selectedSemester !== undefined && this.lectures.length > 0 && this.courses.length > 0) {
        const courseDeadlinesInSemester = this.courseDeadlines.filter(
          (courseDeadline) => courseDeadline.semester === this.selectedSemester._id
        )
        selectedCourseDeadlines = courseDeadlinesInSemester.map((courseDeadline) => {
          return new CourseDeadline(
            courseDeadline.lecture,
            this.lectures.find((lecture) => lecture._id === courseDeadline.lecture).name,
            courseDeadline.deadline,
            courseDeadline._id,
            this.courses.find((course) => course._id === courseDeadline.course).title,
            this.selectedSemester.name
          );
        });
      }
      return selectedCourseDeadlines;
    },
    getQuizduellDeadlinesInSelectedSemester() {
      let selectedQuizduellDeadlines = []
      if (this.selectedSemester !== undefined && this.lectures.length > 0 && this.quizTaskSets.length > 0) {
        this.quizduellDeadlines.map((quizduellDeadline) => {
          if (quizduellDeadline.semester === this.selectedSemester._id) {
            selectedQuizduellDeadlines = [...selectedQuizduellDeadlines, new QuizduellDeadline(
              quizduellDeadline.lecture,
              this.lectures.find((lecture) => lecture._id === quizduellDeadline.lecture).name,
              quizduellDeadline.deadline,
              quizduellDeadline._id,
              quizduellDeadline.taskSet,
              this.quizTaskSets.find((quizTaskSet) => quizTaskSet._id === quizduellDeadline.taskSet).name,
              this.selectedSemester.name
            )];
          }
        });
      }
      return selectedQuizduellDeadlines;
    }
  },
  watch: {
    semesters(newSemesters) {
      if (newSemesters.length > 0) {
        this.updateSelectedSemester(this.getLatestSemester());
      }
    }
  },
  created() {
    this.fetchSemesters();
    this.fetchCourses();
    this.fetchLectures();
    this.fetchQuizTaskSets();
    this.fetchSubscribedQuizduellDeadlines();
    this.fetchSubscribedCourseDeadlines();
  },
  methods: {
    ...mapActions("courseStore", ["fetchCourses"]),
    ...mapActions("semesterStore", ["fetchSemesters"]),
    ...mapActions("lectureStore", ["fetchLectures"]),
    ...mapActions("quizTaskSetStore", ["fetchQuizTaskSets"]),
    ...mapActions("quizduellDeadlineStore", ["fetchSubscribedQuizduellDeadlines"]),
    ...mapActions("courseDeadlineStore", ["fetchSubscribedCourseDeadlines"]),
    updateSelectedSemester(semester) {
      this.selectedSemester = semester;
    },
    getLatestSemester() {
      return this.getSemestersOfUser.slice(-1)[0];
    },
  },
  data() {
    return {
      selectedSemester: undefined,
    };
  }
}
</script>

<style scoped>
.wrap-row {
  flex-wrap: wrap;
}
.el-col {
  margin-bottom: 20px;
}
</style>
