<template>
  <div>
    <h2>Aktuelle Semester & Vorlesungen</h2>

    <el-row v-if="getActiveSemesters.length > 0" :gutter="25">
      <el-col
        v-for="semester in getActiveSemesters"
        :key="semester._id"
        :span="24"
        class="full-height-column"
        ><div class="grid-content bg-purple">
          <el-card>
            <div slot="header" class="clearfix">
              <span>
                Semester: <b>{{ semester.name }}</b>
                <small>
                  (Noch
                  {{ getDaysLeftForSemester(semester) }}
                  {{
                    getDaysLeftForSemester(semester) === 1 ? "Tag" : "Tage"
                  }})</small
                >
              </span>
            </div>
            <div class="text item">
              <el-row
                v-if="getLecturesOfSemester(semester).length > 0"
                :gutter="16"
              >
                <el-col
                  v-for="lecture in getLecturesOfSemester(semester)"
                  :key="lecture._id"
                  :span="8"
                >
                  <el-card>
                    <div slot="header" class="clearfix">
                      <span>
                        <b>{{ lecture.name }}</b>
                      </span>
                    </div>
                    <div class="text item">
                      <small>{{ lecture.description }}</small>
                    </div>
                    <div class="text item">
                      <div class="grid-content">
                        <div v-if="userIsEnrolled(lecture, semester)">
                          <el-button
                            type="danger"
                            size="mini"
                            @click="leaveLecture(semester, lecture)"
                            >Ausschreiben</el-button
                          >
                          <el-button
                            type="success"
                            @click="gotoLecture(lecture, semester)"
                            >Jetzt lernen</el-button
                          >
                        </div>
                        <div v-else>
                          <el-button
                            type="primary"
                            @click="enroll(semester, lecture)"
                            >Einschreiben</el-button
                          >
                        </div>
                      </div>
                    </div>
                  </el-card>
                </el-col>
              </el-row>
              <el-row v-else>
                <el-alert
                  title="Für dieses Semester gibt es noch keine Vorlesungen."
                  type="error"
                >
                </el-alert>
              </el-row>
            </div>
          </el-card>
        </div>
      </el-col>
    </el-row>
    <el-row v-else>
      <el-alert
        title="Momentan gibt es noch keine aktiven Semester."
        type="error"
      >
      </el-alert>
    </el-row>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import CourseMixin from "@/mixins/CourseMixin";
import { getOpenSemesters } from "@/utils/helpers";

export default {
  name: "DashboardOverview",
  mixins: [CourseMixin],
  data() {
    return {
      isLoading: false,
      activeLecture: null
    };
  },
  computed: {
    ...mapState("semesterStore", ["semesters"]),
    ...mapState("lectureStore", ["lectures"]),
    ...mapState("userStore", ["user"]),
    getActiveSemesters() {
      return getOpenSemesters(this.semesters);
    }
  },
  created() {
    this.isLoading = this.lectures.length === 0;
    this.fetchLectures();
    this.fetchSemesters()
      .catch(() =>
        this.$notify({
          title: "Fehler",
          message: "Die Semester konnten nicht geladen werden.",
          type: "error"
        })
      )
      .finally(() => (this.isLoading = false));
  },
  methods: {
    ...mapActions("userStore", [
      "createSubscription",
      "deleteUserSubscription"
    ]),
    ...mapActions("semesterStore", ["fetchSemesters"]),
    ...mapActions("lectureStore", ["fetchLectures"]),
    leaveLecture(semester, lecture) {
      this.$confirm(
        `Bist du sicher dass du dich aus der Vorlesung "${lecture.name}" im Semester "${semester.name}" ausschreiben willst? Dein Fortschritt geht hierbei nicht verloren.`,
        "Ausschreiben aus Vorlesung",
        {
          confirmButtonText: "Ja",
          cancelButtonText: "Nein, abbrechen",
          type: "warning",
          customClass: "el-confirm"
        }
      ).then(() => {
        const subscription = this.user.subscriptions.find(
          subscription =>
            subscription.lecture === lecture._id &&
            subscription.semester === semester._id
        );
        this.deleteUserSubscription(subscription).then(() => {
          this.$notify({
            title: "Erfolg",
            message: `Du hast dich erfolgreich aus der Vorlesung "${lecture.name}" ausgeschrieben.`,
            type: "success"
          });
        });
      });
    },
    enroll(semester, lecture) {
      this.createSubscription({
        semester: semester._id,
        lecture: lecture._id,
        user: this.user._id
      }).then(() =>
        this.$notify({
          title: "Erfolg",
          message: `Du hast dich erfolgreich in die Vorlesung "${lecture.name}" eingeschrieben.`,
          type: "success"
        })
      );
    },
    gotoLecture(lecture, semester) {
      this.$router.push({
        name: "lecture",
        params: { lectureId: lecture._id, semesterId: semester._id }
      });
    },
    getLecturesOfSemester(semester) {
      return this.lectures.filter(lecture =>
        semester.lectures.includes(lecture._id)
      );
    },
    getDaysLeftForSemester(semester) {
      const _MS_PER_DAY = 1000 * 60 * 60 * 24;
      const diff = new Date(semester.closesAt) - new Date();
      return Math.floor(new Date(diff) / _MS_PER_DAY);
    },
    userIsEnrolled(lecture, semester) {
      return this.user.subscriptions.some(
        subscription =>
          subscription.lecture === lecture._id &&
          subscription.semester === semester._id
      );
    }
  }
};
</script>

<style lang="scss" scoped>
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.grid-content {
  padding: 16px 0 8px 0;
}

.full-height-column {
  height: 100%;
}

.clearfix:after {
  clear: both;
}

.box-card {
  width: 23rem;
  min-height: 15rem;
  display: inline-block;
  margin: 0.8rem;
}

h4 {
  /* font-weight: bold; */
  display: inline;
}

.el-rate {
  float: right;
}
</style>
