<template>
  <div>
    <h4>Deine Vorlesungen</h4>
    <div v-if="user.subscriptions.length">
      <el-row
        v-for="semester in getSemestersOfUser"
        :key="semester._id"
        :gutter="16"
      >
        <el-col
          v-for="lecture in getLecturesOfUserSemester(semester)"
          :key="lecture._id"
          :span="24"
        >
          <el-card>
            <div slot="header" class="clearfix">
              <span>
                <b>{{ lecture.name }} im Semester {{ semester.name }}</b>
              </span>
            </div>
            <div class="text item">
              <PieChart
                :user="user"
                :lecture="lecture"
                :semester="semester"
              ></PieChart>
            </div>
          </el-card>
        </el-col>
      </el-row>
    </div>
    <el-row v-else>
      Du bist in keine Vorlesung eingeschrieben. Gehe zur <b>Übersicht</b>
      und schreibe dich in eine Vorlesung ein.
    </el-row>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import PieChart from "../statistics/PieChart";

export default {
  name: "DashboardStatistics",
  components: { PieChart },
  computed: {
    ...mapState("userStore", ["user"]),
    ...mapState("lectureStore", ["lectures"]),
    ...mapState("semesterStore", ["semesters"]),
    getSemestersOfUser() {
      return this.semesters
        .filter(semester =>
          this.user.subscriptions.some(
            subscription => subscription.semester === semester._id
          )
        )
        .sort((a, b) => b.opensAt - a.opensAt);
    },
    userIsEnrolled(lecture, semester) {
      return this.user.subscriptions.some(
        subscription =>
          subscription.lecture === lecture._id &&
          subscription.semester === semester._id
      );
    }
  },
  created() {
    this.fetchSemesters();
    this.fetchLectures();
  },
  methods: {
    ...mapActions("lectureStore", ["fetchLectures"]),
    ...mapActions("semesterStore", ["fetchSemesters"]),
    getLecturesOfUserSemester(semester) {
      return this.lectures.filter(lecture =>
        this.user.subscriptions.some(
          subscription =>
            subscription.lecture === lecture._id &&
            subscription.semester === semester._id
        )
      );
    }
  }
};
</script>

<style scoped></style>
