<template>
  <page-layout back-link size="small" :title="title">
    <template #actions>
      <v-row dense>
        <v-col v-if="lecture">
          <v-btn
            color="secondary"
            label
            :loading="isDeletingLecture"
            size="small"
            variant="tonal"
            @click="onDelete"
          >
            <v-icon icon="mdi-delete-outline" size="x-large" />
          </v-btn>
        </v-col>
        <v-col>
          <v-btn
            color="primary"
            :form="formId"
            :loading="isSubmitting"
            size="small"
            text="Speichern"
            type="submit"
            variant="flat"
          />
        </v-col>
      </v-row>
    </template>
    <v-form :id="formId" @submit.prevent="onSubmit">
      <v-card class="border-b-lg" style="border-bottom-color: rgb(var(--v-theme-primary)) !important;">
        <v-card-text>
          <v-row>
            <v-col>
              <field v-slot="{componentField, errorMessage}" label="Name" name="name" rules="required">
                <v-text-field
                  autocomplete="off"
                  autofocus
                  :error-messages="errorMessage"
                  :model-value="componentField.modelValue"
                  :name="componentField.name"
                  @update:model-value="componentField['onUpdate:modelValue']"
                >
                  <template #label>
                    <span class="text-error text-h6">*</span> Name
                  </template>
                </v-text-field>
              </field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <field v-slot="{componentField}" label="Beschreibung" name="description">
                <v-textarea
                  autocomplete="off"
                  label="Beschreibung"
                  :model-value="componentField.modelValue"
                  :name="componentField.name"
                  @update:model-value="componentField['onUpdate:modelValue']"
                />
              </field>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-form>
  </page-layout>
</template>

<script setup lang="ts">
  import {
    VBtn, VCard, VCardText, VCol,
    VForm, VIcon, VRow, VTextarea, VTextField,
  } from 'vuetify/components'
  import { Field, useForm } from 'vee-validate'
  import PageLayout from '@/components/PageLayout.vue'
  import { providePageAlert } from '@/providers/pageAlert'
  import { providePageLoader } from '@/providers/pageLoader'
  import { useRouter } from 'vue-router'
  import { computed, watch } from 'vue'
  import { provideLecture } from '@/providers/lecture'
  import type { LectureRequest } from '@/model/types/lecture'
  import { usePageSnackbarOrThrow } from '@/providers/pageSnackbar'

  interface Props {
    id?: string;
  }

  const props = defineProps<Props>()
  const title = computed(() => `Vorlesung ${props.id !== undefined ? 'bearbeiten' : 'erstellen'}`)
  const {
    getLecture, isLoadingLecture, lecture, deleteLecture,
    isDeletingLecture, updateLecture, createLecture,
  } = provideLecture()
  providePageLoader(isLoadingLecture)

  const { alert } = providePageAlert()

  const { isSubmitting, handleSubmit, resetForm, values: formValues } = useForm<LectureRequest>()

  const formId = Symbol('formId').toString()

  watch(() => props.id, async value => {
    if (!value) {
      return
    }

    try {
      const response = await getLecture(value)
      resetForm({ values: response })
    } catch (error) {
      alert.value = {
        title: 'Nicht vorhanden',
        text: 'Vorlesung konnte nicht gefunden werden',
        type: 'error',
      }
    }
  }, { immediate: true })

  const router = useRouter()
  const { snackbar, show } = usePageSnackbarOrThrow()

  const onSubmit = handleSubmit(async values => {
    try {
      await (lecture.value ? updateLecture(lecture.value._id, values) : createLecture(values))
      snackbar.value = {
        text: `Vorlesung ${values.name} wurde ${lecture.value ? 'geändert' : 'erstellt'}`,
        color: 'success',
      }
      show()
      router.push({ name: 'admin-lectures' })
    } catch (error) {
      alert.value = {
        title: 'Fehler',
        text: `Vorlesung konnte nicht ${lecture.value ? 'geändert' : 'erstellt'} werden`,
        type: 'error',
      }
    }
  })

  async function onDelete() {
    if (!lecture.value) {
      return
    }

    try {
      // TODO: confirm dialog, remove lecture from semesters
      await deleteLecture(lecture.value._id)
      snackbar.value = {
        text: `Vorlesung ${formValues.name} wurde gelöscht`,
        color: 'success',
      }
      show()
      await router.push({ name: 'admin-lectures' })
    } catch (error) {
      alert.value = {
        title: 'Fehler',
        text: `Vorlesung ${formValues.name} konnte nicht gelöscht werden`,
        type: 'error',
      }
    }
  }
</script>
