<template>
  <page-layout size="small" title="Quiz Duelle">
    <template #actions>
      <v-btn
        color="primary"
        flat
        prepend-icon="mdi-plus"
        size="small"
        text="Quiz Duell"
        :to="{name: 'admin-quiz-duels-duel'}"
        variant="flat"
      />
    </template>
    <v-card class="border-b-lg" style="border-bottom-color: rgb(var(--v-theme-primary)) !important;">
      <v-data-table
        :headers="headers"
        hover
        :items="quizDuels"
        items-per-page="10"
        items-per-page-text="Anzahl Quiz Duelle:"
        :loading="isLoadingQuizDuels"
        no-data-text="Keine Quiz Duelle vorhanden"
        :row-props="({item}) => item.isRunning ? {class: 'bg-grey-lighten-3'} : undefined"
        :search="search"
        :sort-by="sortBy"
        @click:row="onRowClick"
      >
        <template #top>
          <v-card-title class="pt-4">
            <v-text-field
              v-model="search"
              density="compact"
              flat
              hide-details
              label="Suche"
              prepend-inner-icon="mdi-magnify"
              single-line
              variant="solo-filled"
            />
          </v-card-title>
        </template>
        <template #item.participants="{value}">{{ value.length }}</template>
        <template #item.remainingTime="{value, item}">{{ item.isRunning ? value : 'Nicht gestartet' }}</template>
        <template #item.action="{item}">
          <admin-quiz-duel-action-menu :item @change="getQuizDuels" />
        </template>
      </v-data-table>
    </v-card>
  </page-layout>
</template>

<script setup lang="ts">
  import {
    VBtn, VCard, VCardTitle,
    VDataTable, VTextField,
  } from 'vuetify/components'
  import { ref } from 'vue'
  import { useRouter } from 'vue-router'
  import type { DataTableHeaders } from '@/types'
  import PageLayout from '@/components/PageLayout.vue'
  import { provideQuizDuels } from '@/providers/quizDuels'
  import AdminQuizDuelActionMenu from './AdminQuizDuelActionMenu.vue'
  import { providePageAlert } from '@/providers/pageAlert'

  providePageAlert()

  const search = ref('')
  const headers: DataTableHeaders = [
    {
      title: 'Semester',
      sortable: true,
      key: 'semester',
    },
    {
      title: 'Vorlesung',
      sortable: true,
      key: 'lecture',
    },
    {
      title: 'Koan Set',
      sortable: true,
      key: 'quizTaskSet',
    },
    {
      title: 'Teilnehmer',
      sortable: true,
      key: 'participants',
    },
    {
      title: 'Verbleibende Zeit',
      sortable: true,
      key: 'remainingTime',
    },
    {
      title: '',
      sortable: false,
      key: 'action',
      align: 'end',
    },
  ]
  const sortBy = [{ key: 'semester', order: 'desc' }] as const

  const router = useRouter()
  function onRowClick(_: any, row: any) {
    router.push({
      name: 'admin-quiz-duels-duel',
      params: { id: row.item._id },
    })
  }

  const { isLoadingQuizDuels, quizDuels, getQuizDuels } = provideQuizDuels()
  getQuizDuels()
</script>
