<template>
  <page-layout size="small" title="Vorlesungen">
    <template #actions>
      <v-btn
        color="primary"
        prepend-icon="mdi-plus"
        size="small"
        text="Vorlesung"
        :to="{ name: 'admin-lectures-lecture' }"
        variant="flat"
      />
    </template>
    <v-card
      class="border-b-lg"
      style="border-bottom-color: rgb(var(--v-theme-primary)) !important"
    >
      <v-data-table
        :headers="headers"
        hover
        :items="lectures"
        items-per-page-text="Anzahl Vorlesungen:"
        :loading="isLoadingLectures"
        no-data-text="Keine Vorlesungen vorhanden"
        :search="search"
        :sort-by="sortBy"
        @click:row="onRowClick"
      >
        <template #top>
          <v-card-title class="pt-4">
            <v-text-field
              v-model="search"
              density="compact"
              flat
              hide-details
              label="Suche"
              prepend-inner-icon="mdi-magnify"
              single-line
              variant="solo-filled"
            />
          </v-card-title>
        </template>
        <template #item.description="{ value }">
          <span class="text-break">
            {{ value.length > 75 ? `${value.slice(0, 75)}...` : value }}</span>
        </template>
        <template #item.courses="{ value }">{{ value.length }}</template>
        <template #item.action="{ item }">
          <v-menu min-width="300px">
            <template #activator="{ props }">
              <v-btn
                v-bind="props"
                flat
                icon
                :loading="isDeletingLecture"
                size="small"
              >
                <v-icon icon="mdi-dots-horizontal" size="x-large" />
              </v-btn>
            </template>
            <v-card>
              <v-list class="py-0">
                <v-list-item
                  prepend-icon="mdi-pencil-outline"
                  title="Bearbeiten"
                  :to="{ name: 'admin-lectures-lecture', params: { id: item._id } }"
                  value="edit"
                />
                <v-divider />
                <v-list-item
                  class="text-error"
                  prepend-icon="mdi-delete-outline"
                  title="Löschen"
                  value="delete"
                  @click="onDelete(item)"
                />
              </v-list>
            </v-card>
          </v-menu>
        </template>
      </v-data-table>
    </v-card>
  </page-layout>
</template>

<script setup lang="ts">
  import {
    VBtn,
    VCard,
    VCardTitle,
    VDataTable,
    VDivider,
    VIcon,
    VList,
    VListItem,
    VMenu,
    VTextField,
  } from 'vuetify/components'
  import { ref } from 'vue'
  import { useRouter } from 'vue-router'
  import PageLayout from '@/components/PageLayout.vue'
  import type { DataTableHeaders } from '@/types'
  import { provideLectures } from '@/providers/lectures'
  import { providePageAlert } from '@/providers/pageAlert'
  import { provideLecture } from '@/providers/lecture'
  import { Lecture } from '@/model/types/lecture'

  const search = ref('')

  const sortBy = [{ key: 'name', order: 'asc' }] as const

  const { isLoadingLectures, lectures, getLectures } = provideLectures()
  getLectures()

  const headers: DataTableHeaders = [
    {
      title: 'Vorlesung',
      sortable: true,
      key: 'name',
    },
    {
      title: 'Beschreibung',
      sortable: true,
      key: 'description',
    },
    {
      title: 'Zugewiesene Kurse',
      sortable: false,
      key: 'courses',
    },
    {
      title: '',
      sortable: false,
      key: 'action',
      align: 'end',
    },
  ]

  const router = useRouter()
  function onRowClick(_: any, row: any) {
    router.push({
      name: 'admin-lectures-lecture',
      params: { id: row.item._id },
    })
  }

  const { isDeletingLecture, deleteLecture } = provideLecture()
  const { alert } = providePageAlert()

  async function onDelete(lecture: Lecture) {
    try {
      await deleteLecture(lecture._id)
      // TODO: undo, isDeleted
      alert.value = {
        title: 'Gelöscht',
        text: `Vorlesung ${lecture.name} gelöscht`,
        type: 'success',
      }
      await getLectures()
    } catch (error) {
      alert.value = {
        title: 'Fehlgeschlagen!',
        text: `Löschen der Vorlesung ${lecture.name} fehlgeschlagen`,
        type: 'error',
      }
    }
  }
</script>
