<template>
  <page-layout size="small" title="Quizduell Deadlines">
    <template #actions>
      <v-btn
        color="primary"
        flat
        prepend-icon="mdi-plus"
        size="small"
        text="Quizduell Deadline"
        variant="flat"
        @click="open('create', null)"
      />
    </template>
    <v-card border variant="flat">
      <v-data-table
        :headers="headers"
        hover
        :items="quizDuelDeadlineVMs"
        items-per-page="10"
        items-per-page-text="Anzahl Quizduell Deadlines:"
        :loading="isLoadingQuizTaskSets || isLoadingCourses || isLoadingLectures || isLoadingSemesters || isLoadingQuizDuelDeadlines"
        no-data-text="Keine Quizduell Deadlines vorhanden"
        :search="search"
        :sort-by="sortBy"
      >
        <template #top>
          <v-card-title class="pt-4">
            <v-text-field
              v-model="search"
              density="compact"
              flat
              hide-details
              label="Suche"
              prepend-inner-icon="mdi-magnify"
              single-line
              variant="solo-filled"
            />
          </v-card-title>
        </template>
        <template #item.taskSetName="{value}">{{ value }}</template>
        <template #item.lectureName="{value}">{{ value }}</template>
        <template #item.semesterName="{value}">{{ value }}</template>
        <template #item.deadlineAt="{value}">{{ value.toLocaleDateString() }}</template>
        <template #item.action="{item}">
          <v-btn
            flat
            icon
            size="x-small"
            @click="open('edit', item)"
          >
            <v-icon icon="mdi-pencil-outline" size="x-large" />
          </v-btn>
          <v-btn
            flat
            icon
            size="x-small"
            value="delete"
            @click="open('delete', item)"
          >
            <v-icon icon="mdi-delete" size="x-large" />
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
  </page-layout>
  <quiz-duel-deadline-dialog
    v-model="isDialogVisible"
    :courses="courses"
    :is-edit="isEdit"
    :lectures="lectures"
    :quiz-duel-deadline-id="quizDuelDeadlineId"
    :quiz-duel-deadlines="quizDuelDeadlines"
    :quiz-task-sets="quizTaskSets"
    :semesters="semesters"
    @close="close"
  />
  <confirmation-dialog
    v-model="isDelete"
    :cancel-text="'Abbrechen'"
    :confirm-text="'Löschen'"
    :message="'Sind Sie sicher, dass Sie die Deadline löschen möchten?'"
    :title="'Deadline löschen?'"
    @cancel="close('cancel')"
    @confirm="close('delete')"
  />
</template>
<script lang="ts">
  import { VBtn, VCard, VCardTitle, VDataTable, VIcon, VTextField } from 'vuetify/components'
  import { computed, ComputedRef, defineComponent, onMounted, ref } from 'vue'
  import type { DataTableHeaders } from '@/types'
  import PageLayout from '@/components/PageLayout.vue'
  import { QuizDuelDeadline as QuizDuelDeadlineVM } from '@/model/deadline'
  import { provideLectures } from '@/providers/lectures'
  import { provideSemesters } from '@/providers/semesters'
  import { Semester } from '@/model/types/semester'
  import { Lecture } from '@/model/types/lecture'
  import ConfirmationDialog from '@/components/common/ConfirmationDialog.vue'
  import { usePageSnackbarOrThrow } from '@/providers/pageSnackbar'
  import { provideQuizTaskSets } from '@/providers/quizTaskSets'
  import { provideQuizDuelDeadlines } from '@/providers/quizDuelDeadlines'
  import { provideQuizDuelDeadline } from '@/providers/quizDuelDeadline'
  import { QuizDuelDeadline } from '@/model/types/quizDuelDeadline'
  import { QuizTaskSet } from '@/model/types/quizTaskSet'
  import { provideCourses } from '@/providers/courses'
  import QuizDuelDeadlineDialog from '@/components/quiz/QuizDuelDeadlineDialog.vue'

  export default defineComponent({
    components: {
      QuizDuelDeadlineDialog,
      ConfirmationDialog,
      VBtn,
      VCard,
      VCardTitle,
      VDataTable,
      VIcon,
      VTextField,
      PageLayout,
    },
    setup() {
      const { isLoadingQuizTaskSets, quizTaskSets, getQuizTaskSets } = provideQuizTaskSets()
      const { isLoadingSemesters, semesters, getSemesters } = provideSemesters()
      const { isLoadingLectures, lectures, getLectures } = provideLectures()
      const { isLoadingCourses, courses, getCourses } = provideCourses()
      const { isLoadingQuizDuelDeadlines, quizDuelDeadlines, getQuizDuelDeadlines } = provideQuizDuelDeadlines()
      const { deleteQuizDuelDeadline, updateQuizDuelDeadline, createQuizDuelDeadline } = provideQuizDuelDeadline()
      const { snackbar, show } = usePageSnackbarOrThrow()

      onMounted(async () => {
        await getQuizTaskSets()
        await getSemesters()
        await getLectures()
        await getCourses()
        await getQuizDuelDeadlines()
      })

      const setSnackbar = (text: string, color: string = 'success') => {
        snackbar.value = { text, color }
        show()
      }

      const quizDuelDeadlineVMs: ComputedRef<QuizDuelDeadlineVM[]> = computed(() => {
        return quizDuelDeadlines.value.map((deadline: QuizDuelDeadline) => {
          const quizTaskSet = quizTaskSets.value.find((quizTaskSet: QuizTaskSet) => quizTaskSet._id === deadline.taskSet)
          const semester = semesters.value.find((semester: Semester) => semester._id === deadline.semester)
          const lecture = lectures.value.find((lecture: Lecture) => lecture._id === deadline.lecture)
          if (quizTaskSet && semester && lecture) {
            return new QuizDuelDeadlineVM(
              lecture._id,
              lecture.name,
              new Date(deadline.deadline),
              deadline._id,
              quizTaskSet._id,
              quizTaskSet.name,
              semester.name
            )
          }
          return null
        }).filter((vm): vm is QuizDuelDeadlineVM => vm !== null)
      })

      return {
        isLoadingQuizTaskSets,
        isLoadingSemesters,
        isLoadingLectures,
        isLoadingQuizDuelDeadlines,
        isLoadingCourses,
        quizTaskSets,
        courses,
        lectures,
        semesters,
        quizDuelDeadlines,
        quizDuelDeadlineVMs,
        deleteQuizDuelDeadline,
        updateQuizDuelDeadline,
        createQuizDuelDeadline,
        getQuizDuelDeadlines,
        setSnackbar,
      }
    },
    data() {
      return {
        isDialogVisible: false,
        isEdit: false,
        isDelete: false,
        quizDuelDeadlineId: '',
        search: ref(''),
        headers: [
          {
            title: 'TaskSet',
            sortable: true,
            key: 'taskSetName',
          },
          {
            title: 'Vorlesung',
            sortable: true,
            key: 'lectureName',
          },
          {
            title: 'Semester',
            sortable: true,
            key: 'semesterName',
          },
          {
            title: 'Deadline',
            sortable: true,
            key: 'deadlineAt',
          },
          {
            title: '',
            sortable: false,
            key: 'action',
            align: 'end',
          },
        ] as DataTableHeaders,
        sortBy: [{ key: 'deadlineAt', order: 'desc' }] as const,
      }
    },
    methods: {
      open(action: string, deadline: QuizDuelDeadlineVM) {
        if (action === 'edit') {
          this.isEdit = true
          this.quizDuelDeadlineId = deadline.quizDuelDeadlineId
          this.isDialogVisible = true
        } else if (action === 'create') {
          this.isEdit = false
          this.isDialogVisible = true
        } else if (action === 'delete') {
          this.quizDuelDeadlineId = deadline.quizDuelDeadlineId
          this.isDelete = true
        }
      },
      close(action: string, formData: any) {
        if (action === 'submit') {
          const quizDuelDeadline = {
            semester: formData.semesterId,
            lecture: formData.lectureId,
            taskSet: formData.taskSetId,
            deadline: formData.deadline.getTime(),
          }
          if (this.isEdit) {
            const quizDuelDeadlineEdit = {
              ...quizDuelDeadline,
              _id: this.quizDuelDeadlineId,
            }
            this.updateQuizDuelDeadline(this.quizDuelDeadlineId, quizDuelDeadlineEdit).then(() => {
              this.setSnackbar('Die Deadline wurde geändert.')
              this.getQuizDuelDeadlines()
            }).catch(() => {
              this.setSnackbar('Die Deadline konnte nicht aktualisiert werden.', 'error')
            }).finally(() => {
              this.quizDuelDeadlineId = ''
            })
          } else {
            this.createQuizDuelDeadline(quizDuelDeadline).then(() => {
              this.setSnackbar('Die Deadline wurde erstellt.')
              this.getQuizDuelDeadlines()
            }).catch(() => {
              this.setSnackbar('Die Deadline konnte nicht erstellt werden.', 'error')
            })
          }
        } else if (action === 'delete') {
          this.deleteQuizDuelDeadline(this.quizDuelDeadlineId).then(() => {
            this.setSnackbar('Die Deadline wurde entfernt.')
            this.getQuizDuelDeadlines()
          }).catch(() => {
            this.setSnackbar('Die Deadline konnte nicht entfernt werden.', 'error')
          }).finally(() => {
            this.quizDuelDeadlineId = ''
          })
        }
        this.isDelete = false
        this.isDialogVisible = false
      },
    },
  })
</script>
