<template>
  <page-layout back-link size="small" :title="course?.title ?? ''">
    <template #actions>
      <v-btn
        color="primary"
        :form="formId"
        :loading="isSubmitting"
        size="small"
        text="Speichern"
        type="submit"
        variant="flat"
      />
    </template>
    <v-form :id="formId" @submit.prevent="onSubmit">
      <v-card-title class="px-0">Zugewiesene Vorlesungen</v-card-title>
      <field v-slot="{componentField, errorMessage}" name="lectures" rules="required">
        <v-card class="border-b-lg" :color="errorMessage ? 'error' : undefined" style="border-bottom-color: rgb(var(--v-theme-primary)) !important;">
          <v-data-table
            :headers="headers"
            item-value="_id"
            :items="lectures"
            items-per-page-text="Anzahl Vorlesungen:"
            :loading="isLoadingLectures"
            :model-value="componentField.modelValue"
            no-data-text="Keine Vorlesungen vorhanden"
            :search="search"
            show-select
            :sort-by="sortBy"
            @update:model-value="componentField['onUpdate:modelValue']"
          >
            <template #item.description="{value}">
              <span class="text-break">{{ value.length > 75 ? `${value.slice(0, 75)}...` : value }}</span>
            </template>
            <template #top>
              <v-card-title class="pt-4">
                <v-text-field
                  v-model="search"
                  density="compact"
                  flat
                  hide-details
                  label="Suche"
                  prepend-inner-icon="mdi-magnify"
                  single-line
                  variant="solo-filled"
                />
              </v-card-title>
            </template>
          </v-data-table>
        </v-card>
      </field>
    </v-form>
  </page-layout>
</template>

<script setup lang="ts">
  import { Field, useForm } from 'vee-validate'
  import PageLayout from '@/components/PageLayout.vue'
  import { VBtn, VCard, VCardTitle, VDataTable, VForm, VTextField } from 'vuetify/components'
  import { provideCourse } from '@/providers/course'
  import { ref, watch } from 'vue'
  import { provideLectures } from '@/providers/lectures'
  import { providePageAlert } from '@/providers/pageAlert'
  import type { DataTableHeaders } from '@/types'
  import type { Course } from '@/model/types/course'
  import { useRouter } from 'vue-router'
  import { providePageLoader } from '@/providers/pageLoader'
  import { usePageSnackbarOrThrow } from '@/providers/pageSnackbar'

  interface Props {
    id: string;
  }
  const props = defineProps<Props>()

  const { getCourse, updateCourse, isLoadingCourse, course } = provideCourse()
  providePageLoader(isLoadingCourse)

  const { isLoadingLectures, lectures, getLectures } = provideLectures()
  getLectures()

  const { alert } = providePageAlert()
  const search = ref()

  const headers: DataTableHeaders = [
    {
      title: 'Vorlesung',
      sortable: true,
      key: 'name',
    },
    {
      title: 'Beschreibung',
      sortable: true,
      key: 'description',
    },
  ]

  const sortBy = [{ key: 'name', order: 'asc' }] as const
  const router = useRouter()

  const formId = Symbol('formId').toString()
  const { isSubmitting, handleSubmit, resetForm } = useForm<Pick<Course, 'lectures'>>({
    initialValues: {
      lectures: [],
    },
  })

  watch(() => props.id, async value => {
    if (!value) {
      return
    }

    try {
      const response = await getCourse(value)
      resetForm({ values: { lectures: response.lectures } })
    } catch (error) {
      alert.value = {
        title: 'Nicht vorhanden',
        text: 'Kurs konnte nicht gefunden werden',
        type: 'error',
      }
    }
  }, { immediate: true })

  const { snackbar, show } = usePageSnackbarOrThrow()

  const onSubmit = handleSubmit(async values => {
    try {
      await updateCourse(props.id, values)
      snackbar.value = {
        text: `Vorlesungen dem Kurs ${course.value?.title} zugewiesen`,
        color: 'success',
      }
      show()

      await router.push({ name: 'admin-courses' })
    } catch (error) {
      alert.value = {
        title: 'Fehler',
        text: 'Vorlesungen konnten nicht zugewiesen werden',
        type: 'error',
      }
    }
  })
</script>
