<template>
  <page-layout size="small" title="Einstellungen">
    <template #actions>
      <v-row dense>
        <v-col>
          <v-btn
            color="primary"
            :form="formId"
            :loading="isSubmitting"
            size="small"
            text="Speichern"
            type="submit"
            variant="flat"
          />
        </v-col>
      </v-row>
    </template>
    <v-form :id="formId" @submit.prevent="onSubmit">
      <v-card class="border-b-lg" style="border-bottom-color: rgb(var(--v-theme-primary)) !important;">
        <v-card-text>
          <v-row>
            <v-col>
              <field v-slot="{componentField, handleInput}" name="koanTime">
                <v-text-field
                  hide-details
                  label="Zeit pro Koan (in Sekunden)"
                  :model-value="componentField.modelValue"
                  :name="componentField.name"
                  type="number"
                  @update:model-value="handleInput(parseInt($event))"
                />
              </field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <field v-slot="{componentField, handleInput}" name="codetaskTime">
                <v-text-field
                  hide-details
                  label="Zeit pro Codetask (in Sekunden)"
                  :model-value="componentField.modelValue"
                  :name="componentField.name"
                  type="number"
                  @update:model-value="handleInput(parseInt($event))"
                />
              </field>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-form>
  </page-layout>
</template>

<script setup lang="ts">
  import PageLayout from '@/components/PageLayout.vue'
  import {
    VBtn, VCard, VCardText, VCol,
    VForm, VRow, VTextField,
  } from 'vuetify/components'
  import { Field, useForm } from 'vee-validate'
  import { providePageLoader } from '@/providers/pageLoader'
  import { providePageAlert } from '@/providers/pageAlert'
  import type { Settings } from '@/model/types/settings'
  import { provideSettings } from '@/providers/settings'
  import { watch } from 'vue'

  const { isSubmitting, handleSubmit, resetForm } = useForm<Settings>()
  const formId = Symbol('formId').toString()
  const { alert } = providePageAlert()

  const { isLoadingSettings, getSettings, settings, updateSettings } = provideSettings()
  providePageLoader(isLoadingSettings)
  getSettings()

  watch(settings, value => {
    if (!value) {
      return
    }

    resetForm({ values: value })
  })

  const onSubmit = handleSubmit(async values => {
    try {
      await updateSettings(values)
      alert.value = {
        title: 'Einstellungen gespeichert',
        text: `Einstellungen wurden gespreichert`,
        type: 'success',
      }
    } catch (error) {
      alert.value = {
        title: 'Fehler',
        text: `Einstellungen konnten nicht gespeichert werden`,
        type: 'error',
      }
    }
  })
</script>
