<template>
  <page-layout size="small" title="Kurs Deadlines">
    <template #actions>
      <v-btn
        color="primary"
        flat
        prepend-icon="mdi-plus"
        size="small"
        text="Kurs Deadline"
        variant="flat"
        @click="open('create', null)"
      />
    </template>
    <v-card border variant="flat">
      <v-data-table
        :headers="headers"
        hover
        :items="courseDeadlinesVM"
        items-per-page="10"
        items-per-page-text="Anzahl Kurs Deadlines:"
        :loading="isLoadingCourses || isLoadingLectures || isLoadingSemesters || isLoadingCourseDeadlines"
        no-data-text="Keine Kurs Deadlines vorhanden"
        :search="search"
        :sort-by="sortBy"
      >
        <template #top>
          <v-card-title class="pt-4">
            <v-text-field
              v-model="search"
              density="compact"
              flat
              hide-details
              label="Suche"
              prepend-inner-icon="mdi-magnify"
              single-line
              variant="solo-filled"
            />
          </v-card-title>
        </template>
        <template #item.courseName="{value}">{{ value }}</template>
        <template #item.lectureName="{value}">{{ value }}</template>
        <template #item.semesterName="{value}">{{ value }}</template>
        <template #item.deadlineAt="{value}">{{ value.toLocaleDateString() }}</template>
        <template #item.action="{item}">
          <v-btn
            flat
            icon
            size="x-small"
            @click="open('edit', item)"
          >
            <v-icon icon="mdi-pencil-outline" size="x-large" />
          </v-btn>
          <v-btn
            flat
            icon
            size="x-small"
            value="delete"
            @click="open('delete', item)"
          >
            <v-icon icon="mdi-delete" size="x-large" />
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
  </page-layout>
  <course-deadline-dialog
    v-model="isDialogVisible"
    :course-deadline-id="courseDeadlineId"
    :course-deadlines="courseDeadlines"
    :courses="courses"
    :is-edit="isEdit"
    :lectures="lectures"
    :semesters="semesters"
    @close="close"
  />
  <confirmation-dialog
    v-model="isDelete"
    :cancel-text="'Abbrechen'"
    :confirm-text="'Löschen'"
    :message="'Sind Sie sicher, dass Sie die Deadline löschen möchten?'"
    :title="'Deadline löschen?'"
    @cancel="close('cancel')"
    @confirm="close('delete')"
  />
</template>
<script lang="ts">
  import { VBtn, VCard, VCardTitle, VDataTable, VIcon, VTextField } from 'vuetify/components'
  import { computed, ComputedRef, defineComponent, onMounted, ref } from 'vue'
  import type { DataTableHeaders } from '@/types'
  import PageLayout from '@/components/PageLayout.vue'
  import { provideCourseDeadlines } from '@/providers/courseDeadlines'
  import { CourseDeadline as CourseDeadlineVM } from '@/model/deadline'
  import { CourseDeadline } from '@/model/types/courseDeadline'
  import { Course } from '@/model/types/course'
  import { provideLectures } from '@/providers/lectures'
  import { provideSemesters } from '@/providers/semesters'
  import { provideCourses } from '@/providers/courses'
  import { Semester } from '@/model/types/semester'
  import { Lecture } from '@/model/types/lecture'
  import CourseDeadlineDialog from '@/components/course/CourseDeadlineDialog.vue'
  import ConfirmationDialog from '@/components/common/ConfirmationDialog.vue'
  import { provideCourseDeadline } from '@/providers/courseDeadline'
  import { usePageSnackbarOrThrow } from '@/providers/pageSnackbar'

  export default defineComponent({
    components: {
      CourseDeadlineDialog,
      ConfirmationDialog,
      VBtn,
      VCard,
      VCardTitle,
      VDataTable,
      VIcon,
      VTextField,
      PageLayout,
    },
    setup() {
      const { isLoadingCourses, courses, getCourses } = provideCourses()
      const { isLoadingSemesters, semesters, getSemesters } = provideSemesters()
      const { isLoadingLectures, lectures, getLectures } = provideLectures()
      const { isLoadingCourseDeadlines, courseDeadlines, getCourseDeadlines } = provideCourseDeadlines()
      const { deleteCourseDeadline, updateCourseDeadline, createCourseDeadline } = provideCourseDeadline()
      const { snackbar, show } = usePageSnackbarOrThrow()

      onMounted(async () => {
        await getCourses()
        await getSemesters()
        await getLectures()
        await getCourseDeadlines()
      })

      const setSnackbar = (text: string, color: string = 'success') => {
        snackbar.value = { text, color }
        show()
      }

      const courseDeadlinesVM: ComputedRef<CourseDeadlineVM[]> = computed(() => {
        return courseDeadlines.value.map((deadline: CourseDeadline) => {
          const course = courses.value.find((course: Course) => course._id === deadline.course)
          const semester = semesters.value.find((semester: Semester) => semester._id === deadline.semester)
          const lecture = lectures.value.find((lecture: Lecture) => lecture._id === deadline.lecture)
          if (course && semester && lecture) {
            return new CourseDeadlineVM(
              lecture._id,
              lecture.name,
              new Date(deadline.deadline),
              deadline._id,
              course.title,
              semester.name
            )
          }
          return null
        }).filter((vm): vm is CourseDeadlineVM => vm !== null)
      })

      return {
        isLoadingCourses,
        isLoadingSemesters,
        isLoadingLectures,
        isLoadingCourseDeadlines,
        courses,
        lectures,
        semesters,
        courseDeadlines,
        courseDeadlinesVM,
        deleteCourseDeadline,
        updateCourseDeadline,
        createCourseDeadline,
        getCourseDeadlines,
        setSnackbar,
      }
    },
    data() {
      return {
        isDialogVisible: false,
        isEdit: false,
        isDelete: false,
        courseDeadlineId: '',
        search: ref(''),
        headers: [
          {
            title: 'Kurs',
            sortable: true,
            key: 'courseName',
          },
          {
            title: 'Vorlesung',
            sortable: true,
            key: 'lectureName',
          },
          {
            title: 'Semester',
            sortable: true,
            key: 'semesterName',
          },
          {
            title: 'Deadline',
            sortable: true,
            key: 'deadlineAt',
          },
          {
            title: '',
            sortable: false,
            key: 'action',
            align: 'end',
          },
        ] as DataTableHeaders,
        sortBy: [{ key: 'deadlineAt', order: 'desc' }] as const,
      }
    },
    methods: {
      open(action: string, deadline: CourseDeadlineVM) {
        if (action === 'edit') {
          this.isEdit = true
          this.courseDeadlineId = deadline.courseDeadlineId
          this.isDialogVisible = true
        } else if (action === 'create') {
          this.isEdit = false
          this.isDialogVisible = true
        } else if (action === 'delete') {
          this.courseDeadlineId = deadline.courseDeadlineId
          this.isDelete = true
        }
      },
      close(action: string, formData: any) {
        if (action === 'submit') {
          const courseDeadline = {
            semester: formData.semesterId,
            lecture: formData.lectureId,
            course: formData.courseId,
            deadline: formData.deadline.getTime(),
          }
          if (this.isEdit) {
            const courseDeadlineEdit = {
              ...courseDeadline,
              _id: this.courseDeadlineId,
            }
            this.updateCourseDeadline(this.courseDeadlineId, courseDeadlineEdit).then(() => {
              this.setSnackbar('Die Deadline wurde geändert.')
              this.getCourseDeadlines()
            }).catch(() => {
              this.setSnackbar('Die Deadline konnte nicht aktualisiert werden.', 'error')
            }).finally(() => {
              this.courseDeadlineId = ''
            })
          } else {
            this.createCourseDeadline(courseDeadline).then(() => {
              this.setSnackbar('Die Deadline wurde erstellt.')
              this.getCourseDeadlines()
            }).catch(() => {
              this.setSnackbar('Die Deadline konnte nicht erstellt werden.', 'error')
            })
          }
        } else if (action === 'delete') {
          this.deleteCourseDeadline(this.courseDeadlineId).then(() => {
            this.setSnackbar('Die Deadline wurde entfernt.')
            this.getCourseDeadlines()
          }).catch(() => {
            this.setSnackbar('Die Deadline konnte nicht entfernt werden.', 'error')
          }).finally(() => {
            this.courseDeadlineId = ''
          })
        }
        this.isDelete = false
        this.isDialogVisible = false
      },
    },
  })
</script>
