<template>
  <page-layout back-link size="small" :title="title">
    <template #actions>
      <v-row dense>
        <v-col v-if="semester">
          <v-btn
            color="secondary"
            label
            :loading="isDeletingSemester"
            size="small"
            variant="tonal"
            @click="onDelete"
          >
            <v-icon icon="mdi-delete-outline" size="x-large" />
          </v-btn>
        </v-col>
        <v-col>
          <v-btn
            color="primary"
            :form="formId"
            :loading="isSubmitting"
            size="small"
            text="Speichern"
            type="submit"
            variant="flat"
          />
        </v-col>
      </v-row>
    </template>
    <v-form :id="formId" @submit.prevent="onSubmit">
      <v-row>
        <v-col>
          <v-card class="border-b-lg" style="border-bottom-color: rgb(var(--v-theme-primary)) !important;">
            <v-card-text>
              <v-row>
                <v-col>
                  <field v-slot="{componentField, errorMessage}" label="Name" name="name" rules="required">
                    <v-text-field
                      v-maska="nameMask"
                      autocomplete="off"
                      autofocus
                      :error-messages="errorMessage"
                      :model-value="componentField.modelValue"
                      :name="componentField.name"
                      placeholder="WS24/25"
                      @update:model-value="componentField['onUpdate:modelValue']"
                    >
                      <template #label>
                        <span class="text-error text-h6">*</span> Name
                      </template>
                    </v-text-field>
                  </field>
                </v-col>
              </v-row>
              <v-row>
                <v-col :cols="12" :sm="6">
                  <field
                    v-slot="{componentField, errors, handleInput}"
                    label="Beginn"
                    name="opensAt"
                    rules="required"
                  >
                    <date-picker
                      :error-messages="errors"
                      label="Beginn"
                      :model-value="componentField.modelValue ? new Date(componentField.modelValue) : undefined"
                      :name="componentField.name"
                      required
                      @update:model-value="handleInput($event.getTime())"
                    />
                  </field>
                </v-col>
                <v-col :cols="12" :sm="6">
                  <field
                    v-slot="{componentField, errors, handleInput}"
                    label="Ende"
                    name="closesAt"
                    rules="required|isDateAfter:@opensAt"
                    validate-on-input
                  >
                    <date-picker
                      :error-messages="errors"
                      label="Ende"
                      :model-value="componentField.modelValue ? new Date(componentField.modelValue) : undefined"
                      :name="componentField.name"
                      required
                      @update:model-value="handleInput($event?.getTime())"
                    />
                  </field>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card-title class="px-0">Zugewiesene Vorlesungen</v-card-title>
          <field v-slot="{componentField, errorMessage}" name="lectures" rules="required">
            <v-card class="border-b-lg" :color="errorMessage ? 'error' : undefined" style="border-bottom-color: rgb(var(--v-theme-primary)) !important;">
              <v-data-table
                :headers="headers"
                item-value="_id"
                :items="lectures"
                items-per-page-text="Anzahl Vorlesungen:"
                :loading="isLoadingLectures"
                :model-value="componentField.modelValue"
                no-data-text="Keine Vorlesungen vorhanden"
                :search="search"
                show-select
                :sort-by="sortBy"
                @update:model-value="componentField['onUpdate:modelValue']"
              >
                <template #item.description="{value}">
                  <span class="text-break">{{ value.length > 75 ? `${value.slice(0, 75)}...` : value }}</span>
                </template>
                <template #top>
                  <v-card-title class="pt-4">
                    <v-text-field
                      v-model="search"
                      density="compact"
                      flat
                      hide-details
                      label="Suche"
                      prepend-inner-icon="mdi-magnify"
                      single-line
                      variant="solo-filled"
                    />
                  </v-card-title>
                </template>
              </v-data-table>
            </v-card>
          </field>
        </v-col>
      </v-row>
    </v-form>
  </page-layout>
</template>

<script setup lang="ts">
  import { Field, useForm } from 'vee-validate'
  import {
    VBtn, VCard, VCardText, VCardTitle,
    VCol, VDataTable, VForm,
    VIcon, VRow, VTextField,
  } from 'vuetify/components'
  import { computed, ref, watch } from 'vue'
  import PageLayout from '@/components/PageLayout.vue'
  import { providePageAlert } from '@/providers/pageAlert'
  import { provideSemester } from '@/providers/semester'
  import type { Semester } from '@/model/types/semester'
  import DatePicker from '@/components/DatePicker.vue'
  import type { DataTableHeaders } from '@/types'
  import { provideLectures } from '@/providers/lectures'
  import { providePageLoader } from '@/providers/pageLoader'
  import { useRouter } from 'vue-router'
  import { addDays, addMonths, subDays, subMonths } from 'date-fns'
  import { vMaska } from 'maska/vue'
  import type { MaskInputOptions } from 'maska'
  import { usePageSnackbarOrThrow } from '@/providers/pageSnackbar'

  // TODO: validate name by semester, add alert if no lectures
  const nameMask: MaskInputOptions = {
    mask: (value: string) => value.toLowerCase().includes('w') ? 'WS##/##' : 'SS##/##',
  }

  interface Props {
    id?: string;
  }

  const props = defineProps<Props>()

  const title = computed(() => `Semester ${props.id !== undefined ? 'bearbeiten' : 'erstellen'}`)
  const {
    isDeletingSemester,
    isLoadingSemester,
    getSemester,
    semester,
    updateSemester,
    deleteSemester,
    createSemester,
  } = provideSemester()
  providePageLoader(isLoadingSemester)
  const { isLoadingLectures, lectures, getLectures } = provideLectures()
  getLectures()

  // TODO: check for semester intersections

  const { alert } = providePageAlert()
  const search = ref()

  const headers: DataTableHeaders = [
    {
      title: 'Vorlesung',
      sortable: true,
      key: 'name',
    },
    {
      title: 'Beschreibung',
      sortable: true,
      key: 'description',
    },
  ]

  const sortBy = [{ key: 'name', order: 'asc' }] as const

  const { isSubmitting, handleSubmit, resetForm, values: formValues, setFieldValue } = useForm<Omit<Semester, '_id'>>({
    initialValues: {
      lectures: [],
    },
  })

  watch(() => formValues.opensAt, value => {
    if (!value) {
      return
    }
    setFieldValue('closesAt', addMonths(subDays(new Date(value), 1), 6).getTime())
  })

  const formId = Symbol('formId').toString()

  watch(() => props.id, async value => {
    if (!value) {
      return
    }

    try {
      const response = await getSemester(value)
      resetForm({ values: response })
    } catch (error) {
      alert.value = {
        title: 'Nicht vorhanden',
        text: 'Semester konnte nicht gefunden werden',
        type: 'error',
      }
    }
  }, { immediate: true })

  const router = useRouter()
  const { snackbar, show } = usePageSnackbarOrThrow()
  const onSubmit = handleSubmit(async values => {
    try {
      await (semester.value ? updateSemester(semester.value._id, values) : createSemester(values))
      snackbar.value = {
        text: `Semester ${values.name} wurde ${semester.value ? 'geändert' : 'erstellt'}`,
        color: 'success',
      }
      show()
      router.push({ name: 'admin-semesters' })
    } catch (error) {
      alert.value = {
        title: 'Fehler',
        text: `Semester konnte nicht ${semester.value ? 'geändert' : 'erstellt'} werden`,
        type: 'error',
      }
    }
  })

  async function onDelete() {
    if (!semester.value) {
      return
    }

    try {
      // TODO: confirm dialog
      await deleteSemester(semester.value._id)
      snackbar.value = {
        text: `Semester ${formValues.name} wurde gelöscht`,
        color: 'success',
      }
      show()
      await router.push({ name: 'admin-semesters' })
    } catch (error) {
      alert.value = {
        title: 'Fehler',
        text: `Semester ${formValues.name} konnte nicht gelöscht werden`,
        type: 'error',
      }
    }
  }
</script>
