<template>
  <page-layout size="small" title="Koan Sets">
    <template #actions>
      <v-btn
        color="primary"
        flat
        prepend-icon="mdi-plus"
        size="small"
        text="Koan Set"
        :to="{name: 'admin-quiz-duels-task-set'}"
        variant="flat"
      />
    </template>
    <v-card class="border-b-lg" style="border-bottom-color: rgb(var(--v-theme-primary)) !important;">
      <v-data-table
        :headers="headers"
        hover
        :items="quizTaskSets"
        items-per-page="10"
        items-per-page-text="Anzahl Koan Sets:"
        :loading="isLoadingQuizTaskSets"
        no-data-text="Keine Koan Sets vorhanden"
        :search="search"
        :sort-by="sortBy"
        @click:row="onRowClick"
      >
        <template #top>
          <v-card-title class="pt-4">
            <v-text-field
              v-model="search"
              density="compact"
              flat
              hide-details
              label="Suche"
              prepend-inner-icon="mdi-magnify"
              single-line
              variant="solo-filled"
            />
          </v-card-title>
        </template>
        <template #item.tasks="{value}">{{ value.length }}</template>
        <template #item.action="{item}">
          <v-menu min-width="300px">
            <template #activator="{ props }">
              <v-btn
                v-bind="props"
                flat
                icon
                :loading="isDeletingQuizTaskSet"
                size="small"
              >
                <v-icon icon="mdi-dots-horizontal" size="x-large" />
              </v-btn>
            </template>
            <v-card>
              <v-list class="py-0">
                <v-list-item prepend-icon="mdi-pencil-outline" title="Bearbeiten" :to="{name: 'admin-quiz-duels-task-set', params: {id: item._id}}" value="edit" />
                <v-divider />
                <v-list-item
                  class="text-error"
                  prepend-icon="mdi-delete-outline"
                  title="Löschen"
                  value="delete"
                  @click="onDelete(item)"
                />
              </v-list>
            </v-card>
          </v-menu>
        </template>
      </v-data-table>
    </v-card>
  </page-layout>
</template>

<script setup lang="ts">
  import {
    VBtn, VCard, VCardTitle,
    VDataTable, VDivider, VIcon, VList,
    VListItem, VMenu, VTextField,
  } from 'vuetify/components'
  import { ref } from 'vue'
  import { useRouter } from 'vue-router'
  import type { DataTableHeaders } from '@/types'
  import PageLayout from '@/components/PageLayout.vue'
  import { providePageAlert } from '@/providers/pageAlert'
  import { provideQuizTaskSets } from '@/providers/quizTaskSets'
  import { provideQuizTaskSet } from '@/providers/quizTaskSet'
  import type { QuizTaskSet } from '@/model/types/quizTaskSet'

  const search = ref('')
  const headers: DataTableHeaders = [
    {
      title: 'Name',
      sortable: true,
      key: 'name',
    },
    {
      title: 'Koans',
      sortable: true,
      key: 'tasks',
    },
    {
      title: '',
      sortable: false,
      key: 'action',
      align: 'end',
    },
  ]
  const sortBy = [{ key: 'name', order: 'asc' }] as const

  const router = useRouter()
  function onRowClick(_: any, row: any) {
    router.push({
      name: 'admin-quiz-duels-task-set',
      params: { id: row.item._id },
    })
  }

  const { isLoadingQuizTaskSets, quizTaskSets, getQuizTaskSets } = provideQuizTaskSets()
  getQuizTaskSets()
  const { isDeletingQuizTaskSet, deleteQuizTaskSet } = provideQuizTaskSet()
  const { alert } = providePageAlert()

  async function onDelete(quizTaskSet: QuizTaskSet) {
    try {
      await deleteQuizTaskSet(quizTaskSet._id)
      // TODO: undo, isDeleted
      alert.value = {
        title: 'Gelöscht',
        text: `Koan Set ${quizTaskSet.name} gelöscht`,
        type: 'success',
      }
      await getQuizTaskSets()
    } catch (error) {
      alert.value = {
        title: 'Fehlgeschlagen!',
        text: `Löschen des Koan Sets ${quizTaskSet.name} fehlgeschlagen`,
        type: 'error',
      }
    }
  }
</script>
