<template>
  <page-layout size="small" title="Kurse">
    <template #actions>
      <v-btn
        color="primary"
        flat
        :loading="isSynchronizingCourses"
        prepend-icon="mdi-sync"
        size="small"
        text="Kurse synchronisieren"
        variant="flat"
        @click="onSynchronize"
      />
    </template>
    <v-card class="border-b-lg" style="border-bottom-color: rgb(var(--v-theme-primary)) !important;">
      <v-data-table
        :headers="headers"
        hover
        :items="courses"
        items-per-page="10"
        items-per-page-text="Anzahl Kurse:"
        :loading="isLoadingCourses"
        no-data-text="Keine Kurse vorhanden"
        :search="search"
        :sort-by="sortBy"
        @click:row="onRowClick"
      >
        <template #top>
          <v-card-title class="pt-4">
            <v-text-field
              v-model="search"
              density="compact"
              flat
              hide-details
              label="Suche"
              prepend-inner-icon="mdi-magnify"
              single-line
              variant="solo-filled"
            />
          </v-card-title>
        </template>
        <template #item.description="{value}">
          <span class="text-break">{{ value.length > 75 ? `${value.slice(0, 75)}...` : value }}</span>
        </template>
        <template #item.chapters="{value}">{{ value.length }}</template>
        <template #item.lectures="{value}">{{ value.length }}</template>
        <template #item.action="{item}">
          <v-btn
            flat
            icon
            size="x-small"
            :to="{name: 'admin-courses-course', params: {id: item._id}}"
            value="edit"
          >
            <v-icon icon="mdi-pencil-outline" size="x-large" />
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
  </page-layout>
</template>

<script setup lang="ts">
  import { VBtn, VCard, VCardTitle, VDataTable, VIcon, VTextField } from 'vuetify/components'
  import { ref } from 'vue'
  import { useRouter } from 'vue-router'
  import type { DataTableHeaders } from '@/types'
  import PageLayout from '@/components/PageLayout.vue'
  import { providePageAlert } from '@/providers/pageAlert'
  import { provideCourses } from '@/providers/courses'

  const search = ref('')
  const headers: DataTableHeaders = [
    {
      title: 'Kurs',
      sortable: true,
      key: 'title',
    },
    {
      title: 'Beschreibung',
      sortable: true,
      key: 'description',
    },
    {
      title: 'Kapitel',
      sortable: false,
      key: 'chapters',
    },
    {
      title: 'Zugewiesene Vorlesungen',
      sortable: false,
      key: 'lectures',
    },
    {
      title: '',
      sortable: false,
      key: 'action',
      align: 'end',
    },
  ]
  const sortBy = [{ key: 'title', order: 'asc' }] as const

  const router = useRouter()
  function onRowClick(_: any, row: any) {
    router.push({
      name: 'admin-courses-course',
      params: { id: row.item._id },
    })
  }

  const { isLoadingCourses, courses, getCourses, isSynchronizingCourses, synchronizeCourses } = provideCourses()
  getCourses()
  const { alert } = providePageAlert()

  async function onSynchronize() {
    try {
      await synchronizeCourses()
      alert.value = {
        title: 'Synchronisiert',
        text: 'Kurse wurden synchronisiert.',
        type: 'success',
      }
      await getCourses()
    } catch (error) {
      alert.value = {
        title: 'Fehlgeschlagen!',
        text: 'Synchronisieren der Kurse ist fehlgeschlagen.',
        type: 'error',
      }
    }
  }
</script>
