<template>
  <page-layout size="small" title="Semester">
    <template #actions>
      <v-btn
        color="primary"
        flat
        prepend-icon="mdi-plus"
        size="small"
        text="Semester"
        :to="{name: 'admin-semesters-semester'}"
        variant="flat"
      />
    </template>
    <v-card class="border-b-lg" style="border-bottom-color: rgb(var(--v-theme-primary)) !important;">
      <v-data-table
        :headers="headers"
        hover
        :items="semesters"
        items-per-page="10"
        items-per-page-text="Anzahl Semester:"
        :loading="isLoadingSemesters"
        no-data-text="Keine Semester vorhanden"
        :search="search"
        :sort-by="sortBy"
        @click:row="onRowClick"
      >
        <template #top>
          <v-card-title class="pt-4">
            <v-text-field
              v-model="search"
              density="compact"
              flat
              hide-details
              label="Suche"
              prepend-inner-icon="mdi-magnify"
              single-line
              variant="solo-filled"
            />
          </v-card-title>
        </template>
        <template #item.opensAt="{value}">{{ getFormattedDate(new Date(value)) }}</template>
        <template #item.closesAt="{value}">{{ getFormattedDate(new Date(value)) }}</template>
        <template #item.lectures="{value}">{{ value.length }}</template>
        <template #item.action="{item}">
          <v-menu min-width="300px">
            <template #activator="{ props }">
              <v-btn
                v-bind="props"
                flat
                icon
                :loading="isDeletingSemester"
                size="small"
              >
                <v-icon icon="mdi-dots-horizontal" size="x-large" />
              </v-btn>
            </template>
            <v-card>
              <v-list class="py-0">
                <v-list-item prepend-icon="mdi-pencil-outline" title="Bearbeiten" :to="{name: 'admin-semesters-semester', params: {id: item._id}}" value="edit" />
                <v-divider />
                <v-list-item
                  class="text-error"
                  prepend-icon="mdi-delete-outline"
                  title="Löschen"
                  value="delete"
                  @click="onDelete(item)"
                />
              </v-list>
            </v-card>
          </v-menu>
        </template>
      </v-data-table>
    </v-card>
  </page-layout>
</template>

<script setup lang="ts">
  import {
    VBtn, VCard, VCardTitle,
    VDataTable, VDivider, VIcon, VList,
    VListItem, VMenu, VTextField,
  } from 'vuetify/components'
  import { ref } from 'vue'
  import { useRouter } from 'vue-router'
  import type { DataTableHeaders } from '@/types'
  import PageLayout from '@/components/PageLayout.vue'
  import type { Semester } from '@/model/types/semester'
  import { provideSemesters } from '@/providers/semesters'
  import { providePageAlert } from '@/providers/pageAlert'
  import { provideSemester } from '@/providers/semester'
  import { getFormattedDate } from '@/utils/dateFormat'

  const search = ref('')
  const headers: DataTableHeaders = [
    {
      title: 'Semester',
      sortable: true,
      key: 'name',
    },
    {
      title: 'Von',
      sortable: true,
      key: 'opensAt',
    },
    {
      title: 'Bis',
      sortable: true,
      key: 'closesAt',
    },
    {
      title: 'Zugewiesene Vorlesungen',
      sortable: false,
      key: 'lectures',
    },
    {
      title: '',
      sortable: false,
      key: 'action',
      align: 'end',
    },
  ]
  const sortBy = [{ key: 'closesAt', order: 'desc' }] as const

  const router = useRouter()
  function onRowClick(_: any, row: any) {
    router.push({
      name: 'admin-semesters-semester',
      params: { id: row.item._id },
    })
  }

  const { isLoadingSemesters, semesters, getSemesters } = provideSemesters()
  getSemesters()
  const { isDeletingSemester, deleteSemester } = provideSemester()
  const { alert } = providePageAlert()

  async function onDelete(semester: Semester) {
    try {
      await deleteSemester(semester._id)
      // TODO: undo, isDeleted
      alert.value = {
        title: 'Gelöscht',
        text: `Semester ${semester.name} gelöscht`,
        type: 'success',
      }
      await getSemesters()
    } catch (error) {
      alert.value = {
        title: 'Fehlgeschlagen!',
        text: `Löschen des Semesters ${semester.name} fehlgeschlagen`,
        type: 'error',
      }
    }
  }
</script>
