<template>
  <page-layout back-link size="small" :title="title">
    <template #actions>
      <v-row dense>
        <v-col v-if="quizTaskSet">
          <v-btn
            color="secondary"
            label
            :loading="isDeletingQuizTaskSet"
            size="small"
            variant="tonal"
            @click="onDelete"
          >
            <v-icon icon="mdi-delete-outline" size="x-large" />
          </v-btn>
        </v-col>
        <v-col>
          <v-btn
            color="primary"
            :form="formId"
            :loading="isSubmitting"
            size="small"
            text="Speichern"
            type="submit"
            variant="flat"
          />
        </v-col>
      </v-row>
    </template>
    <v-form :id="formId" @submit.prevent="onSubmit">
      <v-card class="border-b-lg" style="border-bottom-color: rgb(var(--v-theme-primary)) !important;">
        <v-card-text>
          <v-row>
            <v-col>
              <field v-slot="{componentField, errorMessage}" label="Name" name="name" rules="required">
                <v-text-field
                  autocomplete="off"
                  autofocus
                  :error-messages="errorMessage"
                  hint="Entspricht dem Namen des Quiz Duells"
                  :model-value="componentField.modelValue"
                  :name="componentField.name"
                  persistent-hint
                  @update:model-value="componentField['onUpdate:modelValue']"
                >
                  <template #label>
                    <span class="text-error text-h6">*</span> Name
                  </template>
                </v-text-field>
              </field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-divider />

        <field v-slot="{componentField, errorMessage}" name="tasks" rules="required">
          <v-list
            v-model:opened="opened"
            :border="Boolean(errorMessage) ? 'error md' : undefined"
            class="py-0 border-opacity-100"
            density="compact"
            open-strategy="multiple"
            select-strategy="classic"
            selectable
            :selected="componentField.modelValue"
            slim
            @update:selected="componentField['onUpdate:modelValue']"
          >
            <v-list-group v-for="course of activeCourses" :key="course._id" :value="course._id">
              <template #activator="{ props: groupProps }">
                <v-list-item
                  v-bind="groupProps"
                  :title="course.title"
                >
                  <template #prepend="{ isSelected, select, isIndeterminate }">
                    <v-list-item-action start>
                      <v-checkbox-btn density="comfortable" :indeterminate="isIndeterminate" :model-value="isSelected" @click.stop="select" />
                    </v-list-item-action>
                  </template>
                </v-list-item>
              </template>

              <v-list-group
                v-for="chapter of course.chapters.filter(chapter => chapter.tasks.some(task => ['koan-task', 'code-task'].includes(task.tag)))"
                :key="`${course._id}-${chapter._id}`"
                :value="`${course._id}-${chapter._id}`"
              >
                <template #activator="{ props: subGroupProps }">
                  <v-list-item
                    v-bind="subGroupProps"
                    :title="chapter.title"
                  >
                    <template #prepend="{ isSelected, select, isIndeterminate }">
                      <v-list-item-action start>
                        <v-checkbox-btn density="compact" :indeterminate="isIndeterminate" :model-value="isSelected" @click.stop="select" />
                      </v-list-item-action>
                    </template>
                  </v-list-item>
                </template>
                <v-list-item
                  v-for="task of chapter.tasks.filter(task => ['koan-task', 'code-task'].includes(task.tag))"
                  :key="`${course._id}-${chapter._id}-${task._id}`"
                  :title="task.data.description"
                  :value="`${course._id}-${chapter._id}-${task._id}`"
                >
                  <template #prepend="{ isSelected }">
                    <v-list-item-action start>
                      <v-checkbox-btn density="compact" :model-value="isSelected" />
                    </v-list-item-action>
                  </template>
                  <template #append>
                    <v-dialog :width="xs ? '100%' : '50vw'">
                      <template #activator="{props: activatorProps}">
                        <v-btn
                          color="transparent"
                          flat
                          icon
                          plain
                          size="x-small"
                          variant="text"
                          v-bind="activatorProps"
                        >
                          <v-icon :icon="task.tag === 'code-task' ? 'mdi-code-block-tags' : 'mdi-code-tags'" size="x-large" />
                        </v-btn>
                      </template>
                      <template #default="{ isActive }">
                        <v-card>
                          <v-card-title class="d-flex justify-space-between align-center py-1">
                            <div class="text-h5 text-medium-emphasis">
                              {{ task.tag === 'code-task' ? 'Code Task' : 'Koan Task' }}
                            </div>
                            <v-btn
                              class="text-medium-emphasis"
                              icon="mdi-close"
                              variant="text"
                              @click="isActive.value = false"
                            />
                          </v-card-title>
                          <v-divider />
                          <div class="h-50 overflow-auto">
                            <code-task v-if="task.tag === 'code-task'" :task />
                            <koan-task v-else-if="task.tag === 'koan-task'" :task />
                          </div>
                        </v-card>
                      </template>
                    </v-dialog>
                  </template>
                </v-list-item>
              </v-list-group>
            </v-list-group>
          </v-list>
        </field>
      </v-card>
    </v-form>
  </page-layout>
</template>

<script setup lang="ts">
  import { Field, useForm } from 'vee-validate'
  import {
    VBtn, VCard, VCardText, VCardTitle,
    VCheckboxBtn, VCol, VDialog, VDivider,
    VForm, VIcon, VList,
    VListGroup, VListItem, VListItemAction,
    VRow, VTextField,
  } from 'vuetify/components'
  import { computed, ref, watch } from 'vue'
  import PageLayout from '@/components/PageLayout.vue'
  import { providePageAlert } from '@/providers/pageAlert'
  import { usePageSnackbarOrThrow } from '@/providers/pageSnackbar'
  import { provideQuizTaskSet } from '@/providers/quizTaskSet'
  import { providePageLoader } from '@/providers/pageLoader'
  import type { QuizTaskSetState } from '@/model/types/quizTaskSet'
  import { useRouter } from 'vue-router'
  import { provideCourses } from '@/providers/courses'
  import CodeTask from '../chapter/components/CodeTask.vue'
  import KoanTask from '../chapter/components/KoanTask.vue'
  import { useDisplay } from 'vuetify'
  import { provideTaskProgresses } from '@/providers/taskProgresses'

  interface Props {
    id?: string;
  }

  const props = defineProps<Props>()

  const title = computed(() => `Koan Set ${props.id !== undefined ? 'bearbeiten' : 'erstellen'}`)
  const {
    isDeletingQuizTaskSet,
    isLoadingQuizTaskSet,
    getQuizTaskSet,
    quizTaskSet,
    createQuizTaskSet,
    updateQuizTaskSet,
    deleteQuizTaskSet,
  } = provideQuizTaskSet()

  const { courses, isLoadingCourses, getCourses } = provideCourses()
  const { xs } = useDisplay()

  const activeCourses = computed(() => courses.value.filter(course => course.lectures.length))
  const isLoading = computed(() => isLoadingQuizTaskSet.value || isLoadingCourses.value)
  providePageLoader(isLoading)
  getCourses()

  const { isSubmitting, handleSubmit, resetForm, values: formValues } = useForm<QuizTaskSetState>({
    initialValues: {
      name: '',
      tasks: [],
    },
  })

  const opened = ref<QuizTaskSetState['tasks']>([])

  const formId = Symbol('formId').toString()

  const { alert } = providePageAlert()
  watch(() => props.id, async value => {
    if (!value) {
      return
    }

    try {
      const response = await getQuizTaskSet(value)
      opened.value = response.tasks.map(task => `${task.courseId}-${task.chapterId}-${task.taskId}`)
        .concat(...new Set(response.tasks.map(task => task.courseId)))
      resetForm({
        values: {
          ...response,
          tasks: response.tasks.map(task => `${task.courseId}-${task.chapterId}-${task.taskId}`),
        },
      })
    } catch (error) {
      alert.value = {
        title: 'Nicht vorhanden',
        text: 'Koan Set konnte nicht gefunden werden',
        type: 'error',
      }
    }
  }, { immediate: true })

  const router = useRouter()
  const { snackbar, show } = usePageSnackbarOrThrow()
  const onSubmit = handleSubmit(async values => {
    const data = {
      ...values,
      tasks: values.tasks.map(task => ({
        courseId: task.split('-')[0],
        chapterId: task.split('-')[1],
        taskId: task.split('-')[2],
      })),
    }
    try {
      await (quizTaskSet.value ? updateQuizTaskSet(quizTaskSet.value._id, data) : createQuizTaskSet(data))
      snackbar.value = {
        text: `Koan Set ${values.name} wurde ${quizTaskSet.value ? 'geändert' : 'erstellt'}`,
        color: 'success',
      }
      show()
      router.push({ name: 'admin-quiz-duels-task-set-list' })
    } catch (error) {
      alert.value = {
        title: 'Fehler',
        text: `Koan Set konnte nicht ${quizTaskSet.value ? 'geändert' : 'erstellt'} werden`,
        type: 'error',
      }
    }
  })

  async function onDelete() {
    if (!quizTaskSet.value) {
      return
    }

    try {
      // TODO: confirm dialog
      await deleteQuizTaskSet(quizTaskSet.value._id)
      snackbar.value = {
        text: `Kaon Set ${formValues.name} wurde gelöscht`,
        color: 'success',
      }
      show()
      await router.push({ name: 'admin-quiz-duels-task-set-list' })
    } catch (error) {
      alert.value = {
        title: 'Fehler',
        text: `Koan Set ${formValues.name} konnte nicht gelöscht werden`,
        type: 'error',
      }
    }
  }

  provideTaskProgresses()
</script>
