<template>
  <page-layout back-link size="small" :title="title">
    <template #actions>
      <v-row dense>
        <v-col v-if="quizDuel">
          <v-btn
            color="error"
            label
            :loading="isDeletingQuizDuel"
            size="small"
            variant="flat"
            @click="onDelete"
          >
            <v-icon icon="mdi-delete-outline" size="x-large" />
          </v-btn>
        </v-col>
        <v-col v-if="!quizDuel">
          <v-btn
            color="primary"
            :form="formId"
            :loading="isSubmitting"
            size="small"
            text="Speichern"
            type="submit"
            variant="flat"
          />
        </v-col>
      </v-row>
    </template>
    <v-form :id="formId" @submit.prevent="onSubmit">
      <v-card class="border-b-lg" style="border-bottom-color: rgb(var(--v-theme-primary)) !important;">
        <v-card-text>
          <v-row>
            <v-col>
              <field v-if="activeSemesters.length" v-slot="{componentField, errorMessage}" name="semesterId" rules="required">
                <v-autocomplete
                  autocomplete="off"
                  :error="Boolean(errorMessage)"
                  hide-details
                  item-title="name"
                  item-value="_id"
                  :items="activeSemesters"
                  label="Semester"
                  :model-value="componentField.modelValue"
                  :name="componentField.name"
                  :readonly="Boolean(quizDuel)"
                  variant="outlined"
                  @update:model-value="componentField['onUpdate:modelValue']"
                />
              </field>
              <v-btn
                v-else
                prepend-icon="mdi-plus"
                size="small"
                text="Semester hinzufügen"
                :to="{name: 'admin-semesters-semester'}"
                variant="tonal"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <field v-if="activeLectures.length" v-slot="{componentField, errorMessage}" name="lectureId" rules="required">
                <v-autocomplete
                  autocomplete="off"
                  :disabled="formValues.semesterId === undefined"
                  :error="Boolean(errorMessage)"
                  hide-details
                  item-title="name"
                  item-value="_id"
                  :items="activeLectures"
                  label="Vorlesung"
                  :model-value="componentField.modelValue"
                  :name="componentField.name"
                  :readonly="Boolean(quizDuel)"
                  variant="outlined"
                  @update:model-value="componentField['onUpdate:modelValue']"
                />
              </field>
              <v-btn
                v-else
                prepend-icon="mdi-plus"
                size="small"
                text="Vorlesung zuweisen"
                :to="{name: 'admin-semesters-semester', params: {id: formValues.semesterId}}"
                variant="tonal"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <field v-if="quizTaskSets.length" v-slot="{componentField, errorMessage}" name="quizTaskSetId" rules="required">
                <v-autocomplete
                  autocomplete="off"
                  :disabled="formValues.lectureId === undefined"
                  :error="Boolean(errorMessage)"
                  hide-details
                  item-title="name"
                  item-value="_id"
                  :items="quizTaskSets"
                  label="Koan Set"
                  :model-value="componentField.modelValue"
                  :name="componentField.name"
                  :readonly="Boolean(quizDuel)"
                  variant="outlined"
                  @update:model-value="componentField['onUpdate:modelValue']"
                />
              </field>
              <v-btn
                v-else
                prepend-icon="mdi-plus"
                size="small"
                text="Koan Set erstellen"
                :to="{name: 'admin-quiz-duels-task-set'}"
                variant="tonal"
              />
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-form>
  </page-layout>
</template>
<script setup lang="ts">
  import PageLayout from '@/components/PageLayout.vue'
  import {
    VAutocomplete, VBtn, VCard, VCardText,
    VCol, VForm, VIcon, VRow,
  } from 'vuetify/components'
  import { Field, useForm } from 'vee-validate'
  import { useRouter } from 'vue-router'
  import { usePageSnackbarOrThrow } from '@/providers/pageSnackbar'
  import { providePageLoader } from '@/providers/pageLoader'
  import { providePageAlert } from '@/providers/pageAlert'
  import { computed, watch } from 'vue'
  import { provideQuizDuel } from '@/providers/quizDuel'
  import type { QuizDuelRequest } from '@/model/types/quizDuel'
  import { provideSemesters } from '@/providers/semesters'
  import { provideLectures } from '@/providers/lectures'
  import { provideQuizTaskSets } from '@/providers/quizTaskSets'

  interface Props {
    id?: string;
  }

  const props = defineProps<Props>()

  const { alert } = providePageAlert()

  const title = computed(() => `Quiz Duell ${props.id !== undefined ? 'bearbeiten' : 'erstellen'}`)

  const {
    isDeletingQuizDuel,
    isLoadingQuizDuel,
    quizDuel,
    getQuizDuel,
    deleteQuizDuel,
    createQuizDuel,
  } = provideQuizDuel()

  const { isLoadingSemesters, getSemesters, semesters } = provideSemesters()

  const activeSemesters = computed(() => semesters.value.filter(semester => semester.lectures.length))

  const { isLoadingLectures, lectures, getLectures } = provideLectures()

  const activeLectures = computed(() => lectures.value.filter(lecture => lecture.courses.length &&
    activeSemesters.value.some(semester => semester.lectures.includes(lecture._id))))

  const { isLoadingQuizTaskSets, quizTaskSets, getQuizTaskSets } = provideQuizTaskSets()

  const isLoading = computed(() => isLoadingQuizDuel.value || isLoadingLectures.value || isLoadingSemesters.value || isLoadingQuizTaskSets.value)
  providePageLoader(isLoading)
  getQuizTaskSets()
  getLectures()
  getSemesters()

  const { isSubmitting, handleSubmit, resetForm, values: formValues, setFieldValue } = useForm<QuizDuelRequest>()

  watch(activeSemesters, value => {
    if (!value) {
      return
    }
    const recentSemester = value.toSorted((a, b) => b.closesAt - a.closesAt).at(0)

    if (recentSemester) {
      setFieldValue('semesterId', recentSemester._id)
    }
  })

  const formId = Symbol('formId').toString()

  watch(() => props.id, async value => {
    if (!value) {
      return
    }

    try {
      const response = await getQuizDuel(value)
      resetForm({ values: response })
    } catch (error) {
      alert.value = {
        title: 'Nicht vorhanden',
        text: 'Quiz Duell konnte nicht gefunden werden',
        type: 'error',
      }
    }
  }, { immediate: true })

  const router = useRouter()
  const { snackbar, show } = usePageSnackbarOrThrow()
  const onSubmit = handleSubmit(async values => {
    try {
      await createQuizDuel(values)
      snackbar.value = {
        text: `Quiz Duell wurde erstellt`,
        color: 'success',
      }
      show()
      router.push({ name: 'admin-quiz-duels' })
    } catch (error) {
      alert.value = {
        title: 'Fehler',
        text: `Quiz Duell konnte nicht erstellt werden`,
        type: 'error',
      }
    }
  })

  async function onDelete() {
    if (!quizDuel.value) {
      return
    }

    try {
      // TODO: confirm dialog
      await deleteQuizDuel(quizDuel.value._id)
      snackbar.value = {
        text: `Quiz Duell wurde gelöscht`,
        color: 'success',
      }
      show()
      await router.push({ name: 'admin-quiz-duels' })
    } catch (error) {
      alert.value = {
        title: 'Fehler',
        text: `Quiz Duell  konnte nicht gelöscht werden`,
        type: 'error',
      }
    }
  }
</script>
