<template>
  <v-menu min-width="300px">
    <template #activator="{ props }">
      <v-btn
        v-bind="props"
        class="bg-transparent"
        flat
        icon
        :loading="isDeletingQuizDuel || isStartingQuizDuel || isStoppingQuizDuel"
        size="small"
      >
        <v-icon icon="mdi-dots-horizontal" size="x-large" />
      </v-btn>
    </template>
    <v-card>
      <v-list class="py-0">
        <v-list-item prepend-icon="mdi-pencil-outline" title="Bearbeiten" :to="{name: 'admin-quiz-duels-duel', params: {id: item._id}}" value="edit" />
        <v-divider />
        <v-list-item
          v-if="!item.isRunning"
          prepend-icon="mdi-play-circle-outline"
          title="Starten"
          value="start"
          @click="onStart(item)"
        />
        <v-list-item
          v-else
          prepend-icon="mdi-stop-circle-outline"
          title="Stoppen"
          value="stop"
          @click="onStop(item)"
        />
        <v-divider />
        <v-list-item
          class="text-error"
          prepend-icon="mdi-delete-outline"
          title="Löschen"
          value="delete"
          @click="onDelete(item)"
        />
      </v-list>
    </v-card>
  </v-menu>
</template>

<script setup lang="ts">
  import type { QuizDuelView } from '@/model/types/quizDuel'
  import { usePageAlertOrThrow } from '@/providers/pageAlert'
  import { useQuizDuelOrThrow } from '@/providers/quizDuel'
  import { VBtn, VCard, VDivider, VIcon, VList, VListItem, VMenu } from 'vuetify/components'
  const { isDeletingQuizDuel, getActiveQuizDuel, deleteQuizDuel, isStartingQuizDuel, isStoppingQuizDuel, startQuizDuel, stopQuizDuel } = useQuizDuelOrThrow()

  interface Props {
    item: QuizDuelView;
  }

  defineProps<Props>()

  const emits = defineEmits<{change: []}>()

  const { alert } = usePageAlertOrThrow()

  async function onDelete(quizDuel: QuizDuelView) {
    try {
      await deleteQuizDuel(quizDuel._id)
      // TODO: undo, isDeleted
      alert.value = {
        title: 'Gelöscht',
        text: `Quiz Duell ${quizDuel.quizTaskSet} gelöscht`,
        type: 'success',
      }
      emits('change')
    } catch (error) {
      alert.value = {
        title: 'Fehlgeschlagen!',
        text: `Löschen des Quiz Duells ${quizDuel.quizTaskSet} fehlgeschlagen`,
        type: 'error',
      }
    }
  }

  async function onStart(quizDuel: QuizDuelView) {
    try {
      await startQuizDuel(quizDuel._id)
      getActiveQuizDuel()
      alert.value = {
        title: 'Gestartet',
        text: `Quiz Duell ${quizDuel.quizTaskSet} gestartet`,
        type: 'success',
      }
      emits('change')
    } catch (error) {
      alert.value = {
        title: 'Fehlgeschlagen!',
        text: `Starten des Quiz Duells ${quizDuel.quizTaskSet} fehlgeschlagen`,
        type: 'error',
      }
    }
  }

  async function onStop(quizDuel: QuizDuelView) {
    try {
      await stopQuizDuel(quizDuel._id)
      getActiveQuizDuel()
      alert.value = {
        title: 'Gestoppt',
        text: `Quiz Duell ${quizDuel.quizTaskSet} gestoppt`,
        type: 'success',
      }
      emits('change')
    } catch (error) {
      alert.value = {
        title: 'Fehlgeschlagen!',
        text: `Stoppen des Quiz Duells ${quizDuel.quizTaskSet} fehlgeschlagen`,
        type: 'error',
      }
    }
  }
</script>
