<template>
  <page-layout back-link size="small" :title="user?.username ?? ''">
    <v-tabs v-model="tab" hide-slider mandatory>
      <v-tab
        :active="$route.name === 'user-profile'"
        border
        class="border-b-0 rounded-ts-sm"
        exact
        :to="{name: 'user-profile'}"
        value="profile"
      >Mein Profil</v-tab>
      <v-tab
        :active="$route.name === 'user-settings'"
        border
        class="border-b-0 rounded-te-sm"
        exact
        rounded
        :to="{name: 'user-settings'}"
        value="settings"
      >Einstellungen</v-tab>
    </v-tabs>
    <router-view />
  </page-layout>
</template>

<script setup lang="ts">
  import { ref } from 'vue'
  import { VTab, VTabs } from 'vuetify/components'
  import PageLayout from '@/components/PageLayout.vue'
  import { providePageAlert } from '@/providers/pageAlert'
  import { useAuthOrThrow } from '@/providers/auth'
  import { provideUser } from '@/providers/user'
  const tab = ref<string>()

  const { user } = useAuthOrThrow()
  provideUser()
  providePageAlert()
</script>
