<template>
  <v-form :id="formId" @submit.prevent="onSubmit">
    <v-card class="rounded-ts-0 border-b-lg" :loading="isLoadingUserSettings" style="border-bottom-color: rgb(var(--v-theme-primary)) !important;">
      <v-card-text class="py-0">
        <field v-slot="{componentField}" name="autoPlay">
          <v-switch
            color="primary"
            density="comfortable"
            flat
            hide-details
            label="Videolektionen automatisch abspielen"
            :model-value="componentField.modelValue"
            :name="componentField.name"
            @update:model-value="componentField['onUpdate:modelValue']"
          />
        </field>

        <field v-slot="{componentField}" name="autoNext">
          <v-switch
            color="primary"
            density="comfortable"
            flat
            hide-details
            label="Automatisch zur nächsten Lektion gehen"
            :model-value="componentField.modelValue"
            :name="componentField.name"
            @update:model-value="componentField['onUpdate:modelValue']"
          />
        </field>

        <field v-slot="{componentField}" name="infoText">
          <v-switch
            color="primary"
            density="comfortable"
            flat
            hide-details
            label="Informationstexte für Tasktypen anzeigen"
            :model-value="componentField.modelValue"
            :name="componentField.name"
            @update:model-value="componentField['onUpdate:modelValue']"
          />
        </field>

      </v-card-text>
      <v-divider />
      <v-card-actions class="pl-4">
        <v-btn
          color="primary"
          :form="formId"
          :loading="isSubmitting"
          size="small"
          text="Speichern"
          type="submit"
          variant="flat"
        />
      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script setup lang="ts">
  import { Field, useForm } from 'vee-validate'
  import { VBtn, VCard, VCardActions, VCardText, VDivider, VForm, VSwitch } from 'vuetify/components'
  import { usePageAlertOrThrow } from '@/providers/pageAlert'
  import type { UserSettings } from '@/model/types/user'
  import { provideUserSettings } from '@/providers/userSettings'
  import { useAuthOrThrow } from '@/providers/auth'

  const { getUserSettings, updateUserSettings, isLoadingUserSettings } = provideUserSettings()
  const { isSubmitting, handleSubmit, resetForm } = useForm<UserSettings>()
  const formId = Symbol('formId').toString()
  const { alert } = usePageAlertOrThrow()
  const { user } = useAuthOrThrow()

  async function loadUserSettings() {
    if (!user.value) {
      return
    }

    const response = await getUserSettings(user.value._id)
    resetForm({ values: response.data })
  }

  loadUserSettings()

  const onSubmit = handleSubmit(async values => {
    if (!user.value) {
      return
    }

    try {
      await updateUserSettings(user.value._id, values)
      alert.value = {
        title: 'Einstellungen geändert',
        text: 'Die Nutzer Einstellungen wurden geändert',
        type: 'success',
      }
    } catch (error) {
      alert.value = {
        title: 'Fehler',
        text: 'Nutzer Einstellungen konnten nicht geändert werden',
        type: 'error',
      }
    }
  })
</script>
