<template>
  <v-form :id="formId" @submit.prevent="onSubmit">
    <v-card class="rounded-ts-0 border-b-lg" style="border-bottom-color: rgb(var(--v-theme-primary)) !important;">
      <v-card-text>
        <v-row>
          <v-col>
            <field v-slot="{componentField, errorMessage}" label="Name" name="username" rules="required">
              <v-text-field
                autocomplete="off"
                autofocus
                :error-messages="errorMessage"
                :model-value="componentField.modelValue"
                :name="componentField.name"
                @update:model-value="componentField['onUpdate:modelValue']"
              >
                <template #label>
                  <span class="text-error text-h6">*</span> Name
                </template>
              </v-text-field>
            </field>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              hide-details
              label="E-Mail"
              :model-value="user?.email"
              readonly
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider />
      <v-card-actions class="pl-4">
        <v-btn
          color="primary"
          :form="formId"
          :loading="isSubmitting"
          size="small"
          text="Speichern"
          type="submit"
          variant="flat"
        />
      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script setup lang="ts">
  import { Field, useForm } from 'vee-validate'
  import { VBtn, VCard, VCardActions, VCardText, VCol, VDivider, VForm, VRow, VTextField } from 'vuetify/components'
  import { usePageAlertOrThrow } from '@/providers/pageAlert'
  import type { UserProfileRequest } from '@/model/types/user'
  import { useUserOrThrow } from '@/providers/user'
  import { useAuthOrThrow } from '@/providers/auth'

  // TODO: studentNumber

  const { user } = useAuthOrThrow()
  const { updateUserProfile } = useUserOrThrow()
  const { isSubmitting, handleSubmit } = useForm<UserProfileRequest>({
    initialValues: {
      username: user.value?.username,
    },
  })
  const formId = Symbol('formId').toString()
  const { alert } = usePageAlertOrThrow()

  const onSubmit = handleSubmit(async values => {
    if (!user.value) {
      return
    }

    try {
      await updateUserProfile(user.value._id, values)
      alert.value = {
        title: 'Nutzer geändert',
        text: `Der Nutzer ${values.username} wurde geändert`,
        type: 'success',
      }
    } catch (error) {
      alert.value = {
        title: 'Fehler',
        text: 'Nutzer konnte nicht geändert werden',
        type: 'error',
      }
    }
  })
</script>
