<template>
  <vue-particles
    color="#ffffff"
    :particleOpacity="0.7"
    linesColor="#ffffff"
    :particlesNumber="80"
    shapeType="circle"
    :particleSize="5"
    :linesWidth="2"
    :lineLinked="true"
    :lineOpacity="0.4"
    :linesDistance="150"
    :moveSpeed="3"
    :hoverEffect="true"
    hoverMode="grab"
    :clickEffect="true"
    clickMode="push"
  />
</template>

<script>
export default {
  name: "BackgroundParticles"
};
</script>

<style scoped></style>
