<template>
  <page-layout v-if="formValues" back-link size="small" :title="formValues.name">
    <div class="centered-content">
      <v-row
        v-if="formValues.isOpen && formValues.startTime > 0 && formValues.endTime > now"
      >
        <exam-timer
          :end-time="formValues.endTime"
          @on-exam-ended="onExamEnded"
        />
        <v-card
          class="mb-4 code-card"
          flat
        >
          <v-card-title>
            Klausurcode
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="formValues.password"
                  :append-inner-icon="showCode ? 'mdi-eye-off' : 'mdi-eye'"
                  class="code"
                  outlined
                  readonly
                  :type="showCode ? 'text' : 'password'"
                  @click:append-inner="toggleCodeVisibility"
                />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-row>
      <v-row v-if="!formValues.isOpen" class="startButton">
        <v-btn color="primary" flat @click="onOpen">
          Klausur öffnen
        </v-btn>
      </v-row>

      <v-row v-if="formValues.isOpen && formValues.startTime > 0 && formValues.endTime <= now">
        <v-card class="mb-4" flat>
          <v-card-title>
            Die Klausur ist beendet.
          </v-card-title>
          <v-btn
            color="primary"
            flat
            text="Zur Klausur"
            :to="{ name: 'admin-grade-exams', params: { examId: formValues._id } }"
          />
        </v-card>
      </v-row>
    </div>
  </page-layout>
</template>

<script lang="ts">
  import { defineComponent, onMounted, ref } from 'vue'
  import { useForm } from 'vee-validate'
  import PageLayout from '@/components/PageLayout.vue'
  import { provideExam } from '@/providers/exam'
  import { Exam } from '@/model/types/exam'
  import { useRoute, useRouter } from 'vue-router'
  import { VBtn, VCard, VCardText, VCardTitle, VCol, VRow, VTextField } from 'vuetify/components'
  import ExamTimer from '@/components/exam/ExamTimer.vue'

  export default defineComponent({
    name: 'AdminExamCurrent',
    components: { ExamTimer, PageLayout, VCard, VBtn, VRow, VCol, VTextField, VCardTitle, VCardText },
    setup() {
      const { getExam, startExam } = provideExam()
      const { resetForm, values: formValues } = useForm<Omit<Exam, '_id'>>({
        initialValues: {
          name: '',
          password: '',
          startTime: -1,
          endTime: -1,
        },
      })
      const now = ref(new Date().getTime())
      const route = useRoute()
      const router = useRouter()
      const showCode = ref(false)

      onMounted(async () => {
        const response = await getExam(route.params.examId)
        resetForm({
          values: response,
        })
      })

      const toggleCodeVisibility = () => {
        showCode.value = !showCode.value
      }

      return {
        formValues,
        startExam,
        resetForm,
        showCode,
        toggleCodeVisibility,
        getExam,
        now,
        router,
      }
    },
    methods: {
      onOpen() {
        this.startExam(this.formValues._id, this.formValues)
          .then(response => {
            this.resetForm({
              values: response.data,
            })
          })
      },
      async onExamEnded() {
        this.now = Date.now()
      },
    },
  })
</script>

<style scoped lang="scss">
.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  text-align: center;
}

.startButton {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -3rem;
}

.code {
  text-align: center;
  font-size: 2rem;
  width: 7rem;
}
</style>
