<template>
  <page-layout back-link size="small" :title="formValues.name">
    <v-card class="mb-4" flat>
      <v-card-text>
        <v-form @submit="handleSubmit(updateExam)">
          <v-row>
            <v-col cols="12" md="6">
              <v-card-text>
                <h3>
                  Punkte für 1.0 in %
                </h3>
              </v-card-text>
              <v-number-input
                :max="100"
                :min="0"
                :model-value="toPercent(formValues.gradeThresholds.top)"
                required
                @update:model-value="setFieldValue('gradeThresholds.top', fromPercent($event))"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="6">
              <v-card-text>
                <h3>
                  Punkte für 4.0 in %
                </h3>
              </v-card-text>
              <v-number-input
                :max="100"
                :min="0"
                :model-value="toPercent(formValues.gradeThresholds.bottom)"
                required
                @update:model-value="setFieldValue('gradeThresholds.bottom', fromPercent($event))"
              />
            </v-col>
          </v-row>

          <v-btn
            color="primary"
            @click="onSubmit()"
          >
            Speichern
          </v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </page-layout>
</template>

<script lang="ts">

  import { useRoute, useRouter } from 'vue-router'
  import { defineComponent, onMounted } from 'vue'
  import { provideExam } from '@/providers/exam'
  import { useForm } from 'vee-validate'
  import { Exam } from '@/model/types/exam'
  import PageLayout from '@/components/PageLayout.vue'
  import { VBtn, VCard, VCardText, VCol, VForm, VRow, VTextField } from 'vuetify/components'
  import { VNumberInput } from 'vuetify/labs/components'

  export default defineComponent({
    name: 'AdminExamGradeThresholds',
    components: { PageLayout, VForm, VTextField, VNumberInput, VBtn, VCard, VCardText, VCol, VRow },
    setup() {
      const route = useRoute()
      const router = useRouter()
      const { exam, getExam, updateExam } = provideExam()
      const {
        isSubmitting,
        resetForm,
        values: formValues,
        setFieldValue,
      } = useForm<Omit<Exam, '_id'>>({
        initialValues: {
          name: '',
          gradeThresholds: {
            top: 1.0,
            bottom: 0.5,
          },
        },
      })

      const onSubmit = async () => {
        await updateExam(exam.value._id, formValues)
        await router.push({ name: 'admin-exams' })
      }
      onMounted(async () => {
        const response = await getExam(route.params.examId)
        resetForm({ values: response })
      })
      return {
        formValues,
        isSubmitting,
        setFieldValue,
        onSubmit,
      }
    },
    methods: {
      toPercent(value: number) {
        return Math.round(value * 100)
      },
      fromPercent(value: number) {
        return value / 100
      },
    },
  })
</script>
