<template>
  <page-layout size="small" title="Klausuren">
    <v-card v-if="examsToday.length" class="mb-4">
      <v-card-title>
        <h2>Klausuren heute</h2>
        <v-list>
          <v-list-item
            v-for="exam in examsToday"
            :key="exam._id"
            :title="exam.name"
            :to="{name: 'admin-current-exam-overview', params: {examId: exam._id}}"
          />
        </v-list>
      </v-card-title>
    </v-card>

    <template #actions>
      <v-btn
        color="primary"
        flat
        prepend-icon="mdi-plus"
        size="small"
        text="Klausur"
        :to="{name: 'admin-exams-exam'}"
        variant="flat"
      />
    </template>

    <v-card v-if="upcomingExams.length" border class="mb-4" variant="flat">
      <v-card-title class="pt-4">
        <h2>Klausuren</h2>
      </v-card-title>
      <v-data-table
        :headers="examHeaders"
        :items="upcomingExams"
        items-per-page="10"
        items-per-page-text="Anzahl Klausuren:"
        :loading="isLoadingExams"
        no-data-text="Keine Klausuren vorhanden"
        :search="search"
        :sort-by="sortBy"
        @click:row="onExamRowClick"
      >
        <template #top>
          <v-card-title class="pt-4">
            <v-text-field
              v-model="search"
              density="compact"
              flat
              hide-details
              label="Suche"
              prepend-inner-icon="mdi-magnify"
              single-line
              variant="solo-filled"
            />
          </v-card-title>
        </template>
        <template #item.name="{value}">{{ value }}</template>
        <template #item.date="{ item }">
          <span v-if="item.examType === 'old-exam'">-</span>
          <span v-else>{{ new Date(item.date).toLocaleDateString() }}</span>
        </template>
        <template #item.examType="{item}">{{ examTypeToDisplayValue(item.examType) }}</template>
        <template #item.duration="{value}">{{ value }}</template>
        <template #item.action="{item}">
          <v-menu min-width="300px">
            <template #activator="{ props }">
              <v-btn
                v-bind="props"
                flat
                :loading="isDeletingExam"
                size="small"
              >
                <v-icon icon="mdi-dots-horizontal" size="x-large" />
              </v-btn>
            </template>
            <v-list class="py-0">
              <v-list-item
                prepend-icon="mdi-pencil-outline"
                title="Bearbeiten"
                :to="{name: 'admin-exams-exam',
                      params: {examId: item._id}}"
              />
              <v-divider />
              <v-list-item
                class="text-error"
                prepend-icon="mdi-delete-outline"
                title="Löschen"
                value="delete"
                @click="onDelete(item)"
              />
            </v-list>
          </v-menu>
        </template>
      </v-data-table>
    </v-card>

    <v-card v-if="finishedExams.length" border variant="flat">
      <v-card-title class="pt-4">
        <h2>Abgeschlossene Klausuren</h2>
      </v-card-title>
      <v-data-table
        :headers="finishedExamHeaders"
        :items="finishedExams"
        items-per-page="10"
        items-per-page-text="Anzahl Klausuren:"
        :loading="isLoadingExams"
        no-data-text="Keine Klausuren vorhanden"
        :search="search"
        :sort-by="sortBy"
        @click:row="onFinishedExamRowClick"
      >
        <template #top>
          <v-card-title class="pt-4">
            <v-text-field
              v-model="search"
              density="compact"
              flat
              hide-details
              label="Suche"
              prepend-inner-icon="mdi-magnify"
              single-line
              variant="solo-filled"
            />
          </v-card-title>
        </template>
        <template #item.name="{value}">{{ value }}</template>
        <template #item.date="{value}">{{ new Date(value).toLocaleDateString() }}</template>
        <template #item.examType="{item}">{{ examTypeToDisplayValue(item.examType) }}</template>
        <template #item.duration="{value}">{{ value }}</template>
        <template #item.action="{item}">
          <v-menu min-width="300px">
            <template #activator="{ props }">
              <v-btn
                v-bind="props"
                flat
                size="small"
              >
                <v-icon icon="mdi-dots-horizontal" size="x-large" />
              </v-btn>
            </template>
            <v-list class="py-0">
              <v-list-item
                prepend-icon="mdi-pencil-outline"
                title="Schnitt anpassen"
                :to="{name: 'admin-grade-exam-thresholds',
                      params: {examId: item._id}}"
              />
              <v-list-item
                prepend-icon="mdi-pencil-outline"
                title="Punkte anpassen"
                :to="{name: 'admin-exam-points',
                      params: {examId: item._id}}"
              />
              <v-divider />
            </v-list>
          </v-menu>
        </template>
      </v-data-table>
    </v-card>
  </page-layout>
</template>

<script lang="ts">
  import PageLayout from '@/components/PageLayout.vue'
  import { defineComponent, onMounted, ref } from 'vue'
  import { provideExams } from '@/providers/exams'
  import {
    VBtn,
    VCard,
    VCardTitle,
    VDataTable,
    VDivider,
    VIcon,
    VList,
    VListItem,
    VMenu,
    VTextField,
  } from 'vuetify/components'
  import { provideExam } from '@/providers/exam'
  import { Exam } from '@/model/types/exam'
  import { useRouter } from 'vue-router'
  import { providePageAlert } from '@/providers/pageAlert'

  export default defineComponent({
    name: 'AdminExamList',
    components: {
      VBtn,
      VCard,
      VCardTitle,
      VDataTable,
      VDivider,
      VIcon,
      VList,
      VListItem,
      VMenu,
      VTextField,
      PageLayout,
    },
    setup() {
      const { exams, getExams, isLoadingExams } = provideExams()
      const { isDeletingExam, deleteExam } = provideExam()
      const alert = providePageAlert()
      const search = ref('')
      const sortBy = [{ key: 'date', order: 'asc' }] as const
      const router = useRouter()

      onMounted(async () => {
        await getExams()
      })

      return {
        exams,
        isLoadingExams,
        isDeletingExam,
        deleteExam,
        getExams,
        alert,
        search,
        sortBy,
        router,
      }
    },
    data() {
      return {
        examHeaders: [
          {
            title: 'Name',
            sortable: true,
            key: 'name',
          },
          {
            title: 'Datum',
            sortable: true,
            key: 'date',
          },
          {
            title: 'Art',
            sortable: true,
            key: 'examType',
          },
          {
            title: 'Dauer',
            sortable: true,
            key: 'duration',
          },
          {
            title: '',
            sortable: false,
            key: 'action',
            align: 'end',
          },
        ],
        finishedExamHeaders: [
          {
            title: 'Name',
            sortable: true,
            key: 'name',
          },
          {
            title: 'Datum',
            sortable: true,
            key: 'date',
          },
          {
            title: 'Art',
            sortable: true,
            key: 'examType',
          },
          {
            title: 'Dauer',
            sortable: true,
            key: 'duration',
          },
          {
            title: '',
            sortable: false,
            key: 'action',
            align: 'end',
          },
        ],
      }
    },
    computed: {
      examsToday() {
        return this.exams.filter(exam => {
          const examDate = new Date(exam.date).toLocaleDateString()
          const today = new Date().toLocaleDateString()
          return examDate === today
        })
      },
      upcomingExams() {
        return this.exams.filter(exam =>
          exam.endTime === -1 || new Date(exam.endTime) > new Date()
        )
      },
      finishedExams() {
        return this.exams.filter(exam => {
          const examEndTime = new Date(exam.endTime).getTime()
          const now = new Date().getTime()
          return now >= examEndTime && exam.endTime !== -1
        })
      },
    },
    methods: {
      onExamRowClick(_: any, row: any) {
        this.router.push({
          name: 'admin-exams-exam',
          params: { examId: row.item._id },
        })
      },
      onFinishedExamRowClick(_: any, row: any) {
        this.router.push({
          name: 'admin-grade-exams',
          params: { examId: row.item._id },
        })
      },
      async onDelete(exam: Exam) {
        if (confirm('Wollen Sie die Klausur wirklich löschen?')) {
          await this.deleteExam(exam._id)
            .then(
              async () => {
                this.alert.value = {
                  title: 'Gelöscht',
                  text: `Klausur ${exam.name} gelöscht`,
                  type: 'success',
                }
                await this.getExams()
              }
            )
        }
      },
      examTypeToDisplayValue(examType: string) {
        switch (examType) {
          case 'exam':
            return 'Klausur'
          case 'old-exam':
            return 'Altklausur'
          case 'test-exam':
            return 'Probeklausur'
          default:
            return 'Unbekannt'
        }
      },
    },
  })
</script>

<style scoped lang="scss">
.mb-4 {
  margin-bottom: 1rem;
}
</style>
