<template>
  <page-layout
    :back-link="{name: 'admin-grade-exams', params: {examId: route.params.examId}}"
    size="small"
    :title="formValues.exam.name"
  >
    <template #actions>
      <v-row dense>
        <v-col>
          <v-btn
            color="primary"
            :form="formId"
            :loading="isSubmitting"
            size="small"
            text="Speichern"
            type="submit"
            variant="flat"
          />
        </v-col>
      </v-row>
    </template>
    <v-form :id="formId" @submit.prevent="onSubmit">
      <div v-for="(task, index) in formValues.exam.tasks" :key="task._id" class="task-container">
        <v-row :id="'rowIndex-' + index">
          <v-col :span="18">
            <div
              v-if="task.data.description"
              v-html="markdownToHtml(task)"
            />
            <component
              :is="`exam-${task.tag}`"
              v-if="task.tag !== 'info-task'"
              :key="`koan-task-${index}`"
              :exam-solution="getSolutions(task)"
              :is-read-only="true"
              :task="task"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col v-if="task.tag !== 'info-task'" class="points" :span="6">
            <field
              v-slot="{componentField, errorMessage}"
              label="Punkte"
              name="maxPoints"
            >
              <v-number-input
                v-if="task.tag !== 'info-task'"
                v-model="formValues.userExamSolutions.find(
                  solution => solution.userId === route.params.userId
                ).examSolutions.find(
                  solution => solution.examTaskId === task._id
                ).points"
                class="pointsInput"
                controls-position="right"
                :max="task.data.maxPoints"
                :min="0"
                @update:model-value="componentField['onUpdate:modelValue']"
              />
              <span class="maxPoints">&nbsp; &nbsp;/ {{ task.data.maxPoints }} Punkten</span>
            </field>
          </v-col>
        </v-row>
      </div>
    </v-form>

    <v-row class="submitTrailing" dense>
      <v-btn
        color="primary"
        :form="formId"
        :loading="isSubmitting"
        size="small"
        text="Speichern"
        type="submit"
        variant="flat"
      />
    </v-row>
  </page-layout>
</template>

<script lang="ts">
  import { defineComponent, onMounted } from 'vue'
  import { provideExam } from '@/providers/exam'
  import { useRoute, useRouter } from 'vue-router'
  import PageLayout from '@/components/PageLayout.vue'
  import { marked } from 'marked'
  import { VBtn, VCol, VForm, VRow } from 'vuetify/components'
  import { Field, useForm } from 'vee-validate'
  import { Exam } from '@/model/types/exam'
  import { VNumberInput } from 'vuetify/labs/components'
  import { provideExamSolutions } from '@/providers/examSolutions'
  import { provideUserExamSolutions } from '@/providers/userExamSolutions'
  import { UserExamSolution } from '@/model/types/userExamSolution'
  import ExamCodeTask from '@/components/exam/task/code/ExamCodeTask.vue'
  import ExamKoanTask from '@/components/exam/task/koan/ExamKoanTask.vue'
  import ExamSingleChoiceTask from '@/components/exam/task/single-choice/ExamSingleChoiceTask.vue'
  import ExamMultipleChoiceTask from '@/components/exam/task/multiple-choice/ExamMultipleChoiceTask.vue'
  import ExamReflectionTask from '@/components/exam/task/reflection/ExamReflectionTask.vue'

  export default defineComponent({
    name: 'AdminExamPoints',
    components: {
      ExamCodeTask,
      ExamKoanTask,
      ExamSingleChoiceTask,
      ExamMultipleChoiceTask,
      ExamReflectionTask,
      Field,
      VRow,
      VCol,
      VForm,
      VBtn,
      VNumberInput,
      PageLayout,
    },
    setup() {
      const { exam, getExam } = provideExam()
      const { userExamSolutions, getUserExamSolutions } = provideUserExamSolutions()
      const { updateExamSolutions } = provideExamSolutions()
      const route = useRoute()
      const router = useRouter()
      const formId = Symbol('formId').toString()

      interface FormValues {
        exam: Exam
        userExamSolutions: UserExamSolution[]
      }

      const {
        isSubmitting,
        handleSubmit,
        resetForm,
        values: formValues,
        setFieldValue,
      } = useForm<Omit<FormValues, '_id'>>({
        initialValues: {
          exam: {
            name: '',
            date: new Date().getTime(),
            duration: 90,
            lecture: '',
            semester: '',
            isOpen: false,
            tasks: [],
            startTime: -1,
            endTime: -1,
            examType: 'exam',
          },
          userExamSolutions: [
            {
              examTaskId: '',
              userId: '',
              examSolution: [],
            },
          ],
        },
      })

      onMounted(async () => {
        try {
          const response = await getExam(route.params.examId)
          const solutions = await getUserExamSolutions(route.params.examId)
          const val: FormValues = {
            exam: response,
            userExamSolutions: solutions,
          }
          resetForm({
            values: val,
          })
        } catch (error) {
          console.error('Error loading exam data:', error)
        }
      })

      function getNextExamSolution() {
        const current = userExamSolutions.value.indexOf(
          solution => solution.userId === this.route.params.userId)
        if (current < userExamSolutions.length - 1) {
          return userExamSolutions[current + 1]._id
        }
        return null
      }

      const onSubmit = handleSubmit(async values => {
        try {
          await updateExamSolutions(values.userExamSolutions[0].examSolutions)
          const nextUserId = getNextExamSolution()
          if (nextUserId) {
            await router.push({
              name: 'admin-grade-exams-exam',
              params: { examId: route.params.examId, userId: nextUserId },
            })
          }
          await router.push({ name: 'admin-grade-exams', params: { examId: route.params.examId } })
        } catch (error) {
          console.error('Error updating exam:', error)
        }
      })

      return {
        exam,
        userExamSolutions,
        router,
        route,
        formId,
        isSubmitting,
        handleSubmit,
        resetForm,
        formValues,
        setFieldValue,
        onSubmit,
      }
    },
    mounted() {
      this.$nextTick(() => {
        setTimeout(() => {
          const taskIndex = this.route.params.taskIndex
          if (taskIndex) {
            const row: HTMLElement = document.getElementById('rowIndex-' + taskIndex)
            if (row) {
              row.scrollIntoView({ behavior: 'smooth' })
            }
          }
        }, 1000)
      })
    },
    methods: {
      markdownToHtml(task) {
        try {
          return marked.parse(task.data.description.trim())
        } catch (error) {
          console.error(
            'Error rendering Markdown: Please check the input: ' +
              task.data.description.trim(),
            error
          )
          return '<p>' + task.data.description.trim() + '</p>'
        }
      },
      getTaskTag(task) {
        return `exam-${task.tag}`
      },
      getSolutions(task) {
        return this.userExamSolutions
          .find((solution: UserExamSolution) => solution.userId === this.route.params.userId)
          .examSolutions
          .find(solution => solution.examTaskId === task._id)
      },
    },
  })
</script>

<style scoped lang="scss">
.task-container {
  margin-bottom: 20px;
}

.points {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pointsInput {
  font-weight: bold;
  font-size: 20px;
  min-width: 2ch;
  max-width: 13ch;
}

.maxPoints {
  font-weight: bold;
  font-size: 20px;
}

.submitTrailing {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
</style>
