<template>
  <page-layout back-link size="small" :title="title">
    <template #actions>
      <v-row dense>
        <v-col v-if="exam">
          <v-btn
            label
            :loading="isDeletingExam"
            size="small"
            variant="tonal"
            @click="onDelete"
          >
            <v-icon icon="mdi-delete-outline" size="x-large" />
          </v-btn>
        </v-col>
        <v-col>
          <v-btn
            color="primary"
            :form="formId"
            :loading="isSubmitting"
            size="small"
            text="Speichern"
            type="submit"
            variant="flat"
          />
        </v-col>
      </v-row>
    </template>
    <v-form :id="formId" ref="form" @submit.prevent="onSubmit">
      <v-row>
        <v-col>
          <v-card border variant="flat">
            <v-card-text>
              <v-row>
                <v-col>
                  <field
                    v-slot="{ componentField, errorMessage }"
                    label="Vorlesung"
                    name="lecture"
                  >
                    <v-select
                      :error-messages="errorMessage"
                      item-title="name"
                      item-value="_id"
                      :items="lectures"
                      label="Vorlesung"
                      :model-value="componentField.modelValue"
                      :name="componentField.name"
                      @update:model-value="componentField['onUpdate:modelValue']"
                    />
                  </field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <field
                    v-slot="{ componentField, errorMessage }"
                    label="Semester"
                    name="semester"
                    rules="required"
                  >
                    <v-select
                      :error-messages="errorMessage"
                      item-title="name"
                      item-value="_id"
                      :items="semesters"
                      label="Semester"
                      :model-value="componentField.modelValue"
                      :name="componentField.name"
                      @update:model-value="componentField['onUpdate:modelValue']"
                    />
                  </field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <field
                    v-slot="{ componentField, errorMessage }"
                    label="Dauer"
                    name="duration"
                    rules="required"
                  >
                    <v-select
                      :error-messages="errorMessage"
                      item-title="duration"
                      :items="[60, 90, 120]"
                      label="Dauer"
                      :model-value="componentField.modelValue"
                      :name="componentField.name"
                      @update:model-value="componentField['onUpdate:modelValue']"
                    />
                  </field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <field
                    v-slot="{ componentField, errorMessage }"
                    label="Klausurtyp"
                    name="examType"
                    rules="required"
                  >
                    <v-select
                      :error-messages="errorMessage"
                      item-title="examType"
                      :items="['Klausur', 'Probeklasusur', 'Altklausur']"
                      label="Klausurtyp"
                      :model-value="examTypToDisplayValue(componentField.modelValue)"
                      @update:model-value="componentField['onUpdate:modelValue']"
                    />
                  </field>
                </v-col>
              </v-row>
              <v-row
                v-if="isNotOldExam"
              >
                <v-col>
                  <field
                    v-if="isNotOldExam"
                    v-slot="{ componentField, errorMessage, handleInput }"
                    label="Datum"
                    name="date"
                    rules="required"
                  >
                    <date-picker
                      v-if="isNotOldExam"
                      :error-messages="errorMessage"
                      label="Datum"
                      :model-value="componentField.modelValue ? new Date(componentField.modelValue) : undefined"
                      :name="componentField.name"
                      required
                      @update:model-value="handleInput($event.getTime())"
                    />
                  </field>
                </v-col>
              </v-row>
              <v-row v-if="!isNotOldExam">
                <v-col>
                  <field
                    v-slot="{ componentField, errorMessage }"
                    label="Name"
                    name="name"
                  >
                    <v-text-field
                      :error-messages="errorMessage"
                      label="Name"
                      :model-value="componentField.modelValue"
                      :name="componentField.name"
                      @update:model-value="componentField['onUpdate:modelValue']"
                    />
                  </field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <field
                    v-if="!exam ||!exam.tasks || exam.tasks.length === 0"
                    v-slot="{ componentField, errorMessage }"
                    label="Aufgaben zuweisen"
                    name="tasks"
                  >
                    <v-select
                      :error-messages="errorMessage"
                      item-title="displayName"
                      item-value="id"
                      :items="mapCoursesToDisplayValue"
                      label="Aufgaben zuweisen"
                      multiple
                      @update:model-value="updateSelectTasks"
                    />
                  </field>
                  <field
                    v-else
                    v-slot="{ componentField, errorMessage }"
                    label="Bewertung anpassen"
                    name="tasks"
                  >
                    <v-btn
                      color="primary"
                      flat
                      label="Bewertung anpassen"
                      size="small"
                      text="Bewertung anpassen"
                      :to="{name: 'admin-exam-points', props: {examId: exam._id}}"
                    >
                      Bewertung anpassen
                    </v-btn>
                  </field>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-form>
  </page-layout>
</template>

<script lang="ts">
  import PageLayout from '@/components/PageLayout.vue'
  import DatePicker from '@/components/DatePicker.vue'
  import { provideExam } from '@/providers/exam'
  import { computed, defineComponent, onMounted } from 'vue'
  import { useRoute, useRouter } from 'vue-router'
  import {
    VBtn,
    VCard,
    VCardText,
    VCol,
    VForm,
    VIcon,
    VMenu,
    VRow,
    VSelect,
    VTextField,
  } from 'vuetify/components'
  import { provideSemesters } from '@/providers/semesters'
  import { provideLectures } from '@/providers/lectures'
  import { Field, useForm } from 'vee-validate'
  import { Exam } from '@/model/types/exam'
  import { provideCourses } from '@/providers/courses'
  import { usePageSnackbarOrThrow } from '@/providers/pageSnackbar'
  import { providePageAlert } from '@/providers/pageAlert'

  export default defineComponent({
    name: 'AdminExams',
    components: {
      Field,
      VForm,
      VBtn,
      VCol,
      VRow,
      VIcon,
      VSelect,
      VTextField,
      VMenu,
      VCard,
      VCardText,
      DatePicker,
      PageLayout,
    },
    setup() {
      const { exam, getExam, isDeletingExam, deleteExam, createExam, updateExam, assignTasks } = provideExam()
      const { semesters, getSemesters } = provideSemesters()
      const { lectures, getLectures } = provideLectures()
      const { courses, getCourses } = provideCourses()
      const route = useRoute()
      const router = useRouter()
      const formId = Symbol('formId').toString()
      const alert = providePageAlert()
      const { snackbar, show } = usePageSnackbarOrThrow()
      const {
        isSubmitting,
        handleSubmit,
        resetForm,
        values: formValues,
        setFieldValue,
      } = useForm<Omit<Exam, '_id'>>({
        initialValues: {
          name: '',
          date: new Date().getTime(),
          duration: 90,
          lecture: '',
          semester: '',
          isOpen: false,
          tasks: [],
          startTime: -1,
          endTime: -1,
          examType: 'exam',
          password: '',
          gradeThresholds: {
            top: 1.0,
            bottom: 0.5,
          },
        },
      })
      let selectedTasks = []

      const isNotOldExam = computed(() => {
        return formValues.examType !== 'Altklausur' && formValues.examType !== 'old-exam'
      })

      onMounted(async () => {
        if (route.params.examId) {
          const response = await getExam(route.params.examId)
          resetForm({ values: response })
          setFieldValue('lecture', response.lecture)
          setFieldValue('semester', response.semester)
          await getSemesters()
          await getLectures()
        } else {
          await getSemesters()
          await getLectures()
          if (lectures.value.length > 0) {
            setFieldValue('lecture', lectures.value[0]._id)
          }
          if (semesters.value.length > 0) {
            setFieldValue('semester', semesters.value[semesters.value.length - 1]._id)
          }
        }

        await getCourses()
      })

      function setExamName(exam: Exam) {
        const lecture = lectures.value.find(
          lecture => lecture._id === exam.lecture
        )
        const semester = semesters.value.find(
          semester => semester._id === exam.semester
        )
        return `${lecture.name} - ${semester.name}`
      }

      function getExamType(displayedType: String) {
        switch (displayedType) {
          case 'Klausur':
            return 'exam'
          case 'Probeklasusur':
            return 'test-exam'
          case 'Altklausur':
            return 'old-exam'
          default:
            return displayedType
        }
      }

      async function onDelete() {
        if (!exam) {
          return
        }
        if (confirm('Wollen Sie die Klausur wirklich löschen?')) {
          await deleteExam(exam.value._id)
            .then(
              async () => {
                alert.value = {
                  title: 'Gelöscht',
                  text: `Klausur ${exam.name} wurde gelöscht`,
                  type: 'success',
                }
                await router.push({ name: 'admin-exams' })
              }
            )
            .catch(() => {
              alert.value = {
                title: 'Fehler',
                text: `Klausur ${this.exam.name} konnte nicht gelöscht werden`,
                type: 'error',
              }
            })
        }
      }

      function updateSelectTasks(tasks) {
        selectedTasks = tasks.map(task => ({
          courseId: task.courseId,
          chapterId: task.chapterId,
        }))
      }

      function examTypToDisplayValue(examType: string) {
        switch (examType) {
          case 'exam':
            return 'Klausur'
          case 'test-exam':
            return 'Probeklausur'
          case 'old-exam':
            return 'Altklausur'
          default:
            return examType
        }
      }

      const onSubmit = handleSubmit(async values => {
        if (!values.name && values.name.length === 0) {
          values.name = setExamName(values)
        }
        values.examType = getExamType(values.examType)
        if (values.examType === 'old-exam') {
          values.date = -1
        }
        try {
          await (exam.value ? updateExam(exam.value._id, values) : createExam(values))
            .then(async response => {
              if (selectedTasks.length > 0) {
                await assignTasks(
                  response.data._id,
                  selectedTasks
                )
              }
            }
            )
          snackbar.value = {
            text: `Klausur ${values.name} wurde ${exam.value ? 'geändert' : 'erstellt'}`,
            color: 'success',
          }
          show()
          await router.push({ name: 'admin-exams' })
        } catch (error) {
          alert.value = {
            title: 'Fehler',
            text: `Klausur konnte nicht ${exam.value ? 'geändert' : 'erstellt'} werden`,
            type: 'error',
          }
        }
      })

      return {
        exam,
        semesters,
        lectures,
        courses,
        route,
        router,
        alert,
        show,
        snackbar,
        isDeletingExam,
        selectedTasks,
        deleteExam,
        createExam,
        updateExam,
        assignTasks,
        examTypToDisplayValue,
        updateSelectTasks,
        onDelete,
        onSubmit,
        formId,
        isSubmitting,
        handleSubmit,
        resetForm,
        formValues,
        setFieldValue,
        isNotOldExam,
      }
    },
    computed: {
      title() {
        return this.route.params.examId ? 'Klausur bearbeiten' : 'Klausur erstellen'
      },
      mapCoursesToDisplayValue() {
        // Flatten the list of courses and chapters
        return this.courses.flatMap(course =>
          course.chapters.map(chapter => ({
            id: { courseId: course._id, chapterId: chapter._id }, // Unique identifier
            displayName: `${course.title} - ${chapter.title}`, // Display value
          }))
        )
      },
    },
  })
</script>
