<template>
  <page-layout
    :back-link="{name: 'admin-exams'}"
    size="small"
    title="Klausuren"
  >
    <v-card border variant="flat">
      <v-data-table
        :headers="headers"
        :items="userExamSolutions"
        items-per-page="10"
        items-per-page-text="Anzahl Klausuren:"
        :loading="isLoadingUserExamSolutions"
        no-data-text="Keine Klausuren vorhanden"
        :search="search"
        :sort-by="sortBy"
        @click:row="handleRowClick"
      >
        <template #top>
          <v-card-title class="pt-4">
            <v-text-field
              v-model="search"
              density="compact"
              flat
              hide-details
              label="Suche"
              prepend-inner-icon="mdi-magnify"
              single-line
              variant="solo-filled"
            />
          </v-card-title>
        </template>
        <template #item.userName="{value}">{{ value }}</template>
        <template #item.studentNumber="{value}">{{ value }}</template>
        <template #item.mark="{value}">{{ value }}</template>
      </v-data-table>
    </v-card>
  </page-layout>
</template>

<script lang="ts">

  import { defineComponent, onMounted, ref } from 'vue'
  import PageLayout from '@/components/PageLayout.vue'
  import { useRoute, useRouter } from 'vue-router'
  import { VCard, VCardTitle, VDataTable, VTextField } from 'vuetify/components'
  import { provideUserExamSolutions } from '@/providers/userExamSolutions'
  import { UserExamSolution } from '@/model/types/userExamSolution'

  export default defineComponent({
    name: 'AdminExamGradeList',
    components: {
      PageLayout,
      VTextField,
      VCard,
      VCardTitle,
      VDataTable,
      VCard,
    },
    setup() {
      const search = ref('')
      const sortBy = [{ key: 'userName', order: 'asc' }] as const
      const { userExamSolutions, isLoadingUserExamSolutions, getUserExamSolutions } = provideUserExamSolutions()
      const route = useRoute()
      const router = useRouter()
      const headers = [
        {
          title: 'Name',
          sortable: true,
          key: 'userName',
        },
        {
          title: 'Matrikelnummer',
          sortable: true,
          key: 'studentNumber',
        },
        {
          title: 'Note',
          sortable: true,
          key: 'mark',
        },
      ]

      onMounted(async () => {
        await getUserExamSolutions(route.params.examId)

        // ensures each mark is displayed with decimal point
        userExamSolutions.value.forEach((solution: UserExamSolution) => {
          solution.mark = solution.mark.toFixed(1)
        })
      })
      return {
        router,
        route,
        userExamSolutions,
        isLoadingUserExamSolutions,
        search,
        sortBy,
        headers,
      }
    },
    methods: {
      handleRowClick(_: any, row: any) {
        this.router.push({
          name: 'admin-grade-exams-exam',
          params: { examId: this.route.params.examId, userId: row.item.userId },
        })
      },
    },
  })
</script>

<style scoped lang="scss"></style>
