<template>
  <page-layout back-link size="small" :title="formValues.name">

    <template #actions>
      <v-row dense>
        <v-col>
          <v-btn
            color="primary"
            :form="formId"
            :loading="isSubmitting"
            size="small"
            text="Speichern"
            type="submit"
            variant="flat"
          />
        </v-col>
      </v-row>
    </template>
    <v-form :id="formId" @submit.prevent="onSubmit">
      <div v-for="(task) in formValues.tasks" :key="task._id" class="task-container">
        <v-row>
          <v-col :span="18">
            <div
              v-if="task.data.description"
              v-html="markdownToHtml(task)"
            />
            <component
              :is="`exam-${task.tag}`"
              :exam-solution="examSolution(task._id)"
              :is-read-only="true"
              :task="task"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col v-if="task.tag !== 'info-task'" class="points" :span="6">
            <field
              v-slot="{componentField, errorMessage}"
              label="Punkte"
              name="maxPoints"
            >
              <v-number-input
                v-model="task.data.maxPoints"
                class="pointsInput"
                controls-position="right"
                label="Punkte"
                label-position="right"
                :max="100"
                :min="0"
                @update:model-value="componentField['onUpdate:modelValue']"
              />
            </field>
          </v-col>
        </v-row>
      </div>
      <v-row class="submitTrailing" dense>
        <v-col>
          <v-btn
            color="primary"
            :form="formId"
            :loading="isSubmitting"
            size="small"
            text="Speichern"
            type="submit"
            variant="flat"
          />
        </v-col>
      </v-row>
    </v-form>
  </page-layout>
</template>

<script lang="ts">
  import { defineComponent, onMounted } from 'vue'
  import { provideExam } from '@/providers/exam'
  import { useRoute, useRouter } from 'vue-router'
  import PageLayout from '@/components/PageLayout.vue'
  import { marked } from 'marked'
  import { VBtn, VCol, VForm, VRow } from 'vuetify/components'
  import { Field, useForm } from 'vee-validate'
  import { Exam } from '@/model/types/exam'
  import ExamKoanTask from '@/components/exam/task/koan/ExamKoanTask.vue'
  import ExamCodeTask from '@/components/exam/task/code/ExamCodeTask.vue'
  import ExamMultipleChoiceTask from '@/components/exam/task/multiple-choice/ExamMultipleChoiceTask.vue'
  import ExamSingleChoiceTask from '@/components/exam/task/single-choice/ExamSingleChoiceTask.vue'
  import ExamReflectionTask from '@/components/exam/task/reflection/ExamReflectionTask.vue'
  import { VNumberInput } from 'vuetify/labs/components'

  export default defineComponent({
    name: 'AdminExamPoints',
    components: {
      Field,
      VRow,
      VCol,
      VForm,
      VBtn,
      VNumberInput,
      PageLayout,
      ExamKoanTask,
      ExamCodeTask,
      ExamMultipleChoiceTask,
      ExamSingleChoiceTask,
      ExamReflectionTask,
    },
    setup() {
      const { exam, getExam, updateExam } = provideExam()
      const route = useRoute()
      const router = useRouter()
      const formId = Symbol('formId').toString()
      const {
        isSubmitting,
        handleSubmit,
        resetForm,
        values: formValues,
        setFieldValue,
      } = useForm<Omit<Exam, '_id'>>({
        initialValues: {
          name: '',
          date: new Date().getTime(),
          duration: 90,
          lecture: '',
          semester: '',
          isOpen: false,
          tasks: [],
          startTime: -1,
          endTime: -1,
          examType: 'exam',
        },
      })

      onMounted(async () => {
        try {
          const response = await getExam(route.params.examId)
          resetForm({ values: response })
        } catch (error) {
          console.error('Error loading exam data:', error)
        }
      })

      const onSubmit = handleSubmit(async values => {
        try {
          await updateExam(values._id, values)
          await router.push({ name: 'admin-exams' })
        } catch (error) {
          console.error('Error updating exam:', error)
        }
      })

      const examSolution = taskId => {
        return {
          solvedWith: formValues.tasks.find(solution => solution.examTaskId === taskId)?.data.solutions,
        }
      }

      return {
        exam,
        updateExam,
        router,
        route,
        formId,
        isSubmitting,
        handleSubmit,
        resetForm,
        formValues,
        setFieldValue,
        onSubmit,
        examSolution,
      }
    },
    methods: {
      markdownToHtml(task) {
        try {
          return marked.parse(task.data.description.trim())
        } catch (error) {
          console.error(
            'Error rendering Markdown: Please check the input: ' +
              task.data.description.trim(),
            error
          )
          return '<p>' + task.data.description.trim() + '</p>'
        }
      },
      getTaskTag(task) {
        return `exam-${task.tag}`
      },
    },
  })
</script>

<style scoped lang="scss">
.points {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pointsInput {
  min-width: 2ch;
  max-width: 20ch;
}

.submitTrailing {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
</style>
