<template>
  <v-row class="w-75">
    <v-col>
      <code-mirror
        v-if="!isReadOnly"
        v-model="inputValue"
        autofocus
        :extensions="[
          highlightActiveLine(),
          highlightActiveLineGutter(),
          autocompletion(),
          keymap.of([
            {
              key: 'Tab',
              preventDefault: true,
              run: insertTab,
            },
            {
              key: 'Shift-Tab',
              preventDefault: true,
              run: indentLess,
            },
          ]),
          EditorView.theme({
            '&.cm-focused': {
              outline: 'none',
            },
          }),
        ]"
      />
      <v-text-field
        v-else
        v-model="inputValue"
        autofocus
        class="w-50"
        density="compact"
        hide-details
        :readonly="isReadOnly"
        variant="outlined"
      />
    </v-col>
  </v-row>
</template>

<script lang="ts">
  import CodeMirror from '@/components/CodeMirror.vue'
  import { VCol, VRow, VTextField } from 'vuetify/components'
  import { EditorState } from '@codemirror/state'
  import { EditorView, highlightActiveLine, highlightActiveLineGutter, keymap } from '@codemirror/view'
  import { autocompletion } from '@codemirror/autocomplete'
  import { indentLess, insertTab } from '@codemirror/commands'
  import { defineComponent } from 'vue'

  export default defineComponent({
    name: 'ExamCodeTaskBlank',
    components: { CodeMirror, VRow, VCol, VTextField },
    props: {
      savedSolution: {
        type: Object,
        required: true,
      },
      isReadOnly: {
        type: Boolean,
        default: false,
      },
    },
    setup() {
      return {
        editorView: EditorView,
        editorState: EditorState,
        highlightActiveLine,
        highlightActiveLineGutter,
        keymap,
        autocompletion,
        indentLess,
        insertTab,
      }
    },
    data() {
      return {
        inputValue: this.savedSolution.solution || '',
      }
    },
    computed: {
      EditorView() {
        return EditorView
      },
    },
    watch: {
      inputValue(value) {
        this.$emit('task-progress', {
          solutionId: this.savedSolution._id,
          value,
          correctness: false,
        })
      },
      savedSolution: {
        immediate: true,
        handler(value) {
          if (value && value.solution) {
            this.inputValue = value.solution || ''
          }
        },
      },
    },
  })
</script>
