<template>
  <div :id="`task-${task._id}`" class="exam-code-task">
    <exam-code-task-blank
      v-if="task"
      :key="`${task._id}`"
      class="code-task-input"
      :data-id="task._id"
      :is-read-only="isReadOnly"
      :saved-solution="examSolution?.solvedWith?.[0] || {}"
      @task-progress="handleTaskProgress"
    />

    <code-mirror
      :extensions="[codeInputPlugin, editorState.readOnly.of(true), lineNumbers(), editorView.baseTheme({
        ':is(.cm-widgetBuffer:has(+ .code-task-input), .code-task-input + .cm-widgetBuffer)': {
          display: 'none'
        },
        '.cm-line:has(> .code-task-input)': {padding: 0}
      })]"
      :model-value="task.data.code"
    />
  </div>
</template>

<script lang="ts">
  import CodeMirror from '@/components/CodeMirror.vue'
  import { defineComponent } from 'vue'
  import ExamCodeTaskBlank from '@/components/exam/task/code/ExamCodeTaskBlank.vue'
  import { CodeInputPlugin } from '@/components/exam/task/code/codeInputPlugin'
  import { EditorState } from '@codemirror/state'
  import { EditorView, lineNumbers } from '@codemirror/view'
  export default defineComponent({
    name: 'ExamCodeTask',
    components: {
      ExamCodeTaskBlank,
      CodeMirror,
    },
    props: {
      task: {
        type: Object,
        required: true,
      },
      examSolution: {
        type: Object,
        required: true,
      },
      isReadOnly: {
        type: Boolean,
        default: false,
        required: false,
      },
    },
    emits: ['task-progress'],
    setup(props) {
      const taskId = `task-${props.task._id}`
      const codeInputPlugin = CodeInputPlugin(taskId, props.isReadOnly)

      return {
        codeInputPlugin,
        editorState: EditorState,
        editorView: EditorView,
        lineNumbers,
      }
    },
    methods: {
      handleTaskProgress(solvedData: any) {
        this.$emit('task-progress', solvedData)
      },
    },
  })
</script>
