<template>
  <el-container id="wrapper">
    <div id="welcome-box" class="before-background">
      <welcome-banner-content />
      <el-collapse-transition>
        <keep-alive>
          <router-view />
        </keep-alive>
      </el-collapse-transition>
    </div>
    <Background />
  </el-container>
</template>

<script>
import Background from "@/components/auth/Background";
import WelcomeBannerContent from "@/components/auth/AuthBanner";

export default {
  name: "AuthPage",
  components: {
    WelcomeBannerContent,
    Background
  }
};
</script>

<style scoped lang="scss">
#wrapper {
  position: relative;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;

  @include htwg-background-dark;
}

#welcome-box {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1.6rem;
  width: 25rem;
}

.before-background {
  z-index: 90;
}
</style>
