<template>
  <div id="dashboard-wrapper">
    <h1>Dashboard</h1>
    <el-tabs v-model="activeName" @tab-click="goToRoute">
      <el-tab-pane label="Übersicht" :name="tabIndexNames[0]">
        <router-view />
      </el-tab-pane>
      <el-tab-pane label="Statistik" :name="tabIndexNames[1]">
        <router-view />
      </el-tab-pane>
      <el-tab-pane label="Kalender" :name="tabIndexNames[2]">
        <router-view />
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "DashboardPage",
  data() {
    return {
      activeName: "dashboard",
      tabIndexNames: ["dashboard", "dashboard-statistics", "dashboard-calendar"]
    };
  },
  computed: {
    ...mapState("userStore", ["user"])
  },
  mounted() {
    const tabMatch = this.$route.matched.find(match =>
      this.tabIndexNames.includes(match.name)
    );
    this.activeName = tabMatch ? tabMatch.name : this.tabIndexNames[0];
  },
  methods: {
    ...mapActions("userStore", ["logoutUser"]),
    logout() {
      this.logoutUser().then(() =>
        this.$router.push({ name: "student-login" })
      );
    },
    goToRoute(tab) {
      this.$router.push({ name: tab.name });
    }
  }
};
</script>

<style scoped />
