<template>
  <div>
    <div v-if="quizduell">
      <el-row :gutter="20">
        <el-col v-if="data.currTask" :span="14">
          <el-row>
            <QuizBaseTask
              :currTask="data.currTask"
              :showWithSolution="false"
              v-on:finishedTask="onTaskSolved"
            />
          </el-row>
          <el-row>
            <countdown
              :key="data.currTask.data.description"
              :left-time="data.duration * 1000"
            >
              <span slot="process" slot-scope="{ timeObj }">
                {{ `Verbleibende Zeit: ${timeObj.ceil.s} Sekunden` }}
              </span>
              <span slot="finish"
                >Verbleibende Zeit: 0. <br />
                Warte auf nächsten Task...</span
              >
            </countdown>
            <el-col :span="6"> </el-col>
          </el-row>
          <el-row v-if="isAdmin">
            <el-button @click="skipTask" type="warning"> Skippe Task</el-button>
            <el-button @click="abortQuiz" type="danger"
              >Quiz abbrechen</el-button
            >
          </el-row>
        </el-col>
        <el-col v-else :span="14">
          <el-row v-if="quizduellFinished()">
            <h3>Das Quizduell ist beendet. Die Lösungen sind:</h3>
            <el-collapse v-model="collapsedItems">
              <el-collapse-item
                v-for="(task, i) in data.tasks"
                :key="task._id"
                :title="(i + 1).toString()"
                :name="task._id"
              >
                <QuizBaseTask :currTask="task" :showWithSolution="true" />
              </el-collapse-item>
            </el-collapse>
          </el-row>
          <el-row v-else-if="socket.isConnected && quizduell.isStarted">
            <p>
              <countdown :left-time="quizduell.remainingTime * 1000">
                <span slot="process" slot-scope="{ timeObj }">
                  {{
                    `Das Quizduell "${quizduell.name}" läuft bereits. Du wirst in ${timeObj.ceil.s} Sekunden verbunden.`
                  }}
                </span>
              </countdown>
            </p>
          </el-row>
          <div v-else>
            <el-row>
              <p>Das Quizduell "{{ quizduell.name }}" ist noch nicht aktiv.</p>
            </el-row>
            <el-row v-if="isAdmin">
              <el-button @click="startQuiz" type="primary"
                >Starte vorbereitetes Quiz</el-button
              >
              <el-button @click="abortQuiz" type="danger"
                >Quiz abbrechen
              </el-button>
            </el-row>
          </div>
        </el-col>
        <el-col :span="10">
          <div class="table-wrapper">
            <el-table
              :data="getUserSortedByScore"
              :row-class-name="tableRowClassName"
            >
              <el-table-column prop="username" label="Name"> </el-table-column>
              <el-table-column prop="score" label="Punkte"> </el-table-column>
            </el-table>
          </div>
        </el-col>
      </el-row>
    </div>
    <div v-else>
      <div v-if="notEnrolled.status">
        <el-alert type="warning" :closable="false" effect="dark">
          Es findet aktuell ein Quizduell statt. Du bist allerdings nicht in
          {{ notEnrolled.semester }} /
          {{ notEnrolled.lecture }} eingeschrieben</el-alert
        >
      </div>
      <div v-else>
        <el-row>
          <el-alert type="info" :closable="false" effect="dark">
            Aktuell findet kein Quizduell statt.</el-alert
          >
        </el-row>
      </div>
    </div>
  </div>
</template>

<script>
import QuizBaseTask from "@/components/learn/quiz/QuizBaseTask";
import { mapActions, mapGetters, mapState } from "vuex";
import axiosInstance from "@/utils/axios";
import WebsocketSenderMixin from "@/mixins/WebsocketSenderMixin";

export default {
  name: "QuizduellPage",
  mixins: [WebsocketSenderMixin],
  components: { QuizBaseTask },
  data() {
    return {
      quizduell: null,
      collapsedItems: [],
      notEnrolled: {
        status: false,
        semester: null,
        lecture: null
      }
    };
  },

  computed: {
    ...mapState(["socket", "data"]),
    ...mapState("userStore", ["user"]),
    ...mapGetters("userStore", ["isAdmin"]),
    ...mapState("lectureStore", ["lectures"]),
    ...mapState("semesterStore", ["semesters"]),

    getUserSortedByScore() {
      return this.data.scoreboard
        .map(d => d)
        .sort((a, b) => {
          return b.score - a.score;
        })
        .map((d, index) => {
          return { username: `${index + 1}. ${d.username}`, score: d.score };
        });
    }
  },
  async created() {
    await this.checkForWebsocket()
      .then(response => {
        if (this.isAdmin) {
          this.quizduell = response.data;
          this.connectMe();
        } else {
          this.user.subscriptions.forEach(sub => {
            if (
              sub.semester === response.data.semester &&
              sub.lecture === response.data.lecture
            ) {
              this.quizduell = response.data;
              this.connectMe();
              return;
            }
          });
          this.setNotEnrolled(response);
        }
      })
      .catch(() => {});
  },
  methods: {
    ...mapActions(["checkForWebsocket"]),
    ...mapActions("lectureStore", ["fetchLectures"]),
    ...mapActions("semesterStore", ["fetchSemesters"]),

    connectMe() {
      if (!this.socket.isConnected) {
        this.$connect();
      }
    },
    setNotEnrolled(response) {
      this.notEnrolled = {
        status: true,
        semester: this.semesters.find(
          semester => semester._id === response.data.semester
        ).name,
        lecture: this.lectures.find(
          lecture => lecture._id === response.data.lecture
        ).name
      };
    },
    skipTask() {
      axiosInstance.get("/quizduell/skip");
    },
    startQuiz() {
      axiosInstance.post("/quizduell/start").then(() => this.connectMe());
    },
    async abortQuiz() {
      await axiosInstance
        .get("/quizduell/abort")
        .then(() => {
          this.quizduell = null;
        })
        .catch(() => {});
    },
    onTaskSolved() {
      this.messageHandler("submit");
    },
    disconnectMe() {
      if (!typeof this.$socket === "undefined" || this.$socket.isConnected) {
        this.$socket.$disconnect();
      }
    },
    tableRowClassName({ row }) {
      return row.username === this.user.username ? "user-row" : "";
    },
    quizduellFinished() {
      if (this.data.isFinished === true) {
        this.collapsedItems = this.data.tasks.map(task => task._id);
        return true;
      } else {
        return false;
      }
    }
  },
  mounted() {
    this.fetchSemesters();
    this.fetchLectures();
  }
};
</script>

<style lang="scss" scoped>
::v-deep .el-table {
  overflow-y: scroll;
  max-width: 100%;
  max-height: 620px;
  .user-row {
    background: rgba(64, 158, 255, 0.16);
  }
}
.quiz-finished {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
