<template>
  <div class="WelcomeBannerContent">
    <img
      id="logo"
      src="/img/codetask/logo-dark-icon-square.svg"
      alt="Logo"
      class="small"
    />
    <img id="title" src="/img/codetask/logo-dark-title.svg" alt="CodeTask" />

    <h3 class="subtitle">
      Learn Scala with ease
    </h3>
    <p>
      Du noch viel Scala lernen musst, junger Padawan.
    </p>
  </div>
</template>

<script>
export default {
  name: "AuthBanner"
};
</script>

<style scoped lang="scss">
.WelcomeBannerContent {
  text-align: center;

  #logo {
    display: block;
    transition: height 0.4s ease-out;
    height: 8rem;
    margin: 0 auto 0.8rem;

    &.small {
      height: 4rem;
      margin: 0 auto 1.4rem;
    }
  }

  .title {
    height: 2rem;
  }

  .subtitle {
    font-size: 1.7rem;
    margin-bottom: 0.6rem;
    // margin: 0;
  }
}
</style>
