<template>
  <div>
    <BackgroundParticles></BackgroundParticles>
    <img
      src="/img/htwg/htwg-letter-c.svg"
      class="htwg-letter"
      style="top: 13%; left: 13%;"
    />
    <img
      src="/img/htwg/htwg-letter-t.svg"
      class="htwg-letter"
      style="bottom: 8%; right: 22%;"
    />

    <div class="htwg-bubble"></div>

    <img
      src="/img/htwg/htwg-in-logo-nodots.png"
      id="htwg-in-logo"
      class="hidden-xs-only"
    />
  </div>
</template>

<script>
import BackgroundParticles from "@/components/effects/BackgroundParticles";
export default {
  components: { BackgroundParticles }
};
</script>

<style scoped lang="scss">
div {
  // background-color: $htwg-color-dark-blue;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
}

#particles-js {
}

.htwg-letter {
  position: absolute;
  transition: transform 0.2s ease-out;
  z-index: 80;

  &:hover {
    transform: scale(1.08);
  }
}

.htwg-bubble {
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: 25%;
  width: 4rem;
  height: 4rem;
  background-color: $htwg-color-soft-blue;
}

#htwg-in-logo {
  width: 18rem;
  position: absolute;
  top: 3.2rem;
  right: 4.2rem;
}
</style>
