<template>
  <page-layout
    :subtitle="activeQuizDuel ? `${activeQuizDuel?.lecture} im ${activeQuizDuel?.semester}` : undefined"
    :title="activeQuizDuel?.quizTaskSet ?? 'Quiz Duell'"
  >
    <v-alert v-if="!activeQuizDuel?.isRunning" text="Momentan findet kein Quiz Duell statt" type="info" variant="tonal" />
    <template
      v-else
    >
      <v-row>
        <v-col>
          <v-alert v-if="isFinish" text="Quiz Duell beendet" type="info" variant="tonal" />
        </v-col>
      </v-row>
      <v-row>

        <v-col v-if="currentTask" :cols="12" :sm="8">
          <v-form :id="formId" @submit.prevent="onSubmit">
            <v-row>
              <v-col>
                <chapter-task-info :task="currentTask" />
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-card>
                  <div class="overflow-y-auto" :style="{'max-height': xs ? '100%' : '50dvh'}">
                    <koan-task
                      v-if="currentTask.tag === 'koan-task'"
                      hide-auto-solve
                      :task="currentTask"
                    />
                    <code-task
                      v-else-if="currentTask.tag === 'code-task'"
                      hide-auto-solve
                      :task="currentTask"
                    />
                  </div>
                  <template v-if="!isFinish">
                    <v-divider />
                    <v-card-actions class="px-4">
                      <v-btn
                        color="primary"
                        :disabled="isSent"
                        flat
                        :form="formId"
                        :loading="isSubmitting"
                        text="Absenden"
                        type="submit"
                        variant="flat"
                      />
                    </v-card-actions>
                  </template>

                </v-card>
              </v-col>
            </v-row>
          </v-form>
        </v-col>
        <v-col :cols="12" order="first" order-sm="last" :sm="4">
          <v-card>
            <template v-if="duration.duration">
              <v-row align="center" class="py-4" justify="center">
                <v-col cols="auto">
                  <quiz-duel-duration-clock :duration />
                </v-col>
              </v-row>
              <v-divider />
            </template>
            <v-row v-if="scores.length">
              <v-col>
                <quiz-duel-scoreboard :scores />
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </template>
  </page-layout>
</template>

<script setup lang="ts">
  import { useForm } from 'vee-validate'
  import PageLayout from '@/components/PageLayout.vue'
  import { VAlert, VBtn, VCard, VCardActions, VCol, VDivider, VForm, VRow } from 'vuetify/components'
  import { providePageLoader } from '@/providers/pageLoader'
  import { useQuizDuelOrThrow } from '@/providers/quizDuel'
  import { useQuizDuelClientOrThrow } from '@/providers/quizDuelClient'
  import { watchImmediate } from '@vueuse/core'
  import CodeTask from '../chapter/components/CodeTask.vue'
  import KoanTask from '../chapter/components/KoanTask.vue'
  import QuizDuelDurationClock from './QuizDuelDurationClock.vue'
  import QuizDuelScoreboard from './QuizDuelScoreboard.vue'
  import ChapterTaskInfo from '../chapter/components/ChapterTaskInfo.vue'
  import type { QuizDuelEvent, QuizDuelScoreboardEvent, QuizDuelSubmitMessageState } from '@/model/types/quizDuelEvent'
  import { computed, ref } from 'vue'
  import { useDisplay } from 'vuetify'
  import { provideTaskProgresses } from '@/providers/taskProgresses'

  const { getActiveQuizDuel, isLoadingActiveQuizDuel, activeQuizDuel } = useQuizDuelOrThrow()
  providePageLoader(isLoadingActiveQuizDuel)
  getActiveQuizDuel()
  const { status, data, send, close, open } = useQuizDuelClientOrThrow()
  const { handleSubmit, isSubmitting, setFieldValue, values: formValues } = useForm<QuizDuelSubmitMessageState>({
    initialValues: {
      solutions: {},
      tasks: [],
    },
  })

  provideTaskProgresses()

  const currentTask = computed(() => formValues.tasks.at(0))
  const formId = Symbol('formId').toString()
  const duration = ref<{duration: number}>({ duration: 0 })
  const scores = ref<QuizDuelScoreboardEvent['msg']['scores']>([])
  const isSent = ref(false)
  const isFinish = ref(false)
  const { xs } = useDisplay()

  watchImmediate(activeQuizDuel, value => {
    if (!value || status.value !== 'CLOSED') {
      return
    }

    open()
    duration.value.duration = activeQuizDuel.value?.remainingTime ?? 0
  })

  watchImmediate(data, value => {
    if (!value) {
      return
    }

    const parsed = JSON.parse(value) as QuizDuelEvent

    switch (parsed.type) {
      case 'task':
        isSent.value = false
        setFieldValue('tasks', [parsed.msg.task, ...formValues.tasks])
        duration.value = { duration: parsed.msg.duration }
        break
      case 'scoreboard':
        scores.value = parsed.msg.scores
        setFieldValue('tasks', [parsed.msg.task, ...formValues.tasks])
        break
      case 'finish':
        scores.value = parsed.msg.scores
        isSent.value = true
        isFinish.value = true
        close()
        break
      default:
        break
    }
  })

  const onSubmit = handleSubmit(async values => {
    send(JSON.stringify({
      type: 'submit',
      msg: {
        solutions: Object.values(values.solutions).filter(value => typeof value === 'string'),
        task: {
          courseId: currentTask.value?.courseId,
          chapterId: currentTask.value?.chapterId,
          taskId: currentTask.value?._id,
        },
      },
    }))
    isSent.value = true
  })
</script>
