<template>
  <v-progress-circular
    :color="timer > 5 ? 'primary' : 'error'"
    :model-value="(duration.duration - timer) * 100 / duration.duration"
    :rotate="360"
    :size="100"
    :width="10"
  >
    <h5 class="text-h5">{{ timer }}</h5>
  </v-progress-circular>
</template>

<script setup lang="ts">
  import { VProgressCircular } from 'vuetify/components'
  import { watchImmediate } from '@vueuse/core'
  import { ref } from 'vue'

  interface Props {
    duration: {duration: number}
  }

  const { duration } = defineProps<Props>()
  const timer = ref()
  const interval = ref<number>()

  function startTimer() {
    clearInterval(interval.value)
    interval.value = setInterval(() => {
      if (timer.value === 0) {
        clearInterval(interval.value)
      } else {
        timer.value--
      }
    }, 1000)
  }

  watchImmediate(() => duration, value => {
    timer.value = value.duration
    startTimer()
  })
</script>
