<template>
  <v-list class="overflow-y-auto py-0" density="compact" :items="scores" style="max-height: 50dvh">
    <v-list-item class="opacity-50">
      <v-row>
        <v-col>Rang</v-col>
        <v-col>Teilnehmer</v-col>
        <v-col class="text-end">Punkte</v-col>
      </v-row>
    </v-list-item>
    <template v-for="(score, index) of scoresByScore" :key="score.username">
      <v-divider v-if="index < scoresByScore.length" />
      <v-list-item>
        <v-row>
          <v-col>
            <v-chip
              :color="index === 0 ? 'warning' : 'grey'"
              size="small"
              :text="(index + 1).toString()"
              variant="flat"
            />
          </v-col>
          <v-col>{{ score.username }}</v-col>
          <v-col class="text-end">{{ score.score }}</v-col>
        </v-row>
      </v-list-item>
    </template>
  </v-list>
</template>

<script setup lang="ts">
  import { VChip, VCol, VDivider, VList, VListItem, VRow } from 'vuetify/components'
  import type { QuizDuelScoreboardEvent } from '@/model/types/quizDuelEvent'
  import { computed } from 'vue'

  interface Props {
    scores: QuizDuelScoreboardEvent['msg']['scores']
  }

  const { scores } = defineProps<Props>()

  const scoresByScore = computed(() => scores.toSorted((a, b) => b.score - a.score))
</script>
