<template>
  <div class="title-bar">
    <div class="title-logo hidden-sm-only" @click="gotoDashboard">
      <img src="/img/codetask/logo-white-full-centered.svg" alt="Codetask" />
    </div>
    <div class="el-top-menu-container">
      <MobileNavMenu
        v-if="isMobile"
        :active-index="activeIndex"
        :is-admin="isAdmin"
        :is-mobile="isMobile"
        :logout="logout"
        :menu-index-names="menuIndexNames"
        :on-menu-select="onMenuSelect"
        :user="user"
      />
      <DesktopNavMenu
        v-else
        :active-index="activeIndex"
        :is-admin="isAdmin"
        :logout="logout"
        :menu-index-names="menuIndexNames"
        :on-menu-select="onMenuSelect"
        :user="user"
      />
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from "vuex";
import MobileNavMenu from "@/components/header/MobileNavMenu";
import DesktopNavMenu from "@/components/header/DesktopNavMenu";

export default {
  components: { DesktopNavMenu, MobileNavMenu },
  data() {
    return {
      isMobile: false,
      activeIndex: "dashboard",
      menuIndexNames: ["dashboard", "ide", "quizduell", "admin", "user"]
    };
  },
  computed: {
    ...mapState("userStore", ["user"]),
    ...mapGetters("userStore", ["isAdmin"])
  },
  created() {
    this.isMobile = window.screen.width < 768;
    window.addEventListener("resize", this.windowSizeChanged);
  },
  destroyed() {
    window.removeEventListener("resize", this.windowSizeChanged);
  },
  mounted() {
    const menuMatch = this.$route.matched.find(match =>
      this.menuIndexNames.includes(match.name)
    );
    this.activeIndex = menuMatch ? menuMatch.name : this.menuIndexNames[0];
  },
  methods: {
    ...mapActions("userStore", ["logoutUser"]),
    ...mapMutations("userStore", ["setUser"]),
    onMenuSelect(key, keyPath) {
      this.activeIndex = keyPath[0];
    },
    logout() {
      this.logoutUser().then(
        setTimeout(() => {
          this.$router.push({ name: "student-login" });
          this.setUser(null);
        }, 250)
      );
    },
    gotoDashboard() {
      this.$router.push({ name: "dashboard" });
      this.activeIndex = this.menuIndexNames[0];
    },
    windowSizeChanged() {
      this.isMobile = window.screen.width < 768;
    }
  }
};
</script>

<style scoped lang="scss">
a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 16px;
}

#user-img {
  border-radius: 50%;
}

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-logo {
  background-color: #334152;
  height: 60px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  img {
    width: 100%;
    max-height: 90%;
    transition: opacity 0.3s ease-in-out;
  }
  &:hover {
    img {
      opacity: 0.8;
    }
  }
}

.el-top-menu-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.el-tag {
  // Recreate how it normally looks, doesn't work in  el-menu somehow
  display: inline-flex;
  align-items: center;
  background-color: rgba(0, 155, 145, 0.75);
  font-size: 12px;
  height: 24px;
  padding: 0 8px;
  /* line-height: 22px; */
  color: white;
  font-weight: bold;
}
</style>
