<template>
  <el-menu
    :default-active="activeIndex"
    class="el-top-menu-mobile"
    mode="horizontal"
    :router="true"
    @select="onMenuSelect"
    background-color="#334152"
    text-color="white"
    active-text-color="#d9e5ec"
  >
    <el-submenu :index="menuIndexNames[4]" id="user-menu">
      <template slot="title">
        {{ user.username }}
      </template>

      <el-menu-item :index="menuIndexNames[0]" :route="{ name: 'dashboard' }">
        Dashboard
      </el-menu-item>
      <el-menu-item :index="menuIndexNames[1]" :route="{ name: 'ide' }">
        Online Scala IDE
      </el-menu-item>
      <el-menu-item :index="menuIndexNames[2]" :route="{ name: 'quizduell' }">
        Quizduell
      </el-menu-item>
      <el-menu-item
        v-if="isAdmin"
        :index="menuIndexNames[3]"
        :route="{ name: 'admin' }"
      >
        Adminbereich
      </el-menu-item>
      <el-menu-item class="hidden-sm-and-up separator" disabled>
        />
      </el-menu-item>

      <el-menu-item
        :index="menuIndexNames[4]"
        :route="{ name: 'user-profile' }"
      >
        Mein Profil
      </el-menu-item>
      <el-menu-item
        :index="menuIndexNames[4]"
        :route="{ name: 'user-settings' }"
        >Einstellungen
      </el-menu-item>
      <el-menu-item index="submenu-logout" @click="logout">
        Ausloggen
      </el-menu-item>
    </el-submenu>
  </el-menu>
</template>
<script>
export default {
  name: "MobileNavMenu",
  props: {
    activeIndex: {},
    isAdmin: {},
    isMobile: {},
    logout: {},
    menuIndexNames: {},
    onMenuSelect: {},
    user: {}
  }
};
</script>
<style scoped lang="scss">
a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.el-top-menu-mobile {
  flex: 1;
}

.separator {
  pointer-events: none;
  height: 1px !important;
  background-color: white !important;
}

div span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 16px;
}

#user-menu {
  float: right;
}
</style>
