<template>
  <div>
    <h3>
      Koans zuweisen
    </h3>
    <el-collapse v-model="activeCourse" accordion>
      <el-collapse-item
        v-for="course in getCoursesSortedByName(courses)"
        :key="course._id"
        :title="course.title"
        :name="course._id"
      >
        <div>
          <h4>Beschreibung:</h4>
          <p>{{ course.description }}</p>
        </div>
        <div>
          <h4>Kapitel insg.: {{ course.chapters.length }}</h4>
        </div>
        <div>
          <el-transfer
            @change="updateCourseAssignments"
            v-model="course.lectures"
            :data="getLectureList"
            :titles="['Verfügbare Vorlesungen', 'Zugewiesene Vorlesungen']"
          >
          </el-transfer>
        </div>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import CourseMixin from "@/mixins/CourseMixin";

export default {
  name: "AssignKoans",
  mixins: [CourseMixin],
  data() {
    return {
      activeCourse: "",
      selections: {}
    };
  },
  computed: {
    ...mapState("courseStore", ["courses"]),
    ...mapState("lectureStore", ["lectures"]),
    getLectureList() {
      return this.lectures.map(lecture => {
        return {
          key: lecture._id,
          label: lecture.name,
          disabled: false
        };
      });
    }
  },
  mounted() {
    this.fetchLectures();
  },
  methods: {
    ...mapActions("lectureStore", ["fetchLectures"]),
    ...mapActions("courseStore", ["updateCourse"]),
    updateCourseAssignments() {
      const course = this.courses.find(
        course => course._id === this.activeCourse
      );
      if (course) {
        this.updateCourse(course)
          .then(() =>
            this.$notify({
              title: "Erfolg",
              message: "Der Koan wurde aktualisiert.",
              type: "success"
            })
          )
          .catch(() =>
            this.$notify({
              title: "Fehler",
              message: `Die Koan konnte nicht aktualisiert werden.`,
              type: "error"
            })
          );
      }
    }
  }
};
</script>

<style lang="scss">
.el-transfer-panel {
  width: 280px !important;
}
</style>
