<template>
  <div class="deadline-dialog">
    <el-dialog
      :title="getDialogTitle"
      width="30%"
      :visible.sync="this.isDialogVisible"
      @close="close('cancel', undefined)"
      @open="setFormData"
    >
      <el-form :model="formData">
        <el-form-item label="Koan">
          <el-select
            v-model="formData.courseId"
            placeholder="Koan"
            :disabled="isEdit"
            @change="onCourseSelectionChange"
          >
            <el-option
              v-for="course in courses"
              :key="course._id"
              :label="course.title"
              :value="course._id"
            >{{ course.title }}
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Vorlesung">
          <el-select
            v-model="formData.lectureId"
            placeholder="Vorlesung"
            :disabled="isEdit || !formData.courseId"
            @change="onLectureSelectionChange"
          >
            <el-option
              v-for="lecture in lectures"
              :key="lecture._id"
              :label="lecture.name"
              :value="lecture._id"
            >{{ lecture.name }}
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Semester">
          <el-select
            v-model="formData.semesterId"
            placeholder="Semester"
            :disabled="isEdit || !formData.lectureId"
          >
            <el-option
              v-for="semester in getSemestersOfLecture"
              :key="semester._id"
              :label="semester.name"
              :value="semester._id"
            >{{ semester.name }}
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Deadline">
          <el-date-picker
            v-model="formData.deadline"
            type="date"
            placeholder="Select Date"
            :clearable="false"
          ></el-date-picker>
        </el-form-item>
      </el-form>
      <template #footer>
        <el-button @click="close('cancel', undefined)">Abbrechen</el-button>
        <el-button :disabled="formInvalid" type="primary" @click="close('submit', formData)">{{ getSubmitButtonText() }}</el-button>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "CourseDeadlineDialog",
  data() {
    return {
      formData: {
        courseId: "",
        lectureId: "",
        semesterId: "",
        deadline: null,
      },
      selectedLecture: {},
      selectedSemesterId: "",
      selectedCourseId: "",
      selectedLectureId: "",
    }
  },
  computed: {
    ...mapState("courseStore", ["courses"]),
    ...mapState("semesterStore", ["semesters"]),
    ...mapState("lectureStore", ["lectures"]),
    ...mapState("courseDeadlineStore", ["courseDeadlines"]),
    getDialogTitle() {
      return this.isEdit ? "Deadline ändern" : "Deadline erstellen"
    },
    getSemestersOfLecture() {
      if (this.selectedLecture.semesters) {
        return this.selectedLecture.semesters;
      }
      return [];
    },
    formInvalid() {
      if (!this.formData.courseId || !this.formData.lectureId || !this.formData.semesterId || !this.formData.deadline) {
        return true;
      } else {
        return (!this.isEdit && this.courseDeadlines.some(courseDeadline => courseDeadline.course === this.formData.courseId && courseDeadline.lecture === this.formData.lectureId && courseDeadline.semester === this.formData.semesterId));
      }
    },
  },
  props: {
    courseDeadlineId: String,
    isEdit: Boolean,
    isDialogVisible: Boolean
  },
  methods: {
    setFormData() {
      if (this.isEdit) {
        const courseDeadline = this.courseDeadlines.find((courseDeadline) => courseDeadline._id === this.courseDeadlineId)
        this.formData = {
          courseId: courseDeadline.course,
          lectureId: courseDeadline.lecture,
          semesterId: courseDeadline.semester,
          deadline: new Date(courseDeadline.deadline)
        }
        this.setSelectedLecture();
      }
    },
    setSelectedLecture() {
      this.selectedLecture = this.lectures.find(
        lecture => lecture._id === this.formData.lectureId
      );
    },
    onCourseSelectionChange() {
      this.formData.lectureId = "";
      this.formData.semesterId = "";
      this.selectedLecture = {};
    },
    onLectureSelectionChange() {
      this.setSelectedLecture();
      this.formData.semesterId = "";
    },
    clear() {
      this.formData = {
        courseId: "",
        lectureId: "",
        semesterId: "",
        deadline: null,
      }
      this.selectedLecture = {}
      this.selectedSemesterId = ""
      this.selectedCourseId = ""
      this.selectedLectureId = ""
    },
    close(action, formData) {
      this.$emit("close", action, formData);
      this.clear();
    },
    getSubmitButtonText() {
      return this.isEdit ? 'Ändern' : "Erstellen";
    },
  }
}
</script>
<style>
.deadline-dialog label {
  text-align: left;
  width: 20%;
}
</style>