<template>
  <el-table :data="getTableData()" style="width: 100%">
    <el-table-column prop="courseName" label="Koan" />
    <el-table-column prop="lectureName" label="Vorlesung" />
    <el-table-column prop="semesterName" label="Semester" />
    <el-table-column prop="deadlineAt" label="Deadline" :formatter="formatDate" />
    <el-table-column fixed="right" label="Actions">
      <template #default="scope">
        <el-button link type="primary" size="small" @click="open('edit', scope.row)">Deadline ändern</el-button>
        <el-button link type="primary" size="small" @click="open('delete', scope.row)">Löschen</el-button>
      </template>
    </el-table-column>
    <template #append>
      <div class="table-footer">
        <el-button type="primary" size="small" @click="open('create', undefined)">Neue Deadline erstellen</el-button>
      </div>
    </template>
  </el-table>
</template>
<script>
import { mapActions, mapState } from "vuex";
import CourseDeadline from "@/models/CourseDeadline";

export default {
  name: "CourseDeadlineTable",
  data() {
    return {}
  },
  created() {
    this.fetchCourseDeadlines();
    this.fetchLectures();
    this.fetchSemesters();
  },
  computed: {
    ...mapState("courseDeadlineStore", ["courseDeadlines"]),
    ...mapState("courseStore", ["courses"]),
    ...mapState("semesterStore", ["semesters"]),
    ...mapState("lectureStore", ["lectures"]),
  },
  methods: {
    ...mapActions("courseDeadlineStore", ["fetchCourseDeadlines"]),
    ...mapActions("lectureStore", ["fetchLectures"]),
    ...mapActions("semesterStore", ["fetchSemesters"]),
    getTableData() {
      return this.courseDeadlines.map(deadline => {
        const course = this.courses.find(course => course._id === deadline.course);
        const semester = this.semesters.find(semester => semester._id === deadline.semester);
        const lecture = this.lectures.find(lecture => lecture._id === deadline.lecture);
        if (course && semester && lecture) {
          return new CourseDeadline(
            lecture._id,
            lecture.name,
            new Date(deadline.deadline),
            deadline._id,
            course.title,
            semester.name
          );
        }
      });
    },
    formatDate(row, column, cellValue) {
      if (!cellValue) return '-';
      return cellValue.toLocaleDateString();
    },
    open(deadline, action) {
      this.$emit("open", deadline, action);
    }
  }
};
</script>
<style scoped>
.table-footer {
  text-align: left;
  padding: 10px;
}
</style>