<template>
  <div>
    <h2>Koans</h2>
    <router-view></router-view>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "ManageKoans",
  mounted() {
    this.fetchCourses();
  },
  methods: {
    ...mapActions("courseStore", ["fetchCourses"])
  }
};
</script>

<style scoped></style>
