<template>
  <div>
    <h3>
      Deadlines verwalten
    </h3>
    <deadline-table @open="open">
    </deadline-table>
    <deadline-dialog
      @close="close"
      :is-dialog-visible="isDialogVisible"
      :course-deadline-id="courseDeadlineId"
      :is-edit="isEdit"
    >
    </deadline-dialog>
    <confirmation-dialog
      @confirm="close('delete')"
      @cancel="close('cancel')"
      :title="'Deadline löschen?'"
      :is-visible="isDelete"
      :message="'Sind Sie sicher, dass Sie die Deadline löschen möchten?'"
      :cancel-text="'Abbrechen'"
      :confirm-text="'Löschen'"
    >
    </confirmation-dialog>
  </div>
</template>
<script>

import { mapActions, mapState } from "vuex";
import DeadlineTable from "@/components/adminpage/koans/CourseDeadlineTable.vue";
import DeadlineDialog from "@/components/adminpage/koans/CourseDeadlineDialog.vue";
import ConfirmationDialog from "@/components/common/ConfirmationDialog.vue";

export default {
  name: "ManageCourseDeadlines",
  components: { ConfirmationDialog, DeadlineTable, DeadlineDialog },
  data() {
    return {
      isDialogVisible: false,
      isEdit: false,
      isDelete: false,
      courseDeadlineId: "",
    }
  },
  computed: {
    ...mapState("courseDeadlineStore", ["courseDeadlines"]),
    ...mapState("courseStore", ["courses"]),
    ...mapState("semesterStore", ["semesters"]),
    ...mapState("lectureStore", ["lectures"]),
  },
  methods: {
    ...mapActions("courseDeadlineStore", ["createCourseDeadline", "updateCourseDeadline", "deleteCourseDeadline", "fetchCourseDeadlines"]),
    open(action, deadline) {
      if (action === 'edit') {
        this.isEdit = true;
        this.courseDeadlineId = deadline.courseDeadlineId;
        this.isDialogVisible = true;
      } else if (action === 'create') {
        this.isEdit = false;
        this.isDialogVisible = true;
      } else if (action === 'delete') {
        console.log(deadline)
        this.courseDeadlineId = deadline.courseDeadlineId;
        this.isDelete = true;
      }
    },
    close(action, formData) {
      if (action === 'cancel') {
      } else if (action === 'submit') {
        const courseDeadline = {
          semester: formData.semesterId,
          lecture: formData.lectureId,
          course: formData.courseId,
          deadline: formData.deadline.getTime(),
        };
        if (this.isEdit) {
          const courseDeadlineEdit = {
            ...courseDeadline,
            _id: this.courseDeadlineId,
          };
          this.updateCourseDeadline(courseDeadlineEdit).then(() => {
            this.$notify({
              title: "Erfolg",
              message: "Die Deadline wurde aktualisiert.",
              type: "success"
            });
            this.fetchCourseDeadlines();
          }).catch(() => {
            this.$notify({
              title: "Fehler",
              message: `Die Deadline konnte nicht aktualisiert werden.`,
              type: "error"
            });
          }).finally(() => {
            this.courseDeadlineId = '';
          });
        } else {
          this.createCourseDeadline(courseDeadline).then(() => {
            this.$notify({
              title: "Erfolg",
              message: "Die Deadline wurde erstellt.",
              type: "success"
            });
            this.fetchCourseDeadlines();
          }).catch(() => {
            this.$notify({
              title: "Fehler",
              message: `Die Deadline konnte nicht erstellt werden.`,
              type: "error"
            });
          });
        }
      } else if (action === 'delete') {
        this.deleteCourseDeadline(this.courseDeadlineId).then(() => {
          this.$notify({
            title: "Erfolg",
            message: "Die Deadline wurde entfernt.",
            type: "success"
          });
          this.fetchCourseDeadlines();
        }).catch(() => {
          this.$notify({
            title: "Fehler",
            message: `Die Deadline konnte nicht entfernt werden.`,
            type: "error"
          });
        }).finally(() => {
          this.courseDeadlineId = '';
        });
      }
      this.isDelete = false;
      this.isDialogVisible = false;
    },
  }
};
</script>
<style scoped>
</style>