<template>
  <div>
    <h3>
      Koans synchronisieren
    </h3>
    <p>Es gibt insgesamt {{ courses.length }} Koans</p>
    <el-button type="primary" @click="synchronize" :loading="isKoansSyncing"
      >Jetzt synchronisieren</el-button
    >
    <p><small>Dies kann eine gewisse Zeit dauern.</small></p>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";

export default {
  name: "SynchronizeKoans",
  computed: {
    ...mapState("courseStore", ["courses", "isKoansSyncing"])
  },
  methods: {
    ...mapActions("lectureStore", ["fetchLectures"]),
    ...mapActions("courseStore", ["synchronizeCourses"]),
    ...mapMutations("courseStore", ["setKoansSyncing"]),
    synchronize() {
      this.setKoansSyncing(true);
      this.synchronizeCourses()
        .then(response =>
          this.$notify({
            title: "Erfolg",
            message: `Synchronisierung erfolgreich. Es wurden ${response.data.length} Koans synchronisiert.`,
            type: "success"
          })
        )
        .catch(error =>
          this.$notify({
            title: "Fehler",
            message: `Synchronisierung fehlgeschlagen: ${error.response.data}`,
            type: "error"
          })
        )
        .finally(() => this.setKoansSyncing(false));
    }
  }
};
</script>

<style lang="scss">
.el-transfer-panel {
  width: 280px !important;
}
</style>
