<template>
  <v-dialog width="500">
    <v-card>
      <v-card-title>{{ title }}</v-card-title>
      <v-card-text>
        <p>{{ message }}</p>
      </v-card-text>
      <v-divider />
      <v-card-actions>
        <v-spacer />
        <v-btn color="error" @click="handleCancel">{{ cancelText }}</v-btn>
        <v-btn color="primary" @click="handleConfirm">{{ confirmText }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
  import { defineComponent } from 'vue'
  import { VBtn, VCard, VCardActions, VCardText, VCardTitle, VDialog, VDivider, VSpacer } from 'vuetify/components'

  export default defineComponent({
    name: 'ConfirmationDialog',
    components: { VDialog, VCard, VCardTitle, VCardText, VCardActions, VSpacer, VBtn, VDivider },
    props: {
      title: {
        type: String,
        default: 'Bestätigung',
      },
      message: {
        type: String,
        default: 'Sind Sie sicher dass Sie fortfahren möchten?',
      },
      cancelText: {
        type: String,
        default: 'Abbrechen',
      },
      confirmText: {
        type: String,
        default: 'Bestätigen',
      },
    },
    emits: ['update:isVisible', 'cancel', 'confirm'],
    methods: {
      handleConfirm() {
        this.$emit('confirm')
        this.closeDialog()
      },
      handleCancel() {
        this.$emit('cancel')
        this.closeDialog()
      },
      closeDialog() {
        this.$emit('update:isVisible', false)
      },
    },
  })
</script>
