<template>
  <div v-if="currTask">
    <section>
      <div v-if="currTask.data.description" class="framed">
        <p>
          {{ currTask.data.description.trim() }}
        </p>
      </div>
      <el-row>
        <component
          v-loading="false"
          element-loading-text="Nächste Aufgabe wird geladen ..."
          element-loading-background="rgba(0, 0, 0, 0.2)"
          :is="'quiz-' + currTask.tag"
          :task="currTask"
          :showWithSolution="showWithSolution"
          :key="currTask._id"
          :quizContext="true"
          @task-solved="$emit('finishedTask')"
        />
      </el-row>
    </section>
  </div>
</template>

<script>
import TaskMixin from "@/mixins/TaskMixin";
import QuizKoanTask from "@/components/learn/quiz/QuizKoanTask";
import QuizCodeTask from "@/components/learn/quiz/QuizCodeTask";

export default {
  name: "QuizBaseTask",
  mixins: [TaskMixin],
  components: {
    QuizKoanTask,
    QuizCodeTask
  },
  props: {
    currTask: Object,
    showWithSolution: Boolean
  }
};
</script>

<style lang="scss">
// Note: This is not scoped!
.score-message {
  min-width: 0 !important;
  background-color: $htwg-color-teal !important;
  border-color: $htwg-color-soft-blue;

  i,
  p {
    color: $htwg-color-soft-blue !important;
    font-family: swiss-heavy, $font-stack;
  }
}
.disabled {
  user-select: none;
}
</style>
