<template>
  <div v-if="!showWithSolution">
    <QuizKoanTaskBlank
      v-for="(solution, index) in task.data.solutions"
      :key="index"
      ref="blankInputs"
      :solution="solution"
      class="koan-blank"
      @onBlankSolved="onBlankSolved"
    ></QuizKoanTaskBlank>

    <codemirror
      v-if="isMounted"
      v-loading="isLoading"
      element-loading-background="rgba(0, 0, 0, 0.4)"
      :value="task.data.code"
      :options="codemirrorOptions"
      ref="codemirror"
      @ready="placeBlankInputs"
    />
  </div>
  <div v-else>
    <codemirror
      v-if="isMounted"
      element-loading-background="rgba(0, 0, 0, 0.4)"
      :value="createSolvedCode(task)"
      :options="codemirrorOptions"
      ref="codemirror"
    />
  </div>
</template>

<script>
import { codemirror } from "vue-codemirror";
import "codemirror/lib/codemirror.css";
import "codemirror/theme/monokai.css";
import "codemirror/mode/clike/clike"; // Scala
import QuizKoanTaskBlank from "@/components/learn/quiz/QuizKoanTaskBlank";

export default {
  name: "QuizKoanTask",
  components: {
    codemirror,
    QuizKoanTaskBlank
  },
  props: ["task", "showWithSolution"],
  data() {
    return {
      isLoading: true,
      isMounted: false,
      remainingBlanks: this.task.data.solutions.length,
      scoreValue: this.task.data.solutions.length,
      codemirrorOptions: {
        tabSize: 2,
        styleActiveLine: true,
        lineNumbers: true,
        mode: "text/x-scala",
        theme: "monokai",
        readOnly: "nocursor"
      }
    };
  },
  created() {
    if (!this.task.data.solutions) {
      this.onAutoSolve();
    }
  },
  mounted() {
    this.isMounted = true;
  },
  methods: {
    placeBlankInputs(cm) {
      const blankNodes = Array.from(document.querySelectorAll(".koan-blank"));
      const regex = /__/g;

      cm.setValue(this.task.data.code);

      // Format Code
      cm.setSelection(
        {
          line: cm.firstLine(),
          ch: 0,
          sticky: null
        },
        {
          line: cm.lastLine(),
          ch: 100,
          sticky: null
        },
        { scroll: false }
      );
      cm.indentSelection("smart");
      cm.setSelection({
        line: cm.firstLine(),
        ch: 0,
        sticky: null
      });

      cm.getValue()
        .split("\n")
        .forEach((line, index) => {
          let match;
          while ((match = regex.exec(line))) {
            const pos = { line: index, ch: match.index };
            const posTo = { line: index, ch: match.index + match[0].length };
            cm.replaceRange("", pos, posTo);
            cm.setBookmark(pos, { widget: blankNodes.shift() });
          }
        });

      setTimeout(() => {
        this.isLoading = false;
        if (this.$refs.blankInputs) {
          this.$refs.blankInputs[0].$refs.input.focus();
        }
      }, 500);
    },
    onAutoSolve() {
      if (this.remainingBlanks === 0) {
        this.onTaskSolved();
        this.$notify({
          title: "Hinweis",
          message:
            "Da diese Aufgabe keine Lösung fordert, hast du diese automatisch bestanden.",
          type: "info"
        });
      }
    },
    onBlankSolved() {
      this.remainingBlanks--;
      if (this.remainingBlanks === 0) {
        this.onTaskSolved();
      }
    },
    onTaskSolved() {
      this.$emit("task-solved");
    },
    createSolvedCode(task) {
      var solvedCode = task.data.code;
      Array.prototype.forEach.call(task.data.solutions, function(solution) {
        solvedCode = solvedCode.replace("__", solution.solution);
      });
      return solvedCode;
    }
  }
};
</script>

<style scoped lang="scss">
::v-deep .CodeMirror {
  padding: 1rem;
  line-height: 1.4rem !important;
}

::v-deep .CodeMirror-linenumbers {
  width: 1.5rem;
}

::v-deep .CodeMirror-linenumber {
  text-align: center;
}
</style>
