<template>
  <div>
    <el-row v-if="!isSolved">
      <el-col>
        Die Ausführung des Gesamtcodes muss folgende Ergebnisse liefern:
        <ul class="result-list">
          <li
            v-for="solutionValue in task.data.solutions.map(
              solution => solution.solution
            )"
            :key="solutionValue"
          >
            {{ solutionValue }}
          </li>
        </ul>
      </el-col>
    </el-row>

    <el-row>
      <QuizCodeTaskBlank
        ref="blankInput"
        class="code-blank"
        :isSolved="isSolved"
      />

      <codemirror
        v-if="isMounted"
        v-loading="isLoading"
        element-loading-background="rgba(0, 0, 0, 0.4)"
        :value="task.data.code"
        :options="codemirrorOptions"
        ref="codemirror"
        @ready="placeBlankInputs"
      />
    </el-row>

    <el-row v-if="!isSolved">
      <el-col :span="6">
        <el-button
          :type="checkHasFailed ? 'danger' : 'secondary'"
          @click="checkResult"
          :loading="isChecking"
          >Ergebnis prüfen</el-button
        >
      </el-col>
      <el-col :span="18">
        <el-input
          autosize
          class="log"
          type="textarea"
          rows="6"
          placeholder="Output log ..."
          readonly
          v-model="log"
        />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { codemirror } from "vue-codemirror";
import "codemirror/lib/codemirror.css";
import "codemirror/theme/monokai.css"; // Theme
import "codemirror/mode/clike/clike";
import { mapActions } from "vuex";
import UserMixin from "@/mixins/UserMixin";
import TaskMixin from "@/mixins/TaskMixin";
import QuizCodeTaskBlank from "@/components/learn/quiz/QuizCodeTaskBlank"; // Scala

export default {
  name: "QuizCodeTask",
  mixins: [UserMixin, TaskMixin],
  components: {
    QuizCodeTaskBlank,
    codemirror
  },
  props: ["task"],
  data() {
    return {
      isLoading: true,
      isChecking: false,
      isMounted: false,
      isSolved: false,
      scoreValue: 1,
      log: "",
      checkHasFailed: false,
      codemirrorOptions: {
        tabSize: 2,
        styleActiveLine: true,
        lineNumbers: true,
        mode: "text/x-scala",
        theme: "monokai",
        readOnly: "nocursor"
      }
    };
  },
  created() {
    if (!this.task.data.solutions) {
      this.onTaskSolved();
    }
  },
  mounted() {
    if (this.task.data.solutions) {
      this.isMounted = true;
    }
  },
  methods: {
    ...mapActions("courseStore", ["checkCodeTask"]),
    placeBlankInputs(cm) {
      const blankNode = Array.from(document.querySelectorAll(".code-blank"));
      const regex = /_#_/g;

      cm.setValue(this.task.data.code);

      // Format Code
      cm.setSelection(
        {
          line: cm.firstLine(),
          ch: 0,
          sticky: null
        },
        {
          line: cm.lastLine(),
          ch: 100,
          sticky: null
        },
        { scroll: false }
      );
      cm.indentSelection("smart");
      cm.setSelection({
        line: cm.firstLine(),
        ch: 0,
        sticky: null
      });

      cm.getValue()
        .split("\n")
        .forEach((line, index) => {
          let match;
          while ((match = regex.exec(line))) {
            const pos = { line: index, ch: match.index };
            const posTo = { line: index, ch: match.index + match[0].length };
            cm.replaceRange("", pos, posTo);
            cm.setBookmark(pos, {
              widget: blankNode.shift(),
              insertLeft: true
            });
          }
        });

      setTimeout(() => {
        this.isLoading = false;
      }, 500);
    },
    checkResult() {
      const userCode = this.$refs.blankInput.$refs.codemirror.content;
      const composedCode = this.$refs.codemirror.value.replace(/_#_/, userCode);
      this.checkHasFailed = false;
      this.isChecking = true;
      this.checkCodeTask({
        code: composedCode,
        semesterId: this.$route.params.semesterId,
        courseId: this.$route.params.courseId,
        chapterId: this.$route.params.chapterId,
        taskId: this.$route.params.taskId
      })
        .then(() => {
          this.log = "";
          this.isSolved = true;
          this.onTaskSolved();
        })
        .catch(error => {
          this.checkHasFailed = true;
          this.log = error.response.data.message;
        })
        .finally(() => (this.isChecking = false));
    },
    onTaskSolved() {
      this.$emit("task-solved");
    }
  }
};
</script>

<style lang="scss" scoped>
::v-deep ul {
  margin: 4px 0 0 0;
}
::v-deep .CodeMirror {
  padding: 1rem;
  line-height: 1.4rem !important;
}

::v-deep .CodeMirror-linenumbers {
  width: 1.5rem;
}

::v-deep .CodeMirror-linenumber {
  text-align: center;
}

::v-deep .log {
  textarea {
    background-color: #333;
    color: lightcoral;
  }
}
</style>
