<template>
  <div>
    <input
      type="text"
      autocomplete="off"
      v-model="inputValue"
      :class="{
        success: isSolutionAlreadySolved,
        'used-helper': isSolutionAlreadySolved === 1
      }"
      :readonly="isSolutionAlreadySolved > 0"
      ref="input"
    />
  </div>
</template>

<script>
import UserMixin from "@/mixins/UserMixin";

export default {
  name: "QuizKoanTaskBlank",
  mixins: [UserMixin],
  props: {
    solution: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      inputValue: "",
      isSolutionAlreadySolved: false
    };
  },
  watch: {
    inputValue(value) {
      if (value === this.solution.solution) {
        this.isSolutionAlreadySolved = true;
        this.$emit("onBlankSolved");
      }
    }
  }
};
</script>

<style scoped lang="scss">
input {
  /* From Monokai Syntax CSS theme */
  background-color: #49483e;
  border: 1px solid #ccc;
  border-radius: 0.2rem;

  /* Don't touch padding-right, it seems buggy with vue-input-autowidth */
  padding: 6px 0 6px 6px;
  margin: 0 0.3rem;

  color: #ffffff;
  font-family: monospace;
  font-size: medium;
  font-weight: bold;
  cursor: text;

  &:focus {
    outline: none;
    background-color: rgba(254, 130, 85, 0.75);
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  }

  &.success {
    background-color: $success-color;

    &.used-helper {
      color: black;
      background-color: lighten($success-color, 40%);
    }
  }
}
.helper-tooltip {
  button {
    padding: 4px 6px;
    margin-left: 0.6rem;
  }
}
i {
  user-select: none;
  cursor: pointer;
  &.success {
    color: $success-color;
  }
  &.failed {
    color: $failed-color;
  }
}
</style>
