<template>
  <div class="codetask-blank-container">
    <codemirror
      class="code-input"
      :class="{ success: isSolved }"
      ref="codemirror"
      :options="codemirrorOptions"
      @ready="configureCodemirror"
    ></codemirror>
  </div>
</template>

<script>
import { codemirror } from "vue-codemirror";

export default {
  name: "CodeTaskBlank",
  props: ["isSolved"],
  components: { codemirror },
  data() {
    return {
      codemirrorOptions: {
        tabSize: 2,
        scrollbarStyle: null,
        lineNumbers: false,
        mode: "text/x-scala",
        matchBrackes: true,
        theme: "monokai"
      }
    };
  },
  methods: {
    configureCodemirror(cm) {
      cm.setSize("100%", 150);
    }
  }
};
</script>

<style scoped lang="scss">
::v-deep .code-input {
  position: relative;
  flex: 1;
  border: 1px dashed #363;
  border-top: 1px dashed transparent;
  border-bottom: 1px dashed transparent;
  transition: border 0.3s ease;
  margin: -1.4rem 0 -1rem -0.28rem;
  &.success {
    cursor: not-allowed !important;
    background-color: #122d0d;
    * {
      pointer-events: none;
    }
  }
  .CodeMirror {
    padding: 0;
    background-color: transparent;
  }
  &:focus-within {
    border: 1px dashed transparent !important;
    outline: none;
    &:before {
      opacity: 0;
    }
  }
  &:before {
    content: "Schreibe hier deine Codelösung";
    pointer-events: none;
    font-size: 10px;
    color: #666;
    position: absolute;
    top: 0;
    z-index: 999;
    right: 4px;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  &.success:before {
    display: none;
  }
}
.codetask-blank-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  .el-tooltip {
    flex: 0.5;
    margin-left: 8px;
  }
}
.helper-tooltip {
  button {
    padding: 4px 6px;
    margin-left: 0.6rem;
  }
}
i {
  user-select: none;
  cursor: pointer;
  &.success {
    color: $success-color;
  }
  &.failed {
    color: $failed-color;
  }
}
</style>
