<template>
  <div>
     <el-row v-if="latestSemesterValue">
       <div v-for="lecture in lecturesOfLatestSemester">
         <div v-if="getUsersOfLecture(lecture).length && getCoursesOfLecture(lecture).length">
           <h2>{{ getChartHeader(lecture) }}</h2>
           <BubbleChartDashboardAdmin
             :semester="latestSemesterValue"
             :lecture="lecture"
             :subscriptions="getSubscriptionsOfLecture(lecture)"
             :users="getUsersOfLecture(lecture)"
             :courses="getCoursesOfLecture(lecture)"
           >
           </BubbleChartDashboardAdmin>
         </div>
       </div>

     </el-row>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import BubbleChartDashboardAdmin from "@/components/statistics/BubbleChartDashboardAdmin.vue";

export default {
  name: "AdminDashboard",
  components: { BubbleChartDashboardAdmin },
  mounted() {
    this.fetchEverything().then(() => {
      // Semester
      const orderedSemesters = this.semesters.sort((a, b) => {
        return new Date(b.closesAt) - new Date(a.closesAt);
      });
      const latestSemesterId = orderedSemesters.length ? orderedSemesters[0]._id : '';
      this.latestSemesterValue = orderedSemesters.find(
        semester => semester._id === latestSemesterId
      );
      if (this.latestSemesterValue) {
        // Lectures
        this.lecturesOfLatestSemester = this.lectures.filter(lecture =>
          this.latestSemesterValue.lectures.includes(lecture._id)
        );
      }
    });
  },
  data() {
    return {
      latestSemesterValue: undefined,
      lecturesOfLatestSemester: [],
    };
  },
  computed: {
    ...mapState("lectureStore", ["lectures"]),
    ...mapState("semesterStore", ["semesters"]),
    ...mapState("userStore", ["users"]),
    ...mapState("courseStore", ["courses"]),
    ...mapState("subscriptionStore", ["subscriptions"]),
  },
  methods: {
    ...mapActions("userStore", ["fetchAllUsers"]),
    ...mapActions("semesterStore", ["fetchSemesters"]),
    ...mapActions("lectureStore", ["fetchLectures"]),
    ...mapActions("courseStore", ["fetchCourses"]),
    ...mapActions("subscriptionStore", ["fetchSubscriptions"]),
    fetchEverything() {
      return Promise.all([
        this.fetchAllUsers(),
        this.fetchSemesters(),
        this.fetchLectures(),
        this.fetchCourses(),
        this.fetchSubscriptions(),
      ]);
    },
    getSubscriptionsOfLecture(lecture) {
      return this.subscriptions.filter(subscription =>
        lecture._id === subscription.lecture
        && this.latestSemesterValue._id === subscription.semester
      );
    },
    getUsersOfLecture(lecture) {
      const userIds = this.getSubscriptionsOfLecture(lecture).map(subscription => subscription.user);
      return this.users.filter(user => userIds.includes(user._id));
    },
    getCoursesOfLecture(lecture) {
      return lecture.courses;
    },
    getChartHeader(lecture) {
      return `${lecture.name} - ${this.latestSemesterValue.name}`;
    }
  }
};
</script>

<style scoped></style>
