<template>
  <el-col>
    <BarChartAdminStatistics
      :lecture="lecture"
      :semester="semester"
      :users="users"
      :key="[users.length, lecture]"
    ></BarChartAdminStatistics>
  </el-col>
</template>

<script>
import { mapActions, mapState } from "vuex";
import BarChartAdminStatistics from "@/components/statistics/BarChartAdminStatistics";

export default {
  name: "KoanStatistics",
  components: { BarChartAdminStatistics },
  props: {
    semester: null,
    lecture: null
  },
  mounted() {
    this.fetchSubscriptions();
    this.fetchAllUsers();
  },
  data() {
    return {
      koanStats: [{ username: "" }, { score: "" }]
    };
  },
  computed: {
    ...mapState("subscriptionStore", ["subscriptions"]),
    ...mapState("userStore", ["users"])
  },
  methods: {
    ...mapActions("subscriptionStore", ["fetchSubscriptions"]),
    ...mapActions("userStore", ["fetchAllUsers"]),

    getUserSortedByScore() {
      return this.data.scoreboard
        .map(d => d)
        .sort((a, b) => {
          return b.score - a.score;
        })
        .map((d, index) => {
          return { username: `${index + 1}. ${d.username}`, score: d.score };
        });
    },

    getChartData() {
      //  this.subscriptions
      //   .filter(
      //     subscription =>
      //       subscription.lecture === this.lecture &&
      //       subscription.semester === this.semester
      //   )
      // .map(subscription =>  subscription.user.courses.map(course =>{
      //     return this.getOverallProgressOfCourseCount(
      //       subscription.user,
      //       course,
      //       this.semester,
      // );}
    }
  }
};
</script>

<style scoped></style>
