<template>
  <div>
    <h2>Statistiken</h2>
    <router-view></router-view>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "ManageStatistics",
  mounted() {
  },
  methods: {
  }
};
</script>

<style scoped></style>
