<template>
  <div>
     <el-tabs v-model="tabChoice">
      <el-tab-pane label="Kurse" name="courses">
        <el-row>
          <h1>
            Bitte wählen Sie Semester, Vorlesung, Kurs, Kapitel und Aufgabe aus
          </h1>
        </el-row>
      </el-tab-pane>
      <el-tab-pane label="Quizduelle" name="quizDuels">
        <el-row>
          <h1>
            Bitte wählen Sie Semester, Vorlesung und Quizduell aus
          </h1>
        </el-row>
      </el-tab-pane>
       <el-tab-pane label="Klausuren" name="exams">
         <el-row>
           <h1>
             Coming soon!
           </h1>
         </el-row>
       </el-tab-pane>
    </el-tabs>

    <el-row :gutter="5" style="display: flex; align-items: last baseline;">
      <el-col :span="4">
        <label for="semesterDropdown">Semester</label>
        <el-select
          id="semesterDropdown"
          v-model="semesterSelectionId"
          placeholder="Semester"
          :default-first-option="true"
          v-on:change="setSemester(semesterSelectionId)"
        >
          <el-option
            v-for="semester in semesters"
            :key="semester._id"
            :label="semester.name"
            :value="semester._id"
            >{{ semester.name }}
          </el-option>
        </el-select>
      </el-col>

      <el-col :span="4">
        <label for="lectureDropdown">Vorlesung</label>
        <el-select
          id="lectureDropdown"
          v-if="semesterValue"
          v-model="lectureSelectionId"
          placeholder="Vorlesung"
          v-on:change="setLecture(lectureSelectionId)"
        >
          <el-option
            v-for="lecture in getLecturesOfSemester(semesterValue)"
            :key="lecture._id"
            :label="lecture.name"
            :value="lecture._id"
            >{{ lecture.name }}
          </el-option>
        </el-select>
      </el-col>

      <el-col v-if="tabChoice === 'courses'" :span="4">
        <label for="courseDropdown">Kurs</label>
        <el-select
          id="courseDropdown"
          v-if="lectureValue"
          v-model="courseSelectionId"
          placeholder="Kurs"
          v-on:change="setCourse(courseSelectionId)"
        >
          <el-option
            v-for="course in getCoursesOfLecture(lectureValue)"
            :key="course._id"
            :label="course.title"
            :value="course._id"
          >{{ course.title }}
          </el-option>
        </el-select>
      </el-col>
      <el-col v-else-if="tabChoice === 'quizDuels'" :span="4">
        <label for="quizDuelDropdown">Quizduell</label>
        <el-select
          id="quizDuelDropdown"
          v-if="lectureValue"
          v-model="quizDuelId"
          placeholder="Quizduell"
          v-on:change="setQuizDuel(quizDuelId)"
        >
          <el-option
            v-for="quizDuel in getQuizDuelsOfLecture(lectureValue)"
            :key="quizDuel._id"
            :label="quizDuel.name"
            :value="quizDuel._id"
          >{{ quizDuel.name }}
          </el-option>
        </el-select>
      </el-col>

      <el-col v-if="tabChoice === 'courses'" :span="4">
        <label for="chapterDropdown">Kapitel</label>
        <el-select
          id="chapterDropdown"
          v-if="lectureValue"
          v-model="chapterSelectionId"
          placeholder="Kapitel"
          v-on:change="setChapter(chapterSelectionId)"
        >
          <el-option
            v-for="chapter in getChaptersOfCourse(courseValue)"
            :key="chapter.courseChapterId"
            :label="chapter.title"
            :value="chapter.courseChapterId"
          >{{ chapter.title }}
          </el-option>
        </el-select>
      </el-col>
      <el-col v-else-if="tabChoice === 'quizDuels'" :span="4">
        <label for="quizDuelChapterDropdown">Kapitel</label>
        <el-select
          id="quizDuelChapterDropdown"
          v-model="undefined"
          placeholder="Alle"
          :disabled="true"
        >
        </el-select>
      </el-col>
      <el-col v-if="tabChoice === 'courses'" :span="4">
        <label for="taskDropdown">Aufgabe</label>
        <el-select
          id="taskDropdown"
          v-if="lectureValue"
          v-model="taskSelectionId"
          placeholder="Aufgabe"
          v-on:change="setTask(taskSelectionId)"
        >
          <el-option
            v-for="task in getTasksOfChapter(chapterValue)"
            :key="task._id"
            :label="task.name"
            :value="task._id"
          >{{ task.name }}
          </el-option>
        </el-select>
      </el-col>
      <el-col v-else-if="tabChoice === 'quizDuels'" :span="4">
        <label for="quizDuelTaskDropdown">Aufgabe</label>
        <el-select
          id="quizDuelTaskDropdown"
          v-model="undefined"
          placeholder="Alle"
          :disabled="true"
        >
        </el-select>
      </el-col>

      <el-button v-if="lectureValue" type="primary" @click="updateData" :loading="isUpdatingData">
        Daten Aktualisieren
      </el-button>

    </el-row>

    <el-row v-if="lectureValue">
      <h2 v-if="tabChoice === 'courses'">{{ this.getCourseChartHeader() }}</h2>
      <h2 v-else-if="tabChoice === 'quizDuels'">{{ this.getQuizDuelChartHeader() }}</h2>
      <h2 v-else>Coming soon!</h2>
      <BarChartCourseRankingAdmin ref="barChartCourseRankingAdmin"
        v-if="tabChoice === 'courses' && lectureValue.courses.length"
        :lecture="lectureValue"
        :semester="semesterValue"
        :course="courseValue"
        :chapter="chapterValue"
        :task="taskValue"
        :users="users"
      />
      <BarChartQuizDuelRankingAdmin ref="barChartQuizDuelRankingAdmin"
        v-if="tabChoice === 'quizDuels' && this.getQuizDuelsOfLecture(lectureValue).length > 1"
        :lecture="lectureValue"
        :semester="semesterValue"
        :quiz-duel="quizDuelValue"
      />
    </el-row>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import BarChartQuizDuelRankingAdmin from "@/components/statistics/BarChartQuizDuelRankingAdmin.vue";
import BarChartCourseRankingAdmin from "@/components/statistics/BarChartCourseRankingAdmin.vue";

export default {
  name: "RankingPoints",
  components: { BarChartQuizDuelRankingAdmin, BarChartCourseRankingAdmin },
  mounted() {
    this.fetchEverything().then(() => {
      // set default values
      // Semester
      const orderedSemesters = this.semesters.sort((a, b) => {
        return new Date(b.closesAt) - new Date(a.closesAt);
      });
      this.semesterSelectionId = orderedSemesters.length ? orderedSemesters[0]._id : '';
      this.semesterValue = orderedSemesters.find(
        semester => semester._id === this.semesterSelectionId
      );
      // Lecture
      const lecturesOfSemester = this.getLecturesOfSemester(this.semesterValue);
      this.lectureSelectionId = lecturesOfSemester.length ? lecturesOfSemester[0]._id : '';
      this.lectureValue = lecturesOfSemester.find(
        lecture => lecture._id === this.lectureSelectionId
      );
      // Course
      this.courseSelectionId = this.defaultCourse._id;
      this.courseValue = this.defaultCourse;
      // Chapter
      this.chapterSelectionId = this.defaultChapter._id;
      this.chapterValue = this.defaultChapter;
      // Task
      this.taskSelectionId = this.defaultTask._id;
      this.taskValue = this.defaultTask;

      // Quizduell
      this.quizDuelValue = this.defaultQuizDuel
      this.quizDuelId = this.quizDuelValue._id
    });
  },
  data() {
    return {
      tabChoice: 'courses',
      defaultCourse: {
        _id: 'default',
        title: 'Alle',
        chapters: []
      },
      defaultChapter: {
        _id: 'default',
        courseChapterId: 'default',
        title: 'Alle',
        tasks: []
      },
      defaultTask: {
        _id: 'default',
        name: 'Alle'
      },
      semesterValue: undefined,
      lectureValue: undefined,
      courseValue: undefined,
      chapterValue: undefined,
      taskValue: undefined,
      semesterSelectionId: '',
      lectureSelectionId: '',
      courseSelectionId: '',
      chapterSelectionId: '',
      taskSelectionId: '',

      defaultQuizDuel: {
        _id: 'default',
        name: 'Alle'
      },
      quizDuelValue: undefined,
      quizDuelId: '',

      isUpdatingData: false,
    };
  },
  computed: {
    ...mapState("lectureStore", ["lectures"]),
    ...mapState("semesterStore", ["semesters"]),
    ...mapState("userStore", ["users"]),
    ...mapState("courseStore", ["courses"]),
    ...mapState("quizDuellStore", ["quizDuells"]),
    ...mapState("quizTaskSetStore", ["quizTaskSets"]),
  },
  methods: {
    ...mapActions("userStore", ["fetchAllUsers"]),
    ...mapActions("semesterStore", ["fetchSemesters"]),
    ...mapActions("lectureStore", ["fetchLectures"]),
    ...mapActions("courseStore", ["fetchCourses"]),
    ...mapActions("quizDuellStore", ["fetchQuizDuells"]),
    ...mapActions("quizTaskSetStore", ["fetchQuizTaskSets"]),
    updateData() {
      this.isUpdatingData = true;
      this.fetchEverything().then(() => {
        if (this.tabChoice === "quizDuels") {
          this.$refs.barChartQuizDuelRankingAdmin.renderChartFromParent();
        } else if (this.tabChoice === "courses") {
          this.$refs.barChartCourseRankingAdmin.renderChartFromParent();
        }
      }).catch(() => {
        this.$notify({
          title: "Fehler",
          message: "Daten konnten nicht aktualisiert werden",
          type: "error"
        });
      }).finally(() => {
        this.isUpdatingData = false;
      });
    },
    fetchEverything() {
      return Promise.all([
        this.fetchAllUsers(),
        this.fetchSemesters(),
        this.fetchLectures(),
        this.fetchCourses(),
        this.fetchQuizDuells(),
        this.fetchQuizTaskSets()
      ]);
    },
    setSemester(semesterId) {
      this.semesterValue = this.semesters.find(
        semester => semester._id === semesterId
      );
      const lecturesOfSemester = this.getLecturesOfSemester(this.semesterValue);
      this.lectureSelectionId = lecturesOfSemester.length ? lecturesOfSemester[0]._id : '';
      this.lectureValue = lecturesOfSemester.find(
        lecture => lecture._id === this.lectureSelectionId
      );
      this.courseValue = this.defaultCourse
      this.courseSelectionId = this.courseValue._id
      this.chapterValue = this.defaultChapter
      this.chapterSelectionId = this.chapterValue._id
      this.taskValue = this.defaultTask
      this.taskSelectionId = this.taskValue._id

      this.quizDuelValue = this.defaultQuizDuel
      this.quizDuelId = this.quizDuelValue._id
    },
    setLecture(lectureId) {
      this.lectureValue = this.lectures.find(
        lecture => lecture._id === lectureId
      );
      this.courseValue = this.defaultCourse
      this.courseSelectionId = this.courseValue._id
      this.chapterValue = this.defaultChapter
      this.chapterSelectionId = this.chapterValue._id
      this.taskValue = this.defaultTask
      this.taskSelectionId = this.taskValue._id

      this.quizDuelValue = this.defaultQuizDuel
      this.quizDuelId = this.quizDuelValue._id
    },
    setCourse(courseId) {
      if (courseId !== 'default') {
        this.courseValue = this.courses.find(
          course => course._id === courseId
        );
      } else {
        this.courseValue = this.defaultCourse
      }
      this.chapterValue = this.defaultChapter
      this.chapterSelectionId = this.chapterValue._id
      this.taskValue = this.defaultTask
      this.taskSelectionId = this.taskValue._id
    },
    setChapter(chapterId) {
      if (chapterId !== 'default') {
        this.chapterValue = this.getChaptersOfCourse(this.courseValue).find(
          chapter => chapter.courseChapterId === chapterId
        );
        this.chapterSelectionId = this.chapterValue.courseChapterId;
        if (this.courseValue._id === 'default') {
          this.courseValue = this.courses.find(
            course => course._id === this.chapterValue.courseId
          );
          this.courseSelectionId = this.courseValue._id;
        }
      } else {
        this.chapterValue = this.defaultChapter
        this.chapterSelectionId = this.chapterValue.courseChapterId
      }
      this.taskValue = this.defaultTask
      this.taskSelectionId = this.taskValue._id
    },
    setTask(taskSelectionId) {
      if (taskSelectionId !== 'default') {
        for (let i = 0; i < this.chapterValue.tasks.length; i++) {
          if (this.chapterValue.tasks[i]._id === taskSelectionId) {
            this.taskValue = {_id: this.chapterValue.tasks[i]._id, name: `Aufgabe ${i+1}`};
            return;
          }
        }
      }
      this.taskValue = this.defaultTask
    },
    setQuizDuel(quizDuelId) {
      if (quizDuelId === 'default') {
        this.quizDuelValue = this.defaultQuizDuel
        this.quizDuelId = this.quizDuelValue._id
        return;
      }
      this.quizDuelValue = this.quizDuells.find(
        quizDuel => quizDuel._id === quizDuelId
      );
      this.quizDuelId = quizDuelId;
    },
    getLecturesOfSemester(semester) {
      return this.lectures.filter(lecture =>
        semester.lectures.includes(lecture._id)
      );
    },
    getCoursesOfLecture(lecture) {
      const comparator = (a, b) => {
        return (a.title || "").localeCompare(b.title || "");
      };
      return [this.defaultCourse, ...[...lecture.courses].sort(comparator)];
    },
    getQuizDuelsOfLecture(lecture) {
      const filteredQuizDuels = this.quizDuells
        .filter(quizDuel => quizDuel.lecture === lecture._id && quizDuel.semester === this.semesterValue._id)
        .map(quizDuel => {
          return {
            ...quizDuel,
            name: `${new Date(quizDuel.creationDate).toLocaleDateString()}: ${this.quizTaskSets.find(quizTaskSet => quizTaskSet._id === quizDuel.quiztaskSet).name}`
          }
        });
      return [this.defaultQuizDuel, ...filteredQuizDuels];
    },
    getChaptersOfCourse(course) {
      if (!course.chapters.length && this.lectureValue) {
        const chapters = this.lectureValue.courses.flatMap(course => {
          return course.chapters.map(chapter => {
            return {...chapter, courseChapterId: course._id + chapter._id, courseId: course._id };
          });
        })
        return [this.defaultChapter, ...chapters];
      }
      const orderedChapters = [...course.chapters.map(chapter => {
        return { ...chapter, courseChapterId: course._id + chapter._id, courseId: course._id };
      })].sort((a, b) => (parseInt(a._id)) - (parseInt(b._id)));
      return [this.defaultChapter, ...orderedChapters.map((chapter, index) => {
        return { ...chapter, title: `(${index + 1}) ${chapter.title}` };
      })];
    },
    getTasksOfChapter(chapter) {
      let tasks = [];
      for (let i = 0; i < chapter.tasks.length; i++) {
        tasks = [...tasks, {_id: chapter.tasks[i]._id, name: `Aufgabe ${i+1}`}];
      }
      return [this.defaultTask, ...tasks];
    },
    getCourseChartHeader() {
      if (!this.lectureValue.courses.length) {
        return 'Keine Daten vorhanden'
      }
      if (this.taskValue._id !== 'default') {
        return 'Ranking pro Aufgabe';
      } else if (this.chapterValue._id !== 'default') {
        return 'Ranking pro Kapitel';
      } else if (this.courseValue._id !== 'default') {
        return 'Ranking pro Kurs';
      } else if (this.lectureValue) {
        return 'Ranking pro Vorlesung';
      }
    },
    getQuizDuelChartHeader() {
      if (this.getQuizDuelsOfLecture(this.lectureValue).length === 1) {
        return 'Keine Daten vorhanden';
      }
      if (this.quizDuelValue._id !== 'default') {
        return 'Ranking pro Quizduell';
      } else if (this.lectureValue) {
        return 'Ranking pro Vorlesung';
      }
    }
  }
};
</script>

<style>
.el-row {
  margin-bottom: 1px;
}
</style>
