<template>
  <div>
    <el-tabs v-model="tabChoice">
      <el-tab-pane label="Kurse" name="courses">
        <el-row>
          <h1>
            Bitte wählen Sie Semester, Vorlesung, Benutzer, Kurs und Kapitel aus
          </h1>
        </el-row>
      </el-tab-pane>
      <el-tab-pane label="Quizduelle" name="quizDuels">
        <el-row>
          <h1>
            Bitte wählen Sie Semester, Vorlesung, Benutzer und Quizduell aus
          </h1>
        </el-row>
      </el-tab-pane>
      <el-tab-pane label="Klausuren" name="exams">
        <el-row>
          <h1>
            Coming soon!
          </h1>
        </el-row>
      </el-tab-pane>
    </el-tabs>

    <el-row :gutter="5" style="display: flex; align-items: last baseline;">
      <el-col :span="4">
        <label for="semesterDropdown">Semester</label>
        <el-select
          id="semesterDropdown"
          v-model="semesterSelectionId"
          placeholder="Semester"
          v-on:change="setSemester(semesterSelectionId)"
        >
          <el-option
            v-for="semester in getSemestersWithLectures()"
            :key="semester._id"
            :label="semester.name"
            :value="semester._id"
          >{{ semester.name }}
          </el-option>
        </el-select>
      </el-col>
      <el-col :span="4">
        <label for="lectureDropdown">Vorlesung</label>
        <el-select
          id="lectureDropdown"
          v-if="semesterValue"
          v-model="lectureSelectionId"
          placeholder="Vorlesung"
          v-on:change="setLecture(lectureSelectionId)"
        >
          <el-option
            v-for="lecture in getLecturesOfSemester(semesterValue)"
            :key="lecture._id"
            :label="lecture.name"
            :value="lecture._id"
          >{{ lecture.name }}
          </el-option>
        </el-select>
      </el-col>
      <el-col :span="4">
        <label for="userDropdown">Benutzer</label>
        <el-select
          id="userDropdown"
          v-if="lectureValue"
          v-model="userSelectionId"
          placeholder="Benutzer"
          v-on:change="setUser(userSelectionId)"
        >
          <el-option
            v-for="user in getSubscribedUsers()"
            :key="user._id"
            :label="user.username"
            :value="user._id"
          >{{ user.username }}
          </el-option>
        </el-select>
      </el-col>
      <el-col v-if="tabChoice==='courses'" :span="4">
        <label for="courseDropdown">Kurs</label>
        <el-select
          id="courseDropdown"
          v-if="userValue"
          v-model="courseSelectionId"
          placeholder="Kurs"
          v-on:change="setCourse(courseSelectionId)"
        >
          <el-option
            v-for="course in getCoursesOfLecture(lectureValue)"
            :key="course._id"
            :label="course.title"
            :value="course._id"
          >{{ course.title }}
          </el-option>
        </el-select>
      </el-col>
      <el-col v-else-if="tabChoice === 'quizDuels'" :span="4">
        <label for="quizDuelDropdown">Quizduell</label>
        <el-select
          id="quizDuelDropdown"
          v-if="userValue"
          v-model="quizDuelSelectionId"
          placeholder="Quizduell"
          v-on:change="setQuizDuel(quizDuelSelectionId)"
        >
          <el-option
            v-for="quizDuel in getQuizDuelsOfLecture(lectureValue)"
            :key="quizDuel._id"
            :label="quizDuel.name"
            :value="quizDuel._id"
          >{{ quizDuel.name }}
          </el-option>
        </el-select>
      </el-col>
      <el-col v-if="tabChoice==='courses'" :span="4">
        <label for="chapterDropdown">Kapitel</label>
        <el-select
          id="chapterDropdown"
          v-if="userValue"
          v-model="chapterSelectionId"
          placeholder="Kapitel"
          v-on:change="setChapter(chapterSelectionId)"
        >
          <el-option
            v-for="chapter in getChaptersOfCourse(courseValue)"
            :key="chapter.courseChapterId"
            :label="chapter.title"
            :value="chapter.courseChapterId"
          >{{ chapter.title }}
          </el-option>
        </el-select>
      </el-col>
      <el-col v-else-if="tabChoice === 'quizDuels'" :span="4">
        <label for="quizDuelChapterDropdown">Kapitel</label>
        <el-select
          id="quizDuelChapterDropdown"
          v-model="undefined"
          placeholder="Alle"
          :disabled="true"
        >
        </el-select>
      </el-col>
      <el-button v-if="chapterValue" type="primary" @click="updateData" :loading="isUpdatingData"
      >Daten Aktualisieren</el-button
      >
    </el-row>
    <el-row>
      <h2 v-if="tabChoice === 'courses'">{{ this.getCourseChartHeader() }}</h2>
      <h2 v-else-if="tabChoice === 'quizDuels'">{{ this.getQuizDuelChartHeader() }}</h2>
      <h2 v-else>Coming soon!</h2>
      <BarChartCourseUserSpecificAdmin ref="barChartCourseUserSpecificAdmin"
        v-if="tabChoice === 'courses' && semesterValue && lectureValue && lectureValue.courses.length && userValue && courseValue && chapterValue"
        :semester="semesterValue"
        :lecture="lectureValue"
        :user="userValue"
        :course="courseValue"
        :chapter="chapterValue"
        @selectEntity="(...args)=>selectEntity(...args[0])"
      />
      <BarChartQuizDuelUserSpecificAdmin ref="barChartQuizDuelUserSpecificAdmin"
        v-else-if="tabChoice === 'quizDuels' && semesterValue && lectureValue && userValue && quizDuelValue && this.getQuizDuelsOfLecture(lectureValue).length > 1"
        :semester="semesterValue"
        :lecture="lectureValue"
        :user="userValue"
        :quiz-duel="quizDuelValue"
        @selectQuizDuel="selectQuizDuel"
      />
    </el-row>
  </div>
</template>
<script>
import BarChartCourseUserSpecificAdmin from "@/components/statistics/BarChartCourseUserSpecificAdmin.vue";
import BarChartQuizDuelUserSpecificAdmin from "@/components/statistics/BarChartQuizDuelUserSpecificAdmin.vue";
import { mapActions, mapState } from "vuex";

export default {
  name: "UserSpecificScore",
  components: { BarChartCourseUserSpecificAdmin, BarChartQuizDuelUserSpecificAdmin },
  data() {
    return {
      tabChoice: 'courses',
      defaultCourse: {
        _id: 'default',
        title: 'Alle',
        chapters: []
      },
      defaultChapter: {
        _id: 'default',
        courseChapterId: 'default',
        title: 'Alle',
        tasks: []
      },
      semesterValue: undefined,
      lectureValue: undefined,
      userValue: undefined,
      courseValue: undefined,
      chapterValue: undefined,
      semesterSelectionId: '',
      lectureSelectionId: '',
      userSelectionId: '',
      courseSelectionId: '',
      chapterSelectionId: '',

      defaultQuizDuel: {
        _id: 'default',
        name: 'Alle'
      },
      quizDuelValue: undefined,
      quizDuelSelectionId: '',

      isUpdatingData: false,
    };
  },
  mounted() {
    this.fetchEverything().then(() => {
      // set default values
      // Semester
      const orderedSemesters = this.semesters.sort((a, b) => {
        return new Date(b.closesAt) - new Date(a.closesAt);
      });
      this.semesterSelectionId = orderedSemesters.length ? orderedSemesters[0]._id : '';
      this.semesterValue = orderedSemesters.find(
        semester => semester._id === this.semesterSelectionId
      );
      // Lecture
      const lecturesOfSemester = this.getLecturesOfSemester(this.semesterValue);
      this.lectureSelectionId = lecturesOfSemester.length ? lecturesOfSemester[0]._id : '';
      this.lectureValue = lecturesOfSemester.find(
        lecture => lecture._id === this.lectureSelectionId
      );
      // User
      this.userSelectionId = this.users.length ? this.users[0]._id : '';
      this.userValue = this.users.find(
        user => user._id === this.userSelectionId
      );
      // Course
      this.courseSelectionId = this.defaultCourse._id;
      this.courseValue = this.defaultCourse;
      // Chapter
      this.chapterSelectionId = this.defaultChapter._id;
      this.chapterValue = this.defaultChapter;

      // Quizduell
      this.quizDuelValue = this.defaultQuizDuel
      this.quizDuelSelectionId = this.quizDuelValue._id
    }).finally(() => {
      const { semesterId, lectureId, userId, courseId, chapterId, quizDuelId } = this.$route.params;
      if (userId && lectureId && semesterId) {
        this.semesterSelectionId = semesterId;
        this.semesterValue = this.semesters.find(
          semester => semester._id === semesterId
        );
        this.lectureSelectionId = lectureId;
        this.lectureValue = this.lectures.find(
          lecture => lecture._id === lectureId
        );
        this.userSelectionId = userId;
        this.userValue = this.users.find(
          user => user._id === userId
        );
        if (courseId) {
          this.courseSelectionId = courseId;
          this.courseValue = this.courses.find(
            course => course._id === courseId
          );
        }
        if (chapterId) {
          this.chapterSelectionId = chapterId;
          this.chapterValue = this.courseValue.chapters.find(
            chapter => (this.courseValue._id + chapter._id) === chapterId
          );
        }
        if (quizDuelId) {
          this.quizDuelSelectionId = quizDuelId;
          this.quizDuelValue = this.getQuizDuelsOfLecture(this.lectureValue).find(
            quizDuel => quizDuel._id === quizDuelId
          );
          this.tabChoice = 'quizDuels'
        }
      }
    });
  },
  computed: {
    ...mapState("semesterStore", ["semesters"]),
    ...mapState("lectureStore", ["lectures"]),
    ...mapState("userStore", ["users"]),
    ...mapState("subscriptionStore", ["subscriptions"]),
    ...mapState("courseStore", ["courses"]),
    ...mapState("quizDuellStore", ["quizDuells"]),
    ...mapState("quizTaskSetStore", ["quizTaskSets"]),
  },
  methods: {
    ...mapActions("semesterStore", ["fetchSemesters"]),
    ...mapActions("lectureStore", ["fetchLectures"]),
    ...mapActions("userStore", ["fetchAllUsers"]),
    ...mapActions("subscriptionStore", ["fetchSubscriptions"]),
    ...mapActions("courseStore", ["fetchCourses"]),
    ...mapActions("quizDuellStore", ["fetchQuizDuells"]),
    ...mapActions("quizTaskSetStore", ["fetchQuizTaskSets"]),
    updateData() {
      this.isUpdatingData = true;
      this.fetchEverything().then(() => {
        if (this.tabChoice === "quizDuels") {
          this.$refs.barChartQuizDuelUserSpecificAdmin.renderChartFromParent();
        } else if (this.tabChoice === "courses") {
          this.$refs.barChartCourseUserSpecificAdmin.renderChartFromParent();
        }
      }).catch(() => {
        this.$notify({
          title: "Fehler",
          message: "Daten konnten nicht aktualisiert werden",
          type: "error"
        });
      }).finally(() => {
        this.isUpdatingData = false;
      });
    },
    fetchEverything() {
      return Promise.all(
        [
          this.fetchSemesters(),
          this.fetchLectures(),
          this.fetchAllUsers(),
          this.fetchSubscriptions(),
          this.fetchCourses(),
          this.fetchQuizDuells(),
          this.fetchQuizTaskSets()
        ]
      )
    },
    setSemester(semesterId) {
      this.semesterValue = this.semesters.find(
        semester => semester._id === semesterId
      );
      const lecturesOfSemester = this.getLecturesOfSemester(this.semesterValue);
      this.lectureSelectionId = lecturesOfSemester.length ? lecturesOfSemester[0]._id : '';
      this.lectureValue = lecturesOfSemester.find(
        lecture => lecture._id === this.lectureSelectionId
      );
      this.courseValue = this.defaultCourse
      this.courseSelectionId = this.courseValue._id
      this.chapterValue = this.defaultChapter
      this.chapterSelectionId = this.chapterValue._id
      this.quizDuelValue = this.defaultQuizDuel
      this.quizDuelSelectionId = this.quizDuelValue._id
    },
    setLecture(lectureId) {
      this.lectureValue = this.lectures.find(
        lecture => lecture._id === lectureId
      );
      this.courseValue = this.defaultCourse
      this.courseSelectionId = this.courseValue._id
      this.chapterValue = this.defaultChapter
      this.chapterSelectionId = this.chapterValue._id
      this.quizDuelValue = this.defaultQuizDuel
      this.quizDuelSelectionId = this.quizDuelValue._id
    },
    setCourse(courseId) {
      if (courseId !== 'default') {
        this.courseValue = this.courses.find(
          course => course._id === courseId
        );
      } else {
        this.courseValue = this.defaultCourse
      }
      this.courseSelectionId = this.courseValue._id
      this.chapterValue = this.defaultChapter
      this.chapterSelectionId = this.chapterValue._id
    },
    setChapter(chapterId) {
      if (chapterId !== 'default') {
        this.chapterValue = this.getChaptersOfCourse(this.courseValue).find(
          chapter => chapter.courseChapterId === chapterId
        );
        this.chapterSelectionId = this.chapterValue.courseChapterId;
        if (this.courseValue._id === 'default') {
          this.courseValue = this.courses.find(
            course => course._id === this.chapterValue.courseId
          );
          this.courseSelectionId = this.courseValue._id;
        }
      } else {
        this.chapterValue = this.defaultChapter
        this.chapterSelectionId = this.chapterValue.courseChapterId
      }
    },
    setUser(userId) {
      this.userValue = this.users.find(
        user => user._id === userId
      );
      this.userSelectionId = userId
    },
    setQuizDuel(quizDuelId) {
      if (quizDuelId === 'default') {
        this.quizDuelValue = this.defaultQuizDuel;
        this.quizDuelSelectionId = quizDuelId;
        return;
      }
      this.quizDuelValue = this.getQuizDuelsOfLecture(this.lectureValue).find(
        quizDuel => quizDuel._id === quizDuelId
      );
      this.quizDuelSelectionId = quizDuelId;
    },
    getSemestersWithLectures() {
      return this.semesters.filter(semester => semester.lectures.length);
    },
    getLecturesOfSemester(semester) {
      return this.lectures.filter(lecture =>
        semester.lectures.includes(lecture._id)
      );
    },
    getCoursesOfLecture(lecture) {
      const comparator = (a, b) => {
        return (a.title || "").localeCompare(b.title || "");
      };
      return [this.defaultCourse, ...[...lecture.courses].sort(comparator)];
    },
    getQuizDuelsOfLecture(lecture) {
      const filteredQuizDuels = this.quizDuells
        .filter(quizDuel => quizDuel.lecture === lecture._id && quizDuel.semester === this.semesterValue._id)
        .map(quizDuel => {
          return {
            ...quizDuel,
            name: `${new Date(quizDuel.creationDate).toLocaleDateString()}: ${this.quizTaskSets.find(quizTaskSet => quizTaskSet._id === quizDuel.quiztaskSet).name}`
          }
        });
      return [this.defaultQuizDuel, ...filteredQuizDuels];
    },
    getChaptersOfCourse(course) {
      if (!course.chapters.length && this.lectureValue) {
        const chapters = this.lectureValue.courses.flatMap(course => {
          return course.chapters.map(chapter => {
            return {...chapter, courseChapterId: course._id + chapter._id, courseId: course._id };
          });
        })
        return [this.defaultChapter, ...chapters];
      }
      const orderedChapters = [...course.chapters.map(chapter => {
        return { ...chapter, courseChapterId: course._id + chapter._id, courseId: course._id };
      })].sort((a, b) => (parseInt(a._id)) - (parseInt(b._id)));
      return [this.defaultChapter, ...orderedChapters.map((chapter, index) => {
        return { ...chapter, title: `(${index + 1}) ${chapter.title}` };
      })];
    },
    getSubscribedUsers() {
      const userIdsInSubscription = this.subscriptions.filter(subscription =>
        subscription.lecture === this.lectureSelectionId && subscription.semester === this.semesterSelectionId
      ).map(subscription => subscription.user);
      return this.users.filter(user => userIdsInSubscription.includes(user._id));
    },
    selectEntity(entityType, entity) {
      if (entityType === 'chapter') {
        this.setChapter(this.courseValue._id + entity._id);
      } else if (entityType === 'course') {
        this.setCourse(entity._id);
      }
    },
    selectQuizDuel(quizDuelId) {
      this.setQuizDuel(quizDuelId);
    },
    getCourseChartHeader() {
      if (!(this.lectureValue && this.lectureValue.courses.length)) {
        return 'Keine Daten vorhanden';
      }
      if (this.chapterValue._id !== 'default') {
        return `Aufgabenübersicht für ${this.userValue.username}`;
      } else if (this.courseValue._id !== 'default') {
        return `Kapitelübersicht für ${this.userValue.username}`;
      } else {
        return `Kursübersicht für ${this.userValue.username}`;
      }
    },
    getQuizDuelChartHeader() {
      if (this.getQuizDuelsOfLecture(this.lectureValue).length === 1) {
        return 'Keine Daten vorhanden';
      }
      return `Quizduellübersicht für ${this.userValue.username}`;
    }
  }
}
</script>