<template>
  <el-submenu index="statistics" v-loading="isLoading">
    <template slot="title">
      <i class="el-icon-view" />
      <span>Statistiken</span>
    </template>
    <el-menu-item
      :index="$router.resolve({ name: 'admin-dashboard' }).href"
      :route="{ name: 'admin-dashboard' }"
    ><b>Dashboard</b></el-menu-item>
    <el-menu-item
      :index="$router.resolve({ name: 'ranking-points' }).href"
      :route="{ name: 'ranking-points' }"
    ><b>Ranking über Gesamtpunktzahlen</b></el-menu-item>
    <el-menu-item
      :index="$router.resolve({ name: 'user-specific-score' }).href"
      :route="{ name: 'user-specific-score' }"
    >
      <b>Punktzahlen nach Benutzer</b>
    </el-menu-item>
  </el-submenu>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "AdminStatistic",
  props: {
    isLoading: Boolean,
  },
  created() {
  },
  computed: {
    ...mapState("semesterStore", ["semesters"]),
    ...mapState("lectureStore", ["lectures"]),
  },
  methods: {
  },
};
</script>
