<template>
  <el-submenu index="taskSets">
    <template slot="title">
      <i class="el-icon-setting" />
      <span>Quizduelle</span>
    </template>
    <el-menu-item
      :index="$router.resolve({ name: 'new-quizTaskSet' }).href"
      :route="{ name: 'new-quizTaskSet' }"
      ><b>Neues Duell anlegen</b></el-menu-item
    >
    <el-menu-item
      :index="$router.resolve({ name: 'start-quiz' }).href"
      :route="{ name: 'start-quiz' }"
      ><b>Duell starten</b></el-menu-item
    >
    <el-menu-item
      :index="$router.resolve({ name: 'manage-quizduell-deadlines' }).href"
      :route="{ name: 'manage-quizduell-deadlines' }"
    ><b>Deadlines verwalten</b></el-menu-item
    >
    <el-menu-item
      :index="$router.resolve({ name: 'settings-koans' }).href"
      :route="{ name: 'settings-koans' }"
      ><b>Einstellungen</b></el-menu-item
    >
  </el-submenu>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "AdminQuiz",
  props: {
    isLoading: Boolean
  },
  computed: {
    ...mapState("quizTaskSetStore", ["quizTaskSets"])
  }
};
</script>
