<template>
  <el-submenu index="semesters" v-loading="!semesters.length && isLoading">
    <template slot="title">
      <i class="el-icon-date" />
      <span>Semester</span>
    </template>
    <el-menu-item
      :index="$router.resolve({ name: 'new-semester' }).href"
      :route="{ name: 'new-semester' }"
      ><b>Neues Semester anlegen</b></el-menu-item
    >
    <el-menu-item-group title="Offene Semester">
      <el-menu-item
        v-for="semester in getOpenSemesters"
        :key="semester._id"
        :index="
          $router.resolve({
            name: 'edit-semester',
            params: { id: semester._id }
          }).href
        "
        :route="{ name: 'edit-semester', params: { id: semester._id } }"
        >{{ semester.name }}
      </el-menu-item>
    </el-menu-item-group>
    <el-submenu index="upcoming-semesters">
      <template slot="title">
        <span style="color: #999"
          >Kommende Semester ({{ getUpcomingSemesters.length }})</span
        >
      </template>
      <el-menu-item
        v-for="semester in getUpcomingSemesters"
        :key="semester._id"
        :index="
          $router.resolve({
            name: 'edit-semester',
            params: { id: semester._id }
          }).href
        "
        :route="{
          name: 'edit-semester',
          params: { id: semester._id }
        }"
        >{{ semester.name }}
      </el-menu-item>
    </el-submenu>
    <el-submenu index="closed-semesters">
      <template slot="title">
        <span style="color: #999"
          >Geschlossene Semester ({{ getClosedSemesters.length }})</span
        >
      </template>
      <el-menu-item
        v-for="semester in getClosedSemesters"
        :key="semester._id"
        :index="
          $router.resolve({
            name: 'edit-semester',
            params: { id: semester._id }
          }).href
        "
        :route="{ name: 'edit-semester', params: { id: semester._id } }"
        >{{ semester.name }}
      </el-menu-item>
    </el-submenu>
  </el-submenu>
</template>

<script>
import { mapState } from "vuex";
import {
  getClosedSemesters,
  getOpenSemesters,
  getUpcomingSemesters
} from "@/utils/helpers";

export default {
  name: "AdminSemester",
  props: {
    isLoading: Boolean
  },
  computed: {
    ...mapState("semesterStore", ["semesters"]),
    getOpenSemesters() {
      return getOpenSemesters(this.semesters);
    },
    getUpcomingSemesters() {
      return getUpcomingSemesters(this.semesters);
    },
    getClosedSemesters() {
      return getClosedSemesters(this.semesters);
    }
  }
};
</script>
