<template>
  <el-submenu index="koans" v-loading="isLoading">
    <template slot="title">
      <i class="el-icon-setting" />
      <span>Koans</span>
    </template>
    <el-menu-item
      :index="$router.resolve({ name: 'assign-koans' }).href"
      :route="{ name: 'assign-koans' }"
      ><b>Koans zuweisen</b></el-menu-item
    >
    <el-menu-item
      :index="$router.resolve({ name: 'synchronize-koans' }).href"
      :route="{ name: 'synchronize-koans' }"
      ><b>Koans synchronisieren</b></el-menu-item
    >
    <el-menu-item
      :index="$router.resolve({ name: 'manage-course-deadlines' }).href"
      :route="{ name: 'manage-course-deadlines' }"
    ><b>Deadlines verwalten</b></el-menu-item
    >
  </el-submenu>
</template>

<script>
export default {
  name: "AdminKoans",
  props: {
    isLoading: Boolean
  }
};
</script>
