<template>
  <div>
    <el-container>
      <el-aside>
        Adminbereich
        <el-menu
          :default-active="$route.path"
          class="el-menu-vertical-admin"
          :router="true"
          @open="handleOpen"
        >
          <AdminLecture :is-loading="lectureIsLoading" />
          <AdminSemester :is-loading="semesterIsLoading" />
          <AdminKoans :is-loading="koansIsLoading" />
          <AdminQuiz :is-loading="tasksIsLoading" />
          <AdminStatistic :is-loading="semesterIsLoading && lectureIsLoading" />
        </el-menu>
      </el-aside>
      <el-main>
        <!-- Show different Admin pages-->
        <router-view />
      </el-main>
    </el-container>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import AdminSemester from "@/components/shells/AdminSemester";
import AdminLecture from "@/components/shells/AdminLecture";
import AdminKoans from "@/components/shells/AdminKoans";
import AdminQuiz from "@/components/shells/AdminQuiz";
import AdminStatistic from "@/components/shells/AdminStatistic.vue";

export default {
  components: { AdminStatistic, AdminQuiz, AdminKoans, AdminLecture, AdminSemester },
  data() {
    return {
      lectureIsLoading: false,
      semesterIsLoading: false,
      koansIsLoading: false,
      tasksIsLoading: false
    };
  },
  methods: {
    ...mapActions("lectureStore", ["fetchLectures"]),
    ...mapActions("semesterStore", ["fetchSemesters"]),
    ...mapActions("courseStore", ["fetchCourses"]),
    ...mapActions("quizTaskSetStore", ["fetchQuizTaskSets"]),

    handleOpen(key) {
      switch (key) {
        case "lectures":
          this.lectureIsLoading = true;
          this.fetchLectures().finally(() => (this.lectureIsLoading = false));
          break;
        case "semesters":
          this.semesterIsLoading = true;
          this.fetchSemesters().finally(() => (this.semesterIsLoading = false));
          break;
        case "koans":
          this.koansIsLoading = true;
          this.fetchCourses().finally(() => (this.koansIsLoading = false));
          break;
        case "taskSets":
          this.tasksIsLoading = true;
          this.fetchQuizTaskSets().finally(() => (this.tasksIsLoading = false));
          break;
        default:
      }
    }
  }
};
</script>
