<template>
  <el-submenu index="lectures">
    <template slot="title">
      <i class="el-icon-menu" />
      <span>Vorlesungen</span>
    </template>
    <el-menu-item
      :index="$router.resolve({ name: 'new-lecture' }).href"
      :route="{ name: 'new-lecture' }"
      ><b>Neue Vorlesung anlegen</b></el-menu-item
    >
    <el-menu-item-group
      title="Vorhandene Vorlesungen"
      v-loading="!lectures.length && isLoading"
    >
      <el-menu-item
        v-for="lecture in lectures"
        :key="lecture._id"
        :index="
          $router.resolve({
            name: 'edit-lecture',
            params: { id: lecture._id }
          }).href
        "
        :route="{ name: 'edit-lecture', params: { id: lecture._id } }"
        >{{ lecture.name }}
      </el-menu-item>
    </el-menu-item-group>
  </el-submenu>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "AdminLecture",
  props: {
    isLoading: Boolean
  },
  computed: {
    ...mapState("lectureStore", ["lectures"])
  }
};
</script>
