<template>
  <v-card-text class="py-2">
    <Field
      v-for="(solution) of task?.data.solutions"
      :key="solution._id"
      :name="`solutions.${task._id}-${solution._id}`"
    >
      <v-checkbox
        :disabled="isReadOnly"
        hide-details
        :label="solution.solution"
        :model-value="getUserSolution(solution._id)"
        @change="onTaskProgress(solution._id)"
      />
    </Field>
  </v-card-text>
</template>

<script lang="ts">
  import { Field } from 'vee-validate'
  import { VCardText, VCheckbox } from 'vuetify/components'
  import { defineComponent } from 'vue'

  export default defineComponent({
    name: 'ExamSingleChoiceTask',
    components: { Field, VCheckbox, VCardText },
    props: {
      task: {
        type: Object,
        required: true,
      },
      examSolution: {
        type: Object,
        required: true,
      },
      isReadOnly: {
        type: Boolean,
        default: false,
      },
    },
    emits: ['task-progress'],
    setup(props) {
      const { task, examSolution } = props
      return { task, examSolution }
    },
    methods: {
      onTaskProgress(solutionId: string) {
        const updatedSolution = this.examSolution.solvedWith.find(
          solution => solution._id === solutionId
        )
        if (updatedSolution) {
          updatedSolution.correctness = !updatedSolution.correctness
          updatedSolution.value = this.task.data.solutions.find(
            sol => sol._id === solutionId
          ).solution || ''
          updatedSolution.solutionId = solutionId
          this.$emit('task-progress', updatedSolution) // Emit the updated solution
        }
      },

      getUserSolution(solutionId: string) {
        if (!this.examSolution || !this.examSolution.solvedWith) {
          return false
        }
        const solution = this.examSolution.solvedWith.find(
          sol => sol._id === solutionId
        )
        return solution ? solution.correctness : false // Default to false if no matching solution found
      },
    },
  })
</script>

<style scoped lang="scss">
.v-theme--light {
  --v-disabled-opacity: 1 !important;
}

.v-theme--dark {
  --v-disabled-opacity: 1 !important;
}
</style>
