<template>
  <page-layout
    :back-link="{name: 'lectures-lecture-view', params: {semesterId, lectureId}}"
    :subtitle="courseChapter?.title"
    :title="courseChapter?.chapter.title ?? ''"
  >
    <v-row>
      <v-col :cols="12" :sm="8">
        <chapter-task :key="taskId" />
      </v-col>
      <v-col
        class="fill-height"
        :cols="12"
        order="first"
        order-sm="last"
        :sm="4"
      >
        <chapter-navigation />
      </v-col>
    </v-row>
  </page-layout>
</template>

<script setup lang="ts">
  import { VCol, VRow } from 'vuetify/components'
  import ChapterNavigation from './components/ChapterNavigation.vue'
  import ChapterTask from './components/ChapterTask.vue'
  import type { Chapter } from '@/model/types/chapter'
  import type { Course } from '@/model/types/course'
  import { provideCourseChapter } from '@/providers/chapter'
  import { providePageLoader } from '@/providers/pageLoader'
  import { watchImmediate } from '@vueuse/core'
  import PageLayout from '@/components/PageLayout.vue'
  import { providePageAlert } from '@/providers/pageAlert'
  import type { Task } from '@/model/types/task'
  import type { Lecture } from '@/model/types/lecture'
  import type { Semester } from '@/model/types/semester'
  import { provideTaskProgresses } from '@/providers/taskProgresses'
  import { computed, onMounted, watchEffect } from 'vue'
  import { useAuthOrThrow } from '@/providers/auth'
  import { visitedChapterTask } from '@/providers/visitedChapterTask'
  import { useRoute } from 'vue-router'
  import { provideChapterTaskForm } from './components/chapterTaskForm'
  import { provideChapterTaskProgress } from './components/chapterTaskProgress'
  import { provideTaskProgress } from '@/providers/taskProgress'

  interface Props {
    chapterId: Chapter['_id'];
    courseId: Course['_id'];
    lectureId: Lecture['_id'];
    semesterId: Semester['_id'];
    taskId: Task['_id'];
  }

  const props = defineProps<Props>()
  const { user } = useAuthOrThrow()
  const { isLoadingCourseChapter, courseChapter, getCourseChapter } = provideCourseChapter()
  const { isLoadingUserChapterTaskProgresses, getUserChapterTaskProgresses } = provideTaskProgresses()
  const isLoading = computed(() => isLoadingCourseChapter.value || isLoadingUserChapterTaskProgresses.value)
  providePageLoader(isLoading)
  const { alert } = providePageAlert()
  const route = useRoute()
  provideChapterTaskForm(props)
  provideTaskProgress()
  provideChapterTaskProgress(() => props.taskId)

  onMounted(async () => {
    try {
      await getCourseChapter(props.courseId, props.chapterId)
      visitedChapterTask.value = { path: route.fullPath, name: `${courseChapter.value?.title} / ${courseChapter.value?.chapter.title}` }
    } catch (error) {
      alert.value = {
        title: 'Kapitel nicht gefunden',
        text: `Das Kapitel konnte nicht gefunden werden.`,
        type: 'error',
      }
    }
  })

  watchEffect(async () => {
    await getUserChapterTaskProgresses({
      ...props,
      userId: user.value!._id,
    })
  })

  watchImmediate(() => route.fullPath, path => {
    visitedChapterTask.value = { path, name: `${courseChapter.value?.title} / ${courseChapter.value?.chapter.title}` }
  })
</script>
