<template>
  <el-row v-if="localUser">
    <el-col :xs="24" :span="12">
      <el-form ref="form" label-position="top" :model="localUser">
        <el-form-item required label="Benutzername">
          <el-input
            :disabled="isUserStudent(localUser)"
            v-model="localUser.username"
          />
        </el-form-item>
        <el-form-item required label="E-Mail">
          <el-input disabled v-model="localUser.email" />
        </el-form-item>
        <el-form-item v-if="isUserStudent(localUser)" label="Matrikelnummer">
          <el-input v-model.trim="localUser.studentNumber" />
          <el-tooltip class="item" effect="light" placement="bottom">
            <div slot="content">
              Deine Matrikelnummer hilft deinem Professor dich besser zuweisen
              zu können.<br />
              <b>Niemand</b>, ausser dein Professor kann diese sehen.
            </div>
            <p class="form-hint">
              Warum sollte ich meine Matrikelnummer angeben?
            </p>
          </el-tooltip>
          <p
            v-if="$v.localUser.studentNumber.$invalid"
            class="form-hint danger"
          >
            Deine Matrikelnummer muss eine Zahlenfolge sein.
          </p>
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            @click="onSubmit"
            :loading="isLoading"
            :disabled="$v.$invalid"
            >Speichern</el-button
          >
        </el-form-item>
      </el-form>
    </el-col>
  </el-row>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { required, email } from "vuelidate/lib/validators";
import { cloneDeep } from "lodash";
import UserMixin from "@/mixins/UserMixin";

export default {
  name: "Profile",
  mixins: [UserMixin],
  data() {
    return {
      isLoading: false,
      localUser: null
    };
  },
  computed: {
    ...mapState("userStore", ["user"])
  },
  watch: {
    user(user) {
      this.localUser = cloneDeep(user);
    }
  },
  mounted() {
    this.localUser = cloneDeep(this.user);
  },
  methods: {
    ...mapActions("userStore", ["updateUser"]),
    onSubmit() {
      this.updateUser(this.localUser)
        .then(() =>
          this.$notify({
            title: "Erfolg",
            message: `Benutzerprofil wurde aktualisiert.`,
            type: "success"
          })
        )
        .catch(() =>
          this.$notify({
            title: "Fehler",
            message: `Benutzerprofil konnte nicht aktualisiert werden.`,
            type: "error"
          })
        );
    }
  },
  validations: {
    localUser: {
      username: required,
      email: {
        required,
        email
      },
      studentNumber: {
        num: value => !isNaN(value)
      }
    }
  }
};
</script>
