<template>
  <el-row v-if="localUser">
    <el-col :xs="24" :span="12">
      <el-form ref="form" :model="localUser">
        <el-form-item label="Videolektionen automatisch abspielen:">
          <el-switch v-model="localUser.settings.autoPlay"></el-switch>
        </el-form-item>
        <el-form-item label="Automatisch zur nächsten Lektion gehen:">
          <el-switch v-model="localUser.settings.autoNext"></el-switch>
        </el-form-item>
        <el-form-item label="Informationstexte für Tasktypen anzeigen:">
          <el-switch v-model="localUser.settings.infoText"></el-switch>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit" :loading="isLoading"
            >Speichern</el-button
          >
        </el-form-item>
      </el-form>
    </el-col>
  </el-row>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { cloneDeep } from "lodash";

export default {
  name: "Settings",
  data() {
    return {
      isLoading: false,
      localUser: null,
    };
  },
  computed: {
    ...mapState("userStore", ["user"]),
  },
  watch: {
    user(user) {
      this.localUser = cloneDeep(user);
    },
  },
  mounted() {
    this.localUser = cloneDeep(this.user);
  },
  methods: {
    ...mapActions("userStore", ["updateUser"]),
    onSubmit() {
      this.updateUser(this.localUser)
        .then(() =>
          this.$notify({
            title: "Erfolg",
            message: `Benutzereinstellungen wurde aktualisiert.`,
            type: "success",
          })
        )
        .catch(() =>
          this.$notify({
            title: "Fehler",
            message: `Benutzereinstellungen konnte nicht aktualisiert werden.`,
            type: "error",
          })
        );
    },
  },
};
</script>

<style scoped></style>
