<template>
  <v-card border class="overflow-y-auto" flat style="max-height: 60dvh">
    <v-card-title class="title">
      <h2>Klausuraufgaben</h2>
    </v-card-title>
    <v-list density="compact">
      <v-list-item
        v-for="(task, index) in exam.tasks"
        :key="task._id"
        :active="task._id === $route.params.taskId"
        class="task"
        :prepend-icon="getIcon(task.tag)"
        :title="getTitle(task, index)"
        :to="{name: 'exam-task', params: {examId: exam._id, taskId: task._id}}"
        :value="task._id"
      />
    </v-list>
  </v-card>
</template>

<script lang="ts">
  import { defineComponent } from 'vue'
  import { VCard, VCardTitle, VList, VListItem } from 'vuetify/components'

  export default defineComponent({
    name: 'ExamTaskList',
    components: {
      VCard,
      VList,
      VListItem,
      VCardTitle,
    },
    props: {
      exam: {
        type: Object,
        required: true,
      },
    },
    setup() {
      return {}
    },
    data() {
      return {}
    },
    watch: {},
    methods: {
      getTitle(task: Task, index: number) {
        return `${index + 1}. ${task.data.description
          .replace('#', '')
          .replace(':', '')
          .split('\n').at(0)}`
      },
      getIcon(type) {
        switch (type) {
          case 'code-task':
            return 'mdi-code-block-tags'
          case 'koan-task':
            return 'mdi-code-tags'
          case 'info-task':
            return 'mdi-information-outline'
          case 'multiple-choice-task':
            return 'mdi-checkbox-outline'
          case 'single-choice-task':
            return 'mdi-radiobox-marked'
          case 'reflection-task':
            return 'mdi-help-circle-outline'
        }
      },
    },
  })
</script>

<style scoped lang="scss">
.title {
  background-color: var(--v-primary-base);
  color: var(--v-primary-text-base);
}
.task {
  cursor: pointer;
}
</style>
