<template>
  <v-dialog width="500" @click:outside="clearFormData">
    <v-card>
      <v-card-title>{{ dialogTitle }}</v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="formIsValid">
          <v-row dense>
            <v-col cols="12">
              <v-select
                v-model="formData.courseId"
                :disabled="isEdit"
                item-title="title"
                item-value="_id"
                :items="getCourses()"
                label="Kurs"
              />
            </v-col>
            <v-col cols="12">
              <v-select
                v-model="formData.lectureId"
                :disabled="isEdit || !formData.courseId"
                item-title="name"
                item-value="_id"
                :items="getLecturesOfCourse()"
                label="Vorlesung"
              />
            </v-col>
            <v-col cols="12">
              <v-select
                v-model="formData.semesterId"
                :disabled="isEdit || !formData.lectureId"
                item-title="name"
                item-value="_id"
                :items="getSemestersOfLecture()"
                label="Semester"
              />
            </v-col>
            <v-col cols="12">
              <v-date-input
                v-model="formData.deadline"
                label="Deadline"
                :rules="[v => !!v || 'Date is required']"
              />
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-divider />
      <v-card-actions>
        <v-spacer />
        <v-btn color="error" @click="close('cancel')">Abbrechen</v-btn>
        <v-btn color="primary" :disabled="formInvalid" @click="close('submit')">
          {{ submitButtonText }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
  import { defineComponent } from 'vue'
  import { CourseDeadline } from '@/model/types/courseDeadline'
  import { VBtn, VCard, VCardActions, VCardText, VCardTitle, VCol, VDialog, VDivider, VForm, VRow, VSelect, VSpacer } from 'vuetify/components'
  import { VDateInput } from 'vuetify/labs/components'

  export default defineComponent({
    name: 'CourseDeadlineDialog',
    components: {
      VDialog,
      VCard,
      VCardActions,
      VCardText,
      VForm,
      VCardTitle,
      VRow,
      VCol,
      VSelect,
      VSpacer,
      VDivider,
      VBtn,
      VDateInput,
    },
    props: {
      isEdit: {
        type: Boolean,
        default: false,
      },
      courseDeadlineId: {
        type: String,
        default: '',
      },
      courses: {
        type: Array,
        required: true,
      },
      semesters: {
        type: Array,
        required: true,
      },
      lectures: {
        type: Array,
        required: true,
      },
      courseDeadlines: {
        type: Array,
        required: true,
      },
    },
    emits: ['close'],
    data() {
      return {
        formData: {
          courseId: '',
          lectureId: '',
          semesterId: '',
          deadline: null as Date | null,
        },
        formIsValid: false,
      }
    },
    computed: {
      dialogTitle(): string {
        return this.isEdit ? 'Deadline ändern' : 'Deadline erstellen'
      },
      submitButtonText(): string {
        return this.isEdit ? 'Ändern' : 'Erstellen'
      },
      formInvalid(): boolean {
        const { courseId, lectureId, semesterId, deadline } = this.formData
        if (!courseId || !lectureId || !semesterId || !deadline) return true
        return (
          !this.isEdit &&
          this.courseDeadlines.some(
            (deadline: CourseDeadline) =>
              deadline.course === courseId &&
              deadline.lecture === lectureId &&
              deadline.semester === semesterId
          )
        )
      },
    },
    watch: {
      isEdit() {
        this.setFormData()
      },
      courseDeadlineId() {
        this.setFormData()
      },
      'formData.courseId'() {
        if (!this.isEdit) {
          this.formData = {
            ...this.formData,
            lectureId: '',
            semesterId: '',
          }
        }
      },
      'formData.lectureId'() {
        if (!this.isEdit) {
          this.formData = {
            ...this.formData,
            semesterId: '',
          }
        }
      },
      'formData.deadline'() {
        this.formIsValid = !!this.formData.deadline
      },
    },
    methods: {
      setFormData() {
        if (this.isEdit) {
          const courseDeadline = this.courseDeadlines.find(
            (deadline: CourseDeadline) => deadline._id === this.courseDeadlineId
          )
          if (courseDeadline) {
            this.formData = {
              courseId: courseDeadline.course,
              lectureId: courseDeadline.lecture,
              semesterId: courseDeadline.semester,
              deadline: new Date(courseDeadline.deadline),
            }
          }
        }
      },
      clearFormData() {
        this.formData = {
          courseId: '',
          lectureId: '',
          semesterId: '',
          deadline: null,
        }
      },
      getCourses() {
        return [...this.courses]
          .sort((a, b) => a.title.localeCompare(b.title))
      },
      getLecturesOfCourse() {
        const lectureIds = [...this.courses]
          .filter(course => course._id === this.formData.courseId)
          .flatMap(course => course.lectures)
        return [...this.lectures]
          .filter(lecture => lectureIds.includes(lecture._id))
          .sort((a, b) => a.name.localeCompare(b.name))
      },
      getSemestersOfLecture() {
        return this.semesters.filter(semester => semester.lectures.includes(this.formData.lectureId))
      },
      close(action: 'cancel' | 'submit') {
        this.$emit('close', action, this.formData)
        this.clearFormData()
      },
    },
  })
</script>
