<template>
  <div v-if="course">
    <el-row>
      <el-col :span="24">
        <el-button
          @click="
            $router.push({
              name: 'lecture',
              params: {
                semesterId: $route.params.semesterId,
                lectureId: $route.params.lectureId
              }
            })
          "
          >Zurück zu Kursübersicht</el-button
        >
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="24">
        <h3>{{ course.title }}</h3>
      </el-col>
    </el-row>
    <el-row :gutter="16">
      <el-col :span="6">
        <el-aside class="hidden-sm-and-down">
          <ChapterList :course="course"></ChapterList>
        </el-aside>
      </el-col>
      <el-col :span="18">
        <p v-if="!$route.params.chapterId">
          <b>Bitte wähle ein Kapitel auf der linken Seite</b>
        </p>
        <router-view v-else :course="course" />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import ChapterList from "./chapter/ChapterList";
import { mapState } from "vuex";

export default {
  name: "CoursePage",
  components: {
    ChapterList
  },
  data() {
    return {
      lecture: null,
      course: null
    };
  },
  computed: {
    ...mapState("lectureStore", ["lectures"])
  },
  created() {
    this.lecture = this.lectures.find(
      lecture => lecture._id === this.$route.params.lectureId
    );

    if (this.lecture) {
      this.course = this.lecture.courses.find(
        course => course._id === this.$route.params.courseId
      );
    }
  }
};
</script>

<style scoped lang="scss"></style>
