<template>
  <div>
    <el-row>
      <el-col :span="24">
        <h3>Kurse</h3>
        <el-alert
          v-if="!lecture.courses.length"
          type="warning"
          title="Diese Vorlesung enthält noch keine Kurse."
        ></el-alert>
        <el-timeline v-else :reverse="false">
          <el-timeline-item
            v-for="(course, index) in getCoursesSortedByName(lecture.courses)"
            :key="index"
          >
            <router-link
              :to="{ name: 'course', params: { courseId: course._id } }"
            >
              {{ course.title }}
            </router-link>
          </el-timeline-item>
        </el-timeline>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import CourseMixin from "@/mixins/CourseMixin";

export default {
  name: "LectureOverview",
  mixins: [CourseMixin],
  props: ["lecture"]
};
</script>

<style scoped></style>
