<template>
  <v-expansion-panels class="expansion-panels">
    <v-expansion-panel
      class="comment-header"
      :title="getTitle()"
      @group:selected="isUnfolded = !isUnfolded"
    >
      <section v-if="isUnfolded" aria-labelledby="comment" class="comments">
        <disqus
          :identifier="identifier"
          shortname="codetask"
        />
      </section>
    </v-expansion-panel>
  </v-expansion-panels>
</template>
<script lang="ts">
  import { defineComponent } from 'vue'
  import { Disqus } from 'vue-disqus'
  import { VExpansionPanel, VExpansionPanels } from 'vuetify/components'

  export default defineComponent({
    name: 'Comment',
    components: {
      Disqus,
      VExpansionPanels,
      VExpansionPanel,
    },
    props: {
      commentType: {
        type: String,
        required: true,
      },
      identifier: {
        type: String,
        required: true,
      },
      lectureName: {
        type: String,
        required: false,
      },
      taskId: {
        type: String,
        required: false,
      },
    },
    data() {
      return {
        isUnfolded: false,
      }
    },
    methods: {
      getTitle(): string {
        if (this.commentType === 'task') {
          return `Diskussion zu Aufgabe ${this.taskId}`
        } else if (this.commentType === 'lecture') {
          return `Diskussion zur Vorlesung "${this.lectureName}"`
        }
        return ''
      },
    },
  })
</script>
<style scoped>
  .comments {
    margin: 1% 2%;
  }
  .comment-header {
    font-weight: bold;
  }
  .expansion-panels {
    margin-top: 2.5%;
  }
</style>
