<template>
  <v-row>
    <SemesterTasksCard
      :done-course-deadlines="getDoneCourses()"
      :done-exams="getDoneExams()"
      :done-quiz-duel-deadlines="getDoneQuizDuels()"
      :done-test-exams="getDoneTestExams()"
      :open-course-deadlines="getOpenCourses()"
      :open-exams="getOpenExams()"
      :open-quiz-duel-deadlines="getOpenQuizDuels()"
      :open-test-exams="getOpenTestExams()"
    />
  </v-row>
</template>

<script lang="ts">
  import SemesterTasksCard from '@/components/calendar/SemesterTasksCard.vue'
  import { defineComponent } from 'vue'
  import { CourseDeadline, QuizDuelDeadline } from '@/model/deadline'
  import { Exam } from '@/model/types/exam'

  export default defineComponent({
    name: 'SemesterTasksProcessor',
    components: {
      SemesterTasksCard,
    },
    props: {
      courseDeadlines: {
        type: Array,
        required: true,
      },
      quizDuelDeadlines: {
        type: Array,
        required: true,
      },
      exams: {
        type: Array,
        required: true,
      },
      testExams: {
        type: Array,
        required: true,
      },
    },
    methods: {
      getOpenCourses() {
        return this.courseDeadlines.filter((courseDeadline: CourseDeadline) => courseDeadline.deadlineAt > new Date().getTime())
      },
      getDoneCourses() {
        return this.courseDeadlines.filter((courseDeadline: CourseDeadline) => courseDeadline.deadlineAt <= new Date().getTime())
      },
      getOpenQuizDuels() {
        return this.quizDuelDeadlines.filter((quizDuelDeadline: QuizDuelDeadline) => quizDuelDeadline.deadlineAt > new Date().getTime())
      },
      getDoneQuizDuels() {
        return this.quizDuelDeadlines.filter((quizDuelDeadline: QuizDuelDeadline) => quizDuelDeadline.deadlineAt <= new Date().getTime())
      },
      getOpenExams() {
        return this.exams.filter((exam: Exam) => exam.date > new Date().getTime())
      },
      getDoneExams() {
        return this.exams.filter((exam: Exam) => exam.date <= new Date().getTime())
      },
      getOpenTestExams() {
        return this.testExams.filter((exam: Exam) => exam.date > new Date().getTime())
      },
      getDoneTestExams() {
        return this.testExams.filter((exam: Exam) => exam.date <= new Date().getTime())
      },
    },
  })
</script>

<style scoped>
</style>
