<template>
  <v-card class="elevation-3 d-inline-block">
    <v-list v-model:opened="open" style="min-width: 380px;">
      <v-list-group prepend-icon="mdi-check">
        <template #activator="{ props }">
          <v-list-item v-bind="props" title="Abgeschlossene Kurse" />
        </template>
        <v-list-item
          v-for="courseDeadline in doneCourseDeadlines"
          :key="courseDeadline._id"
          prepend-icon="mdi-text-box-check-outline"
          :title="`${courseDeadline.lectureName}: ${courseDeadline.courseName}`"
        />
      </v-list-group>
      <v-list-group prepend-icon="mdi-check">
        <template #activator="{ props }">
          <v-list-item v-bind="props" title="Abgeschlossene Quizduelle" />
        </template>
        <v-list-item
          v-for="quizDuelDeadline in doneQuizDuelDeadlines"
          :key="quizDuelDeadline._id"
          prepend-icon="mdi-sword-cross"
          :title="`${quizDuelDeadline.lectureName}: ${quizDuelDeadline.taskSetName}`"
        />
      </v-list-group>
      <v-list-group prepend-icon="mdi-check">
        <template #activator="{ props }">
          <v-list-item v-bind="props" title="Abgeschlossene Probeklausuren" />
        </template>
        <v-list-item
          v-for="exam in doneTestExams"
          :key="exam._id"
          prepend-icon="mdi-timer-outline"
          :title="exam.name"
        />
      </v-list-group>
      <v-list-group prepend-icon="mdi-check">
        <template #activator="{ props }">
          <v-list-item v-bind="props" title="Abgeschlossene Klausuren" />
        </template>
        <v-list-item
          v-for="exam in doneExams"
          :key="exam._id"
          prepend-icon="mdi-book-open-outline"
          :title="exam.name"
        />
      </v-list-group>
      <v-divider />
      <v-list-group prepend-icon="mdi-exclamation" value="openCourses">
        <template #activator="{ props }">
          <v-list-item v-bind="props" title="Offene Kurse" />
        </template>
        <v-list-item
          v-for="courseDeadline in openCourseDeadlines"
          :key="courseDeadline._id"
          prepend-icon="mdi-text-box-check-outline"
          :title="`${courseDeadline.lectureName}: ${courseDeadline.courseName}`"
        />
      </v-list-group>
      <v-list-group prepend-icon="mdi-exclamation" value="openQuizDuels">
        <template #activator="{ props }">
          <v-list-item v-bind="props" title="Offene Quizduelle" />
        </template>
        <v-list-item
          v-for="quizDuelDeadline in openQuizDuelDeadlines"
          :key="quizDuelDeadline._id"
          prepend-icon="mdi-sword-cross"
          :title="`${quizDuelDeadline.lectureName}: ${quizDuelDeadline.taskSetName}`"
        />
      </v-list-group>
      <v-list-group prepend-icon="mdi-exclamation" value="openTestExams">
        <template #activator="{ props }">
          <v-list-item v-bind="props" title="Offene Probeklausuren" />
        </template>
        <v-list-item
          v-for="exam in openTestExams"
          :key="exam._id"
          prepend-icon="mdi-timer-outline"
          :title="exam.name"
        />
      </v-list-group>
      <v-list-group prepend-icon="mdi-exclamation" value="openExams">
        <template #activator="{ props }">
          <v-list-item v-bind="props" title="Offene Klausuren" />
        </template>
        <v-list-item
          v-for="exam in openExams"
          :key="exam._id"
          prepend-icon="mdi-book-open-outline"
          :title="exam.name"
        />
      </v-list-group>
    </v-list>
  </v-card>
</template>

<script lang="ts">
  import { defineComponent } from 'vue'
  import { VCard, VDivider, VList, VListGroup, VListItem } from 'vuetify/components'

  export default defineComponent({
    name: 'SemesterTasksCard',
    components: { VCard, VDivider, VList, VListItem, VListGroup },
    props: {
      doneQuizDuelDeadlines: {
        type: Array,
        required: true,
      },
      doneCourseDeadlines: {
        type: Array,
        required: true,
      },
      doneExams: {
        type: Array,
        required: true,
      },
      doneTestExams: {
        type: Array,
        required: true,
      },
      openQuizDuelDeadlines: {
        type: Array,
        required: true,
      },
      openCourseDeadlines: {
        type: Array,
        required: true,
      },
      openExams: {
        type: Array,
        required: true,
      },
      openTestExams: {
        type: Array,
        required: true,
      },
    },
    data() {
      return {
        open: ['openCourses', 'openQuizDuels', 'openTestExams', 'openExams'],
      }
    },
  })

</script>
