<template>
  <div class="customContainer">
    <calendar
      ref="calendar"
      :attributes="getDateAttributes()"
      class="elevation-3"
      :columns="columns"
      :is-dark="false"
      :min-date="fromDate"
      :rows="2"
    >
      <template #day-popover="{ attributes }">
        <div>
          <popover-row
            v-for="attr in attributes"
            :key="attr.key"
            :attribute="attr"
            :class="attr.type"
          >
            {{ attr.popover.label }}
          </popover-row>
        </div>
      </template>
      <template #footer>
        <v-divider />
        <v-row class="ml-2 mr-2" style="margin: unset;">
          <div class="legend-item">
            <span class="color-box blue" />
            <span>Quizduell Deadlines</span>
          </div>
          <div class="legend-item">
            <span class="color-box green" />
            <span>Kurs Deadlines</span>
          </div>
          <div class="legend-item">
            <span class="color-box yellow" />
            <span>Probeklausuren</span>
          </div>
          <div class="legend-item">
            <span class="color-box red" />
            <span>Klausuren</span>
          </div>
        </v-row>
      </template>
    </calendar>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue'
  import { Calendar, PopoverRow } from 'v-calendar'
  import { CourseDeadline, QuizDuelDeadline } from '@/model/deadline'
  import 'v-calendar/style.css'
  import { VDivider, VRow } from 'vuetify/components'
  import { Exam } from '@/model/types/exam'

  export default defineComponent({
    name: 'SemesterCalendar',
    components: {
      Calendar,
      VRow,
      VDivider,
      PopoverRow,
    },
    props: {
      fromDate: {
        type: Date,
        required: false,
      },
      courseDeadlines: {
        type: Array,
        required: true,
      },
      quizDuelDeadlines: {
        type: Array,
        required: true,
      },
      exams: {
        type: Array,
        required: true,
      },
      testExams: {
        type: Array,
        required: true,
      },
    },
    data() {
      return {
        columns: 2,
      }
    },
    watch: {
      fromDate() {
        this.setFocusDate((this.fromDate.getMonth() + 1), this.fromDate.getFullYear())
      },
    },
    created() {
      this.setResponsiveValues()
      window.addEventListener('resize', this.setResponsiveValues)
    },
    mounted() {
      this.setFocusDate((this.fromDate.getMonth() + 1), this.fromDate.getFullYear())
    },
    beforeUnmount() {
      window.removeEventListener('resize', this.setResponsiveValues)
    },
    methods: {
      setResponsiveValues() {
        const calendarBreakpoint = window.matchMedia('(min-width: 1280px)')
        if (calendarBreakpoint.matches) {
          this.columns = 2
        } else {
          this.columns = 1
        }
      },
      setFocusDate(month: number, year: number) {
        this.$refs.calendar.move({ month, year })
      },
      getDateAttributes() {
        return [
          ...this.courseDeadlines.map((courseDeadline: CourseDeadline) => {
            return {
              key: courseDeadline.courseDeadlineId,
              type: 'course-deadline',
              highlight: {
                color: 'green',
                style: {
                  border: '1px solid gray',
                },
              },
              popover: {
                label: `${courseDeadline.lectureName}: ${courseDeadline.courseName}`,
                visibility: 'hover',
              },
              dates: [new Date(courseDeadline.deadlineAt)],
            }
          }),
          ...this.quizDuelDeadlines.map((quizDuellDeadline: QuizDuelDeadline) => {
            return {
              key: quizDuellDeadline.quizduellDeadlineId,
              type: 'quiz-deadline',
              highlight: {
                color: 'blue',
                style: {
                  border: '1px solid gray',
                },
              },
              popover: {
                label: `${quizDuellDeadline.lectureName}: ${quizDuellDeadline.taskSetName}`,
                visibility: 'hover',
              },
              dates: [new Date(quizDuellDeadline.deadlineAt)],
            }
          }),
          ...this.exams.map((exam: Exam) => {
            return {
              key: exam._id,
              type: 'exam',
              highlight: {
                color: 'red',
                style: {
                  border: '1px solid gray',
                },
              },
              popover: {
                label: exam.name,
                visibility: 'hover',
              },
              dates: [new Date(exam.date)],
            }
          }),
          ...this.testExams.map((exam: Exam) => {
            return {
              key: exam._id,
              type: 'test-exam',
              highlight: {
                style: {
                  background: '#ffeb00',
                  border: '1px solid gray',
                },
                contentStyle: {
                  color: 'black',
                },
              },
              popover: {
                label: exam.name,
                visibility: 'hover',
              },
              dates: [new Date(exam.date)],
            }
          }),
        ]
      },
    },
  })
</script>

<style scoped>
.customContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
  min-width: 400px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 8px;
}

.color-box {
  min-width: 16px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid gray;
  border-radius: 16px;
}

.green {
  background-color: #16a34a;
}

.blue {
  background-color: #2563eb;
}

.yellow {
  background-color: #ffeb00;
}

.red {
  background-color: #dc2626;
}

:global(.vc-popover-content-wrapper) {
  z-index: 906;
}

:global(.test-exam span.vc-highlight-bg-solid) {
  background: #ffeb00;
}
</style>
