<template>
  <page-layout
    :back-link="{ name: 'lectures' }"
    size="small"
    :subtitle
    :title="subscribedLecture?.name ?? ''"
  >
    <template #actions>
      <v-btn
        color="error"
        :loading="isDeletingSubscription"
        size="small"
        text="Ausschreiben"
        variant="flat"
        @click="onDelete = !onDelete"
      />
      <v-dialog v-if="onDelete" v-model="onDelete" width="auto">
        <v-card
          max-width="400"
          :text="`Bist du sicher, dass du dich aus der Vorlesung ''${subscribedLecture?.name}'' ausschreiben willst? Dein Fortschritt geht hierbei nicht verloren.`"
          title="Ausschreiben"
        >
          <template #actions>
            <v-spacer />
            <v-btn
              color="secondary"
              size="small"
              text="Abbrechen"
              variant="tonal"
              @click="onDelete = false"
            />
            <v-btn
              color="primary"
              size="small"
              text="Ja"
              variant="flat"
              @click="onDeleteSubscription()"
            />
          </template>
        </v-card>
      </v-dialog>
    </template>
    <v-row v-if="subscribedLecture?.courses.length">
      <v-col>
        <v-text-field
          v-model="search"
          density="compact"
          flat
          hide-details
          label="Suche"
          prepend-inner-icon="mdi-magnify"
          single-line
          variant="solo-filled"
        />
      </v-col>
    </v-row>
    <v-row v-if="filteredCourses?.length">
      <v-col>
        <v-card
          class="border-b-lg"
          style="border-bottom-color: rgb(var(--v-theme-primary)) !important"
        >
          <v-list density="compact" mandatory :opened="opened">
            <v-list-group
              v-for="course of filteredCourses"
              :key="course._id"
              :value="course._id"
            >
              <template #activator="{ props: listGroupProps }">
                <v-list-item v-bind="listGroupProps">
                  <v-list-item-title>
                    <div
                      v-html="
                        highlightText(
                          getFormattedTitle(course.title, course.solvedPercentage),
                          search
                        )
                      "
                    />
                  </v-list-item-title>
                  <v-list-item-subtitle>{{ course.description }}</v-list-item-subtitle>
                </v-list-item>
              </template>
              <v-list-item
                v-for="(chapter, index) of course.chapters"
                :key="`${course._id}-${chapter._id}`"
                :active="
                  visitedChapterTask?.name === `${course.title} / ${chapter.title}`
                "
                :append-icon="
                  visitedChapterTask?.name === `${course.title} / ${chapter.title}`
                    ? 'mdi-keyboard-return'
                    : undefined
                "
                :to="{
                  name: 'chapter',
                  params: {
                    chapterId: chapter._id,
                    courseId: course._id,
                    taskId: '1',
                  },
                }"
                :value="`${course._id}-${chapter._id}`"
              >
                <v-list-item-title>
                  <div
                    v-html="
                      highlightText(
                        getFormattedTitle(
                          `${index + 1}. ${chapter.title}`,
                          chapter.solvedPercentage
                        ),
                        search
                      )
                    "
                  />
                </v-list-item-title>
              </v-list-item>
            </v-list-group>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
    <v-empty-state
      v-else-if="!isLoading"
      :icon="search ? 'mdi-magnify' : 'mdi-text-box-remove-outline'"
      :text="
        search
          ? 'Es wurden keine Kurse gefunden'
          : 'Es wurden bisher keine Kurse für diese Vorlesung eingetragen.'
      "
      :title="search ? 'Keine Kurse gefunden' : 'Keine Kurse vorhanden'"
    />
  </page-layout>
</template>

<script setup lang="ts">
  import {
    VBtn,
    VCard,
    VCol,
    VDialog,
    VEmptyState,
    VList,
    VListGroup,
    VListItem,
    VListItemSubtitle,
    VListItemTitle,
    VRow,
    VSpacer,
    VTextField,
  } from 'vuetify/components'
  import PageLayout from '@/components/PageLayout.vue'
  import type { Lecture } from '@/model/types/lecture'
  import type { Semester } from '@/model/types/semester'
  import { provideLecture } from '@/providers/lecture'
  import { providePageLoader } from '@/providers/pageLoader'
  import { provideSemester } from '@/providers/semester'
  import { onKeyStroke, watchImmediate } from '@vueuse/core'
  import { computed, ref, watch } from 'vue'
  import type { Course } from '@/model/types/course'
  import { useSubscription } from '@/model/subscription'
  import { providePageAlert } from '@/providers/pageAlert'
  import { provideSubscription } from '@/providers/subscription'
  import { useRouter } from 'vue-router'
  import { highlightText } from '@/utils/highlight'
  import { useAuthOrThrow } from '@/providers/auth'
  import { provideSubscriptions } from '@/providers/subscriptions'
  import { usePageSnackbarOrThrow } from '@/providers/pageSnackbar'
  import { visitedChapterTask } from '@/providers/visitedChapterTask'

  interface Props {
    lectureId: Lecture['_id'];
    semesterId: Semester['_id'];
  }

  const props = defineProps<Props>()
  const opened = ref<Course['_id'][]>([])
  const search = ref('')
  const onDelete = ref(false)

  const { getSemester, isLoadingSemester, semester } = provideSemester()
  const {
    getSubscribedLecture,
    isLoadingSubscribedLecture,
    subscribedLecture,
  } = provideLecture()

  const subtitle = computed(() => `Semester ${semester.value?.name}`)

  const sortedCourses = computed(() =>
    subscribedLecture.value?.courses
      .toSorted((a, b) => a.title.toLowerCase().localeCompare(b.title.toLowerCase()))
      .map(course => ({
        ...course,
        chapters: course.chapters.toSorted(
          (a, b) => Number.parseInt(a._id) - Number.parseInt(b._id)
        ),
      }))
  )

  function getFormattedTitle(title: string, solvedPercentage: number) {
    return solvedPercentage > 0 ? `${title} (${Math.round(solvedPercentage)}%)` : title
  }

  const filteredCourses = computed(() =>
    sortedCourses.value
      ?.filter(
        course =>
          course.title.toLowerCase().includes(search.value.toLowerCase()) ||
          course.chapters.some(chapter =>
            chapter.title.toLowerCase().includes(search.value.toLowerCase())
          )
      )
      .map(course => ({
        ...course,
        chapters: course.chapters.filter(chapter =>
          chapter.title.toLowerCase().includes(search.value.toLowerCase())
        ),
      }))
  )

  watch(search, value => {
    if (!value && filteredCourses.value) {
      opened.value = visitedCourse.value
        ? [...pendingCourses.value, visitedCourse.value._id]
        : pendingCourses.value

      return
    }

    opened.value = filteredCourses.value?.map(course => course._id) ?? []
  })

  const { user, getUser } = useAuthOrThrow()
  const {
    userSubscriptions,
    isLoadingUserSubscriptions,
    getUserSubscriptions,
  } = provideSubscriptions()
  const { getSubscription } = useSubscription(userSubscriptions)

  const isLoading = computed(
    () =>
      isLoadingSemester.value ||
      isLoadingSubscribedLecture.value ||
      isLoadingUserSubscriptions.value
  )
  providePageLoader(isLoading)

  const visitedCourse = computed(() =>
    filteredCourses.value?.find(
      course =>
        course.title ===
        visitedChapterTask.value?.name?.split('/').map(value => value.trim())[0]
    )
  )
  const pendingCourses = computed(
    () =>
      filteredCourses.value
        ?.filter(course => course.solvedPercentage !== 0)
        .map(course => course._id) ?? []
  )

  watchImmediate(
    () => props,
    async value => {
      await Promise.all([
        getSemester(value.semesterId),
        getSubscribedLecture(value.semesterId, value.lectureId),
      ])

      if (filteredCourses.value?.length) {
        opened.value = visitedCourse.value
          ? [...pendingCourses.value, visitedCourse.value._id]
          : pendingCourses.value
      }
    }
  )

  watchImmediate(user, async value => {
    if (!value) {
      return
    }

    try {
      await getUserSubscriptions(value._id)
    } catch (error) {
      alert.value = {
        title: 'Keine Einschreibungen!',
        text: 'Einschreibungen konnten nicht geladen werden.',
        type: 'error',
      }
    }
  })

  const { isDeletingSubscription, deleteSubscription } = provideSubscription()
  const { alert } = providePageAlert()
  const router = useRouter()
  const { snackbar, show } = usePageSnackbarOrThrow()

  async function onDeleteSubscription() {
    const subscription = getSubscription(props.semesterId, props.lectureId)
    if (!subscription) {
      return
    }

    try {
      await deleteSubscription(subscription._id)
      snackbar.value = {
        text: `Von Vorlesung ${subscribedLecture.value?.name} ausgeschrieben`,
        color: 'success',
      }
      show()
      await getUser()
      await router.replace({ name: 'lectures' })
    } catch (error) {
      alert.value = {
        title: 'Fehlgeschlagen!',
        text: `Ausschreiben von Vorlesung ${subscribedLecture.value?.name} fehlgeschlagen`,
        type: 'error',
      }
    }
  }

  onKeyStroke('Enter', e => {
    e.preventDefault()
    const chapter = filteredCourses.value
      ?.map(course =>
        course.chapters.find(
          chapter =>
            chapter.title ===
            visitedChapterTask.value?.name.split('/').map(value => value.trim())[1]
        )
      )
      .filter(item => Boolean(item))
      .at(0)
    if (!visitedCourse.value || !chapter) {
      return
    }
    router.push({
      name: 'chapter',
      params: {
        chapterId: chapter._id,
        courseId: visitedCourse.value._id,
        taskId: '1',
      },
    })
  })
</script>
