<template>
  <page-layout title="Vorlesungen">
    <v-row v-if="visitedChapterTask?.path" dense>
      <v-col>
        <back-to-task />
      </v-col>
    </v-row>
    <v-row dense>
      <v-col>
        <v-card-title v-if="sortedSemesters.length" class="px-0">
          <v-text-field
            v-model="search"
            density="compact"
            flat
            hide-details
            label="Suche"
            prepend-inner-icon="mdi-magnify"
            single-line
            variant="solo-filled"
          />
        </v-card-title>
        <v-card-text v-if="filteredSemesters.length" class="px-0">
          <v-expansion-panels
            v-model="selectedSemesters"
            bg-color="transparent"
            flat
            mandatory
            :multiple="Boolean(search)"
            :readonly="Boolean(search)"
            static
            variant="accordion"
          >
            <v-expansion-panel v-for="semester in filteredSemesters" :key="semester._id" :value="semester._id">
              <v-expansion-panel-title
                class="px-4"
                :class="{'text-disabled': semester._id !== sortedSemesters.at(0)?._id}"
              >
                {{ getSemesterTitle(semester) }}
              </v-expansion-panel-title>
              <v-expansion-panel-text class="py-4 px-0">
                <v-row>
                  <template v-for="lecture in semester.lectures" :key="lecture._id">
                    <v-col
                      v-if="lecture"
                      :cols="12"
                      :md="3"
                    >
                      <v-card>
                        <v-card-title>
                          <div v-html="highlightText(lecture.name, search)" />
                        </v-card-title>
                        <v-card-text style="height: 80px">
                          {{ lecture.description.length > 75 ? `${lecture?.description.slice(0, 75)}...` : lecture.description }}
                        </v-card-text>
                        <v-card-actions class="flex-wrap px-4">
                          <v-btn
                            v-if="!hasSubscription(semester._id, lecture._id)"
                            color="secondary"
                            :loading="isCreatingSubscription || isLoadingUser"
                            size="small"
                            text="Einschreiben"
                            variant="tonal"
                            @click="onCreateSubscription(lecture, semester._id)"
                          />
                          <template v-else>
                            <v-btn
                              color="primary"
                              :disabled="isDeletingSubscription"
                              :loading="isLoadingUser"
                              size="small"
                              text="Jetzt lernen"
                              :to="{name: 'lectures-lecture', params: { lectureId: lecture._id, semesterId: semester._id }}"
                              variant="tonal"
                            />
                          </template>

                        </v-card-actions>
                      </v-card>
                    </v-col>
                  </template>
                </v-row>
              </v-expansion-panel-text>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card-text>
        <v-empty-state
          v-else
          icon="mdi-school-outline"
          :text="search ? 'Es konnten keine Vorlesungen gefunden werden.' : 'Es wurden bisher keine Vorlesungen eingetragen.'"
          :title="search ? 'Keine Vorlesungen gefunden' : 'Keine Vorlesungen vorhanden'"
        />
      </v-col>
    </v-row>
  </page-layout>
</template>

<script setup lang="ts">
  import { computed, ref, watch } from 'vue'
  import {
    VBtn, VCard, VCardActions, VCardText,
    VCardTitle, VCol, VEmptyState, VExpansionPanel,
    VExpansionPanels, VExpansionPanelText, VExpansionPanelTitle, VRow,
    VTextField,
  } from 'vuetify/components'
  import PageLayout from '@/components/PageLayout.vue'
  import { useSemester } from '@/model/semester'
  import { useSubscription } from '@/model/subscription'
  import type { SemesterView } from '@/model/types/semester'
  import type { LectureView } from '@/model/types/lecture'
  import { providePageLoader } from '@/providers/pageLoader'
  import { providePageAlert } from '@/providers/pageAlert'
  import { provideSubscription } from '@/providers/subscription'
  import { provideSemesters } from '@/providers/semesters'
  import { useRouter } from 'vue-router'
  import { highlightText } from '@/utils/highlight'
  import { useAuthOrThrow } from '@/providers/auth'
  import { provideSubscriptions } from '@/providers/subscriptions'
  import { watchImmediate } from '@vueuse/core'
  import { visitedChapterTask } from '@/providers/visitedChapterTask'
  import BackToTask from '@/components/BackToTask.vue'

  const selectedSemesters = ref<SemesterView['_id'][]>([])
  const search = ref('')

  const { user, isLoadingUser, getUser } = useAuthOrThrow()
  const { isCreatingSubscription, isDeletingSubscription, createSubscription } = provideSubscription()

  const { alert } = providePageAlert()
  const router = useRouter()

  async function onCreateSubscription(lecture: LectureView, semesterId: SemesterView['_id']) {
    if (!user.value) {
      return
    }

    try {
      await createSubscription({
        lecture: lecture._id,
        semester: semesterId,
        user: user.value._id,
      })

      getUser()

      await router.push({ name: 'lectures-lecture', params: { lectureId: lecture._id, semesterId } })

      // TODO: snackbar
      /*
      alert.value = {
        title: 'Eingeschrieben',
        text: `In Vorlesung ${lecture.name} eingeschrieben`,
        type: 'success',
      }
        */
    } catch (error) {
      alert.value = {
        title: 'Fehlgeschlagen!',
        text: `Einschreiben in Vorlesung ${lecture.name} fehlgeschlagen`,
        type: 'error',
      }
    }
  }

  const { getSemesterTitle } = useSemester()
  const { userSubscriptions, isLoadingUserSubscriptions, getUserSubscriptions } = provideSubscriptions()
  const { hasSubscription } = useSubscription(userSubscriptions)
  const { isLoadingSemesterViews, semesterViews, getSemesterViews } = provideSemesters()
  const isLoading = computed(() => isLoadingUserSubscriptions.value || isLoadingSemesterViews.value)
  providePageLoader(isLoading)

  watchImmediate(user, async value => {
    if (!value) {
      return
    }

    try {
      await getUserSubscriptions(value._id)
    } catch (error) {
      alert.value = {
        title: 'Keine Einschreibungen!',
        text: 'Einschreibungen konnten nicht geladen werden.',
        type: 'error',
      }
    }
  })

  const sortedSemesters = computed(() => semesterViews.value.map(semester => ({
    ...semester,
    lectures: [
      ...semester.lectures
        .filter(lecture => hasSubscription(semester._id, lecture._id))
        .toSorted((a, b) => a.name.localeCompare(b.name)),
      ...semester.lectures
        .filter(lecture => !hasSubscription(semester._id, lecture._id))
        .toSorted((a, b) => a.name.localeCompare(b.name)),
    ],
  })).toSorted((a, b) => b.closesAt - a.closesAt))

  const filteredSemesters = computed(() => sortedSemesters.value
    .filter(semester => semester.lectures.some(lecture => lecture.name.toLowerCase().includes(search.value.toLowerCase())))
    .map(semester => ({
      ...semester,
      lectures: semester.lectures.filter(lecture => lecture.name.toLowerCase().includes(search.value.toLowerCase())),
    }))
  )

  watch(search, value => {
    if (!value) {
      selectedSemesters.value = [filteredSemesters.value[0]._id]
      return
    }

    selectedSemesters.value = filteredSemesters.value.map(semester => semester._id)
  })

  async function onLoadSemesters() {
    await getSemesterViews()

    if (filteredSemesters.value.length) {
      selectedSemesters.value = [filteredSemesters.value[0]._id]
    }
  }

  onLoadSemesters()
</script>

<style lang="postcss" scoped>
:deep(.v-expansion-panel-text__wrapper) {
  padding: 0 !important;
}
</style>
