<template>
  <page-layout title="Klausuren">
    <exam-expansion-panel
      :exams="currentExams"
      :is-expanded="true"
      title="Klausuren heute"
    />
    <exam-expansion-panel
      v-if="currentExams.length == 0"
      :exams="testExams"
      :is-expanded="true"
      title="Probeklausuren"
    />
    <exam-expansion-panel
      v-if="currentExams.length == 0"
      :exams="oldExams"
      :is-expanded="!currentExams.length && !testExams.length"
      title="Altklausuren"
    />
  </page-layout>
</template>

<script lang="ts">
  import { computed, defineComponent, onMounted, ref } from 'vue'
  import { useAuthOrThrow } from '@/providers/auth'
  import { provideExams } from '@/providers/exams'
  import PageLayout from '@/components/PageLayout.vue'
  import ExamExpansionPanel from '@/components/exam/ExamExpansionPanel.vue'

  export default defineComponent({
    name: 'ExamOverview',
    components: {
      ExamExpansionPanel,
      PageLayout,
    },
    setup() {
      const { user } = useAuthOrThrow()
      const { exams, getUsersExams } = provideExams()
      const expandedPanels = ref([0])

      onMounted(async () => {
        await getUsersExams(user.value._id)
      })

      function isToday(date: number) {
        const today = new Date()
        const examDate = new Date(date)
        return today.getDate() === examDate.getDate() &&
          today.getMonth() === examDate.getMonth() &&
          today.getFullYear() === examDate.getFullYear()
      }

      const currentExams = computed(() => {
        return exams.value
          .filter(exam => exam.examType === 'exam')
          .filter(exam => isToday(exam.date))
          .filter(exam => exam.endTime === -1 || exam.endTime > Date.now())
      })

      const oldExams = computed(() => {
        return exams.value
          .filter(exam => exam.examType === 'old-exam')
      })

      const testExams = computed(() => {
        return exams.value
          .filter(exam => exam.examType === 'test-exam')
        // .filter(exam => isToday(exam.date));
      })

      return {
        user,
        exams,
        currentExams,
        oldExams,
        testExams,
        expandedPanels,
      }
    },
  })
</script>
