<template>
  <page-layout
    v-if="formValues"
    :back-link="{name: 'exam-overview'}"
    size="small"
    :title="formValues.exam.name"
  >
    <exam-start-auth
      v-if="formValues.state === 'login'"
      :exam-id="formValues.exam._id"
      title="Klausur starten"
      @on-auth-success="onAuthSuccess"
    />
    <v-card
      v-else-if="formValues.state === 'not-started' || formValues.state === 'ended'"
      class="mb-4"
      flat
    >
      <v-card-title v-if="formValues.state === 'not-started'">
        Die Klausur hat noch nicht gestartet.
      </v-card-title>
      <v-card-title v-else>
        Die Klausur ist beendet.
      </v-card-title>
    </v-card>
    <exam-start-overview v-else-if="formValues.state === 'running'" :exam="formValues.exam" @on-exam-ended="onExamEnded" />
  </page-layout>
</template>

<script lang="ts">
  import { watchImmediate } from '@vueuse/core'
  import { defineComponent, onMounted } from 'vue'
  import { provideExam } from '@/providers/exam'
  import { useAuthOrThrow } from '@/providers/auth'
  import PageLayout from '@/components/PageLayout.vue'
  import { useRoute } from 'vue-router'
  import { useForm } from 'vee-validate'
  import { Exam } from '@/model/types/exam'
  import ExamStartAuth from '@/components/exam/ExamStartAuth.vue'
  import { VCard, VCardTitle } from 'vuetify/components'
  import ExamStartOverview from '@/components/exam/ExamStartOverview.vue'
  import { provideExamClient, useExamClientOrThrow } from '@/providers/examClient'

  export default defineComponent({
    name: 'ExamStart',
    components: {
      ExamStartOverview,
      ExamStartAuth,
      VCard,
      VCardTitle,
      PageLayout,
    },

    setup() {
      interface FormValues {
        state: 'login' | 'not-started' | 'running' | 'ended';
        exam: Exam;
      }

      const { user } = useAuthOrThrow()
      const { exam, getUserExam } = provideExam()
      const route = useRoute()
      const {
        handleSubmit,
        resetForm,
        values: formValues,
        setFieldValue,
      } = useForm<Omit<FormValues, 'exam'> & { exam: Partial<Exam> }>({
        initialValues: {
          state: 'not-started',
          exam: {
            name: '',
          },
        },
      })
      provideExamClient()
      const { data } = useExamClientOrThrow()

      const fetchExamData = async () => {
        try {
          const response = await getUserExam(user.value!._id, route.params.examId as string)
          resetForm({
            values: {
              state: 'running',
              exam: response,
            },
          })
          if (response.tasks.length === 0) {
            if (response.endTime !== -1 && response.endTime < Date.now()) {
              setFieldValue('state', 'ended')
            } else {
              setFieldValue('state', 'not-started')
            }
          }
        } catch (e: any) {
          if (e.status === 401) {
            resetForm({
              values: {
                state: 'login',
                exam: e.response.data,
              },
            })
          }
        }
      }

      onMounted(fetchExamData)

      watchImmediate(data, (message: any) => {
        if (message) {
          console.log('message', message)
          fetchExamData()
        }
      })

      return {
        route,
        exam,
        getUserExam,
        user,
        handleSubmit,
        resetForm,
        formValues,
        setFieldValue,
      }
    },
    computed: {},
    methods: {
      async onAuthSuccess() {
        const response = await this.getUserExam(this.user!._id, this.route.params.examId as string)
        this.setFieldValue('exam', response)
        if (response.tasks && response.tasks.length !== 0) {
          this.setFieldValue('state', 'running')
        }
      },
      onExamEnded() {
        this.setFieldValue('state', 'ended')
      },
    },
  })
</script>
