<template>
  <page-layout
    v-if="exam"
    :back-link="{name: 'exam-start', params: {examId: exam._id}}"
    size="small"
    :title="exam.name"
  >
    <v-row>
      <v-col :cols="8" />

    </v-row>
    <exam-timer
      v-if="!isReadOnly && exam.examType !== 'old-exam'"
      :end-time="exam.endTime"
      @on-exam-ended="onExamEnded"
    />
    <v-row>
      <v-col v-if="solutions" :cols="8">
        <v-card class="mb-4" flat>
          <v-card-text>
            <div v-html="markdownToHtml()" />
          </v-card-text>
        </v-card>
        <component
          :is="`exam-${task.tag}`"
          v-if="task.tag !== 'info-task'"
          :exam-solution="solutions"
          :is-read-only="isReadOnly"
          :task="task"
          @task-progress="onTaskProgress"
        />
      </v-col>
      <v-col :cols="2" md="4">
        <exam-task-list
          v-if="exam"
          :exam="exam"
        />

        <v-btn
          v-if="!isReadOnly"
          class="mt-4"
          color="primary"
          size="small"
          :text="buttonText()"
          type="submit"
          variant="flat"
          @click="onSubmit"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-col />
    </v-row>
  </page-layout>
</template>

<script lang="ts">
  import { computed, defineComponent, onMounted, watch } from 'vue'
  import ExamTimer from '@/components/exam/ExamTimer.vue'
  import { provideExam } from '@/providers/exam'
  import { provideExamSolutions } from '@/providers/examSolutions'
  import { provideExamSolution } from '@/providers/examSolution'
  import { useRoute, useRouter } from 'vue-router'
  import ExamTaskList from '@/components/exam/task/ExamTaskList.vue'
  import { VBtn, VCard, VCardText, VCol, VRow } from 'vuetify/components'
  import PageLayout from '@/components/PageLayout.vue'
  import { useAuthOrThrow } from '@/providers/auth'
  import { marked } from 'marked'
  import ExamKoanTask from '@/components/exam/task/koan/ExamKoanTask.vue'
  import ExamCodeTask from '@/components/exam/task/code/ExamCodeTask.vue'
  import ExamMultipleChoiceTask from '@/components/exam/task/multiple-choice/ExamMultipleChoiceTask.vue'
  import ExamSingleChoiceTask from '@/components/exam/task/single-choice/ExamSingleChoiceTask.vue'
  import ExamReflectionTask from '@/components/exam/task/reflection/ExamReflectionTask.vue'
  import { ExamSolution } from '@/model/types/examSolution'

  export default defineComponent({
    name: 'ExamTask',
    components: {
      ExamCodeTask,
      ExamKoanTask,
      ExamMultipleChoiceTask,
      ExamSingleChoiceTask,
      ExamReflectionTask,
      PageLayout,
      ExamTaskList,
      ExamTimer,
      VCard,
      VCardText,
      VRow,
      VCol,
      VBtn,
    },
    setup() {
      const { user } = useAuthOrThrow()
      const route = useRoute()
      const router = useRouter()
      const { exam, getUserExam } = provideExam()
      const { examSolutions, getUserExamSolutions } = provideExamSolutions()
      const { updateExamSolution } = provideExamSolution()

      onMounted(async () => {
        try {
          await getUserExam(user.value._id, route.params.examId)
          await getUserExamSolutions(route.params.examId)
        } catch (e) {
          await router.push({ name: 'exam-start', params: { examId: route.params.examId } })
        }
      })

      watch(
        () => route.params.taskId,
        async () =>
          await getUserExamSolutions(route.params.examId)
      )

      const task = computed(
        () =>
          exam.value.tasks.find(task => task._id === route.params.taskId)
      )

      const solutions: ExamSolution = computed(
        () => {
          return examSolutions.value.find(solution => solution.examTaskId === route.params.taskId)
        }
      )

      const isReadOnly = computed(() => {
        return exam.value.examType === 'test-exam' &&
          exam.value.endTime < new Date().getTime()
      })

      const isLastTask = () =>
        exam.value.tasks.indexOf(task.value) === exam.value.tasks.length - 1

      const onSubmit = async () => {
        if (task.value.tag !== 'info-task') {
          await updateExamSolution(solutions.value._id, solutions.value)
            .then(async () => {
              if (isLastTask()) {
                await router.push({ name: 'exam-start', params: { examId: route.params.examId } })
              } else {
                const nextTaskId =
                  exam.value.tasks[exam.value.tasks.indexOf(task.value) + 1]._id
                await router.push({
                  name: 'exam-task',
                  params: { examId: route.params.examId, taskId: nextTaskId },
                })
              }
            })
        } else {
          if (isLastTask()) {
            await router.push({ name: 'exam-start', params: { examId: route.params.examId } })
          } else {
            const nextTaskId =
              exam.value.tasks[exam.value.tasks.indexOf(task.value) + 1]._id
            await router.push({
              name: 'exam-task',
              params: { examId: route.params.examId, taskId: nextTaskId },
            })
          }
        }
      }

      const buttonText = () => {
        if (task.value.tag === 'info-task') {
          return isLastTask() ? 'Zurück zur Übersicht' : 'Weiter'
        }
        return isLastTask() ? 'Speichern & Zur Übersicht' : 'Speichern & Weiter'
      }

      const onTaskProgress = (solvedData: any) => {
        if (task.value.tag === 'single-choice-task') {
          solutions.value.solvedWith.forEach(item => {
            item.correctness = false
          })
        }

        const existingSolutionIndex = solutions.value.solvedWith.findIndex(
          item => item._id === solvedData.solutionId
        )

        if (existingSolutionIndex !== -1) {
          solutions.value.solvedWith[existingSolutionIndex].solution =
            solvedData.value
          solutions.value.solvedWith[existingSolutionIndex].correctness =
            solvedData.correctness
        } else {
          const newSolution = {
            _id: solvedData.solutionId,
            solution: solvedData.value,
            correctness: solvedData.correctness,
          }
          solutions.value.solvedWith.push(newSolution)
        }
      }

      return {
        onSubmit,
        onTaskProgress,
        exam,
        route,
        router,
        task,
        solutions,
        isReadOnly,
        buttonText,
        getUserExamSolutions,
        updateExamSolution,
      }
    },
    methods: {
      onExamEnded() {
        if (this.task.tag !== 'info-task') {
          if (confirm('Möchten Sie diese Aufgabe vor dem Beenden abspeichern?')) {
            this.updateExamSolution(this.solutions._id, this.solutions)
              .then(() => {
                this.router.push({ name: 'exam-start', params: { examId: this.route.params.examId } })
              })
          }
        }
        this.router.push({ name: 'exam-start', params: { examId: this.route.params.examId } })
      },
      markdownToHtml() {
        try {
          return marked.parse(this.task.data.description.trim())
        } catch (error) {
          console.error(
            'Error rendering Markdown: Please check the input: ' +
              this.task.data.description.trim(),
            error
          )
          return '<p>' + this.task.data.description.trim() + '</p>'
        }
      },
    },
  })
</script>

<style scoped lang="scss">
.taskList {
  width: auto;
  position: fixed;
  right: 0;
  top: 10rem;
  max-height: calc(100vh - 10rem);
  overflow-y: auto;
}

@media (max-width: 768px) {
  .taskList {
  }
}
</style>
