<template>
  <div class="position-relative fill-height w-100  bg-secondary">
    <img
      class="position-absolute"
      src="/htwg/htwg-letter-c.svg"
      style="top: 13%; left: 13%;"
    >
    <img
      class="position-absolute"
      src="/htwg/htwg-letter-t.svg"
      style="bottom: 8%; right: 22%;"
    >

    <div class="htwg-bubble position-absolute" />

    <img
      class="position-absolute htwg-in-logo"
      src="/htwg/htwg-in-logo-nodots.png"
      :style="{top: xs ? '0.4rem' : undefined}"
    >
    <slot />
  </div>
</template>
<script setup lang="ts">
  import { useDisplay } from 'vuetify'

  const { xs } = useDisplay()
</script>
<style lang="scss" scoped>
.htwg-bubble {
  border-radius: 50%;
  top: 60%;
  left: 25%;
  width: 4rem;
  height: 4rem;
  background-color: #d9e5ec;
}

.htwg-in-logo {
  width: 18rem;
  top: 5rem;
  right: 4.2rem;
}
</style>
