<template>
  <codetask-background>
    <div class="position-absolute top-0 fill-height d-flex align-center justify-center w-100">
      <v-card
        class="w-33 border-b-lg"
        :class="{'w-100': xs, 'mx-4': xs, 'w-75': smAndDown}"
        style="border-bottom-color: rgb(var(--v-theme-primary)) !important;"
      >
        <v-alert
          v-if="showError"
          class="rounded-b-0"
          closable
          text="Bitte überprüfen Sie ihre Daten."
          title="Anmelden fehlgeschlagen"
          type="error"
        />
        <v-card-title>
          <v-row>
            <v-col>
              <v-img
                alt="Codetask Logo"
                aspect-ratio="16/9"
                height="40"
                src="/codetask/logo-dark-full.svg"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <h5 class="text-h5 font-weight-bold text-center">Learn Scala with ease</h5>
            </v-col>
          </v-row>
        </v-card-title>
        <v-form :id="formId" @submit="onSubmit">
          <v-card-text>
            <v-row>
              <v-col>
                <field v-slot="{componentField, errors}" label="E-Mail" name="email" rules="required|email">
                  <v-text-field
                    append-inner-icon="mdi-email-outline"
                    v-bind="componentField"
                    :error-messages="errors"
                    hide-details="auto"
                    hint="E-Mail oder HTWG-Mail"
                    label="E-Mail"
                    persistent-hint
                    placeholder="ma291abc@htwg-konstanz.de"
                    type="email"
                  />
                </field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <field v-slot="{componentField, errorMessage}" label="Passwort" name="password" rules="required">
                  <v-text-field
                    :append-inner-icon="isPasswordVisible ? 'mdi-eye-off-outline' : 'mdi-eye-outline'"
                    :error-messages="errorMessage"
                    hide-details="auto"
                    label="Passwort"
                    :type="isPasswordVisible ? 'text' : 'password'"
                    v-bind="componentField"
                    @click:append-inner="isPasswordVisible = !isPasswordVisible"
                  />
                </field>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions class="px-4">
            <v-btn
              color="primary"
              :form="formId"
              :loading="isSubmitting"
              text="Anmelden"
              type="submit"
              variant="flat"
            />
          </v-card-actions>
          <v-divider />
          <v-card-actions class="px-4">
            Neu bei Codetask? <v-btn color="primary" text="Registrieren" :to="{name: 'signup'}" />
          </v-card-actions>
        </v-form>
      </v-card>
    </div>
  </codetask-background>
</template>

<script setup lang="ts">
  import type { SigninRequest } from '@/model/types/auth'
  import CodetaskBackground from './CodetaskBackground.vue'
  import { useAuthOrThrow } from '@/providers/auth'
  import { Field, useForm } from 'vee-validate'
  import { ref } from 'vue'
  import { useRouter } from 'vue-router'
  import { useDisplay } from 'vuetify'
  import {
    VAlert, VBtn, VCard, VCardActions,
    VCardText, VCardTitle, VCol, VDivider, VForm,
    VImg, VRow, VTextField,
  } from 'vuetify/components'
  const isPasswordVisible = ref(false)
  const { smAndDown, xs } = useDisplay()

  const { isSubmitting, handleSubmit } = useForm<SigninRequest>()
  const formId = Symbol('signinForm').toString()
  const showError = ref(false)
  const htwgMail = 'htwg-konstanz.de'
  const { signIn, signInHtwg } = useAuthOrThrow()
  const router = useRouter()

  const onSubmit = handleSubmit(async values => {
    showError.value = false

    try {
      if (values.email.split('@')[1] === htwgMail) {
        await signInHtwg(values)
      } else {
        await signIn(values)
      }

      await router.replace({ name: 'home' })
    } catch (error) {
      showError.value = true
    }
  })
</script>
