<template>
  <codetask-background>
    <div
      class="position-absolute top-0 fill-height d-flex align-center justify-center w-100"
    >
      <v-card
        class="w-33 border-b-lg"
        :class="{ 'w-100': xs, 'mx-4': xs, 'w-75': smAndDown }"
        style="border-bottom-color: rgb(var(--v-theme-primary)) !important"
      >
        <v-alert
          v-if="showError"
          class="rounded-b-0"
          closable
          text="Bitte überprüfen Sie ihre Daten."
          title="Registrieren fehlgeschlagen"
          type="error"
        />
        <v-form :id="formId" @submit="onSubmit">
          <v-card-text>
            <v-row>
              <v-col>
                <field
                  v-slot="{ componentField, errors }"
                  label="E-Mail"
                  name="email"
                  rules="required|email"
                >
                  <v-text-field
                    append-inner-icon="mdi-email-outline"
                    v-bind="componentField"
                    :error-messages="errors"
                    hide-details="auto"
                    hint="E-Mail oder HTWG-Mail"
                    label="E-Mail"
                    persistent-hint
                    placeholder="ma291abc@htwg-konstanz.de"
                    type="email"
                  />
                </field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <field
                  v-slot="{ componentField, errorMessage }"
                  label="Passwort"
                  name="password"
                  rules="required|min:8|max:32"
                >
                  <v-text-field
                    :append-inner-icon="
                      isPasswordVisible ? 'mdi-eye-off-outline' : 'mdi-eye-outline'
                    "
                    v-bind="componentField"
                    :error-messages="errorMessage"
                    hide-details="auto"
                    label="Passwort"
                    :type="isPasswordVisible ? 'text' : 'password'"
                    @click:append-inner="isPasswordVisible = !isPasswordVisible"
                  />
                </field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <field
                  v-slot="{ componentField, errorMessage }"
                  label="Passwort wiederholen"
                  name="passwordRepeat"
                  rules="required|confirmed:@password"
                >
                  <v-text-field
                    :append-inner-icon="
                      isPasswordVisible ? 'mdi-eye-off-outline' : 'mdi-eye-outline'
                    "
                    :error-messages="errorMessage"
                    hide-details="auto"
                    label="Passwort wiederholen"
                    :type="isPasswordVisible ? 'text' : 'password'"
                    v-bind="componentField"
                    @click:append-inner="isPasswordVisible = !isPasswordVisible"
                  />
                </field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <field
                  v-slot="{ componentField, errorMessage }"
                  label="Name"
                  name="username"
                  rules="required"
                >
                  <v-text-field
                    append-inner-icon="mdi-account"
                    v-bind="componentField"
                    autocomplete="off"
                    :error-messages="errorMessage"
                    hide-details="auto"
                    label="Name"
                  />
                </field>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions class="px-4">
            <v-btn
              color="primary"
              :form="formId"
              :loading="isSubmitting"
              text="Registrieren"
              type="submit"
              variant="flat"
            />
          </v-card-actions>
          <v-divider />
          <v-card-actions class="px-4">
            Bereits registriert?
            <v-btn color="primary" text="Anmelden" :to="{ name: 'signin' }" />
          </v-card-actions>
        </v-form>
      </v-card>
    </div>
  </codetask-background>
</template>

<script setup lang="ts">
  import CodetaskBackground from './CodetaskBackground.vue'
  import type { SignupRequest } from '@/model/types/auth'
  import { useAuthOrThrow } from '@/providers/auth'
  import { Field, useForm } from 'vee-validate'
  import { ref } from 'vue'
  import { useRouter } from 'vue-router'
  import { useDisplay } from 'vuetify'
  import {
    VAlert,
    VBtn,
    VCard,
    VCardActions,
    VCardText,
    VCol,
    VDivider,
    VForm,
    VRow,
    VTextField,
  } from 'vuetify/components'
  const isPasswordVisible = ref(false)

  const { isSubmitting, handleSubmit } = useForm<SignupRequest>()
  const formId = Symbol('signupForm').toString()
  const showError = ref(false)
  const { signUp } = useAuthOrThrow()
  const router = useRouter()
  const { smAndDown, xs } = useDisplay()

  const onSubmit = handleSubmit(async values => {
    showError.value = false
    const signupValues = {
      email: values.email,
      password: values.password,
      username: values.username,
    }

    try {
      await signUp(signupValues)
      await router.replace({ name: 'home' })
    } catch (error) {
      showError.value = true
    }
  })
</script>
