<template>
  <el-alert :title="message" type="error" :closable="false" />
</template>

<script>
export default {
  name: "Alert",
  props: {
    message: String
  }
};
</script>

<style scoped></style>
