<template>
  <vue-friendly-iframe
    v-loading="loading"
    src="https://scastie.scala-lang.org/"
    @load="ready"
    className="scastie"
  />
</template>

<script>
export default {
  name: "ide",
  data() {
    return { loading: true };
  },
  methods: {
    ready() {
      setTimeout(() => {
        this.loading = false;
      }, 500);
    }
  }
};
</script>

<style lang="scss" scoped>
::v-deep .scastie {
  width: 100%;
  height: 650px;
}
</style>
