<script>
import { HorizontalBar } from "vue-chartjs";
import { mapState } from "vuex";
import router from "@/router";

export default {
  name: "BarChartQuizDuelRankingAdmin",
  extends: HorizontalBar,
  data: () => ({
    type: "horizontalBar",
    options: {},
    userData: []
  }),
  props: {
    lecture: {
      type: Object,
      required: true
    },
    semester: {
      type: Object,
      required: true
    },
    quizDuel: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState("quizDuellStore", ["quizDuells"]),
    getChartData() {
      this.userData = this.getUserData();
      return {
        labels: this.userData.map(entry => entry.username),
        datasets: [
          {
            label: "Gesamtpunktzahl",
            backgroundColor: "#409EFF",
            data: this.userData.map(entry => entry.totalScore)
          }
        ]
      };
    },
    getOptions() {
      return {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [
            {
              display: true,
              ticks: {
                suggestedMin: 0,
                suggestedMax: this.getMaxValue(),
                precision: 0
              }
            }
          ]
        }
      }
    },
  },
  watch: {
    quizDuel: {
      handler() {
        const options = this.getOptions;
        options.onClick = this.onClick;
        this.renderChart(this.getChartData, options);
      },
      deep: true
    },
    lecture: {
      handler() {
        const options = this.getOptions;
        options.onClick = this.onClick;
        this.renderChart(this.getChartData, options);
      },
      deep: true
    },
  },
  mounted() {
    const options = this.getOptions;
    options.onClick = this.onClick;
    this.renderChart(this.getChartData, options);
  },
  methods: {
    renderChartFromParent() {
      this.renderChart(this.getChartData, this.getOptions);
    },
    onClick(event, elements) {
      if (elements && elements.length > 0) {
        const index = elements[0]._index;
        const user = this.userData[index];
        const routeParameters = {
          semesterId: this.semester._id,
          lectureId: this.lecture._id,
          userId: user.userId,
          quizDuelId: this.quizDuel._id
        };
        router.push({
          name: "user-specific-score-with-params",
          params: routeParameters
        });
      }
    },
    getUserData() {
      const quizDuels = this.quizDuel._id === 'default' ? this.quizDuells.filter(
        duel =>
          duel.lecture === this.lecture._id &&
          duel.semester === this.semester._id
      ) : [this.quizDuel];
      const summedUpUserScores = [quizDuels
        .flatMap(duell => duell.quizduellUsers)
        .reduce((acc, entry) => {
          if (!acc[entry.userId]) {
            acc[entry.userId] = { userId: entry.userId, username: entry.username, totalScore: 0 };
          }
          acc[entry.userId].totalScore += entry.score;
          return acc;
        }, {})];
      const userData = Object.keys(summedUpUserScores[0]).map(key => summedUpUserScores[0][key]);
      const comparator = (a, b) => {
        return (a.username).localeCompare(b.username);
      };
      return userData.sort(comparator);
    },
    getMaxValue() {
      if (this.quizDuel._id !== 'default') {
        return this.quizDuel.tasks.flatMap(task => {
          if (task.tag === 'koan-task') {
            return task.data.solutions.length;
          } else {
            return 1;
          }
        }).reduce((a, b) => a + b, 0);
      } else {
        const filteredQuizDuells = this.quizDuells.filter(quizDuel => quizDuel.lecture === this.lecture._id && quizDuel.semester === this.semester._id);
        return filteredQuizDuells.flatMap(quizDuel => quizDuel.tasks.flatMap(task => {
          if (task.tag === 'koan-task') {
            return task.data.solutions.length;
          } else {
            return 1;
          }
        })).reduce((a, b) => a + b, 0);
      }
    }
  }
};
</script>

<style scoped></style>
