<script>
import { Bar } from "vue-chartjs";
import CourseMixin from "@/mixins/CourseMixin";

export default {
  name: "PieChart",
  extends: Bar,
  mixins: [CourseMixin],
  data: () => ({
    options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        yAxes: [
          {
            display: true,
            ticks: {
              suggestedMin: 0,
              suggestedMax: 100
            }
          }
        ]
      }
    }
  }),
  props: {
    user: {
      type: Object,
      required: true
    },
    lecture: {
      type: Object,
      required: true
    },
    semester: {
      type: Object,
      required: true
    }
  },
  computed: {
    getChartData() {
      return {
        labels: this.getCoursesSortedByName(this.lecture.courses).map(
          course => course.title
        ),
        datasets: [
          {
            label: "Dein Fortschritt in % aller Aufgaben",
            data: this.getCoursesSortedByName(
              this.lecture.courses
            ).map(course =>
              this.getOverallProgressOfCourse(this.user, course, this.semester)
            ),
            backgroundColor: "#409EFF"
          }
        ]
      };
    }
  },
  mounted() {
    this.renderChart(this.getChartData, this.options);
  }
};
</script>

<style scoped></style>
