<template>
  <page-layout size="normal" title="Ranking über Gesamtpunktzahlen">
    <v-tabs v-model="tabChoice" background-color="primary" grow>
      <v-tab value="courses">Kurse</v-tab>
      <v-tab value="quizDuels">Quizduelle</v-tab>
      <v-tab value="exams">Klausuren</v-tab>
    </v-tabs>
    <v-skeleton-loader :loading="loading" type="table-row">
      <v-row class="my-10">
        <v-col cols="2">
          <v-autocomplete
            autocomplete="off"
            class="autocomplete"
            hide-details
            item-title="name"
            item-value="_id"
            :items="semesters"
            label="Semester"
            :model-value="semesterValue"
            variant="outlined"
            @update:model-value="setSemester"
          />
        </v-col>
        <v-col cols="2">
          <v-autocomplete
            autocomplete="off"
            class="autocomplete"
            :disabled="!semesterValue"
            hide-details
            item-title="name"
            item-value="_id"
            :items="getLecturesOfSemester(semesterValue)"
            label="Vorlesung"
            :model-value="lectureValue"
            variant="outlined"
            @update:model-value="setLecture"
          />
        </v-col>
        <template v-if="tabChoice === 'courses'">
          <v-col cols="2">
            <v-autocomplete
              autocomplete="off"
              class="autocomplete"
              :disabled="!lectureValue"
              hide-details
              item-title="title"
              item-value="_id"
              :items="getCoursesOfLecture(lectureValue)"
              label="Kurs"
              :model-value="courseValue"
              variant="outlined"
              @update:model-value="setCourse"
            />
          </v-col>
          <v-col cols="2">
            <v-autocomplete
              autocomplete="off"
              class="autocomplete"
              :disabled="!lectureValue"
              hide-details
              item-title="title"
              item-value="courseChapterId"
              :items="getChaptersOfCourse(courseValue)"
              label="Kapitel"
              :model-value="chapterValue"
              variant="outlined"
              @update:model-value="setChapter"
            />
          </v-col>
          <v-col cols="2">
            <v-autocomplete
              autocomplete="off"
              class="autocomplete"
              :disabled="!lectureValue"
              hide-details
              item-title="name"
              item-value="_id"
              :items="getTasksOfChapter(chapterValue)"
              label="Aufgabe"
              :model-value="taskValue"
              variant="outlined"
              @update:model-value="setTask"
            />
          </v-col>
        </template>
        <template v-else-if="tabChoice === 'quizDuels'">
          <v-col cols="2">
            <v-autocomplete
              autocomplete="off"
              class="autocomplete"
              :disabled="!lectureValue"
              hide-details
              item-title="name"
              item-value="_id"
              :items="getQuizDuelsOfLecture(lectureValue)"
              label="Quizduell"
              :model-value="quizDuelValue"
              variant="outlined"
              @update:model-value="setQuizDuel"
            />
          </v-col>
        </template>
        <template v-else-if="tabChoice === 'exams'">
          <v-col cols="2">
            <v-autocomplete
              autocomplete="off"
              class="autocomplete"
              :disabled="!lectureValue"
              hide-details
              item-title="name"
              item-value="type"
              :items="getExamTypes()"
              label="Klausurtyp"
              :model-value="examTypeValue"
              variant="outlined"
              @update:model-value="setExamType"
            />
          </v-col>
          <v-col cols="2">
            <v-autocomplete
              autocomplete="off"
              class="autocomplete"
              :disabled="!lectureValue"
              hide-details
              item-title="name"
              item-value="_id"
              :items="getSortedExams(examTypeValue.type)"
              label="Klausur"
              :model-value="examValue"
              variant="outlined"
              @update:model-value="setExam"
            />
          </v-col>
          <v-col cols="2">
            <v-autocomplete
              autocomplete="off"
              class="autocomplete"
              :disabled="!lectureValue"
              hide-details
              item-title="name"
              item-value="_id"
              :items="getExamTasksOfExam(examValue)"
              label="Aufgabe"
              :model-value="examTaskValue"
              variant="outlined"
              @update:model-value="setExamTask"
            />
          </v-col>
        </template>
        <v-col cols="2">
          <v-btn
            color="primary"
            :disabled="!lectureValue"
            :loading="isUpdatingData"
            @click="updateData"
          >
            Daten Aktualisieren
          </v-btn>
        </v-col>
      </v-row>
    </v-skeleton-loader>

    <v-row v-if="lectureValue" class="mt-1">
      <h2 v-if="tabChoice === 'courses'">{{ getCourseChartHeader() }}</h2>
      <h2 v-else-if="tabChoice === 'quizDuels'">{{ getQuizDuelChartHeader() }}</h2>
      <h2 v-else>{{ getExamChartHeader() }}</h2>

      <BarChartCourseRankingAdmin
        v-if="tabChoice === 'courses' && lectureValue.courses.length"
        ref="barChartCourseRankingAdmin"
        :chapter="chapterValue"
        :course="courseValue"
        :courses="courses"
        :lecture="lectureValue"
        :semester="semesterValue"
        :subscriptions="subscriptions"
        :task="taskValue"
        :task-progresses="taskProgresses"
        :users="users"
      />

      <BarChartQuizDuelRankingAdmin
        v-if="tabChoice === 'quizDuels' && getQuizDuelsOfLecture(lectureValue).length > 1"
        ref="barChartQuizDuelRankingAdmin"
        :courses="courses"
        :lecture="lectureValue"
        :quiz-duel="quizDuelValue"
        :quiz-duels="originalQuizDuels"
        :quiz-task-sets="quizTaskSets"
        :semester="semesterValue"
      />

      <BarChartExamRankingAdmin
        v-if="tabChoice === 'exams' && exams.filter((exam) => exam.semester === semesterValue._id && exam.lecture === lectureValue._id).length"
        ref="barChartExamRankingAdmin"
        :exam="examValue"
        :exam-solutions="examSolutions"
        :exam-task="examTaskValue"
        :exams="exams"
        :exams-in-type="getSortedExams(examTypeValue.type)"
        :lecture="lectureValue"
        :semester="semesterValue"
        :users="users"
      />
    </v-row>
  </page-layout>
</template>

<script lang="ts">
  import { defineComponent, onMounted, ref } from 'vue'
  import { provideQuizTaskSets } from '@/providers/quizTaskSets'
  import { provideLectures } from '@/providers/lectures'
  import { provideSemesters } from '@/providers/semesters'
  import { provideCourses } from '@/providers/courses'
  import { Task } from '@/model/types/task'
  import { Semester } from '@/model/types/semester'
  import { Lecture } from '@/model/types/lecture'
  import { Course } from '@/model/types/course'
  import { Chapter } from '@/model/types/chapter'
  import { provideQuizDuels } from '@/providers/quizDuels'
  import { QuizDuel } from '@/model/types/quizDuel'
  import { VAutocomplete, VBtn, VCol, VRow, VSkeletonLoader, VTab, VTabs } from 'vuetify/components'
  import PageLayout from '@/components/PageLayout.vue'
  import { provideUsers } from '@/providers/users'
  import BarChartCourseRankingAdmin from '@/components/statistic/BarChartCourseRankingAdmin.vue'
  import { provideSubscriptions } from '@/providers/subscriptions'
  import { provideTaskProgresses } from '@/providers/taskProgresses'
  import { usePageSnackbarOrThrow } from '@/providers/pageSnackbar'
  import BarChartQuizDuelRankingAdmin from '@/components/statistic/BarChartQuizDuelRankingAdmin.vue'
  import { provideExams } from '@/providers/exams'
  import { provideExamSolutions } from '@/providers/examSolutions'
  import { Exam, ExamTask } from '@/model/types/exam'
  import BarChartExamRankingAdmin from '@/components/statistic/BarChartExamRankingAdmin.vue'

  export default defineComponent({
    name: 'AdminRankingPoints',
    components: {
      PageLayout,
      VTabs,
      VTab,
      VRow,
      VCol,
      VAutocomplete,
      VBtn,
      VSkeletonLoader,
      BarChartCourseRankingAdmin,
      BarChartQuizDuelRankingAdmin,
      BarChartExamRankingAdmin,
    },
    setup() {
      const { users, getUsers } = provideUsers()
      const { subscriptions, getSubscriptions } = provideSubscriptions()
      const { lectures, getLectures } = provideLectures()
      const { semesters, getSemesters } = provideSemesters()
      const { courses, getCourses } = provideCourses()
      const { originalQuizDuels, getOriginalQuizDuels } = provideQuizDuels()
      const { quizTaskSets, getQuizTaskSets } = provideQuizTaskSets()
      const { taskProgresses, getTaskProgresses } = provideTaskProgresses()
      const { exams, getExams } = provideExams()
      const { examSolutions, getExamSolutions } = provideExamSolutions()
      const { snackbar, show } = usePageSnackbarOrThrow()

      const setSnackbar = (text: string, color: string = 'success') => {
        snackbar.value = { text, color }
        show()
      }

      const defaultCourse = {
        _id: 'default',
        title: 'Alle',
        chapters: [],
      }
      const defaultChapter = {
        _id: 'default',
        courseChapterId: 'default',
        title: 'Alle',
        tasks: [],
      }
      const defaultTask = {
        _id: 'default',
        name: 'Alle',
      }
      const defaultQuizDuel = {
        _id: 'default',
        name: 'Alle',
      }
      const defaultExam = {
        _id: 'default',
        name: 'Alle',
      }
      const defaultExamTask = {
        _id: 'default',
        name: 'Alle',
      }

      const semesterValue = ref<Semester>(null)
      const lectureValue = ref<Lecture>(null)
      const courseValue = ref<Course | any>(null)
      const chapterValue = ref<Chapter | any>(null)
      const taskValue = ref<Task | any>(null)
      const quizDuelValue = ref<QuizDuel | any>(null)
      const examTypeValue = ref<any>(null)
      const examValue = ref<Exam | any>(null)
      const examTaskValue = ref<ExamTask | any>(null)

      const loading = ref<boolean>(true)

      const getLecturesOfSemester = (semester: Semester) => {
        if (!semester) return []
        return lectures.value.filter((lecture: Lecture) =>
          semester.lectures.includes(lecture._id)
        )
      }

      const getExamTypes = () => {
        return [
          { type: 'exam', name: 'Klausur' },
          { type: 'test-exam', name: 'Probeklausur' },
          { type: 'old-exam', name: 'Altklausur' },
        ]
      }

      const getSortedExams = (examType: 'exam' | 'text-exam' | 'old-exam') => {
        return [
          defaultExam,
          ...exams.value.filter((exam: Exam) =>
            exam.examType === examType &&
            exam.semester === semesterValue.value._id &&
            exam.lecture === lectureValue.value._id &&
            exam.date <= new Date().getTime()
          ).sort((a, b) => (b.date !== -1 && a.date !== -1) ? b.date - a.date : a.name.localeCompare(b.name)),
        ]
      }

      const setDefaultExamAndExamType: void = () => {
        if (getSortedExams('exam').length > 1) {
          examValue.value = getSortedExams('exam')[0]
          examTypeValue.value = getExamTypes()[0]
        } else if (getSortedExams('test-exam').length > 1) {
          examValue.value = getSortedExams('test-exam')[0]
          examTypeValue.value = getExamTypes()[1]
        } else if (getSortedExams('old-exam').length > 1) {
          examValue.value = getSortedExams('old-exam')[0]
          examTypeValue.value = getExamTypes()[2]
        } else {
          examValue.value = defaultExam
        }
      }

      const fetchEverything = () => Promise.allSettled(
        [
          getLectures(),
          getSemesters(),
          getCourses(),
          getOriginalQuizDuels(),
          getQuizTaskSets(),
          getUsers(),
          getSubscriptions(),
          getTaskProgresses(),
          getExams(),
          getExamSolutions(),
        ]
      )

      onMounted(async () => {
        await fetchEverything()

        // set default values
        // Semester
        const orderedSemesters = semesters.value.sort((a, b) => {
          return b.closesAt - a.closesAt
        })
        semesterValue.value = orderedSemesters.find(
          semester => semester._id === (orderedSemesters.length ? orderedSemesters[0]._id : '')
        )
        // Lecture
        const lecturesOfSemester = getLecturesOfSemester(semesterValue.value)
        lectureValue.value = lecturesOfSemester.find(
          (lecture: Lecture) => lecture._id === (lecturesOfSemester.length ? lecturesOfSemester[0]._id : '')
        )
        // Course
        courseValue.value = defaultCourse
        // Chapter
        chapterValue.value = defaultChapter
        // Task
        taskValue.value = defaultTask

        // Quizduell
        quizDuelValue.value = defaultQuizDuel

        // Exam & ExamType
        setDefaultExamAndExamType()
        // ExamTask
        examTaskValue.value = defaultExamTask

        loading.value = false
      })

      return {
        getLecturesOfSemester,
        getExamTypes,
        getSortedExams,
        fetchEverything,
        setSnackbar,
        setDefaultExamAndExamType,
        users,
        lectures,
        semesters,
        courses,
        originalQuizDuels,
        quizTaskSets,
        subscriptions,
        taskProgresses,
        exams,
        examSolutions,
        quizDuelValue,
        taskValue,
        chapterValue,
        courseValue,
        lectureValue,
        semesterValue,
        examValue,
        examTypeValue,
        examTaskValue,
        defaultQuizDuel,
        defaultTask,
        defaultChapter,
        defaultCourse,
        defaultExam,
        defaultExamTask,
        loading,
      }
    },
    data() {
      return {
        tabChoice: 'courses',
        isUpdatingData: false,
      }
    },
    methods: {
      setSemester(semesterId: string) {
        this.semesterValue = this.semesters.find(
          (semester: Semester) => semester._id === semesterId
        )
        const lecturesOfSemester = this.getLecturesOfSemester(this.semesterValue)
        this.lectureValue = lecturesOfSemester.find(
          (lecture: Lecture) => lecture._id === (lecturesOfSemester.length ? lecturesOfSemester[0]._id : '')
        )
        this.courseValue = this.defaultCourse
        this.chapterValue = this.defaultChapter
        this.taskValue = this.defaultTask

        this.quizDuelValue = this.defaultQuizDuel

        this.examTaskValue = this.defaultExamTask
        this.setDefaultExamAndExamType()
      },
      setLecture(lectureId: string) {
        this.lectureValue = this.lectures.find(
          (lecture: Lecture) => lecture._id === lectureId
        )
        this.courseValue = this.defaultCourse
        this.chapterValue = this.defaultChapter
        this.taskValue = this.defaultTask

        this.quizDuelValue = this.defaultQuizDuel

        this.examTaskValue = this.defaultExamTask
        this.setDefaultExamAndExamType()
      },
      setCourse(courseId: string) {
        if (courseId !== 'default') {
          this.courseValue = this.courses.find(
            (course: Course) => course._id === courseId
          )
        } else {
          this.courseValue = this.defaultCourse
        }
        this.chapterValue = this.defaultChapter
        this.taskValue = this.defaultTask
      },
      setChapter(chapterId: string) {
        if (chapterId !== 'default') {
          this.chapterValue = this.getChaptersOfCourse(this.courseValue).find(
            chapter => chapter.courseChapterId === chapterId
          )
          if (this.courseValue._id === 'default') {
            this.courseValue = this.courses.find(
              (course: Course) => course._id === this.chapterValue.courseId
            )
          }
        } else {
          this.chapterValue = this.defaultChapter
        }
        this.taskValue = this.defaultTask
      },
      setTask(taskSelectionId: string) {
        if (taskSelectionId !== 'default') {
          for (let i = 0; i < this.chapterValue.tasks.length; i++) {
            if (this.chapterValue.tasks[i]._id === taskSelectionId) {
              this.taskValue = { _id: this.chapterValue.tasks[i]._id, name: `Aufgabe ${i + 1}` }
              return
            }
          }
        }
        this.taskValue = this.defaultTask
      },
      setQuizDuel(quizDuelId) {
        if (quizDuelId === 'default') {
          this.quizDuelValue = this.defaultQuizDuel
          return
        }
        this.quizDuelValue = this.getQuizDuelsOfLecture(this.lectureValue).find(
          quizDuel => quizDuel._id === quizDuelId
        )
      },
      setExamType(examType: string) {
        this.examTypeValue = this.getExamTypes().find(
          (type: any) => type.type === examType
        )
        this.examValue = this.defaultExam
        this.examTaskValue = this.defaultExamTask
      },
      setExam(examId: string) {
        if (examId === 'default') {
          this.examValue = this.defaultExam
        } else {
          this.examValue = this.exams.find(
            (exam: Exam) => exam._id === examId
          )
        }
        this.examTaskValue = this.defaultExamTask
      },
      setExamTask(examTaskId: string) {
        if (examTaskId === 'default') {
          this.examTaskValue = this.defaultExamTask
        } else {
          this.examTaskValue = this.getExamTasksOfExam(this.examValue).find(
            (examTask: ExamTask) => examTask._id === examTaskId
          )
        }
      },
      getCoursesOfLecture(lecture: Lecture) {
        if (!lecture) return [this.defaultCourse]
        const comparator = (a, b) => {
          return (a.title || '').localeCompare(b.title || '')
        }
        const courses = this.courses.filter(course => lecture.courses.includes(course._id))
        return [this.defaultCourse, ...courses.sort(comparator)]
      },
      getQuizDuelsOfLecture(lecture: Lecture) {
        if (!lecture) return [this.defaultQuizDuel]
        const filteredQuizDuels = this.originalQuizDuels
          .filter(quizDuel => quizDuel.lectureId === lecture._id && quizDuel.semesterId === this.semesterValue._id)
          .map((quizDuel, index) => {
            return {
              ...quizDuel,
              name: `(${index + 1}) ${this.quizTaskSets.find(quizTaskSet => quizTaskSet._id === quizDuel.quizTaskSetId).name}`,
            }
          })
        return [this.defaultQuizDuel, ...filteredQuizDuels]
      },
      getChaptersOfCourse(course: Course) {
        if (!course) return []
        if (!course.chapters.length && this.lectureValue) {
          const courses = this.courses.filter(course => this.lectureValue.courses.includes(course._id))
          const chapters = courses.flatMap(course => {
            return course.chapters.map(chapter => {
              return { ...chapter, courseChapterId: course._id + chapter._id, courseId: course._id }
            })
          })
          return [this.defaultChapter, ...chapters]
        }
        const orderedChapters = [...course.chapters.map(chapter => {
          return { ...chapter, courseChapterId: course._id + chapter._id, courseId: course._id }
        })].sort((a, b) => (parseInt(a._id)) - (parseInt(b._id)))
        return [this.defaultChapter, ...orderedChapters.map((chapter, index) => {
          return { ...chapter, title: `(${index + 1}) ${chapter.title}` }
        })]
      },
      getTasksOfChapter(chapter: any) {
        if (!chapter) return []
        let tasks = []
        for (let i = 0; i < chapter.tasks.length; i++) {
          tasks = [...tasks, { _id: chapter.tasks[i]._id, name: `Aufgabe ${i + 1}` }]
        }
        return [this.defaultTask, ...tasks]
      },
      getExamTasksOfExam(exam: Exam) {
        if (!(exam && exam._id !== 'default')) return [this.defaultExamTask]
        return [
          this.defaultExamTask,
          ...exam.tasks.map((examTask: ExamTask, index: number) => {
            return {
              ...examTask,
              name: `Aufgabe ${index + 1}`,
            }
          }),
        ]
      },
      getCourseChartHeader() {
        if (!this.lectureValue.courses.length) {
          return 'Keine Daten vorhanden'
        }
        if (this.taskValue._id !== 'default') {
          return 'Ranking pro Aufgabe'
        } else if (this.chapterValue._id !== 'default') {
          return 'Ranking pro Kapitel'
        } else if (this.courseValue._id !== 'default') {
          return 'Ranking pro Kurs'
        } else if (this.lectureValue) {
          return 'Ranking pro Vorlesung'
        }
      },
      getQuizDuelChartHeader() {
        if (this.getQuizDuelsOfLecture(this.lectureValue).length === 1) {
          return 'Keine Daten vorhanden'
        }
        if (this.quizDuelValue._id !== 'default') {
          return 'Ranking pro Quizduell'
        } else if (this.lectureValue) {
          return 'Ranking pro Vorlesung'
        }
      },
      getExamChartHeader() {
        if (this.exams.filter((exam: Exam) => exam.semester === this.semesterValue._id && exam.lecture === this.lectureValue._id).length === 0) {
          return 'Keine Daten vorhanden'
        }
        if (this.examTaskValue._id !== 'default') {
          return 'Ranking pro Aufgabe'
        } else if (this.examValue._id === 'default') {
          return 'Ranking pro Klausurtyp'
        } else {
          return 'Ranking pro Klausur'
        }
      },
      updateData() {
        this.isUpdatingData = true
        this.fetchEverything().then(() => {
          if (this.tabChoice === 'courses') {
            this.$refs.barChartCourseRankingAdmin.renderChartFromParent()
          } else if (this.tabChoice === 'quizDuels') {
            this.$refs.barChartQuizDuelRankingAdmin.renderChartFromParent()
          } else if (this.tabChoice === 'exams') {
            this.$refs.barChartExamRankingAdmin.renderChartFromParent()
          }
          this.setSnackbar('Die Daten wurden aktualisiert.')
        }).catch(() => {
          this.setSnackbar('Die Daten konnten nicht aktualisiert werden.', 'error')
        }).finally(() => {
          this.isUpdatingData = false
        })
      },
    },
  })
</script>
<style scoped>
:global(.v-main) {
  max-width: 90%;
}
:global(.v-skeleton-loader__table-row) {
  margin-left: -8px;
}
:global(.v-skeleton-loader__table-row > .v-skeleton-loader__text.v-skeleton-loader__bone) {
  height: 56px;
  margin-top: 52px;
}
</style>
