<template>
  <page-layout size="small" title="Dashboard">
    <v-row v-if="latestSemesterValue">
      <div v-for="lecture in lecturesOfLatestSemester" :key="lecture._id">
        <div v-if="getUsersOfLecture(lecture).length && getCoursesOfLecture(lecture).length">
          <h2>{{ getChartHeader(lecture) }}</h2>
          <BubbleChartDashboardAdmin
            :courses="getCoursesOfLecture(lecture)"
            :lecture="lecture"
            :semester="latestSemesterValue"
            :subscriptions="getSubscriptionsOfLecture(lecture)"
            :task-progresses="taskProgresses"
            :users="getUsersOfLecture(lecture)"
          />
        </div>
      </div>
    </v-row>
  </page-layout>
</template>

<script lang="ts">
  import { defineComponent, onMounted, ref } from 'vue'
  import { provideUsers } from '@/providers/users'
  import { provideSubscriptions } from '@/providers/subscriptions'
  import { provideLectures } from '@/providers/lectures'
  import { provideSemesters } from '@/providers/semesters'
  import { provideCourses } from '@/providers/courses'
  import { provideTaskProgresses } from '@/providers/taskProgresses'
  import { Semester } from '@/model/types/semester'
  import { Lecture } from '@/model/types/lecture'
  import { Subscription } from '@/model/types/subscription'
  import { Course } from '@/model/types/course'
  import PageLayout from '@/components/PageLayout.vue'
  import BubbleChartDashboardAdmin from '@/components/statistic/BubbleChartDashboardAdmin.vue'

  export default defineComponent({
    name: 'AdminDashboard',
    components: { PageLayout, BubbleChartDashboardAdmin },
    setup() {
      const { users, getUsers } = provideUsers()
      const { subscriptions, getSubscriptions } = provideSubscriptions()
      const { lectures, getLectures } = provideLectures()
      const { semesters, getSemesters } = provideSemesters()
      const { courses, getCourses } = provideCourses()
      const { taskProgresses, getTaskProgresses } = provideTaskProgresses()

      const latestSemesterValue = ref<Semester>(null)
      const lecturesOfLatestSemester = ref<Lecture[]>([])

      const fetchEverything = () => Promise.allSettled(
        [
          getUsers(),
          getSubscriptions(),
          getLectures(),
          getSemesters(),
          getCourses(),
          getTaskProgresses(),
        ]
      )

      onMounted(async () => {
        await fetchEverything()
        const orderedSemesters = semesters.value.sort((a, b) => {
          return b.closesAt - a.closesAt
        })
        latestSemesterValue.value = orderedSemesters.find(
          semester => semester._id === (orderedSemesters.length ? orderedSemesters[0]._id : '')
        )
        if (latestSemesterValue.value) {
          lecturesOfLatestSemester.value = lectures.value.filter(lecture =>
            latestSemesterValue.value.lectures.includes(lecture._id)
          )
        }
      })

      return {
        users,
        subscriptions,
        lectures,
        semesters,
        courses,
        taskProgresses,
        latestSemesterValue,
        lecturesOfLatestSemester,
      }
    },
    methods: {
      getSubscriptionsOfLecture(lecture: Lecture) {
        return this.subscriptions.filter((subscription: Subscription) =>
          lecture._id === subscription.lecture &&
          this.latestSemesterValue._id === subscription.semester
        )
      },
      getUsersOfLecture(lecture: Lecture) {
        const userIds = this.getSubscriptionsOfLecture(lecture).map((subscription: Subscription) => subscription.user)
        return this.users.filter(user => userIds.includes(user._id))
      },
      getCoursesOfLecture(lecture: Lecture) {
        return this.courses.filter((course: Course) => lecture.courses.includes(course._id))
      },
      getChartHeader(lecture: Lecture) {
        return `${lecture.name} - ${this.latestSemesterValue.name}`
      },
    },
  })
</script>
