<template>
  <page-layout size="normal" title="Punktzahlen nach Benutzer">
    <v-tabs v-model="tabChoice" background-color="primary" grow>
      <v-tab value="courses">Kurse</v-tab>
      <v-tab value="quizDuels">Quizduelle</v-tab>
      <v-tab value="exams">Klausuren</v-tab>
    </v-tabs>
    <v-skeleton-loader :loading="loading" type="table-row">
      <v-row class="my-10">
        <v-col cols="2">
          <v-autocomplete
            autocomplete="off"
            class="autocomplete"
            hide-details
            item-title="name"
            item-value="_id"
            :items="semesters"
            label="Semester"
            :model-value="semesterValue"
            variant="outlined"
            @update:model-value="setSemester"
          />
        </v-col>
        <v-col cols="2">
          <v-autocomplete
            autocomplete="off"
            class="autocomplete"
            :disabled="!semesterValue"
            hide-details
            item-title="name"
            item-value="_id"
            :items="getLecturesOfSemester(semesterValue)"
            label="Vorlesung"
            :model-value="lectureValue"
            variant="outlined"
            @update:model-value="setLecture"
          />
        </v-col>
        <v-col cols="2">
          <v-autocomplete
            autocomplete="off"
            class="autocomplete"
            :disabled="!lectureValue"
            hide-details
            item-title="username"
            item-value="_id"
            :items="getSubscribedUsers()"
            label="Benutzer"
            :model-value="userValue"
            variant="outlined"
            @update:model-value="setUser"
          />
        </v-col>
        <template v-if="tabChoice === 'courses'">
          <v-col cols="2">
            <v-autocomplete
              autocomplete="off"
              class="autocomplete"
              :disabled="!userValue"
              hide-details
              item-title="title"
              item-value="_id"
              :items="getCoursesOfLecture(lectureValue)"
              label="Kurs"
              :model-value="courseValue"
              variant="outlined"
              @update:model-value="setCourse"
            />
          </v-col>
          <v-col cols="2">
            <v-autocomplete
              autocomplete="off"
              class="autocomplete"
              :disabled="!userValue"
              hide-details
              item-title="title"
              item-value="courseChapterId"
              :items="getChaptersOfCourse(courseValue)"
              label="Kapitel"
              :model-value="chapterValue"
              variant="outlined"
              @update:model-value="setChapter"
            />
          </v-col>
        </template>
        <template v-if="tabChoice === 'quizDuels'">
          <v-col cols="2">
            <v-autocomplete
              autocomplete="off"
              class="autocomplete"
              :disabled="!userValue"
              hide-details
              item-title="name"
              item-value="_id"
              :items="getQuizDuelsOfLecture(lectureValue)"
              label="Quizduell"
              :model-value="quizDuelValue"
              variant="outlined"
              @update:model-value="setQuizDuel"
            />
          </v-col>
        </template>
        <template v-if="tabChoice === 'exams'">
          <v-col cols="2">
            <v-autocomplete
              autocomplete="off"
              class="autocomplete"
              :disabled="!userValue"
              hide-details
              item-title="name"
              item-value="type"
              :items="getExamTypes()"
              label="Klausurtyp"
              :model-value="examTypeValue"
              variant="outlined"
              @update:model-value="setExamType"
            />
          </v-col>
          <v-col cols="2">
            <v-autocomplete
              autocomplete="off"
              class="autocomplete"
              :disabled="!userValue"
              hide-details
              item-title="name"
              item-value="_id"
              :items="getSortedExams(examTypeValue.type)"
              label="Klausur"
              :model-value="examValue"
              variant="outlined"
              @update:model-value="setExam"
            />
          </v-col>
        </template>
        <v-col cols="2">
          <v-btn
            color="primary"
            :disabled="!chapterValue"
            :loading="isUpdatingData"
            @click="updateData"
          >
            Daten Aktualisieren
          </v-btn>
        </v-col>
      </v-row>
    </v-skeleton-loader>
    <v-row v-if="lectureValue" class="mt-1">
      <h2 v-if="tabChoice === 'courses'">{{ getCourseChartHeader() }}</h2>
      <h2 v-else-if="tabChoice === 'quizDuels'">{{ getQuizDuelChartHeader() }}</h2>
      <h2 v-else>{{ getExamChartHeader() }}</h2>
      <BarChartCourseUserSpecificAdmin
        v-if="tabChoice === 'courses' && semesterValue && lectureValue && lectureValue.courses.length && userValue && courseValue && chapterValue"
        ref="barChartCourseUserSpecificAdmin"
        :chapter="chapterValue"
        :course="courseValue"
        :courses="courses"
        :lecture="lectureValue"
        :semester="semesterValue"
        :task-progresses="taskProgresses"
        :user="userValue"
        @select-entity="(...args)=>selectEntity(...args[0])"
      />
      <BarChartQuizDuelUserSpecificAdmin
        v-else-if="tabChoice === 'quizDuels' && semesterValue && lectureValue && userValue && quizDuelValue && getQuizDuelsOfLecture(lectureValue).length > 1"
        ref="barChartQuizDuelUserSpecificAdmin"
        :courses="courses"
        :lecture="lectureValue"
        :quiz-duel="quizDuelValue"
        :quiz-duels="originalQuizDuels"
        :quiz-task-sets="quizTaskSets"
        :semester="semesterValue"
        :user="userValue"
        @select-quiz-duel="setQuizDuel"
      />
      <BarChartExamUserSpecificAdmin
        v-else-if="tabChoice === 'exams' && [...getSortedExams('exam'), ...getSortedExams('test-exam')].length > 2"
        ref="barChartExamUserSpecificAdmin"
        :exam="examValue"
        :exam-solutions="examSolutions"
        :exams-in-type="getSortedExams(examTypeValue.type)"
        :lecture="lectureValue"
        :semester="semesterValue"
        :user="userValue"
        @select-exam="setExam"
      />
    </v-row>
  </page-layout>
</template>
<script lang="ts">
  import { defineComponent, onMounted, ref } from 'vue'
  import { provideUsers } from '@/providers/users'
  import { provideSubscriptions } from '@/providers/subscriptions'
  import { provideLectures } from '@/providers/lectures'
  import { provideSemesters } from '@/providers/semesters'
  import { provideCourses } from '@/providers/courses'
  import { provideQuizDuels } from '@/providers/quizDuels'
  import { provideQuizTaskSets } from '@/providers/quizTaskSets'
  import { provideTaskProgresses } from '@/providers/taskProgresses'
  import { usePageSnackbarOrThrow } from '@/providers/pageSnackbar'
  import { Semester } from '@/model/types/semester'
  import { Lecture } from '@/model/types/lecture'
  import { Course } from '@/model/types/course'
  import { Chapter } from '@/model/types/chapter'
  import { QuizDuel } from '@/model/types/quizDuel'
  import { User } from '@/model/types/user'
  import router from '@/router'
  import { QuizTaskSet } from '@/model/types/quizTaskSet'
  import PageLayout from '@/components/PageLayout.vue'
  import { VAutocomplete, VBtn, VCol, VRow, VSkeletonLoader, VTab, VTabs } from 'vuetify/components'
  import BarChartCourseUserSpecificAdmin from '@/components/statistic/BarChartCourseUserSpecificAdmin.vue'
  import BarChartQuizDuelUserSpecificAdmin from '@/components/statistic/BarChartQuizDuelUserSpecificAdmin.vue'
  import { Exam } from '@/model/types/exam'
  import { provideExamSolutions } from '@/providers/examSolutions'
  import { provideExams } from '@/providers/exams'
  import BarChartExamUserSpecificAdmin from '@/components/statistic/BarChartExamUserSpecificAdmin.vue'

  export default defineComponent({
    name: 'AdminUserSpecificScore',
    components: {
      BarChartExamUserSpecificAdmin,
      PageLayout,
      VTabs,
      VTab,
      VRow,
      VCol,
      VAutocomplete,
      VBtn,
      VSkeletonLoader,
      BarChartCourseUserSpecificAdmin,
      BarChartQuizDuelUserSpecificAdmin,
    },
    setup() {
      const { users, getUsers } = provideUsers()
      const { subscriptions, getSubscriptions } = provideSubscriptions()
      const { lectures, getLectures } = provideLectures()
      const { semesters, getSemesters } = provideSemesters()
      const { courses, getCourses } = provideCourses()
      const { originalQuizDuels, getOriginalQuizDuels } = provideQuizDuels()
      const { quizTaskSets, getQuizTaskSets } = provideQuizTaskSets()
      const { taskProgresses, getTaskProgresses } = provideTaskProgresses()
      const { exams, getExams } = provideExams()
      const { examSolutions, getExamSolutions } = provideExamSolutions()
      const { snackbar, show } = usePageSnackbarOrThrow()

      const setSnackbar = (text: string, color: string = 'success') => {
        snackbar.value = { text, color }
        show()
      }

      const defaultCourse = {
        _id: 'default',
        title: 'Alle',
        chapters: [],
      }

      const defaultChapter = {
        _id: 'default',
        courseChapterId: 'default',
        title: 'Alle',
        tasks: [],
      }

      const defaultQuizDuel = {
        _id: 'default',
        name: 'Alle',
      }

      const defaultExam = {
        _id: 'default',
        name: 'Alle',
      }

      const semesterValue = ref<Semester>(null)
      const lectureValue = ref<Lecture>(null)
      const courseValue = ref<Course | any>(null)
      const chapterValue = ref<Chapter | any>(null)
      const userValue = ref<User | any>(null)
      const quizDuelValue = ref<QuizDuel | any>(null)
      const examValue = ref<Exam | any>(null)
      const examTypeValue = ref<any>(null)
      const tabChoice = ref<string>('courses')

      const loading = ref<boolean>(true)

      const getLecturesOfSemester = (semester: Semester) => {
        if (!semester) return []
        return lectures.value.filter((lecture: Lecture) =>
          semester.lectures.includes(lecture._id)
        )
      }

      const getExamTypes = () => {
        return [
          { type: 'exam', name: 'Klausur' },
          { type: 'test-exam', name: 'Probeklausur' },
          { type: 'old-exam', name: 'Altklausur' },
        ]
      }

      const getSortedExams = (examType: 'exam' | 'test-exam' | 'old-exam') => {
        return [
          defaultExam,
          ...exams.value.filter((exam: Exam) =>
            exam.examType === examType &&
            exam.semester === semesterValue.value._id &&
            exam.lecture === lectureValue.value._id &&
            exam.date <= new Date().getTime()
          ).sort((a, b) => (b.date !== -1 && a.date !== -1) ? b.date - a.date : a.name.localeCompare(b.name)),
        ]
      }

      const setDefaultExamAndExamType: void = () => {
        if (getSortedExams('exam').length > 1) {
          examValue.value = getSortedExams('exam')[0]
          examTypeValue.value = getExamTypes()[0]
        } else if (getSortedExams('test-exam').length > 1) {
          examValue.value = getSortedExams('test-exam')[0]
          examTypeValue.value = getExamTypes()[1]
        } else if (getSortedExams('old-exam').length > 1) {
          examValue.value = getSortedExams('old-exam')[0]
          examTypeValue.value = getExamTypes()[2]
        } else {
          examValue.value = defaultExam
        }
      }

      const getQuizDuelsOfLecture = (lecture: Lecture) => {
        if (!lecture) return []
        const filteredQuizDuels = originalQuizDuels.value
          .filter((quizDuel: QuizDuel) => quizDuel.lectureId === lecture._id && quizDuel.semesterId === semesterValue.value._id)
          .map((quizDuel: QuizDuel, index: number) => {
            return {
              ...quizDuel,
              name: `(${index + 1}) ${quizTaskSets.value.find((quizTaskSet: QuizTaskSet) => quizTaskSet._id === quizDuel.quizTaskSetId).name}`,
            }
          })
        return [defaultQuizDuel, ...filteredQuizDuels]
      }

      const fetchEverything = () => Promise.allSettled(
        [
          getUsers(),
          getSubscriptions(),
          getLectures(),
          getSemesters(),
          getCourses(),
          getOriginalQuizDuels(),
          getQuizTaskSets(),
          getTaskProgresses(),
          getExams(),
          getExamSolutions(),
        ]
      )

      onMounted(async () => {
        await fetchEverything()

        // set default values
        // Semester
        const orderedSemesters = semesters.value.sort((a, b) => {
          return b.closesAt - a.closesAt
        })
        semesterValue.value = orderedSemesters.find(
          semester => semester._id === (orderedSemesters.length ? orderedSemesters[0]._id : '')
        )
        // Lecture
        const lecturesOfSemester = getLecturesOfSemester(semesterValue.value)
        lectureValue.value = lecturesOfSemester.find(
          lecture => lecture._id === (lecturesOfSemester.length ? lecturesOfSemester[0]._id : '')
        )
        // User
        userValue.value = users.value.find(
          user => user._id === (users.value.length ? users.value[0]._id : '')
        )
        // Course
        courseValue.value = defaultCourse
        // Chapter
        chapterValue.value = defaultChapter

        // Quizduell
        quizDuelValue.value = defaultQuizDuel

        // Exam & ExamType
        setDefaultExamAndExamType()

        // if route parameters are given override default values
        const { semesterId, lectureId, userId, courseId, chapterId, quizDuelId, examId } = router.currentRoute.value.params
        if (userId && lectureId && semesterId) {
          semesterValue.value = semesters.value.find(
            (semester: Semester) => semester._id === semesterId
          )
          lectureValue.value = lectures.value.find(
            (lecture: Lecture) => lecture._id === lectureId
          )
          userValue.value = users.value.find(
            (user: User) => user._id === userId
          )
          if (courseId) {
            courseValue.value = courses.value.find(
              (course: Course) => course._id === courseId
            )
          }
          if (chapterId) {
            chapterValue.value = courseValue.value.chapters.find(
              (chapter: Chapter) => (courseValue.value._id + chapter._id) === chapterId
            )
          }
          if (quizDuelId) {
            quizDuelValue.value = getQuizDuelsOfLecture(lectureValue.value).find(
              (quizDuel: QuizDuel) => quizDuel._id === quizDuelId
            )
          }
          if (examId) {
            examValue.value = exams.value.find(
              (exam: Exam) => exam._id === examId
            )
            examTypeValue.value = getExamTypes().find(examType => examType.type === examValue.value.examType)
          }
          if (router.currentRoute.value.params.tabChoice === 'quizDuels') {
            tabChoice.value = 'quizDuels'
          } else if (router.currentRoute.value.params.tabChoice === 'courses') {
            tabChoice.value = 'courses'
          } else if (router.currentRoute.value.params.tabChoice === 'exams') {
            tabChoice.value = 'exams'
          }
        }

        loading.value = false
      })

      return {
        semesterValue,
        lectureValue,
        courseValue,
        chapterValue,
        userValue,
        quizDuelValue,
        examValue,
        examTypeValue,
        tabChoice,
        defaultCourse,
        defaultChapter,
        defaultQuizDuel,
        defaultExam,
        setSnackbar,
        setDefaultExamAndExamType,
        getLecturesOfSemester,
        getQuizDuelsOfLecture,
        getExamTypes,
        getSortedExams,
        fetchEverything,
        users,
        subscriptions,
        lectures,
        semesters,
        courses,
        originalQuizDuels,
        quizTaskSets,
        taskProgresses,
        exams,
        examSolutions,
        loading,
      }
    },
    data() {
      return {
        isUpdatingData: false,
      }
    },
    methods: {
      setSemester(semesterId: string) {
        this.semesterValue = this.semesters.find(
          semester => semester._id === semesterId
        )
        const lecturesOfSemester = this.getLecturesOfSemester(this.semesterValue)
        this.lectureValue = lecturesOfSemester.find(
          lecture => lecture._id === (lecturesOfSemester.length ? lecturesOfSemester[0]._id : '')
        )
        this.courseValue = this.defaultCourse
        this.chapterValue = this.defaultChapter
        this.quizDuelValue = this.defaultQuizDuel
      },
      setLecture(lectureId: string) {
        this.lectureValue = this.lectures.find(
          lecture => lecture._id === lectureId
        )
        this.courseValue = this.defaultCourse
        this.chapterValue = this.defaultChapter
        this.quizDuelValue = this.defaultQuizDuel
      },
      setCourse(courseId: string) {
        if (courseId !== 'default') {
          this.courseValue = this.courses.find(
            course => course._id === courseId
          )
        } else {
          this.courseValue = this.defaultCourse
        }
        this.chapterValue = this.defaultChapter
      },
      setChapter(chapterId: string) {
        if (chapterId !== 'default') {
          this.chapterValue = this.getChaptersOfCourse(this.courseValue).find(
            chapter => chapter.courseChapterId === chapterId
          )
          if (this.courseValue._id === 'default') {
            this.courseValue = this.courses.find(
              course => course._id === this.chapterValue.courseId
            )
          }
        } else {
          this.chapterValue = this.defaultChapter
        }
      },
      setUser(userId: string) {
        this.userValue = this.users.find(
          user => user._id === userId
        )
      },
      setQuizDuel(quizDuelId: string) {
        if (quizDuelId === 'default') {
          this.quizDuelValue = this.defaultQuizDuel
          return
        }
        this.quizDuelValue = this.getQuizDuelsOfLecture(this.lectureValue).find(
          quizDuel => quizDuel._id === quizDuelId
        )
      },
      setExamType(examType: string) {
        this.examTypeValue = this.getExamTypes().find(
          (type: any) => type.type === examType
        )
        this.examValue = this.defaultExam
      },
      setExam(examId: string) {
        if (examId === 'default') {
          this.examValue = this.defaultExam
        } else {
          this.examValue = this.exams.find(
            (exam: Exam) => exam._id === examId
          )
        }
      },
      getCoursesOfLecture(lecture: Lecture) {
        if (!lecture) return [this.defaultCourse]
        const comparator = (a, b) => {
          return (a.title || '').localeCompare(b.title || '')
        }
        const courses = this.courses.filter(course => lecture.courses.includes(course._id))
        return [this.defaultCourse, ...courses.sort(comparator)]
      },
      getChaptersOfCourse(course: Course) {
        if (!course) return []
        if (!course.chapters.length && this.lectureValue) {
          const courses = this.courses.filter(course => this.lectureValue.courses.includes(course._id))
          const chapters = courses.flatMap(course => {
            return course.chapters.map(chapter => {
              return { ...chapter, courseChapterId: course._id + chapter._id, courseId: course._id }
            })
          })
          return [this.defaultChapter, ...chapters]
        }
        const orderedChapters = [...course.chapters.map(chapter => {
          return { ...chapter, courseChapterId: course._id + chapter._id, courseId: course._id }
        })].sort((a, b) => (parseInt(a._id)) - (parseInt(b._id)))
        return [this.defaultChapter, ...orderedChapters.map((chapter, index) => {
          return { ...chapter, title: `(${index + 1}) ${chapter.title}` }
        })]
      },
      getSubscribedUsers() {
        if (!(this.lectureValue && this.semesterValue)) return []
        const userIdsInSubscription = this.subscriptions.filter(subscription =>
          subscription.lecture === this.lectureValue._id && subscription.semester === this.semesterValue._id
        ).map(subscription => subscription.user)
        return this.users.filter(user => userIdsInSubscription.includes(user._id))
      },
      selectEntity(entityType: string, entity: any) {
        if (entityType === 'chapter') {
          this.setChapter(this.courseValue._id + entity._id)
        } else if (entityType === 'course') {
          this.setCourse(entity._id)
        }
      },
      getCourseChartHeader() {
        if (!(this.lectureValue && this.lectureValue.courses.length)) {
          return 'Keine Daten vorhanden'
        }
        if (this.chapterValue._id !== 'default') {
          return `Aufgabenübersicht für ${this.userValue.username}`
        } else if (this.courseValue._id !== 'default') {
          return `Kapitelübersicht für ${this.userValue.username}`
        } else {
          return `Kursübersicht für ${this.userValue.username}`
        }
      },
      getQuizDuelChartHeader() {
        if (this.getQuizDuelsOfLecture(this.lectureValue).length === 1) {
          return 'Keine Daten vorhanden'
        }
        return `Quizduellübersicht für ${this.userValue.username}`
      },
      getExamChartHeader() {
        if ([...this.getSortedExams('exam'), ...this.getSortedExams('test-exam')].length === 2) {
          return 'Keine Daten vorhanden'
        }
        if (this.examValue._id !== 'default') {
          return `Klausurübersicht für ${this.userValue.username}`
        } else {
          return `Klausurtypübersicht für ${this.userValue.username}`
        }
      },
      updateData() {
        this.isUpdatingData = true
        this.fetchEverything().then(() => {
          if (this.tabChoice === 'quizDuels') {
            this.$refs.barChartQuizDuelUserSpecificAdmin.renderChartFromParent()
          } else if (this.tabChoice === 'courses') {
            this.$refs.barChartCourseUserSpecificAdmin.renderChartFromParent()
          } else if (this.tabChoice === 'exams') {
            this.$refs.barChartExamUserSpecificAdmin.renderChartFromParent()
          }
          this.setSnackbar('Die Daten wurden aktualisiert.')
        }).catch(() => {
          this.setSnackbar('Die Daten konnten nicht aktualisiert werden.', 'error')
        }).finally(() => {
          this.isUpdatingData = false
        })
      },
    },
  })
</script>
<style scoped>
:global(.v-main) {
  max-width: 90%;
}
:global(.v-skeleton-loader__table-row) {
  margin-left: -8px;
}
:global(.v-skeleton-loader__table-row > .v-skeleton-loader__text.v-skeleton-loader__bone) {
  height: 56px;
  margin-top: 52px;
}
</style>
