<template>
  <v-menu min-width="300px">
    <template #activator="{ props }">
      <v-btn icon v-bind="props" :loading="isSigningOut">
        <v-avatar color="primary">
          <h6 class="text-h6">{{ userInitials }}</h6>
        </v-avatar>
      </v-btn>
    </template>
    <v-card>
      <v-list class="py-0">
        <v-list-item title="Mein Profil" :to="{name: 'user-profile'}" value="profile" />
        <v-list-item title="Einstellungen" :to="{name: 'user-settings'}" value="settings" />
        <v-divider />
        <v-list-item class="text-error" title="Abmelden" value="logout" @click="onSignOut" />
      </v-list>
    </v-card>
  </v-menu>
</template>

<script setup lang="ts">
  import { useAuthOrThrow } from '@/providers/auth'
  import { computed } from 'vue'
  import { useRouter } from 'vue-router'
  import { VAvatar, VBtn, VCard, VDivider, VList, VListItem, VMenu } from 'vuetify/components'

  const { user, signOut, isSigningOut } = useAuthOrThrow()
  const userInitials = computed(() => {
    if (!user.value) {
      return ''
    }

    const [firstName, lastName] = user.value?.username.split(' ')

    return lastName ? `${firstName[0]}${lastName[0]}` : firstName[0]
  })

  const router = useRouter()
  async function onSignOut() {
    await signOut()
    await router.replace({ name: 'signin' })
  }
</script>
