// HTWG Colors
$htwg-color-teal: #009b91;
$htwg-color-soft-blue: #d9e5ec;
$htwg-color-dark-blue: #334152;

// Colors from Element theme
$success-color: #67c23a; // To match el-steps
$failed-color: #c2575b;

// Grid dimensions
$grid-dot-size: 0.2rem;
$grid-dot-space: 8rem;

// Background mixins, grid implementation inspired by https://codepen.io/edmundojr/pen/xOYJGw
@mixin htwg-background($background, $foreground) {
  background: linear-gradient(
        90deg,
        $background ($grid-dot-space - $grid-dot-size),
        transparent 1%
      )
      center,
    linear-gradient(
        $background ($grid-dot-space - $grid-dot-size),
        transparent 1%
      )
      center,
    $foreground;
  background-size: $grid-dot-space $grid-dot-space;
}
@mixin htwg-background-bright {
  @include htwg-background($htwg-color-soft-blue, $htwg-color-dark-blue);
}
@mixin htwg-background-dark {
  @include htwg-background($htwg-color-dark-blue, $htwg-color-soft-blue);
}

// Swiss 721 font-face
@font-face {
  font-family: "swiss-heavy";
  src: url("/fonts/heavy.woff2") format("woff2");
}

@font-face {
  font-family: "swiss-light";
  src: url("/fonts/light.woff2") format("woff2");
}

// Font alternatives to Swiss 721
$font-stack: '"Helvetica Neue", Helvetica, Arial, sans-serif';

// Make confirm alerts' titles bold
.el-confirm {
  .el-message-box__title {
    font-family: swiss-heavy, $font-stack;
    font-weight: normal !important;
  }
}

.centered-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
