$--color-primary: $htwg-color-teal;
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

.form-hint {
  margin: 0;
  line-height: 1.5;
  color: #009b91;
  cursor: help;
  &.danger {
    color: red;
  }
}
