a {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.inline-link {
    color: $htwg-color-teal;
  }
}

i {
  &.koan-task {
    color: #ed6000;
  }
  &.code-task {
    color: #ba00ca;
  }
  &.video-task {
    color: #2300ed;
  }
}
