<template>
  <v-card
    class="overflow-y-auto border-b-lg"
    style="border-bottom-color: rgb(var(--v-theme-primary)) !important;"
    :style="{'max-height': xs ? '40dvh' : '50dvh'}"
  >
    <v-list class="py-0" density="compact" mandatory>
      <v-list-item
        v-for="(task, index) in courseChapter?.chapter.tasks ?? []"
        :key="task._id"
        :active="$route.params.taskId === task._id"
        :prepend-icon="getIcon(task.tag)"
        :title="getTitle(task, index)"
        :value="task._id"
        @click="to(task)"
      >
        <template #append>
          <v-icon
            :color="hasCompletedTask(task) ? 'success' : undefined"
            :icon="getTaskAppendIcon(task)"
            size="small"
          />
        </template>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script setup lang="ts">
  import { VCard, VIcon, VList, VListItem } from 'vuetify/components'
  import { useCourseChapterOrThrow } from '@/providers/chapter'
  import type { Task, TaskTag } from '@/model/types/task'
  import { useDisplay } from 'vuetify'
  import { useRoute, useRouter } from 'vue-router'
  import { useChapterTaskProgressOrThrow } from './chapterTaskProgress'
  import { useChapterTaskFormOrThrow } from './chapterTaskForm'

  const { courseChapter } = useCourseChapterOrThrow()
  const { userChapterTaskProgresses, upsert } = useChapterTaskProgressOrThrow()
  const { xs } = useDisplay()

  function getTitle(task: Task, index: number) {
    return `${index + 1}. ${task.data.description.replace('#', '').split('\n').at(0)}`
  }

  function hasCompletedTask(task: Task) {
    return userChapterTaskProgresses.value.find(taskProgress => taskProgress.taskId === task._id)?.solutions
      .every(solution => solution.correctness)
  }

  function getTaskAppendIcon(task: Task) {
    const hasCompleted = hasCompletedTask(task)

    if (hasCompleted === undefined) {
      return ''
    }

    return hasCompleted ? 'mdi-check' : 'mdi-close'
  }

  function getIcon(type: TaskTag) {
    switch (type) {
      case 'code-task':
        return 'mdi-code-block-tags'
      case 'koan-task':
        return 'mdi-code-tags'
      case 'info-task':
        return 'mdi-information-outline'
      case 'multiple-choice-task':
        return 'mdi-checkbox-outline'
      case 'single-choice-task':
        return 'mdi-radiobox-marked'
      case 'reflection-task':
        return 'mdi-help-circle-outline'
      case 'video-task':
        return 'mdi-video-outline'
    }
  }

  const router = useRouter()
  const route = useRoute()
  const { values } = useChapterTaskFormOrThrow()

  async function to(toTask: Task) {
    try {
      await upsert(values)
    } catch (error) {

    }

    await router.push({ name: 'chapter', params: { ...route.params, taskId: toTask._id } })
  }

</script>
