<template>
  <v-form :id="formId" @submit.prevent="onSubmit">
    <v-row>
      <v-col>
        <chapter-task-info :task="task" />
      </v-col>
    </v-row>
    <v-row v-if="task?.tag !== 'info-task'">
      <v-col>
        <v-card
          v-if="task?.tag !== 'video-task'"
          border
          class="overflow-y-auto"
          flat
          :style="{'max-height': xs ? '100%' : '50dvh'}"
        >
          <koan-task v-if="task?.tag === 'koan-task'" :task="task" />
          <code-task v-else-if="task?.tag === 'code-task'" :task="task" />
          <single-choice-task v-else-if="task?.tag === 'single-choice-task'" :task="task" />
          <multiple-choice-task v-else-if="task?.tag === 'multiple-choice-task'" :task="task" />
          <reflection-task v-else-if="task?.tag === 'reflection-task'" :task="task" />
        </v-card>
        <video-task v-else :task="task" />
      </v-col>
    </v-row>
    <v-row v-if="task">
      <v-col>
        <chapter-save-btn :form-id="formId" :loading="isSubmitting" :task-id="task._id" />
      </v-col>
    </v-row>
  </v-form>
  <comment
    :comment-type="'task'"
    :identifier="formValues.lectureId + '-' + formValues.courseId + '-' + formValues.chapterId + '-' + formValues.taskId"
    :task-id="formValues.taskId"
  />
</template>

<script setup lang="ts">
  import { VCard, VCol, VForm, VRow } from 'vuetify/components'
  import Comment from '@/components/comment/Comment.vue'
  import { useCourseChapterOrThrow } from '@/providers/chapter'
  import { computed } from 'vue'
  import KoanTask from './KoanTask.vue'
  import CodeTask from './CodeTask.vue'
  import ChapterTaskInfo from './ChapterTaskInfo.vue'
  import MultipleChoiceTask from './MultipleChoiceTask.vue'
  import SingleChoiceTask from './SingleChoiceTask.vue'
  import ReflectionTask from './ReflectionTask.vue'
  import VideoTask from './VideoTask.vue'
  import ChapterSaveBtn from './ChapterSaveBtn.vue'
  import { usePageAlertOrThrow } from '@/providers/pageAlert'
  import { onBeforeRouteLeave, useRoute, useRouter } from 'vue-router'
  import { isAxiosError } from 'axios'
  import { useDisplay } from 'vuetify'
  import { useChapterTaskFormOrThrow } from './chapterTaskForm'
  import { useChapterTaskProgressOrThrow } from './chapterTaskProgress'

  const { courseChapter } = useCourseChapterOrThrow()
  const { values: formValues, handleSubmit, isSubmitting, formId, task } = useChapterTaskFormOrThrow()
  const { xs } = useDisplay()

  const { alert } = usePageAlertOrThrow()
  const { upsert } = useChapterTaskProgressOrThrow()

  const route = useRoute()
  const nextTaskId = computed(() => courseChapter.value?.chapter.tasks
    .find(chapterTask => parseInt(chapterTask._id) === parseInt(task.value!._id) + 1)?._id)

  const nextTaskRoute = computed(() => (nextTaskId.value ? {
    name: route.name,
    params: { ...route.params, taskId: nextTaskId.value },
  } : { name: 'lectures-lecture-view', params: { semesterId: formValues.semesterId, lectureId: formValues.lectureId } }))
  const router = useRouter()

  const onSubmit = handleSubmit(async values => {
    try {
      await upsert(values)
    } catch (error) {
      if (isAxiosError(error)) {
        alert.value = {
          title: error.status === 400 ? 'Codefehler' : 'Aufgabe nicht gespeichert!',
          text: error.status === 400 ? error.response?.data.message.replaceAll(';', '<br>') : 'Die Aufgabe konnte nicht gespeichert werden.',
          type: 'error',
          isCode: error.status === 400,
        }
      }
    }
    await router.push(nextTaskRoute.value)
  })

  onBeforeRouteLeave(async (from, to, next) => {
    try {
      await upsert(formValues)
    } catch (error) {

    }

    next()
  })
</script>
