<template>
  <v-btn
    :append-icon="nextTaskId ? 'mdi-arrow-right' : undefined"
    flat
    :form="formId"
    :loading="loading"
    size="small"
    :text="nextTaskId ? 'Weiter' : 'Beenden'"
    type="submit"
    variant="outlined"
  />
</template>

<script setup lang="ts">
  import { VBtn } from 'vuetify/components'
  import type { Task } from '@/model/types/task'
  import { useCourseChapterOrThrow } from '@/providers/chapter'
  import { computed } from 'vue'

  interface Props {
    formId: String;
    taskId: Task['_id'];
    loading?: boolean;
  }

  const props = defineProps<Props>()
  const { courseChapter } = useCourseChapterOrThrow()
  const nextTaskId = computed(() => courseChapter.value?.chapter.tasks.find(task => parseInt(task._id) === parseInt(props.taskId) + 1)?._id)
</script>
