<template>
  <v-card class="overflow-y-auto" :style="{'max-height': xs ? '100dvh' : '20dvh'}">
    <!-- eslint-disable-next-line vue/no-v-text-v-html-on-component -->
    <v-card-text v-html="marked.parse(task?.data.description ?? '')" />
  </v-card>
</template>

<script setup lang="ts">
import { VCard, VCardText } from 'vuetify/components'
import { marked } from 'marked'
import type { Task } from '@/model/types/task'
import { useDisplay } from 'vuetify'

interface Props {
  task?: Task
}

defineProps<Props>()
const { xs } = useDisplay()
</script>

<style lang="postcss" scoped>
:deep(pre) {
  font-family: inherit !important;
}
:deep(code) {
  text-wrap: auto !important;
  font-family: inherit !important;
}
:deep(h1) {
  font-size: 1.3rem;
}

/* Additional formatting options */
:deep(h2) {
  font-size: 1.2rem;
}

:deep(h3) {
  font-size: 1.1rem;
}

:deep(blockquote) {
  border-left: 4px solid #ccc;
  padding-left: 10px;
  color: #666;
  margin: 1em 0;
}

:deep(table) {
  width: 100%;
  border-collapse: collapse;
}

:deep(th),
:deep(td) {
  border: 1px solid #ddd;
  padding: 8px;
}

:deep(th) {
  background-color: #f2f2f2;
  text-align: left;
}

/* Specific styles for Scala code blocks */
:deep(pre.language-scala) {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
}

:deep(code.language-scala) {
  background-color: #f5f5f5;
  padding: 2px 4px;
  border-radius: 4px;
}
</style>
