<template>
  <v-row class="w-75">
    <v-col>
      <code-mirror
        autofocus
        :extensions="[
          scalaExtension,
          highlightActiveLine(),
          highlightActiveLineGutter(),
          autocompletion(),
          keymap.of([
            {
              key: 'Tab',
              preventDefault: true,
              run: insertTab,
            },
            {
              key: 'Shift-Tab',
              preventDefault: true,
              run: indentLess,
            },
          ]),
          EditorView.theme({
            '&.cm-focused': {
              outline: 'none',
            },
          }),
        ]"
        :model-value="value"
        :name
        @update:model-value="onUpdate"
      />
    </v-col>
    <v-col v-if="!hideAutoSolve && solution" class="flex-grow-0">
      <v-btn
        v-tooltip:bottom="'Klicke auf das Symbol, um die Lösung zu erhalten.'"
        flat
        icon
        size="small"
        :tab-index="0"
        variant="text"
        @click="onSolve"
      >
        <v-icon icon="mdi-help-circle-outline" size="x-large" />
      </v-btn>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
  import { useField } from 'vee-validate'
  import { type Extension } from '@codemirror/state'
  import { EditorView, highlightActiveLine, highlightActiveLineGutter, keymap } from '@codemirror/view'
  import { autocompletion } from '@codemirror/autocomplete'
  import { indentLess, insertTab } from '@codemirror/commands'
  import { VBtn, VCol, VIcon, VRow } from 'vuetify/components'
  import CodeMirror from '@/components/CodeMirror.vue'
  import type { Task, TaskSolution } from '@/model/types/task'

  interface Props {
    scalaExtension: Extension;
    taskId: Task['_id'];
    solution?: TaskSolution;
    hideAutoSolve?: boolean;
  }

  const props = defineProps<Props>()

  const { value, name, setValue } = useField<string>(`solutions.${props.taskId}-0`)
  const { setValue: setCheatedSolution } = useField<boolean>(`cheatedSolutions.${props.taskId}-0`)

  function onSolve() {
    if (!props.solution) {
      return
    }

    setValue(props.solution.solution)
    setCheatedSolution(true)
  }

  function onUpdate(value: string) {
    setValue(value)
  }
</script>
