<template>
  <div v-if="scalaExtension">
    <code-task-input
      :key="task._id"
      autofocus
      class="code-task-input"
      :data-id="task._id"
      :hide-auto-solve="hideAutoSolve"
      :scala-extension
      :solution="task.data.solutions.at(0)"
      :task-id="task._id"
    />
    <code-mirror
      :extensions="[CodeInputPlugin, scalaExtension, EditorState.readOnly.of(true), lineNumbers(), EditorView.baseTheme({
        ':is(.cm-widgetBuffer:has(+ .code-task-input), .code-task-input + .cm-widgetBuffer)': {
          display: 'none'
        },
        '.cm-line:has(> .code-task-input)': {padding: 0}
      })]"
      :model-value="task.data.code"
    />
  </div>
</template>

<script setup lang="ts">
  import { EditorState, type Extension } from '@codemirror/state'
  import { EditorView, lineNumbers } from '@codemirror/view'
  import type { Task } from '@/model/types/task'
  import CodeTaskInput from './CodeTaskInput.vue'
  import { CodeInputPlugin } from './codeInputPlugin'
  import CodeMirror from '@/components/CodeMirror.vue'
  import { languages } from '@codemirror/language-data'
  import { ref } from 'vue'

  interface Props {
    task: Task
    hideAutoSolve?: boolean;
  }

  defineProps<Props>()

  const scalaExtension = ref<Extension>()

  async function loadScalaExtension() {
    const scala = await languages.find(language => language.name === 'Scala')?.load()

    scalaExtension.value = scala?.extension
  }

  loadScalaExtension()
</script>
