<template>
  <v-text-field
    :autofocus
    :base-color="!error && taskProgress ? 'success' : undefined"
    class="w-50 border-opacity-100"
    :color="!error && taskProgress ? 'success' : undefined"
    density="compact"
    :error
    hide-details
    :model-value="model"
    :name
    @update:model-value="onUpdateModelValue"
  >
    <template v-if="!hideAutoSolve" #append>
      <v-btn
        v-tooltip:bottom="'Klicke auf das Symbol, um die Lösung zu erhalten.'"
        flat
        icon
        size="small"
        variant="text"
        @click="onSolve"
      >
        <v-icon icon="mdi-help-circle-outline" size="x-large" />
      </v-btn>
    </template>
  </v-text-field>
</template>

<script setup lang="ts">
  import type { Task, TaskSolution } from '@/model/types/task'
  import { useTaskProgressesOrThrow } from '@/providers/taskProgresses'
  import { computed, ref } from 'vue'
  import { VBtn, VIcon, VTextField } from 'vuetify/components'
  import { useField } from 'vee-validate'

  interface Props {
    name: string;
    solution: TaskSolution;
    taskId: Task['_id'];
    autofocus?: boolean;
    hideAutoSolve?: boolean;
  }

  const props = defineProps<Props>()

  const model = defineModel<string | null>({ default: '' })
  const { userChapterTaskProgresses } = useTaskProgressesOrThrow()
  const taskProgress = computed(() => userChapterTaskProgresses.value.find(chapterTaskProgress => chapterTaskProgress.taskId === props.taskId))
  const showError = ref(false)
  const incorrectlySolved = computed(() =>
    taskProgress.value?.solutions.at(parseInt(props.solution._id)) &&
    taskProgress.value.solutions.at(parseInt(props.solution._id))?.solution === model.value &&
    !taskProgress.value.solutions.at(parseInt(props.solution._id))?.correctness)
  const error = computed(() => incorrectlySolved.value || (taskProgress.value && Boolean(model.value) && model.value !== props.solution.solution))
  const { name, setValue } = useField<boolean>(`cheatedSolutions.${props.taskId}-${props.solution._id}`)

  function onSolve() {
    model.value = props.solution.solution
    setValue(true)
  }

  function onUpdateModelValue(value: string) {
    model.value = value
    showError.value = false
  }
</script>
<style scoped>
  .v-text-field :deep(.v-field__outline) {
    --v-field-border-opacity: 1;
  }
</style>
