<template>
  <div v-if="scalaExtension">
    <Field
      v-for="(solution, index) of task?.data.solutions"
      :key="`${task._id}-${solution._id}`"
      v-slot="{componentField}"
      :name="`solutions.${task._id}-${solution._id}`"
    >
      <koan-task-input
        :autofocus="index === 0"
        class="koan-task-input"
        :data-id="`${task._id}-${solution._id}`"
        :hide-auto-solve="hideAutoSolve"
        :model-value="componentField.modelValue"
        :name="componentField.name"
        :solution="solution"
        :task-id="task._id"
        @update:model-value="componentField['onUpdate:modelValue']"
      />
    </Field>

    <code-mirror
      :extensions="[KoanInputPlugin, scalaExtension, EditorState.readOnly.of(true), lineNumbers(), highlightActiveLine(), highlightActiveLineGutter()]"
      :model-value="task.data.code"
    />
  </div>
</template>

<script setup lang="ts">
  import { Field } from 'vee-validate'
  import { EditorState, type Extension } from '@codemirror/state'
  import { highlightActiveLine, highlightActiveLineGutter, lineNumbers } from '@codemirror/view'
  import type { Task } from '@/model/types/task'
  import KoanTaskInput from './KoanTaskInput.vue'
  import { KoanInputPlugin } from './koanInputPlugin'
  import CodeMirror from '@/components/CodeMirror.vue'
  import { languages } from '@codemirror/language-data'
  import { ref } from 'vue'

  interface Props {
    task: Task
    hideAutoSolve?: boolean;
  }

  defineProps<Props>()

  const scalaExtension = ref<Extension>()

  async function loadScalaExtension() {
    const scala = await languages.find(language => language.name === 'Scala')?.load()

    scalaExtension.value = scala?.extension
  }

  loadScalaExtension()
</script>
