<template>
  <v-card-text class="py-2">
    <Field
      v-for="(solution) of task?.data.solutions"
      :key="solution._id"
      v-slot="{componentField}"
      :name="`solutions.${task._id}-${solution._id}`"
    >
      <v-checkbox
        density="compact"
        :error="hasError(componentField.modelValue, solution.solution)"
        false-value=""
        hide-details
        :label="solution.solution"
        :model-value="componentField.modelValue"
        :name="componentField.name"
        :true-value="solution.solution"
        :value="solution._id"
        @update:model-value="componentField['onUpdate:modelValue']"
      />
    </Field>
  </v-card-text>
</template>

<script setup lang="ts">
  import { Field } from 'vee-validate'
  import { VCardText, VCheckbox } from 'vuetify/components'
  import type { Task } from '@/model/types/task'
  import { useChapterTaskProgressOrThrow } from './chapterTaskProgress'

  interface Props {
    task: Task
  }

  const props = defineProps<Props>()
  const { taskProgress } = useChapterTaskProgressOrThrow()
  const hasError = (value: string, solution: string) =>
    value !== solution &&
    Boolean(taskProgress.value?.solutions.length) &&
    props.task.data.solutions.find(sol => sol.solution === solution)?.correctness &&
    !taskProgress.value?.solutions.find(sol => sol.solution === value)
</script>
