<template>
  <v-card-text>
    <Field
      v-slot="{componentField}"
      :name="`solutions.${task._id}-0`"
    >
      <v-textarea
        label="Antwort"
        :model-value="componentField.modelValue"
        :name="componentField.name"
        @update:model-value="componentField['onUpdate:modelValue']"
      />
    </Field>
  </v-card-text>
</template>

<script setup lang="ts">
  import { Field } from 'vee-validate'
  import { VCardText, VTextarea } from 'vuetify/components'
  import type { Task } from '@/model/types/task'

  interface Props {
    task: Task
  }

  defineProps<Props>()
</script>
