<template>
  <v-card-text>
    <Field

      v-slot="{componentField}"
      :name="`solutions.${task._id}`"
    >
      <v-radio-group
        density="compact"
        hide-details
        :model-value="componentField.modelValue"
        :name="componentField.name"
        @update:model-value="componentField['onUpdate:modelValue']"
      >
        <v-radio
          v-for="(solution, index) of task?.data.solutions"
          :key="`${task._id}-${solution._id}`"
          :class="{'mb-2': index < task.data.solutions.length - 1}"
          :error="componentField.modelValue === solution.solution && hasError(solution.solution)"
          false-value=""
          :label="solution.solution"
          :true-value="solution.solution"
          :value="solution._id"
        />
      </v-radio-group>
    </Field>
  </v-card-text>
</template>

<script setup lang="ts">
  import { Field } from 'vee-validate'
  import { VCardText, VRadio, VRadioGroup } from 'vuetify/components'
  import type { Task } from '@/model/types/task'
  import { useChapterTaskProgressOrThrow } from './chapterTaskProgress'

  interface Props {
    task: Task
  }

  defineProps<Props>()
  const { taskProgress } = useChapterTaskProgressOrThrow()
  const hasError = (solution: string) => taskProgress.value?.solutions.at(0)?.solution === solution &&
    !taskProgress.value?.solutions.at(0)?.correctness
</script>
