<template>
  <youtube-iframe :height="400" :video-id="task.data.url" width="100%" />
</template>

<script setup lang="ts">
  import type { Task } from '@/model/types/task'
  import { YoutubeIframe } from '@vue-youtube/component'

  interface Props {
    task: Task
  }

  defineProps<Props>()
</script>
