<template>
  <div>
    <el-row
      class="htwg-login-hint"
      type="flex"
      align="middle"
      justify="middle"
      :gutter="16"
    >
      <el-col :span="6">
        <img style="width: 100%" src="@/assets/htwg.svg" alt="HTWG" />
      </el-col>
      <el-col :span="18" class="centered-column">
        <p>
          Bitte logge dich mit deinem HTWG Kürzel und deinem HTWG Passwort ein.
        </p>
      </el-col>
    </el-row>
    <el-row>
      <div class="signin-form">
        <el-form label-position="top">
          <el-form-item label="Kürzel">
            <el-input
              type="email"
              id="htwgshortname"
              v-model="email"
              placeholder="xx123yyy"
            >
              <template slot="append">{{ emailDomain }}</template>
            </el-input>
          </el-form-item>
          <el-form-item label="Passwort">
            <el-input
              type="password"
              id="htwgpassword"
              v-model="password"
              placeholder="Passwort eintragen"
              v-on:keyup.enter.native="loginWithHTWG"
            />
          </el-form-item>
        </el-form>
      </div>
    </el-row>
    <span slot="footer" class="dialog-footer">
      <el-button
        type="primary"
        @click="loginWithHTWG"
        :disabled="$v.$invalid"
        :loading="isLoading"
        >Anmelden</el-button
      >
    </span>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import { mapActions } from "vuex";

export default {
  name: "HTWGLogin",
  data() {
    return {
      email: "",
      password: "",
      isLoading: false,
      emailDomain: "@htwg-konstanz.de"
    };
  },
  methods: {
    ...mapActions("userStore", ["loginStudentUser", "validateToken"]),
    ...mapActions("globalSettingStore", ["fetchGlobalSettings"]),
    loginWithHTWG() {
      this.isLoading = true;
      this.loginStudentUser({
        email: this.email + this.emailDomain,
        password: this.password
      })
        .then(() => {
          this.fetchGlobalSettings();
        })
        .catch(error =>
          this.$notify({
            title: "HTWG Login fehlgeschlagen",
            message: error.response.data.message,
            type: "warning",
            offset: 180
          })
        )
        .finally(() => (this.isLoading = false));
    }
  },
  validations: {
    email: {
      required
    },
    password: {
      required
    }
  }
};
</script>

<style lang="scss" scoped>
.htwg-login-hint {
  background-color: #333;
  border-radius: 4px;
  padding: 16px;
  color: white;
}
</style>
