<template>
  <page-layout title="Scala IDE">
    <v-row v-if="visitedChapterTask?.path">
      <v-col>
        <back-to-task />
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-progress-linear v-if="isLoading" color="primary" indeterminate />
        <iframe class="frame w-100 border-0" src="https://scastie.scala-lang.org/" @load="isLoading = false" />
      </v-col>
    </v-row>
  </page-layout>
</template>

<script setup lang="ts">
  import PageLayout from '@/components/PageLayout.vue'
  import { ref } from 'vue'
  import { VCol, VProgressLinear, VRow } from 'vuetify/components'
  import BackToTask from '@/components/BackToTask.vue'
  import { visitedChapterTask } from '@/providers/visitedChapterTask'

  const isLoading = ref(true)
</script>

<style lang="postcss" scoped>
.frame {
  height: 75vh;
}
</style>
