<template>
  <page-layout title="Statistik">
    <v-card
      class="border-b-lg"
      style="border-bottom-color: rgb(var(--v-theme-primary)) !important"
    >
      <v-card-text>
        <canvas v-show="subscribedLectures.length" ref="statistics" />
        <v-empty-state
          v-if="!subscribedLectures.length"
          icon="mdi-text-box-remove-outline"
          text="Es wurden bisher kein Kurse eingeschrieben"
          title="Keine Kurse vorhanden"
        />
      </v-card-text>
    </v-card>
  </page-layout>
</template>

<script setup lang="ts">
  import PageLayout from '@/components/PageLayout.vue'
  import { provideLectures } from '@/providers/lectures'
  import { providePageLoader } from '@/providers/pageLoader'
  import { provideSemesters } from '@/providers/semesters'
  import { watchImmediate } from '@vueuse/core'
  import { Chart, type ChartConfiguration, ChartData } from 'chart.js'
  import { computed, useTemplateRef } from 'vue'
  import { VCard, VCardText, VEmptyState } from 'vuetify/components'

  const { subscribedLectures, getSubscribedLectures, isLoadingSubscribedLectures } = provideLectures()
  const { semesterViews, getSemesterViews, isLoadingSemesterViews } = provideSemesters()

  getSemesterViews().then(response => {
    if (!response.data.length) {
      return
    }

    getSubscribedLectures(response.data[0]._id)
  })

  const isLoading = computed(() => isLoadingSubscribedLectures.value || isLoadingSemesterViews.value)
  providePageLoader(isLoading)

  const statisticsRef = useTemplateRef('statistics')

  const data = computed<ChartData<'bar'>>(() => ({
    labels: subscribedLectures.value.map(lecture => lecture.name),
    datasets: [{
      axis: 'y',
      data: subscribedLectures.value.map(lecture => Math.round(lecture.courses.map(course => course.solvedPercentage).reduce((acc, prev) => acc + prev, 0))),
      label: 'Fortschritt',
      fill: false,
      borderWidth: 1,
      barThickness: 30,
    }],
  }))

  const title = computed(() => `Fortschritte Vorlesungen im ${semesterViews.value.at(0)?.name ?? ''}`)

  const config = computed<ChartConfiguration<'bar'>>(() => ({
    type: 'bar',
    data: data.value,
    options: {
      indexAxis: 'y',
      scales: {
        x: {
          title: {
            text: 'Fortschritt in %',
            display: true,
            font: { family: 'Arial' },
          },
          min: 0,
          max: 100,
        },
        y: {
          title: {
            text: 'Vorlesung',
            display: true,
            font: { family: 'Arial' },
          },
        },
      },
      plugins: {
        autocolors: {
          enabled: true,
          mode: 'data',
        },
        legend: {
          display: false,
        },
        title: {
          display: true,
          text: title.value,
          font: { size: 14, family: 'Arial' },
          align: 'start',
          padding: {
            top: 10,
            bottom: 20,
          },
        },
        tooltip: {
          callbacks: {
            label(item) {
              return ` ${item.dataset.label}: ${item.formattedValue}%`
            },
          },
        },
      },
    },
  }))

  watchImmediate(subscribedLectures, value => {
    if (!value || !statisticsRef.value) {
      return
    }

    // eslint-disable-next-line no-new
    new Chart(
      statisticsRef.value,
      config.value
    )
  })
</script>
