<template>
  <el-row>
    <el-col :span="24">
      <el-steps class="hidden-md-and-down">
        <el-step
          v-for="(task, index) in tasks"
          :key="index"
          :status="getTaskStatus(task)"
          @click.native="goToTask(task)"
        >
        </el-step>
        <div class="task-type-hints">
          <span v-for="task in tasks" :key="task.id">
            <i :class="getTaskTypeIcon(task)"></i>
          </span>
        </div>
      </el-steps>
    </el-col>
  </el-row>
</template>

<script>
import { mapState } from "vuex";
import CourseMixin from "@/mixins/CourseMixin";
import TaskMixin from "@/mixins/TaskMixin";

export default {
  name: "ChapterTasksProgress",
  mixins: [CourseMixin, TaskMixin],
  props: ["tasks"],
  computed: {
    ...mapState("userStore", ["user"]),
  },
  methods: {
    getTaskStatus(task) {
      if (this.$route.params.taskId === task._id) {
        return "finish";
      } else if (
        this.isTaskSolvedAlready(
          this.user,
          this.$route.params.semesterId,
          this.$route.params.courseId,
          this.$route.params.chapterId,
          task
        )
      ) {
        return "success";
      }
      return "wait";
    },
    goToTask(task) {
      this.$router.push({ name: "task", params: { taskId: task._id } });
    },
    getTaskTypeIcon(task) {
      switch (task.tag) {
        case "code-task":
          return "el-icon-collection code-task";
        case "koan-task":
          return "el-icon-files koan-task";
        case "video-task":
          return "el-icon-video-camera video-task";
        case "info-task":
          return "el-icon-info info-task";
        case "reflection-task":
          return "el-icon-question reflection-task";
        case "single-choice-task":
          return "el-icon-circle-check single-choice-task";
        case "multiple-choice-task":
          return "el-icon-copy-document multiple-choice-task";
        default:
          return "?";
      }
    },
  },
};
</script>

<style scoped lang="scss">
aside {
  overflow: hidden;
}
::v-deep .el-steps {
  padding: 0.5rem 0 0 0;
  flex-wrap: wrap;
  .el-step {
    flex-basis: 4% !important;
    font-family: "Courier New", Courier, monospace;
    margin-top: 6px;
  }
  .task-type-hints {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0 0 0;
    top: 0;
    left: 0;
    z-index: 5;
    pointer-events: none;
    span {
      position: relative;
      flex-basis: 4%;
      i {
        position: absolute;
        color: grey;
        background-color: white;
        bottom: 0;
        left: 15px;
        font-size: 13px;
        &.koan-task {
          color: #ed6000;
        }
        &.code-task {
          color: #ba00ca;
        }
        &.video-task {
          color: #2300ed;
        }
        &.info-task {
          color: #46e440;
        }
        &.reflection-task {
          color: #565656;
        }
        &.single-choice-task {
          color: #51d3ff;
        }
        &.multiple-choice-task {
          color: #ede900;
        }
      }
    }
  }
  .el-step__description {
    margin: 4px;
  }
  .el-step__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    .el-step__icon-inner {
      line-height: normal;
      font-size: 13px;
    }
  }
}
.el-progress {
  padding: 1.2rem;
}
::v-deep .el-progress-bar__inner {
  background-color: $success-color;
  transition: width 1s, background-color 1s;
}
</style>
