<template>
  <nav>
    <el-menu :router="true" :default-active="activeMenu">
      <el-menu-item
        v-for="chapter in getChaptersSortedById"
        :route="{ name: 'chapter-start', params: { chapterId: chapter._id } }"
        :key="chapter._id"
        :index="chapter._id"
      >
        <a>
          <i class="el-icon-arrow-right"></i>
          <span
            >{{ chapter.title }} ({{
              getCompletedTasksInPercent(chapter)
            }}%)</span
          >
        </a>
      </el-menu-item>
    </el-menu>
  </nav>
</template>

<script>
import TaskMixin from "@/mixins/TaskMixin";
import { mapState } from "vuex";

export default {
  name: "ChapterList",
  mixins: [TaskMixin],
  props: ["course"],
  data() {
    return {
      activeMenu: this.$route.params.chapterId
    };
  },
  computed: {
    ...mapState("userStore", ["user"]),
    getChaptersSortedById() {
      return this.course.chapters
        .map(course => course)
        .sort((a, b) => a._id - b._id);
    }
  },
  watch: {
    $route(currentRoute) {
      this.activeMenu = currentRoute.params.chapterId;
    }
  },
  methods: {
    getCompletedTasksInPercent(chapter) {
      return Math.round(
        (chapter.tasks.filter(task =>
          this.isTaskSolvedAlready(
            this.user,
            this.$route.params.semesterId,
            this.$route.params.courseId,
            chapter._id,
            task
          )
        ).length *
          100) /
          chapter.tasks.length
      );
    }
  }
};
</script>

<style scoped lang="scss">
nav {
  // border: purple 3px solid;
}

aside {
  // border: red 4px solid;
  background-color: white;
  display: inline-block;
  padding: 1.6rem;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  padding-left: 0 !important;
  text-overflow: ellipsis;
  overflow: hidden;
}
</style>
