<template>
  <div v-if="chapter" id="chapter-wrapper">
    <h1>{{ chapter.title }}</h1>

    <el-collapse-transition>
      <ChapterTasksProgress :tasks="chapter.tasks"></ChapterTasksProgress>
    </el-collapse-transition>

    <div>
      <router-view :chapter="chapter"></router-view>
    </div>
  </div>
</template>

<script>
import ChapterTasksProgress from "@/components/learn/chapter/ChapterTasksProgress";

export default {
  name: "ChapterPanel",
  components: {
    ChapterTasksProgress
  },
  props: ["course"],
  computed: {
    chapter() {
      return this.course.chapters.find(
        chapter => chapter._id === this.$route.params.chapterId
      );
    }
  }
};
</script>

<style scoped lang="scss">
#chapter-wrapper {
  margin: 0 auto;
  transition: height 1s, padding 0.5s ease-out;
}
h1 {
  padding: 0.5rem 1rem;
  margin: 0;
  text-align: center;
  background-color: lightgrey;
  color: #333;
}
</style>
