<template>
  <div class="chapter-start">
    <el-row>
      <el-col :sm="24">
        <ChapterInfoBox :chapter="chapter"></ChapterInfoBox>
      </el-col>
    </el-row>

    <el-collapse-transition>
      <div class="comments" v-if="showDisqus">
        <vue-disqus
          shortname="codetask"
          :identifier="chapter.title"
          :title="chapter.title"
          url="https://codetask.disqus.com"
        />
      </div>
    </el-collapse-transition>

    <content-revealer
      @toggle="toggleDisqus"
      :value="showDisqus"
      name="Kommentare"
    />
  </div>
</template>

<script>
import ChapterInfoBox from "./ChapterInfoBox";
import ContentRevealer from "@/components/shared/ContentRevealer";

export default {
  name: "ChapterStart",
  components: {
    ChapterInfoBox,
    ContentRevealer
  },
  props: ["chapter"],
  data() {
    return {
      showDisqus: false
    };
  },
  watch: {
    chapter() {
      this.showDisqus = false;
    }
  },
  methods: {
    toggleDisqus() {
      this.showDisqus = !this.showDisqus;
    }
  }
};
</script>

<style scoped lang="scss">
.chapter-start {
  padding: 16px 0;
}
::ng-deep .comments {
  margin-top: 3.2rem;
}
</style>
