<template>
  <el-row :gutter="16">
    <el-col :xs="24" :sm="12">
      <ul>
        <li>
          <i class="el-icon-s-order"></i>
          Kapitel: {{ chapter.title }}
        </li>
        <li>
          <i class="el-icon-edit"></i>
          Aufgaben: {{ chapter.tasks.length }}
        </li>
        <li class="task-types">
          <i class="el-icon-alarm-clock"></i>
          Tasktypen:
          <br />
          <div>
            <ul>
              <li v-if="infoTasks.length">
                <i class="el-icon-info info-task"></i>
                {{ infoTasks.length }} Info{{
                  infoTasks.length !== 1 ? "s" : ""
                }}
              </li>
              <li v-if="videoTasks.length">
                <i class="el-icon-video-camera video-task"></i>
                {{ videoTasks.length }} Video{{
                  videoTasks.length !== 1 ? "s" : ""
                }}
              </li>
              <li v-if="reflectionTasks.length">
                <i class="el-icon-question reflection-task"></i>
                {{ reflectionTasks.length }} Reflection{{
                  reflectionTasks.length !== 1 ? "s" : ""
                }}
              </li>
              <li v-if="singleChoiceTasks.length">
                <i class="el-icon-circle-check single-choice-task"></i>
                {{ singleChoiceTasks.length }} Single choice{{
                  singleChoiceTasks.length !== 1 ? "s" : ""
                }}
              </li>
              <li v-if="multipleChoiceTasks.length">
                <i class="el-icon-copy-document multiple-choice-task"></i>
                {{ multipleChoiceTasks.length }} Multiple choice{{
                  multipleChoiceTasks.length !== 1 ? "s" : ""
                }}
              </li>
              <li v-if="koanTasks.length">
                <i class="el-icon-files koan-task"></i>
                {{ koanTasks.length }} Koan{{
                  koanTasks.length !== 1 ? "s" : ""
                }}
              </li>
              <li v-if="codeTasks.length">
                <i class="el-icon-collection code-task"></i>
                {{ codeTasks.length }} Codetask{{
                  codeTasks.length !== 1 ? "s" : ""
                }}
              </li>
            </ul>
          </div>
        </li>
        <li>
          <i class="el-icon-finished"></i>
          Dein Fortschritt: {{ getCompletedTasks }} / {{ chapter.tasks.length }}
        </li>
        <li>
          <el-button
            v-if="isKoanStarted"
            type="primary"
            @click="
              $router.push({
                name: 'task',
                params: { taskId: nextIncompleteTask._id },
              })
            "
          >
            Weitermachen bei Aufgabe {{ nextIncompleteTask._id }}
          </el-button>
          <el-button
            v-else-if="isChapterCompleted"
            type="secondary"
            @click="
              $router.push({
                name: 'task',
                params: { taskId: chapter.tasks[0]._id },
              })
            "
            >Ergebnisse ansehen</el-button
          >
          <el-button
            v-else
            type="primary"
            @click="
              $router.push({
                name: 'task',
                params: { taskId: chapter.tasks[0]._id },
              })
            "
            >Jetzt starten</el-button
          >
        </li>
      </ul>
    </el-col>
    <el-col v-if="isChapterCompleted" :xs="24" :sm="12">
      <el-row>
        <div class="chapter-finished">
          <p><i class="el-icon-check"></i> Du hast dieses Kapitel beendet!</p>
          <img src="@/assets/chapter-done-meme.png" alt="" />
        </div>
      </el-row>
    </el-col>
  </el-row>
</template>

<script>
import TaskMixin from "@/mixins/TaskMixin";
import { mapState } from "vuex";

export default {
  name: "ChapterInfoBox",
  mixins: [TaskMixin],
  props: ["chapter"],
  computed: {
    ...mapState("userStore", ["user"]),
    nextIncompleteTask() {
      return this.getNextIncompleteTask(this.user, this.chapter.tasks);
    },
    isKoanStarted() {
      return this.nextIncompleteTask && this.nextIncompleteTask._id !== "1";
    },
    isChapterCompleted() {
      return this.getCompletedTasks === this.chapter.tasks.length;
    },
    koanTasks() {
      return this.chapter.tasks.filter((task) => task.tag === "koan-task");
    },
    codeTasks() {
      return this.chapter.tasks.filter((task) => task.tag === "code-task");
    },
    videoTasks() {
      return this.chapter.tasks.filter((task) => task.tag === "video-task");
    },
    infoTasks() {
      return this.chapter.tasks.filter((task) => task.tag === "info-task");
    },
    reflectionTasks() {
      return this.chapter.tasks.filter(
        (task) => task.tag === "reflection-task"
      );
    },
    singleChoiceTasks() {
      return this.chapter.tasks.filter(
        (task) => task.tag === "single-choice-task"
      );
    },
    multipleChoiceTasks() {
      return this.chapter.tasks.filter(
        (task) => task.tag === "multiple-choice-task"
      );
    },
  },
};
</script>

<style lang="scss" scoped>
div {
  background-color: #fff;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  display: flex;
  list-style: none;
  padding: 0.3rem 0.5rem;

  &.task-types {
    flex-wrap: wrap;
    div {
      margin-left: 2.5rem;
      flex-basis: 100%;
    }
    i {
      &.koan-task {
        color: #ed6000;
      }
      &.code-task {
        color: #ba00ca;
      }
      &.video-task {
        color: #2300ed;
      }
      &.info-task {
        color: #46e440;
      }
      &.reflection-task {
        color: #565656;
      }
      &.single-choice-task {
        color: #51d3ff;
      }
      &.multiple-choice-task {
        color: #ede900;
      }
    }
  }
}
li {
  display: flex;
  align-items: center;
  i {
    margin-right: 0.7rem;

    font-size: 18px;

    /* Safari */
    max-width: 100%;
    max-height: 100%;
  }
}
.chapter-finished {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  height: 222px;
  p {
    margin: 0;
    i {
      background-color: #67c23a;
      border-radius: 50%;
      padding: 2px;
    }
  }
  img {
    position: absolute;
    height: 90%;
    bottom: 0;
    right: 16px;
  }
}
</style>
