<template>
  <nav>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ name: 'dashboard' }"
        >{{ currentCourse.title }}
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        <el-select
          :value="currentChapter.id"
          size="mini"
          :placeholder="currentChapter.title"
          @change="navigateOnSelect"
        >
          <el-option
            v-for="chapter in currentCourse.chapters"
            :key="chapter._id"
            :label="chapter.title"
            :value="chapter._id"
          >
          </el-option>
        </el-select>
      </el-breadcrumb-item>
    </el-breadcrumb>
  </nav>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  methods: {
    navigateOnSelect(chapterId) {
      this.$router.push({
        name: "chapter-start",
        params: { chapter: chapterId }
      });
    }
  },

  computed: {
    ...mapGetters("courseStore", ["currentCourse", "currentChapter"])
  }
};
</script>

<style scoped>
nav {
  padding: 1.2rem 1.2rem 0 1.2rem;
}

.el-breadcrumb {
  display: flex;
  align-items: center;
}
</style>
