<template>
  <div :class="['timer-box', { 'timer-box-red': remainingTime < 60000 }]">
    <p :class="{ 'text-red': remainingTime < 60000 }">{{ formattedTime }}</p>
  </div>
</template>

<script lang="ts">
  import { defineComponent, onMounted, onUnmounted, ref } from 'vue'

  export default defineComponent({
    name: 'ExamTimer',
    props: {
      endTime: {
        type: Number,
        required: true,
      },
    },
    setup(props, { emit }) {
      const remainingTime = ref(props.endTime - Date.now())
      const formattedTime = ref(formatTime(remainingTime.value))
      let timerInterval: number

      function formatTime(ms: number) {
        const totalSeconds = Math.floor(ms / 1000)
        const minutes = Math.floor(totalSeconds / 60) < 0 ? 0 : Math.floor(totalSeconds / 60)
        const seconds = totalSeconds % 60 < 0 ? 0 : totalSeconds % 60
        return `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`
      }

      function updateTimer() {
        remainingTime.value = props.endTime - Date.now()
        formattedTime.value = formatTime(remainingTime.value)
        if (remainingTime.value <= 0) {
          clearInterval(timerInterval)
          remainingTime.value = 0
          emit('on-exam-ended')
        }
      }

      onMounted(() => {
        timerInterval = setInterval(updateTimer, 1000)
      })

      onUnmounted(() => {
        clearInterval(timerInterval)
      })

      return {
        remainingTime,
        formattedTime,
      }
    },
  })
</script>

<style scoped>
.timer-box {
  position: fixed;
  top: 4.3rem;
  right: 1rem;
  padding: 0.3rem;
  border: 2px solid #000;
  border-radius: 7px;
  background-color: #fff;
  font-size: 2rem;
  font-weight: bold;
  z-index: 1000;
}

.timer-box-red {
  border-color: red;
}

.text-red {
  color: red;
}
</style>
