<template>
  <exam-timer
    v-if="exam.examType !== 'test-exam' && exam.endTime > new Date().getTime()"
    :end-time="exam.endTime"
    @on-exam-ended="onExamEnded"
  />
  <v-card>
    <v-card-text>
      <exam-task-list :exam="exam" />
    </v-card-text>
  </v-card>
  <!--  <exam-task-list :exam="exam"/>-->

</template>

<script lang="ts">
  import { defineComponent } from 'vue'
  import ExamTimer from '@/components/exam/ExamTimer.vue'
  import ExamTaskList from '@/components/exam/task/ExamTaskList.vue'
  import { VCard, VCardText } from 'vuetify/components'

  export default defineComponent({
    name: 'ExamStartOverview',
    components: {
      ExamTaskList,
      ExamTimer,
      VCard,
      VCardText,
    },
    props: {
      exam: {
        type: Object,
        required: true,
      },
    },
    emits: ['on-exam-ended'],
    data() {
      return {}
    },
    watch: {},
    methods: {
      onExamEnded() {
        this.$emit('on-exam-ended')
      },
    },
  })
</script>
