<template>
  <v-card-text v-if="exams.length">
    <v-expansion-panels
      v-model="expandedPanels"
      bg-color="transparent"
      flat
      variant="accordion"
    >
      <v-expansion-panel>
        <v-expansion-panel-title class="px-4">
          {{ title }}
        </v-expansion-panel-title>
        <v-expansion-panel-text class="py-4 px-0">
          <v-row>
            <template v-for="exam in exams" :key="exam._id">
              <v-col v-if="exam">
                <v-card border variant="flat">
                  <v-card-title>
                    <div v-html="exam.name" />
                  </v-card-title>
                  <v-card-actions class="flex-wrap px-4">
                    <v-btn
                      color="success"
                      size="small"
                      text="Zur Klausur"
                      :to="{name: 'exam-start', params: {examId: exam._id}}"
                      variant="tonal"
                    />
                  </v-card-actions>
                </v-card>
              </v-col>
            </template>
          </v-row>
        </v-expansion-panel-text>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-card-text>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue'
  import {
    VBtn, VCard, VCardActions, VCardText, VCardTitle,
    VCol, VExpansionPanel, VExpansionPanels,
    VExpansionPanelText, VExpansionPanelTitle, VRow, VTextField,
  } from 'vuetify/components'

  export default defineComponent({
    name: 'ExamExpansionPanel',
    components: {
      VRow,
      VCol,
      VCard,
      VCardTitle,
      VExpansionPanel,
      VExpansionPanels,
      VCardText,
      VExpansionPanelTitle,
      VExpansionPanelText,
      VBtn,
      VCardActions,
      VTextField,
    },
    props: {
      exams: {
        type: Array,
        required: true,
      },
      title: {
        type: String,
        required: true,
      },
      isExpanded: {
        type: Boolean,
        default: false,
      },
    },
    setup(props) {
      const expandedPanels = ref(props.isExpanded ? [0] : [])

      return {
        expandedPanels,
      }
    },
  })
</script>
