<template>
  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-title>{{ title }}</v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-text-field
                v-model="authCode"
                dense
                :error="authError"
                :error-messages="
                  authError ? authCode.length === 0 ? ['Bitte geben Sie einen Authentifizierungscode ein'] :
                    ['Falsches Passwort'] : []"
                label="Authentifizierungscode"
                outlined
                required
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-btn color="primary" @click="onAuthCodeSubmit">Start</v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue'
  import { VBtn, VCard, VCardText, VCardTitle, VCol, VRow, VTextField } from 'vuetify/components'
  import { provideExamSolutions } from '@/providers/examSolutions'

  export default defineComponent({
    name: 'ExamStartAuth',
    components: {
      VRow, VCol, VCard, VCardTitle, VCardText, VCard, VBtn, VTextField,
    },
    props: {
      title: {
        type: String,
        required: true,
      },
      examId: {
        type: String,
        required: true,
      },
    },
    setup() {
      const authCode = ref('')
      const authError = ref(false)
      const { authenticateUser } = provideExamSolutions()
      return {
        authCode,
        authError,
        authenticateUser,
      }
    },
    watch: {
      authCode() {
        this.authError = false
      },
    },
    methods: {
      async onAuthCodeSubmit() {
        if (!this.authCode) {
          this.authError = true
          return
        }
        try {
          const response = await this.authenticateUser(this.examId, this.authCode)
          if (response.status === 200) {
            this.authError = false
            this.$emit('on-auth-success')
          }
        } catch (e) {
          if (e.response && e.response.status === 401) {
            this.authError = true
          }
        }
      },
    },
  })
</script>
