<template>
  <v-alert density="comfortable" type="info" variant="tonal">
    <v-row align="center" dense>
      <v-col>Springe zum letzten Task zurück</v-col>
      <v-col cols="auto">
        <v-btn
          color="info"
          :text="visitedChapterTask?.name"
          :to="visitedChapterTask?.path"
          variant="outlined"
        />
      </v-col>
    </v-row>
  </v-alert>
</template>

<script setup lang="ts">
  import { VAlert, VBtn, VCol, VRow } from 'vuetify/components'
  import { visitedChapterTask } from '@/providers/visitedChapterTask'
</script>
