<template>
  <div ref="codemirror" />
</template>

<script setup lang="ts">
  import { EditorView, minimalSetup } from 'codemirror'
  import { EditorState, type Extension } from '@codemirror/state'
  import { autocompletion } from '@codemirror/autocomplete'

  import { bracketMatching, indentOnInput } from '@codemirror/language'
  import { templateRef } from '@vueuse/core'
  import { onMounted, ref, watch } from 'vue'

  interface Props {
    extensions?: Extension[];
    autofocus?: boolean;
  }

  const props = withDefaults(defineProps<Props>(), {
    extensions: () => [],
  })

  const model = defineModel<string>()

  const el = templateRef('codemirror')

  const extensions = [
    minimalSetup,
    autocompletion(),
    EditorState.tabSize.of(4),
    indentOnInput(),
    bracketMatching(),
    EditorView.updateListener.of(e => {
      if (e.docChanged) {
        model.value = e.state.doc.toString()
      }
    }),
    ...props.extensions,
  ]

  const state = EditorState.create({
    extensions,
    doc: model.value,
  })

  const view = ref<EditorView>()

  function selectFirstInput() {
    const input = document.querySelector('.koan-task-input') as any

    if (input?.cmView) {
      view.value?.dispatch({ selection: { anchor: input.cmView.posAtStart } })
    }
  }

  onMounted(() => {
    view.value = new EditorView({
      doc: model.value,
      state,
      parent: el.value,
    })

    selectFirstInput()

    if (props.autofocus) {
      setTimeout(() => {
        view.value?.focus()
      }, 0)
    }
  })

  watch(model, value => {
    view.value?.dispatch({
      changes: {
        from: 0,
        to: view.value?.state.doc.length,
        insert: value,
      },
    })
    setTimeout(() => {
      selectFirstInput()
    }, 0)
  })
</script>
