<template>
  <v-menu v-model="menu" :close-on-content-click="false" location="bottom">
    <template #activator="{props: menuProps}">
      <v-text-field
        append-inner-icon="mdi-calendar"
        v-bind="menuProps"
        clearable
        :error-messages="errorMessages"
        :model-value="formattedDate"
        :name="name"
        placeholder="DD.MM.YYYY"
        readonly
        @click:clear="date = undefined"
      >
        <template #label>
          <span v-if="required" class="text-error text-h6">* </span>{{ label }}
        </template>
      </v-text-field>
    </template>
    <v-date-picker
      v-model="date"
      :allowed-dates="allowedDates"
      border
      :elevation="0"
      hide-header
    />
  </v-menu>
</template>

<script setup lang="ts">
  import { computed, ref } from 'vue'
  import { VDatePicker, VMenu, VTextField } from 'vuetify/components'
  import { getFormattedDate } from '@/utils/dateFormat'
  import { isAfter, isDate } from 'date-fns'

  interface Props {
    label: string;
    allowedDates?: Date[];
    errorMessages?: string | string[];
    name?: string;
    required?: boolean;
  }

  const props = defineProps<Props>()
  const date = defineModel<Date>()
  const formattedDate = computed(() => date.value !== undefined ? getFormattedDate(date.value) : date.value)
  const menu = ref(false)

  const allowedDates = computed(() => (date: unknown) => Boolean(props.allowedDates
    ? isDate(date) && isAfter(date, new Date(0)) && props.allowedDates.find(allowedDate => allowedDate.getTime() === date.getTime())
    : isDate(date) && isAfter(date, new Date(0)))
  )
</script>
