<template>
  <v-list
    bg-color="secondary"
    class="py-0"
    density="compact"
    nav
    open-strategy="multiple"
    :opened
  >
    <v-list-item
      :active="false"
      class="my-2"
      :to="{name: 'lectures'}"
      value="home"
    >
      <v-img
        alt="Codetask Logo"
        aspect-ratio="16/9"
        height="40"
        src="/codetask/logo-white-full-centered.svg"
      />
    </v-list-item>
    <v-list-item
      prepend-icon="mdi-school-outline"
      title="Vorlesungen"
      :to="{name: 'lectures'}"
      value="lectures"
    />
    <v-list-item
      prepend-icon="mdi-sword-cross"
      title="Quiz Duell"
      :to="{name: 'quiz-duel'}"
      value="quiz-duel"
    >
      <template v-if="activeQuizDuel" #append>
        <v-badge color="warning" inline>
          <template #badge>
            <v-icon class="opacity-100" icon="mdi-exclamation-thick" />
          </template>
        </v-badge>
      </template>
    </v-list-item>
    <v-list-item prepend-icon="mdi-poll" title="Statistik" :to="{name: 'statistics'}" value="statistics" />
    <v-list-item prepend-icon="mdi-calendar" title="Kalender" :to="{name: 'calendar'}" value="calendar" />
    <v-list-item prepend-icon="mdi-paperclip" title="Klausuren" :to="{name: 'exam'}" value="exam" />
    <v-list-item prepend-icon="mdi-code-tags" title="Scala IDE" :to="{name: 'ide-scala'}" value="ide-scala" />
    <v-list-group v-if="user?.permissions === 'admin'" fluid value="admin">
      <template #activator="{ props }">
        <v-list-item
          v-bind="props"
          title="Adminbereich"
        />
      </template>
      <v-list-item prepend-icon="mdi-school-outline" title="Vorlesungen" :to="{name: 'admin-lectures'}" value="admin-lectures" />
      <v-list-item prepend-icon="mdi-calendar-month-outline" title="Semester" :to="{name: 'admin-semesters'}" value="admin-semesters" />
      <v-list-item prepend-icon="mdi-text-box-check-outline" title="Kurse" :to="{name: 'admin-courses'}" value="admin-courses" />
      <v-list-item prepend-icon="mdi-calendar-alert-outline" title="Kurs Deadlines" :to="{name: 'admin-course-deadlines'}" value="admin-course-deadlines" />
      <v-list-item prepend-icon="mdi-paperclip" title="Klausuren" :to="{name: 'admin-exams'}" value="admin-exams" />
      <v-list-group value="admin-quiz-duel">
        <template #activator="{ props: quizDuelProps }">
          <v-list-item
            v-bind="quizDuelProps"
            prepend-icon="mdi-sword-cross"
            title="Quiz Duell"
          />
        </template>
        <v-list-item title="Koan Sets" :to="{name: 'admin-quiz-duels-task-set-list'}" value="admin-quiz-duels-task-set-list" />
        <v-list-item title="Quiz Duelle" :to="{name: 'admin-quiz-duels-list'}" value="admin-quiz-duels" />
        <v-list-item title="Quizduell Deadlines" :to="{name: 'admin-quiz-duel-deadlines'}" value="admin-quiz-duels" />
        <v-list-item title="Einstellungen" :to="{name: 'admin-quiz-duels-settings'}" value="admin-quiz-duel-settings" />
      </v-list-group>
      <v-list-group value="admin-statistic">
        <template #activator="{ props: adminStatisticProps }">
          <v-list-item
            v-bind="adminStatisticProps"
            prepend-icon="mdi-poll"
            title="Statistik"
          />
        </template>
        <v-list-item title="Dashboard" :to="{name: 'admin-statistic-dashboard'}" value="admin-quiz-duels-task-set-list" />
        <v-list-item title="Ranking" :to="{name: 'admin-statistic-ranking'}" value="admin-quiz-duels" />
        <v-list-item title="Benutzerspezifisch" :to="{name: 'admin-statistic-user-specific'}" value="admin-quiz-duels" />
      </v-list-group>
    </v-list-group>
  </v-list>
</template>

<script setup lang="ts">
  import { useAuthOrThrow } from '@/providers/auth'
  import { useQuizDuelOrThrow } from '@/providers/quizDuel'
  import { ref } from 'vue'
  import { VBadge, VIcon, VImg, VList, VListGroup, VListItem } from 'vuetify/components'

  const { user } = useAuthOrThrow()
  const { activeQuizDuel } = useQuizDuelOrThrow()
  const opened = ref(['admin'])
</script>
