<template>
  <v-app-bar-title>
    <v-row align="center">
      <v-col v-if="backLink" cols="auto">
        <v-btn flat icon size="small" @click="onBack">
          <v-icon icon="mdi-arrow-left-thick" size="x-large" />
        </v-btn>
      </v-col>
      <v-col>
        <h5 class="text-h5 font-weight-bold">{{ title }}</h5>
        <div v-if="subtitle" class="text-subtitle-2">{{ subtitle }}</div>
      </v-col>
    </v-row>
  </v-app-bar-title>
</template>

<script setup lang="ts">
  import { RouteLocationAsRelativeGeneric, useRouter } from 'vue-router'
  import { VAppBarTitle, VBtn, VCol, VIcon, VRow } from 'vuetify/components'
  interface Props {
    title: string;
    backLink?: boolean | RouteLocationAsRelativeGeneric;
    subtitle?: string;
  }

  const props = defineProps<Props>()

  const router = useRouter()

  async function onBack() {
    if (props.backLink === undefined) {
      return
    }

    if (typeof props.backLink === 'boolean') {
      router.back()
      return
    }

    router.push(props.backLink)
  }
</script>
