<template>
  <v-row v-if="!pageLoaderContext?.loading.value" dense>
    <v-col>
      <v-app-bar
        :class="{'px-4': pageSize === 'normal'}"
        color="transparent"
        density="compact"
        flat
        :height="xs ? 100 : undefined"
        prominent
      >
        <template v-if="pageSize === 'small'" #prepend>
          <page-title :back-link="backLink" :subtitle="subtitle" :title="title" />
        </template>
        <v-row v-if="pageSize === 'normal'" align="center" dense>
          <v-col>
            <page-title :back-link="backLink" :subtitle="subtitle" :title="title" />
          </v-col>
          <v-col cols="auto">
            <slot name="actions" />
          </v-col>
        </v-row>
        <template v-if="pageSize === 'small'" #append>
          <slot name="actions" />
        </template>
      </v-app-bar>
    </v-col>
  </v-row>

  <page-loader v-if="pageLoaderContext?.loading.value || isLoadingUser" />

  <v-row v-if="!pageLoaderContext?.loading.value" class="pb-4" dense>
    <v-col>
      <v-row v-if="pageAlert?.alert.value" :class="{'px-2': pageSize === 'normal'}" dense>
        <v-col>
          <v-alert
            closable
            density="compact"
            :title="pageAlert.alert.value.title"
            :type="pageAlert.alert.value.type"
            :variant="pageAlert.alert.value.isCode ? 'outlined' : 'flat'"
            @click:close="pageAlert.resetAlert"
          >
            <span v-if="!pageAlert.alert.value.isCode">{{ pageAlert.alert.value.text }}</span>
            <code v-else v-html="pageAlert.alert.value.text" />
          </v-alert>
        </v-col>
      </v-row>
      <v-row class="pt-2" :class="{'px-4': pageSize === 'normal'}" dense>
        <v-col>
          <slot />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
  import { VAlert, VAppBar, VCol, VRow } from 'vuetify/components'
  import PageLoader from './PageLoader.vue'
  import { usePageAlert } from '@/providers/pageAlert'
  import { usePageLoader } from '@/providers/pageLoader'
  import { usePageSizeOrThrow } from '@/providers/pageSize'
  import PageTitle from './PageTitle.vue'
  import { watch } from 'vue'
  import { useAuthOrThrow } from '@/providers/auth'
  import type { RouteLocationAsRelativeGeneric } from 'vue-router'
  import { useDisplay } from 'vuetify'

  interface Props {
    title: string;
    backLink?: boolean | RouteLocationAsRelativeGeneric;
    size?: 'small' | 'normal';
    subtitle?: string;
  }

  const props = withDefaults(defineProps<Props>(), { size: 'normal' })
  const { size: pageSize } = usePageSizeOrThrow()
  const { xs } = useDisplay()

  watch(xs, value => {
    if (!value) {
      pageSize.value = props.size
      return
    }

    pageSize.value = 'normal'
  })

  watch(() => props.size, value => {
    if (xs.value) {
      pageSize.value = 'normal'
    } else {
      pageSize.value = value
    }
  }, { immediate: true })

  const pageAlert = usePageAlert()
  const pageLoaderContext = usePageLoader()
  const { isLoadingUser } = useAuthOrThrow()
</script>

<style lang="postcss" scoped>
:deep(.v-toolbar__prepend), :deep(.v-toolbar-title) {
  margin-inline: unset !important;
}
</style>
