<template>
  <v-container class="fill-height justify-center">
    <v-progress-circular color="primary" indeterminate />
  </v-container>
</template>

<script setup lang="ts">
  import { VContainer, VProgressCircular } from 'vuetify/components'
</script>
