<template>
  <canvas ref="barChart" />
</template>
<script lang="ts">
  import Chart from 'chart.js/auto'
  import { defineComponent } from 'vue'
  import { QuizDuel } from '@/model/types/quizDuel'
  import { QuizTaskSet } from '@/model/types/quizTaskSet'
  import QuizDuelMixin from '@/mixins/quizDuelMixin'

  export default defineComponent({
    name: 'BarChartQuizDuelUserSpecificAdmin',
    mixins: [QuizDuelMixin],
    props: {
      semester: {
        type: Object,
        required: true,
      },
      lecture: {
        type: Object,
        required: true,
      },
      user: {
        type: Object,
        required: true,
      },
      quizDuel: {
        type: Object,
        required: true,
      },
      quizDuels: {
        type: Array,
        required: true,
      },
      quizTaskSets: {
        type: Array,
        required: true,
      },
      courses: {
        type: Array,
        required: true,
      },
    },
    emits: ['selectQuizDuel'],
    data() {
      this.chart = null
      return {
        ctx: null,
      }
    },
    watch: {
      user() {
        this.updateChart()
      },
      semester() {
        this.updateChart()
      },
      lecture() {
        this.updateChart()
      },
      quizDuel() {
        this.updateChart()
      },
    },
    mounted() {
      this.ctx = this.$refs.barChart
      this.chart = new Chart(this.ctx, {
        type: 'bar',
        data: this.getChartData(),
        options: this.getOptions(),
      })
      this.ctx.scrollIntoView({ behavior: 'smooth' })
      this.adjustChartHeight()
    },
    methods: {
      updateChart() {
        this.adjustChartHeight()
        this.chart.options = this.getOptions()
        this.chart.data = this.getChartData()
        this.chart.update()
      },
      getChartData() {
        return {
          labels: this.getChartLabels(),
          datasets: [
            {
              label: 'Prozentual abgeschlossen',
              backgroundColor: '#409EFF',
              data: this.getPlotData(),
            },
          ],
        }
      },
      getOptions() {
        return {
          responsive: true,
          maintainAspectRatio: true,
          indexAxis: 'y',
          onClick: this.onClick,
          scales: {
            y: {
              beginAtZero: true,
              autoSkip: false,
              stepSize: 1,
            },
            x: {
              beginAtZero: true,
              min: 0,
              max: 100,
              ticks: {
                callback (value: string) {
                  return value + ' %'
                },
              },
            },
          },
        }
      },
      renderChartFromParent() {
        this.updateChart()
      },
      // eslint-disable-next-line @typescript-eslint/no-unused-vars
      onClick(_: any, elements: any, __: any) {
        if (elements && elements.length > 0) {
          const index = elements[0].index
          if (this.quizDuel._id === 'default') {
            this.$emit('selectQuizDuel', this.getQuizDuelsOfLecture(this.lecture).map(quizDuel => quizDuel._id)[index])
          }
        }
      },
      getChartLabels() {
        if (this.quizDuel._id !== 'default') {
          return [this.quizDuel.name]
        } else {
          return this.getQuizDuelsOfLecture(this.lecture).map(quizDuel => quizDuel.name)
        }
      },
      getPlotData() {
        if (this.quizDuel._id !== 'default') {
          return [this.getQuizDuelCompletionInPercent(this.quizDuel)]
        } else {
          return this.getQuizDuelsOfLecture(this.lecture).map(quizDuel => this.getQuizDuelCompletionInPercent(quizDuel))
        }
      },
      getQuizDuelCompletionInPercent(quizDuel) {
        const participant = quizDuel.participants.find(participant => participant.userId === this.user._id)
        const quizTaskSet: QuizTaskSet = this.quizTaskSets.find(quizTaskSet => quizTaskSet._id === quizDuel.quizTaskSetId)
        if (!participant) return 0
        const maxPoints = this.getPointsOfTaskSet(this.courses, quizTaskSet)
        const reachedPoints = participant.scores.map(score => score.score).reduce((a, b) => a + b, 0)
        if (maxPoints === 0) return 100
        if (reachedPoints === 0) return 0
        return (reachedPoints / maxPoints) * 100
      },
      getQuizDuelsOfLecture(lecture) {
        return this.quizDuels
          .filter((quizDuel: QuizDuel) => quizDuel.lectureId === lecture._id && quizDuel.semesterId === this.semester._id)
          .map((quizDuel: QuizDuel, index: number) => {
            return {
              ...quizDuel,
              name: `(${index + 1}) ${this.quizTaskSets.find(quizTaskSet => quizTaskSet._id === quizDuel.quizTaskSetId).name}`,
            }
          })
      },
      adjustChartHeight() {
        const labelsCount = this.getChartLabels().length
        const baseHeight = 400
        const additionalHeightPerLabel = 20
        const maxLabelsBeforeResizing = 20

        const newHeight =
          labelsCount > maxLabelsBeforeResizing
            ? baseHeight + (labelsCount - maxLabelsBeforeResizing) * additionalHeightPerLabel
            : baseHeight

        this.$el.style.height = `${newHeight}px`
      },
    },
  })
</script>
