<template>
  <canvas ref="barChart" />
</template>
<script lang="ts">
  import Chart from 'chart.js/auto'
  import { defineComponent } from 'vue'
  import QuizDuelMixin from '@/mixins/quizDuelMixin'
  import router from '@/router'

  export default defineComponent({
    name: 'BarChartQuizDuelRankingAdmin',
    mixins: [QuizDuelMixin],
    props: {
      lecture: {
        type: Object,
        required: true,
      },
      semester: {
        type: Object,
        required: true,
      },
      quizDuel: {
        type: Object,
        required: true,
      },
      quizDuels: {
        type: Array,
        required: true,
      },
      quizTaskSets: {
        type: Array,
        required: true,
      },
      courses: {
        type: Array,
        required: true,
      },
    },
    data() {
      // this is a workaround for a known issue
      this.chart = null
      return {
        options: {},
        userData: [],
        ctx: null,
      }
    },
    watch: {
      quizDuel() {
        this.updateChart()
      },
      lecture() {
        this.updateChart()
      },
    },
    mounted() {
      this.ctx = this.$refs.barChart
      this.chart = new Chart(this.ctx, {
        type: 'bar',
        data: this.getChartData(),
        options: this.getOptions(),
      })
      this.ctx.scrollIntoView({ behavior: 'smooth' })
    },
    methods: {
      updateChart() {
        this.chart.options = this.getOptions()
        this.chart.data = this.getChartData()
        this.chart.update()
      },
      getChartData() {
        this.userData = this.getUserData()
        return {
          labels: this.userData.map(entry => entry.username),
          datasets: [
            {
              label: 'Gesamtpunktzahl',
              backgroundColor: '#409EFF',
              data: this.userData.map(entry => entry.totalScore),
            },
          ],
        }
      },
      getOptions() {
        return {
          responsive: true,
          maintainAspectRatio: true,
          indexAxis: 'y',
          onClick: this.onClick,
          scales: {
            x: {
              title: {
                display: true,
                text: 'Punkte',
              },
              display: true,
              suggestedMin: 0,
              suggestedMax: this.getMaxValue(),
              precision: 0,
            },
          },
        }
      },
      renderChartFromParent() {
        this.updateChart()
      },
      // eslint-disable-next-line @typescript-eslint/no-unused-vars
      onClick(_: any, elements: any, __: any) {
        if (elements && elements.length > 0) {
          const index = elements[0].index
          const user = this.userData[index]
          const routeParameters = {
            tabChoice: 'quizDuels',
            semesterId: this.semester._id,
            lectureId: this.lecture._id,
            userId: user.userId,
            quizDuelId: this.quizDuel._id === 'default' ? undefined : this.quizDuel._id,
          }
          router.push({
            name: 'admin-statistic-user-specific-with-params',
            params: routeParameters,
          })
        }
      },
      getUserData() {
        const quizDuels = this.quizDuel._id === 'default' ? this.quizDuels.filter(
          quizDuel =>
            quizDuel.lectureId === this.lecture._id &&
            quizDuel.semesterId === this.semester._id
        ) : [this.quizDuel]
        const summedUpUserScores = [quizDuels
          .flatMap(quizDuel => quizDuel.participants)
          .flatMap(participant => {
            return {
              ...participant,
              totalScore: participant.scores.flatMap(score => score.score).reduce((a, b) => a + b, 0),
            }
          }).reduce((acc, participant) => {
            if (!acc[participant.userId]) {
              acc[participant.userId] = { userId: participant.userId, username: participant.username, totalScore: 0 }
            }
            acc[participant.userId].totalScore += participant.totalScore
            return acc
          }, {})]
        const userData = Object.keys(summedUpUserScores[0]).map(key => summedUpUserScores[0][key])
        const comparator = (a, b) => {
          return (a.username).localeCompare(b.username)
        }
        return userData.sort(comparator)
      },
      getMaxValue() {
        if (this.quizDuel._id !== 'default') {
          const quizTaskSet = this.quizTaskSets.find(quizTaskSet => quizTaskSet._id === this.quizDuel.quizTaskSetId)
          return this.getPointsOfTaskSet(this.courses, quizTaskSet)
        } else {
          const filteredQuizDuels = this.quizDuels.filter(quizDuel => quizDuel.lectureId === this.lecture._id && quizDuel.semesterId === this.semester._id)
          return filteredQuizDuels.map(quizDuel => {
            const quizTaskSet = this.quizTaskSets.find(quizTaskSet => quizTaskSet._id === quizDuel.quizTaskSetId)
            return this.getPointsOfTaskSet(this.courses, quizTaskSet)
          }).reduce((a, b) => a + b, 0)
        }
      },
    },
  })
</script>
