<template>
  <canvas ref="barChart" />
</template>
<script lang="ts">
  import Chart from 'chart.js/auto'
  import { defineComponent } from 'vue'
  import router from '@/router'
  import { ExamSolution } from '@/model/types/examSolution'
  import { Exam } from '@/model/types/exam'

  export default defineComponent({
    name: 'BarChartExamRankingAdmin',
    props: {
      exam: {
        type: Object,
        required: true,
      },
      examTask: {
        type: Object,
        required: true,
      },
      lecture: {
        type: Object,
        required: true,
      },
      semester: {
        type: Object,
        required: true,
      },
      examSolutions: {
        type: Array,
        required: true,
      },
      exams: {
        type: Array,
        required: true,
      },
      examsInType: {
        type: Array,
        required: true,
      },
      users: {
        type: Array,
        required: true,
      },
    },
    data() {
      // this is a workaround for a known issue
      this.chart = null
      return {
        ctx: null,
        userData: [],
      }
    },
    watch: {
      semester() {
        this.updateChart()
      },
      lecture() {
        this.updateChart()
      },
      exam() {
        this.updateChart()
      },
      examTask() {
        this.updateChart()
      },
      examsInType() {
        this.updateChart()
      },
    },
    mounted() {
      this.ctx = this.$refs.barChart
      this.chart = new Chart(this.ctx, {
        type: 'bar',
        data: this.getChartData(),
        options: this.getOptions(),
      })
      this.ctx.scrollIntoView({ behavior: 'smooth' })
    },
    methods: {
      updateChart() {
        this.chart.options = this.getOptions()
        this.chart.data = this.getChartData()
        this.chart.update()
      },
      getChartData() {
        this.userData = this.getUserData()
        return {
          labels: this.userData.map(entry => entry.username),
          datasets: [
            {
              label: 'Gesamtpunktzahl',
              backgroundColor: '#409EFF',
              data: this.userData.map(entry => entry.totalPoints),
            },
          ],
        }
      },
      getOptions() {
        return {
          responsive: true,
          maintainAspectRatio: true,
          indexAxis: 'y',
          onClick: this.onClick,
          scales: {
            x: {
              title: {
                display: true,
                text: 'Punkte',
              },
              display: true,
              suggestedMin: 0,
              suggestedMax: this.getMaxValue(),
              precision: 0,
            },
          },
        }
      },
      renderChartFromParent() {
        this.updateChart()
      },
      // eslint-disable-next-line @typescript-eslint/no-unused-vars
      onClick(_: any, elements: any, __: any) {
        if (elements && elements.length > 0) {
          const index = elements[0].index
          const user = this.userData[index]
          const routeParameters = {
            tabChoice: 'exams',
            semesterId: this.semester._id,
            lectureId: this.lecture._id,
            userId: user.userId,
            examId: this.exam._id === 'default' ? undefined : this.exam._id,
          }
          router.push({
            name: 'admin-statistic-user-specific-with-params',
            params: routeParameters,
          })
        }
      },
      getUserData() {
        const examIds = this.examsInType.filter((exam: Exam) =>
          exam.lecture === this.lecture._id &&
          exam.semester === this.semester._id &&
          exam.date <= new Date().getTime() &&
          exam._id === (this.exam._id === 'default' ? exam._id : this.exam._id)
        ).map((exam: Exam) => exam._id)
        const filteredExamSolutions = this.examSolutions.filter((examSolution: ExamSolution) =>
          examIds.includes(examSolution.examId) &&
          examSolution.examTaskId === (this.examTask._id === 'default' ? examSolution.examTaskId : this.examTask._id)
        )
        return filteredExamSolutions.reduce((acc, examSolution) => {
          const entry = acc.find(entry => entry.userId === examSolution.userId)
          if (!entry) {
            acc.push({
              userId: examSolution.userId,
              username: this.users.find(user => user._id === examSolution.userId).username,
              alreadyCorrected: examSolution.points !== -1,
              totalPoints: examSolution.points,
            })
          } else {
            if (examSolution.points === -1) {
              entry.alreadyCorrected = false
            }
            entry.totalPoints += examSolution.points
          }
          return acc
        }, []).filter(entry => entry.alreadyCorrected)
      },
      getMaxValue() {
        if (this.examTask._id !== 'default') {
          return this.exam.tasks.find((examTask: ExamTask) => examTask._id === this.examTask._id).data.maxPoints
        } else if (this.exam._id !== 'default') {
          return this.exams
            .find((exam: Exam) => exam._id === this.exam._id).tasks
            .map((examTask: ExamTask) => examTask.data.maxPoints)
            .reduce((a, b) => a + b, 0)
        } else {
          const examIds = this.examsInType.map((exam: Exam) => exam._id)
          return this.exams
            .filter((exam: Exam) => examIds.includes(exam._id))
            .flatMap((exam: Exam) => exam.tasks)
            .flatMap((examTask: ExamTask) => examTask.data.maxPoints)
            .reduce((a, b) => a + b, 0)
        }
      },
    },
  })
</script>
