<template>
  <canvas ref="barChart" />
</template>
<script lang="ts">
  import Chart from 'chart.js/auto'
  import { defineComponent } from 'vue'
  import CourseMixin from '@/mixins/courseMixin'
  import { TaskProgress } from '@/model/types/taskProgress'
  import { Chapter } from '@/model/types/chapter'
  import { Course } from '@/model/types/course'
  import { Task } from '@/model/types/task'

  export default defineComponent({
    name: 'BarChartCourseUserSpecificAdmin',
    mixins: [CourseMixin],
    props: {
      semester: {
        type: Object,
        required: true,
      },
      lecture: {
        type: Object,
        required: true,
      },
      user: {
        type: Object,
        required: true,
      },
      course: {
        type: Object,
        required: true,
      },
      chapter: {
        type: Object,
        required: true,
      },
      courses: {
        type: Array,
        required: true,
      },
      taskProgresses: {
        type: Array,
        required: true,
      },
    },
    emits: ['selectEntity'],
    data() {
      // this is a workaround for a known issue
      this.chart = null
      return {
        ctx: null,
      }
    },
    watch: {
      user() {
        this.updateChart()
      },
      semester() {
        this.updateChart()
      },
      lecture() {
        this.updateChart()
      },
      course() {
        this.updateChart()
      },
      chapter() {
        this.updateChart()
      },
    },
    mounted() {
      this.ctx = this.$refs.barChart
      this.chart = new Chart(this.ctx, {
        type: 'bar',
        data: this.getChartData(),
        options: this.getOptions(),
      })
      this.ctx.scrollIntoView({ behavior: 'smooth' })
      this.adjustChartHeight()
    },
    methods: {
      updateChart() {
        this.adjustChartHeight()
        this.chart.options = this.getOptions()
        this.chart.data = this.getChartData()
        this.chart.update()
      },
      getChartData() {
        return {
          labels: this.getChartLabels(),
          datasets: [
            {
              label: 'Prozentual abgeschlossen',
              backgroundColor: '#409EFF',
              data: this.getPlotData(),
            },
          ],
        }
      },
      getOptions() {
        return {
          responsive: true,
          maintainAspectRatio: true,
          indexAxis: 'y',
          onClick: this.onClick,
          scales: {
            y: {
              beginAtZero: true,
              autoSkip: false,
              stepSize: 1,
            },
            x: {
              beginAtZero: true,
              min: 0,
              max: 100,
              ticks: {
                callback (value: string) {
                  return value + ' %'
                },
              },
            },
          },
        }
      },
      renderChartFromParent() {
        this.updateChart()
      },
      // eslint-disable-next-line @typescript-eslint/no-unused-vars
      onClick(_: any, elements: any, __:any) {
        if (elements && elements.length > 0) {
          const index = elements[0].index
          if (this.chapter._id === 'default' && this.course._id !== 'default') {
            this.$emit('selectEntity', ['chapter', this.course.chapters[index]])
          } else if (this.course._id === 'default') {
            const courseId = this.lecture.courses.find((courseId: string, i: number) => i === index)
            this.$emit('selectEntity', ['course', this.courses.find(course => course._id === courseId)])
          }
        }
      },
      getChartLabels() {
        if (this.chapter._id !== 'default') {
          return this.chapter.tasks.map(task => `Aufgabe ${task._id}`)
        } else if (this.course._id !== 'default') {
          return this.course.chapters.map(chapter => chapter.title)
        } else {
          const courses = this.courses.filter(course => this.lecture.courses.includes(course._id))
          return courses.map(course => course.title)
        }
      },
      getPlotData() {
        if (this.chapter._id !== 'default') {
          return this.chapter.tasks.map(task => this.getTaskCompletionInPercent(this.course, this.chapter, task))
        } else if (this.course._id !== 'default') {
          return this.course.chapters.map(chapter => this.getChapterCompletionInPercent(this.course, chapter))
        } else {
          const courses = this.courses.filter(course => this.lecture.courses.includes(course._id))
          return courses.map(course => this.getCourseCompletionInPercent(course))
        }
      },
      getCourseCompletionInPercent(course: Course) {
        const taskProgresses = this.taskProgresses.filter((taskProgress: TaskProgress) =>
          taskProgress.semesterId === this.semester._id &&
          taskProgress.lectureId === this.lecture._id &&
          taskProgress.userId === this.user._id &&
          taskProgress.courseId === course._id
        )
        const maxPoints = course.chapters.map(chapter => chapter.tasks.map(task => this.getMaxPointsOfTask(task)).reduce((a, b) => a + b, 0)).reduce((a, b) => a + b, 0)
        const reachedPoints = taskProgresses.map(taskProgress => this.getReachedPointsOfTask(taskProgress)).reduce((a, b) => a + b, 0)
        if (maxPoints === 0) return 100
        if (reachedPoints === 0) return 0
        return (reachedPoints / maxPoints) * 100
      },
      getChapterCompletionInPercent(course: Course, chapter: Chapter) {
        const taskProgresses = this.taskProgresses.filter((taskProgress: TaskProgress) =>
          taskProgress.semesterId === this.semester._id &&
          taskProgress.lectureId === this.lecture._id &&
          taskProgress.userId === this.user._id &&
          taskProgress.courseId === course._id &&
          taskProgress.chapterId === chapter._id
        )
        const maxPoints = chapter.tasks.map(task => this.getMaxPointsOfTask(task)).reduce((a, b) => a + b, 0)
        const reachedPoints = taskProgresses.map(taskProgress => this.getReachedPointsOfTask(taskProgress)).reduce((a, b) => a + b, 0)
        if (maxPoints === 0) return 100
        if (reachedPoints === 0) return 0
        return (reachedPoints / maxPoints) * 100
      },
      getTaskCompletionInPercent(course: Course, chapter: Chapter, task: Task) {
        const taskProgress: TaskProgress | undefined = this.taskProgresses.find((taskProgress: TaskProgress) =>
          taskProgress.semesterId === this.semester._id &&
          taskProgress.lectureId === this.lecture._id &&
          taskProgress.userId === this.user._id &&
          taskProgress.courseId === course._id &&
          taskProgress.chapterId === chapter._id &&
          taskProgress.taskId === task._id
        )
        if (!taskProgress) return 0
        const maxPoints = this.getMaxPointsOfTask(task)
        const reachedPoints = this.getReachedPointsOfTask(taskProgress)
        if (maxPoints === 0) return 100
        if (reachedPoints === 0) return 0
        return (reachedPoints / maxPoints) * 100
      },
      getReachedPointsOfTask(taskProgress: TaskProgress) {
        return this.getCorrectnessOfSolutionsInPoints(
          this.courses,
          taskProgress.courseId,
          taskProgress.chapterId,
          taskProgress.taskId,
          taskProgress.solutions,
          taskProgress.cheatedSolutions,
        )
      },
      getMaxPointsOfTask(task) {
        return task.tag === 'koan-task' ? task.data.solutions.length : 1
      },
      adjustChartHeight() {
        const labelsCount = this.getChartLabels().length
        const baseHeight = 400
        const additionalHeightPerLabel = 20

        const maxLabelsBeforeResizing = 20
        const newHeight =
          labelsCount > maxLabelsBeforeResizing
            ? baseHeight + (labelsCount - maxLabelsBeforeResizing) * additionalHeightPerLabel
            : baseHeight
        this.ctx.style.height = `${newHeight}px`
      },
    },
  })
</script>
