<template>
  <canvas ref="barChart" />
</template>
<script lang="ts">
  import Chart from 'chart.js/auto'
  import { defineComponent } from 'vue'
  import { Exam, ExamTask } from '@/model/types/exam'
  import { ExamSolution } from '@/model/types/examSolution'
  import router from '@/router'

  export default defineComponent({
    name: 'BarChartExamUserSpecificAdmin',
    props: {
      semester: {
        type: Object,
        required: true,
      },
      lecture: {
        type: Object,
        required: true,
      },
      user: {
        type: Object,
        required: true,
      },
      exam: {
        type: Object,
        required: true,
      },
      examsInType: {
        type: Array,
        required: true,
      },
      examSolutions: {
        type: Array,
        required: true,
      },
    },
    emits: ['selectExam'],
    data() {
      this.chart = null
      return {
        ctx: null,
      }
    },
    watch: {
      user() {
        this.updateChart()
      },
      semester() {
        this.updateChart()
      },
      lecture() {
        this.updateChart()
      },
      exam() {
        this.updateChart()
      },
      examsInType() {
        this.updateChart()
      },
    },
    mounted() {
      this.ctx = this.$refs.barChart
      this.chart = new Chart(this.ctx, {
        type: 'bar',
        data: this.getChartData(),
        options: this.getOptions(),
        plugins: [this.getNoDataPlugin()],
      })
      this.ctx.scrollIntoView({ behavior: 'smooth' })
      this.adjustChartHeight()
    },
    methods: {
      updateChart() {
        this.adjustChartHeight()
        this.chart.options = this.getOptions()
        this.chart.data = this.getChartData()
        this.chart.plugins = [this.getNoDataPlugin()]
        this.chart.update()
      },
      getChartData() {
        return {
          labels: this.getChartLabels(),
          datasets: [
            {
              label: 'Prozentual abgeschlossen',
              backgroundColor: '#409EFF',
              data: this.getPlotData(),
            },
          ],
        }
      },
      getOptions() {
        return {
          responsive: true,
          maintainAspectRatio: true,
          indexAxis: 'y',
          onClick: this.onClick,
          onHover: this.onHover,
          scales: {
            y: {
              beginAtZero: true,
              autoSkip: false,
              stepSize: 1,
            },
            x: {
              beginAtZero: true,
              min: 0,
              max: 100,
              ticks: {
                callback (value: string) {
                  return value + ' %'
                },
              },
            },
          },
        }
      },
      getNoDataPlugin() {
        return {
          id: 'noDataPlugin',
          beforeDraw(chart: any) {
            const data = chart.data
            const noData = data.datasets[0].data.length === 0
            if (noData) {
              const { ctx, width, height } = chart

              ctx.save()
              ctx.clearRect(0, 0, width, height)
              ctx.textAlign = 'center'
              ctx.textBaseline = 'middle'
              ctx.font = '16px Arial'
              ctx.fillStyle = 'gray'
              ctx.fillText('Klausuren noch nicht oder nicht vollständig korrigiert', width / 2, height / 2)
              ctx.restore()
            }
          },
          // eslint-disable-next-line @typescript-eslint/no-unused-vars
          afterDatasetDraw(chart: any, args: any, _: any) {
            const { ctx, chartArea } = chart
            const maxBarWidth = chartArea.right - chartArea.left
            const datasetIndex = args.index
            const dataset = chart.data.datasets[datasetIndex]
            const meta = chart.getDatasetMeta(datasetIndex)

            dataset.data.forEach((value: number, index: number) => {
              if (value === -1) {
                const bar = meta.data[index]
                const { y, height } = bar

                ctx.save()
                ctx.textAlign = 'center'
                ctx.textBaseline = 'middle'
                ctx.font = '12px Arial'
                ctx.fillStyle = chart.hoveredIndex !== index ? 'orange' : 'rgba(255, 165, 0, 0.8)'
                ctx.fillRect(chartArea.left, y - (height / 2), maxBarWidth, height)
                ctx.fillStyle = 'gray'
                ctx.fillText('Aufgabe noch nicht korrigiert', chartArea.left + maxBarWidth / 2, y)
                ctx.restore()

                const customBar = {
                  x: chartArea.left,
                  y: y - (height / 2),
                  width: maxBarWidth,
                  height,
                  index,
                }
                if (chart.customBars) {
                  chart.customBars = [...chart.customBars.filter(customBar => customBar.index !== index), customBar]
                } else {
                  chart.customBars = [customBar]
                }
              }
            })
          },
        }
      },
      renderChartFromParent() {
        this.updateChart()
      },
      onClick(event: any, elements: any, chart: any) {
        const { offsetX, offsetY } = event.native
        const customBars = chart.customBars || []

        if (elements && elements.length > 0) {
          const index = elements[0].index
          if (this.exam._id === 'default') {
            this.$emit('selectExam', this.examsInType.filter((exam: any) => exam._id !== 'default').map((exam: Exam) => exam._id)[index])
          }
        } else if (customBars.length) {
          customBars.forEach((bar: any) => {
            if (
              offsetX >= bar.x &&
              offsetX <= bar.x + bar.width &&
              offsetY >= bar.y &&
              offsetY <= bar.y + bar.height
            ) {
              const routeParameters = {
                examId: this.exam._id,
                userId: this.user._id,
                taskIndex: bar.index,
              }
              router.push({
                name: 'admin-grade-exams-exam',
                params: routeParameters,
              })
            }
          })
        }
      },
      onHover: (event: any, _: any, chart: any) => {
        const { offsetX, offsetY } = event.native
        const customBars = chart.customBars || []

        let hoveredIndex = null
        let isHovered = false

        customBars.forEach((bar: any) => {
          if (
            offsetX >= bar.x &&
            offsetX <= bar.x + bar.width &&
            offsetY >= bar.y &&
            offsetY <= bar.y + bar.height
          ) {
            hoveredIndex = bar.index
            isHovered = true
          }
        })
        event.native.target.style.cursor = isHovered ? 'pointer' : 'default'

        if (chart.hoveredIndex !== hoveredIndex) {
          chart.hoveredIndex = hoveredIndex
          chart.draw()
        }
      },
      getChartLabels() {
        if (this.exam._id !== 'default') {
          const tasks = this.exam.tasks
          return tasks
            .sort((a, b) => parseInt(a._id) - parseInt(b._id))
            .map((_: ExamTask, index: number) => `Aufgabe ${index + 1}`)
        } else {
          return this.examsInType
            .filter((exam: any) => exam._id !== 'default' && this.isExamFullyCorrected(exam))
            .map((exam: Exam) => exam.name)
        }
      },
      getPlotData() {
        if (this.exam._id !== 'default') {
          return this.exam.tasks.map((examTask: ExamTask) => this.getExamTaskCompletionInPercent(examTask))
        } else {
          return this.examsInType
            .filter((exam: any) => exam._id !== 'default' && this.isExamFullyCorrected(exam))
            .map((exam: Exam) => this.getExamCompletionInPercent(exam))
        }
      },
      isExamFullyCorrected(exam: Exam) {
        const filteredExamSolutions: ExamSolution[] = this.examSolutions.filter((examSolution: ExamSolution) =>
          examSolution.userId === this.user._id &&
          examSolution.examId === exam._id
        )
        return filteredExamSolutions.length ? !filteredExamSolutions.some((examSolution: ExamSolution) => examSolution.points === -1) : false
      },
      getExamCompletionInPercent(exam: Exam) {
        const totalPoints = exam.tasks.map((examTask: ExamTask) => examTask.data.maxPoints).reduce((a, b) => a + b, 0)
        if (totalPoints === 0) return 100
        const filteredExamSolutions: ExamSolution[] = this.examSolutions.filter((examSolution: ExamSolution) =>
          examSolution.userId === this.user._id &&
          examSolution.examId === exam._id
        ).sort((a, b) => parseInt(a.examTaskId) - parseInt(b.examTaskId))
        if (!filteredExamSolutions.length) return 0
        const examSolutionsMappedToTotalPoints = filteredExamSolutions
          .reduce((acc, examSolution) => {
            const entry = acc.find(entry => entry.userId === examSolution.userId)
            if (!entry) {
              acc.push({
                userId: examSolution.userId,
                alreadyCorrected: examSolution.points !== -1,
                totalPoints: examSolution.points,
              })
            } else {
              if (examSolution.points === -1) {
                entry.alreadyCorrected = false
              }
              entry.totalPoints += examSolution.points
            }
            return acc
          }, [])
          .filter(entry => entry.alreadyCorrected)
        const reachedPoints = examSolutionsMappedToTotalPoints
          .map(entry => entry.totalPoints)
          .reduce((a, b) => a + b, 0)
        return (reachedPoints / totalPoints) * 100
      },
      getExamTaskCompletionInPercent(examTask: ExamTask) {
        const totalPoints = examTask.data.maxPoints
        const examSolution: ExamSolution | undefined = this.examSolutions.find((examSolution: ExamSolution) =>
          examSolution.examTaskId === examTask._id &&
          examSolution.userId === this.user._id &&
          examSolution.examId === this.exam._id
        )
        if (!examSolution) return -1
        if (totalPoints === 0) return 100
        if (examSolution.points === -1) return -1
        return (examSolution.points / totalPoints) * 100
      },
      adjustChartHeight() {
        const labelsCount = this.getChartLabels().length
        const baseHeight = 400
        const additionalHeightPerLabel = 20
        const maxLabelsBeforeResizing = 20

        const newHeight =
          labelsCount > maxLabelsBeforeResizing
            ? baseHeight + (labelsCount - maxLabelsBeforeResizing) * additionalHeightPerLabel
            : baseHeight

        this.$el.style.height = `${newHeight}px`
      },
    },
  })
</script>
