<template>
  <canvas ref="barChart" />
</template>
<script lang="ts">
  import Chart from 'chart.js/auto'
  import CourseMixin from '@/mixins/courseMixin'
  import { defineComponent } from 'vue'
  import { User } from '@/model/types/user'
  import { Subscription } from '@/model/types/subscription'
  import router from '@/router'

  export default defineComponent({
    name: 'BarChartCourseRankingAdmin',
    mixins: [CourseMixin],
    props: {
      lecture: {
        type: Object,
        required: true,
      },
      semester: {
        type: Object,
        required: true,
      },
      users: {
        type: Array,
        required: true,
      },
      course: {
        type: Object,
        required: true,
      },
      chapter: {
        type: Object,
        required: true,
      },
      task: {
        type: Object,
        required: true,
      },
      subscriptions: {
        type: Array,
        required: true,
      },
      taskProgresses: {
        type: Array,
        required: true,
      },
      courses: {
        type: Array,
        required: true,
      },
    },
    data() {
      // this is a workaround for a known issue
      this.chart = null
      return {
        options: {},
        userScores: [],
        userData: [],
        ctx: null,
      }
    },
    watch: {
      semester() {
        this.updateChart()
      },
      lecture() {
        this.updateChart()
      },
      course() {
        this.updateChart()
      },
      chapter() {
        this.updateChart()
      },
      task() {
        this.updateChart()
      },
    },
    mounted() {
      this.ctx = this.$refs.barChart
      this.chart = new Chart(this.ctx, {
        type: 'bar',
        data: this.getChartData(),
        options: this.getOptions(),
      })
      this.ctx.scrollIntoView({ behavior: 'smooth' })
    },
    methods: {
      updateChart() {
        this.chart.options = this.getOptions()
        this.chart.data = this.getChartData()
        this.chart.update()
      },
      getChartData() {
        this.userData = this.getUserData()
        return {
          labels: this.userData.map(user => user.username),
          datasets: [
            {
              label: 'Gesamtpunktzahl',
              backgroundColor: '#409EFF',
              data: this.getUserScores(),
            },
          ],
        }
      },
      getOptions() {
        return {
          responsive: true,
          maintainAspectRatio: true,
          indexAxis: 'y',
          onClick: this.onClick,
          scales: {
            x: {
              title: {
                display: true,
                text: 'Punkte',
              },
              display: true,
              suggestedMin: 0,
              suggestedMax: this.getMaxValue(),
              precision: 0,
            },
          },
        }
      },
      renderChartFromParent() {
        this.updateChart()
      },
      // eslint-disable-next-line @typescript-eslint/no-unused-vars
      onClick(_: any, elements: any, __: any) {
        if (elements && elements.length > 0) {
          const index = elements[0].index
          const user = this.userData[index]
          const routeParameters = {
            tabChoice: 'courses',
            semesterId: this.semester._id,
            lectureId: this.lecture._id,
            userId: user._id,
            courseId: this.course._id === 'default' ? undefined : this.course._id,
            chapterId: this.chapter._id === 'default' ? undefined : this.chapter.courseChapterId,
          }
          router.push({
            name: 'admin-statistic-user-specific-with-params',
            params: routeParameters,
          })
        }
      },
      getUserData() {
        const userIds = this.subscriptions.filter(
          (subscription: Subscription) => subscription.lecture === this.lecture._id && subscription.semester === this.semester._id
        ).map((subscription: Subscription) => subscription.user)

        return this.users.filter((user: User) => userIds.includes(user._id)).map((user: User) => {
          const userTaskProgresses = this.taskProgresses.filter(taskProgress =>
            taskProgress.userId === user._id &&
            taskProgress.semesterId === this.semester._id &&
            taskProgress.lectureId === this.lecture._id
          )
          return {
            ...user,
            taskProgresses: userTaskProgresses,
          }
        })
      },
      getMaxValue() {
        if (this.task._id !== 'default') {
          return this.task.tag === 'koan-task' ? this.task.data.solutions.length : 1
        } else if (this.chapter._id !== 'default') {
          return this.chapter.tasks.flatMap(task => {
            if (task.tag === 'koan-task') {
              return task.data.solutions.length
            } else {
              return 1
            }
          }).reduce((a, b) => a + b, 0)
        } else if (this.course._id !== 'default') {
          return this.course.chapters.flatMap(chapter => chapter.tasks.flatMap(task => {
            if (task.tag === 'koan-task') {
              return task.data.solutions.length
            } else {
              return 1
            }
          })).reduce((a, b) => a + b, 0)
        } else {
          const courseIds = this.lecture.courses
          const courses = this.courses.filter(course => courseIds.includes(course._id))
          return courses.flatMap(course => course.chapters.flatMap(chapter => chapter.tasks.flatMap(task => {
            if (task.tag === 'koan-task') {
              return task.data.solutions.length
            } else {
              return 1
            }
          }))).reduce((a, b) => a + b, 0)
        }
      },
      getUserScores() {
        if (!this.userData.length) return []
        return this.userData.map(user => {
          if (!user.taskProgresses.length) return 0
          let taskProgressesPoints: number[]
          if (this.task._id !== 'default') {
            const taskProgresses = user.taskProgresses.filter(taskProgress =>
              taskProgress.courseId === this.course._id &&
              taskProgress.chapterId === this.chapter._id &&
              taskProgress.taskId === this.task._id
            )
            taskProgressesPoints = taskProgresses.map(taskProgress => {
              return this.getCorrectnessOfSolutionsInPoints(this.courses, this.course._id, this.chapter._id, this.task._id, taskProgress.solutions, taskProgress.cheatedSolutions)
            })
          } else if (this.chapter._id !== 'default') {
            const taskProgresses = user.taskProgresses.filter(taskProgress =>
              taskProgress.courseId === this.course._id &&
              taskProgress.chapterId === this.chapter._id
            )
            taskProgressesPoints = taskProgresses.map(taskProgress => {
              return this.getCorrectnessOfSolutionsInPoints(this.courses, this.course._id, this.chapter._id, taskProgress.taskId, taskProgress.solutions, taskProgress.cheatedSolutions)
            })
          } else if (this.course._id !== 'default') {
            const taskProgresses = user.taskProgresses.filter(taskProgress =>
              taskProgress.courseId === this.course._id
            )
            taskProgressesPoints = taskProgresses.map(taskProgress => {
              return this.getCorrectnessOfSolutionsInPoints(this.courses, this.course._id, taskProgress.chapterId, taskProgress.taskId, taskProgress.solutions, taskProgress.cheatedSolutions)
            })
          } else {
            taskProgressesPoints = user.taskProgresses.map(taskProgress => {
              return this.getCorrectnessOfSolutionsInPoints(this.courses, taskProgress.courseId, taskProgress.chapterId, taskProgress.taskId, taskProgress.solutions, taskProgress.cheatedSolutions)
            })
          }
          return taskProgressesPoints.reduce((a, b) => a + b, 0)
        })
      },
    },
  })
</script>
