<template>
  <canvas ref="bubbleChart" />
</template>
<script lang="ts">
  import Chart from 'chart.js/auto'
  import { defineComponent } from 'vue'
  import { TaskProgress } from '@/model/types/taskProgress'
  import CourseMixin from '@/mixins/courseMixin'
  import { User } from '@/model/types/user'
  import { Course } from '@/model/types/course'
  import { Chapter } from '@/model/types/chapter'
  import { Task } from '@/model/types/task'
  import router from '@/router'

  export default defineComponent({
    name: 'BubbleChartDashboardAdmin',
    mixins: [CourseMixin],
    props: {
      semester: {
        type: Object,
        required: true,
      },
      lecture: {
        type: Object,
        required: true,
      },
      subscriptions: {
        type: Array,
        required: true,
      },
      users: {
        type: Array,
        required: true,
      },
      courses: {
        type: Array,
        required: true,
      },
      taskProgresses: {
        type: Array,
        required: true,
      },
    },
    data() {
      // this is a workaround for a known issue
      this.chart = null
      return {
        ctx: null,
      }
    },
    mounted() {
      if (this.users.length) {
        const totalPoints = this.getTotalPoints()
        const totalTasks = this.getTotalTasks()
        const chartData = this.getChartData(totalPoints)
        const options = this.getOptions(totalTasks)
        const customLegendPlugin = this.getCustomLegendPlugin()
        this.ctx = this.$refs.bubbleChart
        this.chart = new Chart(this.ctx, {
          type: 'bubble',
          data: chartData,
          options,
          plugins: [customLegendPlugin],
        })
      }
    },
    methods: {
      getChartData(totalPoints: number) {
        const data = this.users.map((user: User) => {
          const userScore = this.getUserScore(user)
          const userCheatedColor = this.getColorFromPercentage(userScore[1])
          return {
            x: userScore[2],
            y: Math.round((userScore[0] / totalPoints) * 100),
            z: Math.round(userScore[1] * 100),
            r: 10,
            label: user.username,
            userId: user._id,
            backgroundColor: userCheatedColor,
          }
        })
        return {
          datasets: [
            {
              label: 'Benutzerfortschritt von Kursen',
              data,
              backgroundColor: data.map(bubble => bubble.backgroundColor),
            },
          ],
        }
      },
      getOptions(totalTasks: number) {
        return {
          responsive: true,
          maintainAspectRatio: true,
          onClick: this.onClick,
          plugins: {
            tooltip: {
              callbacks: {
                label(tooltipItem: any) {
                  const dataset = tooltipItem.dataset
                  const bubbleData = dataset.data[tooltipItem.dataIndex]
                  return `${bubbleData.label}: (${bubbleData.x}/${totalTasks} Aufgaben gelöst, ${bubbleData.y}% der Gesamtpunktzahl erreicht, ${bubbleData.z}% gecheated)`
                },
              },
            },
            legend: {
              display: false,
            },
          },
          layout: {
            padding: {
              top: 60,
            },
          },
          scales: {
            x: {
              title: {
                display: true,
                text: 'gelöste Aufgaben gesamt',
              },
              suggestedMin: 0,
              suggestedMax: totalTasks,
              precision: 0,
            },
            y: {
              title: {
                display: true,
                text: 'erreichte Punkzahl in Prozent',
              },
              suggestedMin: 0,
              suggestedMax: 100,
              precision: 0,
              ticks: {
                callback (value: string) {
                  return value + ' %'
                },
              },
            },
          },
        }
      },
      getCustomLegendPlugin() {
        return {
          id: 'customLegend',
          afterDraw(chart: any) {
            const { ctx, chartArea } = chart
            const { top, left, right } = chartArea

            const gradientWidth = (right - left) * 0.1

            // Header
            ctx.font = '14px Arial'
            ctx.fillStyle = '#333'
            ctx.textAlign = 'center'
            ctx.fillText('Benutzerfortschritt von Kursen', (left + right) / 2, top - 40)

            // Gradient
            const gradientX = (left + right) / 2 - gradientWidth / 2
            const gradient = ctx.createLinearGradient(gradientX, 0, gradientX + gradientWidth, 0)
            gradient.addColorStop(0, '#FF0000')
            gradient.addColorStop(1, '#00FF00')
            ctx.fillStyle = gradient
            ctx.fillRect(gradientX, top - 25, gradientWidth, 20)

            // Left text
            ctx.font = '12px Arial'
            ctx.fillStyle = '#555'
            ctx.textAlign = 'left'
            const leftText = 'Lösungen genutzt'
            const leftTextWidth = ctx.measureText(leftText).width
            ctx.fillText(leftText, gradientX - leftTextWidth - 5, top - 10)

            // Right text
            ctx.fillText('Lösungen ungenutzt', gradientX + gradientWidth + 5, top - 10)
          },
        }
      },
      onClick(_: any, elements: any, chart: any) {
        const data = chart.data
        if (elements && elements.length > 0 && data.datasets.length > 0) {
          const index = elements[0].index
          const bubbles = data.datasets[0].data
          const bubbleData = bubbles[index]
          const routeParameters = {
            tabChoice: 'courses',
            semesterId: this.semester._id,
            lectureId: this.lecture._id,
            userId: bubbleData.userId,
          }
          router.push({
            name: 'admin-statistic-user-specific-with-params',
            params: routeParameters,
          })
        }
      },
      getUserScore(user: User) {
        const userTaskProgresses = this.taskProgresses.filter((taskProgress: TaskProgress) =>
          taskProgress.userId === user._id &&
          taskProgress.semesterId === this.semester._id &&
          taskProgress.lectureId === this.lecture._id
        )
        const nonCheatedScore = userTaskProgresses.map((taskProgress: TaskProgress) => {
          return this.getCorrectnessOfSolutionsInPoints(
            this.courses,
            taskProgress.courseId,
            taskProgress.chapterId,
            taskProgress.taskId,
            taskProgress.solutions,
            taskProgress.cheatedSolutions,
          )
        }).reduce((a, b) => a + b, 0)

        const cheatedSolutions = userTaskProgresses.flatMap((taskProgress: TaskProgress) => taskProgress.cheatedSolutions)
        const cheated = cheatedSolutions.filter(solution => solution).length
        const cheatedPercentage = cheated / cheatedSolutions.length

        const numberOfSolvedTasks = userTaskProgresses.length
        return [nonCheatedScore, cheatedSolutions.length ? cheatedPercentage : 0, numberOfSolvedTasks]
      },
      getTotalTasks() {
        return this.courses.flatMap(
          (course: Course) => course.chapters.flatMap(
            (chapter: Chapter) => chapter.tasks.length
          )
        ).reduce((a, b) => a + b, 0)
      },
      getTotalPoints() {
        return this.courses.flatMap(
          (course: Course) => course.chapters.flatMap(
            (chapter: Chapter) => chapter.tasks.flatMap((task: Task) => {
              if (task.tag === 'koan-task') {
                return task.data.solutions.length
              } else {
                return 1
              }
            })
          )
        ).reduce((a, b) => a + b, 0)
      },
      getColorFromPercentage(percentage: number) {
        const red = Math.round(255 * percentage)
        const green = Math.round(255 * (1 - percentage))

        return `rgb(${red}, ${green}, 0)`
      },
    },
  })
</script>
