<template>
  <div v-if="!isLoading">
    <div v-if="lecture && semester">
      <el-row type="flex" align="middle">
        <el-col :span="12">
          <h1>{{ lecture.name }} im Semester {{ semester.name }}</h1>
        </el-col>
        <el-col :span="12">
          <el-alert
            v-if="isUserSubscribed"
            title="Du bist in diese Vorlesung eingeschrieben."
            type="success"
            :closable="false"
            show-icon
          >
          </el-alert>
          <el-alert
            v-else
            title="Du bist nicht in diese Vorlesung eingeschrieben."
            type="error"
            :closable="false"
            show-icon
          >
          </el-alert>
        </el-col>
      </el-row>
      <router-view v-if="isUserSubscribed" :lecture="lecture"></router-view>
      <el-row v-else>
        <el-col :span="24">
          <el-button type="primary" @click="enroll(semester, lecture)"
            >Jetzt einschreiben</el-button
          >
        </el-col>
      </el-row>
    </div>
    <div v-else>
      <el-row>
        <el-col :span="24">
          <el-alert
            title="Vorlesung nicht gefunden"
            type="error"
            :closable="false"
            description="Es wurde keine passende Vorlesung zu diesem Semester gefunden."
            show-icon
          >
          </el-alert>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-button @click="$router.push({ name: 'dashboard' })"
            >Zurück zum Dashboard</el-button
          >
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "LectureShell",
  data() {
    return {
      lecture: null,
      semester: null,
      isLoading: false
    };
  },
  computed: {
    ...mapState("lectureStore", ["lectures"]),
    ...mapState("semesterStore", ["semesters"]),
    ...mapState("userStore", ["user"]),
    isUserSubscribed() {
      return this.user.subscriptions.some(
        subscription =>
          subscription.lecture === this.lecture._id &&
          subscription.semester === this.semester._id
      );
    }
  },
  async created() {
    this.isLoading = true;
    this.fetchLectures()
      .then(
        () =>
          (this.lecture = this.lectures.find(
            lecture => lecture._id === this.$route.params.lectureId
          ))
      )
      .catch(() =>
        this.$notify({
          title: "Fehler",
          message: "Die Vorlesung konnte nicht geladen werden.",
          type: "error"
        })
      );
    this.fetchSemesters()
      .then(
        () =>
          (this.semester = this.semesters.find(
            semester => semester._id === this.$route.params.semesterId
          ))
      )
      .catch(() =>
        this.$notify({
          title: "Fehler",
          message: "Das Semester konnte nicht geladen werden.",
          type: "error"
        })
      )
      .finally(() => (this.isLoading = false));
  },
  methods: {
    ...mapActions("lectureStore", ["fetchLectures"]),
    ...mapActions("semesterStore", ["fetchSemesters"]),
    ...mapActions("userStore", ["createSubscription"]),
    enroll(semester, lecture) {
      this.createSubscription({
        semester: semester._id,
        lecture: lecture._id,
        user: this.user._id
      }).then(() =>
        this.$notify({
          title: "Erfolg",
          message: `Du hast dich erfolgreich in die Vorlesung "${lecture.name}" eingeschrieben.`,
          type: "success"
        })
      );
    }
  }
};
</script>

<style scoped></style>
