<template>
  <div :id="`task-${task._id}`" class="exam-koan-task">
    <Field
      v-for="(solution, index) of getSolution()"
      :key="`${task._id}-${solution._id}`"
      v-slot="{componentField, errorMessage}"
      :name="`solutions.${task._id}-${solution._id}`"
    >
      <exam-koan-task-blank
        :autofocus="index === 0"
        class="koan-task-input"
        :data-id="`${task._id}-${solution._id}`"
        :error="Boolean(errorMessage)"
        :is-read-only="isReadOnly"
        :name="componentField.name"
        :saved-solution="solution"
        @task-progress="handleTaskProgress"
      />
    </Field>
    <code-mirror
      class="koan-task-codemirror"
      :extensions="[
        koanInputPlugin,
        editorState.readOnly.of(true),
        lineNumbers(),
        highlightActiveLine(),
        highlightActiveLineGutter(),
      ]"
      :model-value="task.data.code"
    />
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue'
  import { Field } from 'vee-validate'
  import { EditorState } from '@codemirror/state'
  import {
    highlightActiveLine,
    highlightActiveLineGutter,
    lineNumbers,
  } from '@codemirror/view'
  import CodeMirror from '@/components/CodeMirror.vue'
  import ExamKoanTaskBlank from '@/components/exam/task/koan/ExamKoanTaskBlank.vue'
  import { KoanInputPlugin } from '@/components/exam/task/koan/koanInputPlugin'

  export default defineComponent({
    name: 'ExamKoanTask',
    components: {
      Field,
      CodeMirror,
      ExamKoanTaskBlank,
    },
    props: {
      task: {
        type: Object,
        required: true,
      },
      examSolution: {
        type: Object,
        required: true,
      },
      isReadOnly: {
        type: Boolean,
        default: false,
      },
    },
    emits: ['task-progress'],
    setup(props) {
      const taskId = `task-${props.task._id}`
      const koanInputPlugin = KoanInputPlugin(taskId, props.isReadOnly)

      return {
        koanInputPlugin,
        editorState: EditorState,
        lineNumbers,
        highlightActiveLine,
        highlightActiveLineGutter,
      }
    },
    methods: {
      handleTaskProgress(solvedData: any) {
        this.$emit('task-progress', solvedData)
      },

      getSolution() {
        if (!this.examSolution || !this.examSolution.solvedWith) {
          return this.task.data.solutions.map(solution => ({
            solution: '',
            _id: solution._id,
            correctness: false,
          }))
        }
        return this.examSolution.solvedWith
      },
    },
  })
</script>
<style scoped lang="scss">
.koan-task-codemirror {
  width: auto !important;
  height: auto !important;
}
</style>
