<template>
  <v-text-field
    v-model="inputValue"
    :autofocus
    class="w-50"
    density="compact"
    hide-details
    :name
    :readonly="isReadOnly"
    variant="outlined"
  />
</template>

<script lang="ts">
  import { defineComponent } from 'vue'
  import { VTextField } from 'vuetify/components'

  export default defineComponent({
    name: 'ExamKoanTaskBlank',
    components: {
      VTextField,
    },
    props: {
      savedSolution: {
        type: Object,
        required: false,
      },
      isReadOnly: {
        type: Boolean,
        default: false,
        required: false,
      },
      autofocus: {
        type: Boolean,
        default: false,
      },
      name: {
        type: String,
        required: false,
      },
    },
    data() {
      return {
        inputValue: this.savedSolution.solution || '',
      }
    },
    watch: {
      inputValue(value) {
        this.$emit('task-progress', {
          solutionId: this.savedSolution._id,
          value,
          correctness: false,
        })
      },
      savedSolution: {
        immediate: true,
        handler(value) {
          if (value && value.solution) {
            this.inputValue = value.solution || ''
          }
        },
      },
    },
  })
</script>

<style scoped lang="scss">
</style>
