<template>
  <v-row class="ml-3 mr-3 mt-0">
    <v-col>
      <v-autocomplete
        autocomplete="off"
        class="autocomplete"
        hide-details
        item-title="name"
        item-value="_id"
        :items="getSemestersOfUser"
        label="Semester"
        :model-value="selectedSemester"
        variant="outlined"
        @update:model-value="updateSelectedSemester"
      />
    </v-col>
    <v-col />
  </v-row>
  <v-row class="ml-3 mr-3">
    <v-col>
      <SemesterCalendar
        :course-deadlines="getCourseDeadlinesInSelectedSemester"
        :exams="realExams"
        :from-date="selectedSemester ? new Date(selectedSemester.opensAt) : new Date()"
        :quiz-duel-deadlines="getQuizduellDeadlinesInSelectedSemester"
        :test-exams="testExams"
      />
    </v-col>
    <v-col>
      <SemesterTasksProcessor
        :course-deadlines="getCourseDeadlinesInSelectedSemester"
        :exams="realExams"
        :quiz-duel-deadlines="getQuizduellDeadlinesInSelectedSemester"
        :test-exams="testExams"
      />
    </v-col>
  </v-row>
</template>

<script lang="ts">
  import SemesterCalendar from '@/components/calendar/SemesterCalendar.vue'
  import SemesterTasksProcessor from '@/components/calendar/SemesterTasksProcessor.vue'
  import { CourseDeadline, QuizDuelDeadline } from '@/model/deadline'
  import { computed, defineComponent, onMounted, ref } from 'vue'
  import { provideCourseDeadlines } from '@/providers/courseDeadlines'
  import { provideQuizDuelDeadlines } from '@/providers/quizDuelDeadlines'
  import { provideCourses } from '@/providers/courses'
  import { provideSemesters } from '@/providers/semesters'
  import { provideLectures } from '@/providers/lectures'
  import { provideQuizTaskSets } from '@/providers/quizTaskSets'
  import { useAuthOrThrow } from '@/providers/auth'
  import { provideSubscriptions } from '@/providers/subscriptions'
  import { VAutocomplete, VCol, VRow } from 'vuetify/components'
  import { provideExams } from '@/providers/exams'

  export default defineComponent({
    name: 'DashboardCalendar',
    components: {
      VAutocomplete,
      SemesterTasksProcessor,
      SemesterCalendar,
      VCol,
      VRow,
    },
    setup() {
      const { courseDeadlines, getSubscribedCourseDeadlines } = provideCourseDeadlines()
      const { courses, getSubscribedCourses } = provideCourses()
      const { exams, getUsersExams } = provideExams()
      const { lectures, getLectures } = provideLectures()
      const { quizDuelDeadlines, getSubscribedQuizDuelDeadlines } = provideQuizDuelDeadlines()
      const { quizTaskSets, getQuizTaskSets } = provideQuizTaskSets()
      const { semesters, getSemesters } = provideSemesters()
      const { subscriptions, getSubscriptions } = provideSubscriptions()
      const { user } = useAuthOrThrow()

      const isDataReady = ref(false)
      const selectedSemester = ref<any>(null)

      onMounted(async () => {
        await getSubscribedCourses()
        await getLectures()
        await getQuizTaskSets()
        await getSemesters()
        await getSubscribedCourseDeadlines()
        await getSubscribedQuizDuelDeadlines()
        await getSubscriptions()
        await getUsersExams(user.value?._id || '')
        isDataReady.value = true
        if (semesters.value.length > 0) {
          selectedSemester.value = semesters.value.sort((a, b) => b.opensAt - a.opensAt)[0]
        }
      })

      const testExams = computed(() => {
        return exams.value.filter(exam => exam.examType === 'test-exam' && exam.semester === selectedSemester.value?._id)
      })

      const realExams = computed(() => {
        return exams.value.filter(exam => exam.examType === 'exam' && exam.semester === selectedSemester.value?._id)
      })

      const getSemestersOfUser = computed(() => {
        if (!isDataReady.value) {
          return []
        }
        const userSubscriptions = subscriptions.value.filter(subscription => subscription.user === user.value._id)
        return semesters.value
          .filter(semester =>
            userSubscriptions.some(
              subscription => subscription.semester === semester._id
            )
          )
          .sort((a, b) => a.opensAt - b.opensAt)
      })

      const getCourseDeadlinesInSelectedSemester = computed(() => {
        let selectedCourseDeadlines = []
        if (isDataReady.value && selectedSemester.value !== undefined && lectures.value.length > 0 && courses.value.length > 0) {
          const courseDeadlinesInSemester = courseDeadlines.value.filter(
            courseDeadline => courseDeadline.semester === selectedSemester.value._id
          )
          selectedCourseDeadlines = courseDeadlinesInSemester.map(courseDeadline => {
            return new CourseDeadline(
              courseDeadline.lecture,
              lectures.value.find(lecture => lecture._id === courseDeadline.lecture).name,
              courseDeadline.deadline,
              courseDeadline._id,
              courses.value.find(course => course._id === courseDeadline.course).title,
              selectedSemester.value.name
            )
          })
        }
        return selectedCourseDeadlines
      })

      const getQuizduellDeadlinesInSelectedSemester = computed(() => {
        let selectedQuizduellDeadlines = []
        if (isDataReady.value && selectedSemester.value !== undefined && lectures.value.length && quizTaskSets.value.length) {
          // eslint-disable-next-line array-callback-return
          quizDuelDeadlines.value.map((quizduellDeadline: any) => {
            if (quizduellDeadline.semester === selectedSemester.value._id) {
              selectedQuizduellDeadlines = [...selectedQuizduellDeadlines, new QuizDuelDeadline(
                quizduellDeadline.lecture,
                lectures.value.find(lecture => lecture._id === quizduellDeadline.lecture).name,
                quizduellDeadline.deadline,
                quizduellDeadline._id,
                quizduellDeadline.taskSet,
                quizTaskSets.value.find(quizTaskSet => quizTaskSet._id === quizduellDeadline.taskSet).name,
                selectedSemester.value.name
              )]
            }
          })
        }
        return selectedQuizduellDeadlines
      })

      return {
        courseDeadlines,
        courses,
        lectures,
        quizDuelDeadlines,
        quizTaskSets,
        semesters,
        subscriptions,
        user,
        realExams,
        testExams,
        isDataReady,
        selectedSemester,
        getSemestersOfUser,
        getCourseDeadlinesInSelectedSemester,
        getQuizduellDeadlinesInSelectedSemester,
      }
    },
    watch: {
      semesters(newSemesters) {
        if (newSemesters.length) {
          this.updateSelectedSemester(this.getLatestSemester())
        }
      },
    },
    methods: {
      updateSelectedSemester(semesterId: string) {
        this.selectedSemester = this.getSemestersOfUser.find(semester => semester._id === semesterId)
      },
      getLatestSemester() {
        return this.getSemestersOfUser.slice(-1)[0]
      },
    },
  })
</script>

<style scoped>
.autocomplete {
  width: 200px;
}
</style>
