<template>
  <v-container class="pa-0" max-height="1080" max-width="1920">
    <v-app>
      <v-layout v-if="user">
        <v-navigation-drawer v-model="drawer" color="secondary" floating>
          <navigation />
        </v-navigation-drawer>
        <v-app-bar class="pr-2" color="transparent" flat prominent>
          <v-app-bar-nav-icon v-if="$vuetify.display.mdAndDown" variant="text" @click.stop="drawer = !drawer" />
          <template #append>
            <user-settings-menu />
          </template>
        </v-app-bar>
        <v-main class="position-relative flex-grow-0 mx-auto" :class="{'w-66': size === 'small', 'w-100': size === 'normal'}">
          <router-view />
        </v-main>
      </v-layout>
      <v-layout v-else>
        <v-main>
          <router-view />
        </v-main>
      </v-layout>
      <v-snackbar
        v-model="pageSnackbar.showSnackbar.value"
        :color="pageSnackbar.snackbar.value?.color"
        location="bottom end"
        :text="pageSnackbar.snackbar.value?.text"
        :timeout="3000"
        variant="flat"
      >
        <template #actions>
          <v-btn
            icon
            size="x-small"
            variant="text"
            @click="pageSnackbar.showSnackbar.value = false"
          >
            <v-icon icon="mdi-close" size="x-large" />
          </v-btn>
        </template>
      </v-snackbar>
    </v-app>
  </v-container>

</template>

<script setup lang="ts">
  import Navigation from '@/components/Navigation.vue'
  import {
    VApp, VAppBar, VAppBarNavIcon, VBtn,
    VContainer, VIcon, VLayout, VMain,
    VNavigationDrawer, VSnackbar,
  } from 'vuetify/components'
  import { providePageSize } from './providers/pageSize'
  import UserSettingsMenu from '@/pages/user/components/UserSettingsMenu.vue'
  import { ref } from 'vue'
  import { provideAuth } from './providers/auth'
  import { providePageSnackbar } from './providers/pageSnackbar'
  import { provideQuizDuelClient } from './providers/quizDuelClient'
  import { provideQuizDuel } from './providers/quizDuel'

  const drawer = ref(true)
  const { size } = providePageSize()
  const { user, getUser } = provideAuth()
  const pageSnackbar = providePageSnackbar()
  provideQuizDuelClient()
  provideQuizDuel()
  getUser()
</script>
