<template>
  <div>
    <el-row>
      <el-col :span="24">
        <el-row>
          <el-form ref="form" :model="form" label-position="top">
            <el-form-item label="Quizduellname" required>
              <el-input v-model="form.duelName" />
            </el-form-item>
          </el-form>
        </el-row>
      </el-col>
    </el-row>
    <el-row
      v-loading="isLoading"
      element-loading-text="Lade Kurse ..."
      element-loading-background="rgba(0, 0, 0, 0.2)"
    >
      <el-dialog
        title="Ausgewählter Task"
        :visible.sync="dialogVisible"
        v-if="koanPopUp"
        width="80%"
        height="75%"
      >
        <div class="el-row">
          <component
            v-loading="isLoading"
            element-loading-text="Aufgabe wird geladen ..."
            element-loading-background="rgba(0, 0, 0, 0.2)"
            :is="koanPopUp.tag"
            :task="koanPopUp"
            :key="koanPopUp._id"
          />
        </div>
        <div class="el-row">
          <hr />
          <p>Task Zeit: {{ this.getTaskTime(koanPopUp) }} Sekunden</p>
          <el-button @click="dialogVisible = false">Ok</el-button>
        </div>
      </el-dialog>
      <el-form ref="form" :model="form" label-position="top">
        <el-form-item label="Verfügbare Koans" required>
          <el-col :span="24">
            <el-tree
              v-if="courses.length > 0"
              :key="redrawKey"
              :props="props"
              :data="getTreeData"
              node-key="id"
              ref="tree"
              show-checkbox
              @check-change="handleCheckChange"
              @node-click="showKoan"
              :render-content="iconRender"
            />
          </el-col>
        </el-form-item>
      </el-form>
    </el-row>
    <el-collapse-transition>
      <el-row v-if="checkedNodes.length">
        <el-col :span="24">
          <hr />
          <p>Anzahl ausgewählter Tasks: {{ checkedNodes.length }}</p>
          <p>
            Gesamtdauer des Quizduells:
            {{ getTotalQuizTime }} Sekunden
          </p>
        </el-col>
      </el-row>
    </el-collapse-transition>
    <el-row>
      <el-button
        :disabled="$v.$invalid"
        :loading="isLoading"
        type="primary"
        @click="buildTaskTestSetJSON"
      >
        Quizduell speichern
      </el-button>
    </el-row>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import CourseMixin from "@/mixins/CourseMixin";
import KoanTask from "@/components/learn/task/KoanTask";
import CodeTask from "@/components/learn/task/CodeTask";
import { required } from "vuelidate/lib/validators";
import TaskMixin from "@/mixins/TaskMixin";

export default {
  name: "EditQuizTaskSet",
  components: {
    KoanTask,
    CodeTask
  },
  mixins: [CourseMixin, TaskMixin],
  data() {
    return {
      form: {
        duelName: ""
      },
      redrawKey: Math.random() * 10000,
      activeCourse: "",
      isLoading: false,
      koanPopUp: null,
      props: {
        label: "label",
        children: "children",
        isLeaf: "leaf"
      },
      checkedNodes: [],
      dialogVisible: false
    };
  },
  computed: {
    ...mapState("courseStore", ["courses"]),
    ...mapState("quizTaskSetStore", ["quizTaskSets"]),
    getTreeData() {
      return this.getCoursesSortedByName(this.courses).map(course => {
        return {
          id: course._id,
          label: course.title,
          children: course.chapters.map(chapter => {
            return {
              id: chapter._id,
              label: chapter.title,
              children: chapter.tasks
                .filter(task => task.tag !== "video-task")
                .map(task => {
                  return {
                    id: task._id,
                    courseParent: course._id,
                    chapterParent: chapter._id,
                    label: task.data.description.substr(0, 85) + "...",
                    leaf: true,
                    task: task
                  };
                })
            };
          })
        };
      });
    },
    getTotalQuizTime() {
      return this.checkedNodes.reduce((current, node) => {
        return current + this.getTaskTime(node.task);
      }, 0);
    }
  },
  validations: {
    form: {
      duelName: {
        required
      }
    },
    checkedNodes: {
      required
    }
  },
  mounted() {
    this.isLoading = true;
    this.fetchCourses().finally(() => (this.isLoading = false));
  },
  methods: {
    ...mapActions("courseStore", ["updateCourse", "fetchCourses"]),
    ...mapActions("quizTaskSetStore", [
      "createQuizTaskSet",
      "fetchQuizTaskSets"
    ]),
    handleCheckChange() {
      this.checkedNodes = this.$refs.tree
        .getCheckedNodes(true, true)
        .filter(task => task.leaf === true);
    },
    getAllCheckedNodes() {
      return this.checkedNodes.flatMap(task => {
        return {
          courseId: task.courseParent,
          chapterId: task.chapterParent,
          taskId: task.id
        };
      });
    },
    showKoan(nodeData) {
      if (nodeData.leaf === true) {
        this.dialogVisible = true;
        this.koanPopUp = nodeData.task;
      }
    },
    iconRender(h, { node, data }) {
      if (data.leaf === true) {
        if (data.task.tag === "koan-task") {
          return (
            <span class="custom-tree-node">
              <span>{node.label}</span>
              <i class="el-icon-collection code-task" />
            </span>
          );
        } else {
          return (
            <span class="custom-tree-node">
              <span>{node.label}</span>
              <i class="el-icon-files koan-task" />
            </span>
          );
        }
      } else {
        return <span>{node.label}</span>;
      }
    },
    buildTaskTestSetJSON() {
      const chosenTasks = {
        name: this.form.duelName,
        tasks: this.getAllCheckedNodes()
      };
      this.isLoading = true;
      this.createQuizTaskSet(chosenTasks)
        .then(() => {
          // Reset view
          this.form.duelName = "";
          this.checkedNodes = [];
          this.redrawKey = Math.random() * 10000;
          this.$notify({
            title: "Erfolg",
            message: "Das Quizduell wurde erstellt.",
            type: "success"
          });
        })
        .catch(error =>
          this.$notify({
            title: "Fehler",
            message: `Das Quizduell konnte nicht erstellt werden. ` + error,
            type: "error"
          })
        )
        .finally(() => (this.isLoading = false));
    }
  }
};
</script>

<style lang="scss" scoped>
h4 {
  margin: 0 0 8px 0;
}
::v-deep .custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-right: 8px;
  span {
    flex: 1;
  }
  i {
    flex: 1;
  }
}
</style>
