<template>
  <div>
    <el-row :gutter="4">
      <el-col :span="5">
        <el-select
          v-model="semesterSelection"
          placeholder="Semester"
          v-on:change="setSemester(semesterSelection)"
        >
          <el-option
            v-for="semester in semesters"
            :key="semester._id"
            :label="semester.name"
            :value="semester._id"
          >{{ semester.name }}
          </el-option>
        </el-select></el-col
      >
      <el-col :span="5">
        <el-select
          v-if="semesterSelected === 'true'"
          v-model="lectureSelection"
          placeholder="Vorlesung"
          v-on:change="setLecture(lectureSelection)"
        >
          <el-option
            v-for="lecture in getLecturesOfSemester(semesterValue)"
            :key="lecture._id"
            :label="lecture.name"
            :value="lecture._id"
          >{{ lecture.name }}
          </el-option>
        </el-select></el-col
      >

      <el-col :span="5">
        <el-select
          v-if="lectureSelected === 'true'"
          v-model="taskSelection"
          placeholder="TaskSet"
          v-on:change="setTask(taskSelection)"
        >
          <el-option
            v-for="quizTaskSet in quizTaskSets"
            :key="quizTaskSet._id"
            :label="quizTaskSet.name"
            :value="quizTaskSet._id"
          >{{ quizTaskSet.name }}
          </el-option>
        </el-select></el-col
      >
    </el-row>
    <el-row>
      <el-button
        :disabled="choicesAreValid"
        :loading="isLoading"
        @click="enableQuiz()"
      >
        Quizduell freischalten
      </el-button></el-row
    >
  </div>
</template>

<script>
import { mapState } from "vuex";
import { getOpenSemesters } from "@/utils/helpers";
import axiosInstance from "@/utils/axios";

export default {
  name: "EditQuiz",

  data() {
    return {
      quiz: {
        lecture: "",
        semester: "",
        quizTaskSetId: ""
      },
      semesterValue: null,
      semesterSelected: false,
      lectureSelected: false,
      taskSelected: false,
      semesterSelection: null,
      lectureSelection: null,
      taskSelection: null,
      isLoading: false,
    };
  },
  computed: {
    ...mapState("lectureStore", ["lectures"]),
    ...mapState("courseStore", ["courses"]),
    ...mapState("semesterStore", ["semesters"]),
    ...mapState("quizTaskSetStore", ["quizTaskSets"]),
    getOpenSemesters() {
      return getOpenSemesters(this.semesters);
    },
    getLectureList() {
      return this.lectures.map(lecture => {
        return {
          key: lecture._id,
          label: lecture.name,
          disabled: false
        };
      });
    },
    choicesAreValid() {
      return !(
        this.semesterSelection &&
        this.lectureSelection &&
        this.taskSelection
      );
    }
  },

  methods: {
    enableQuiz() {
      this.isLoading = true;
      axiosInstance
        .post("/quizduell/activate", this.quiz)
        .then(() => {
          this.semesterSelection = null;
          this.lectureSelection = null;
          this.taskSelection = null;
          this.$notify({
            title: "Erfolg",
            message: "Das Quizduell wurde freigeschaltet.",
            type: "success"
          });
        })
        .catch(() => {
          this.$notify({
            title: "Fehler",
            message: "Das Quizduell konnte nicht freigeschaltet werden.",
            type: "error"
          });
        })
        .finally(() => (this.isLoading = false));
    },

    setSemester(semesterId) {
      const semester = this.semesters.find(
        semester => semester._id === semesterId
      );
      this.semesterSelected = "true";
      this.semesterValue = semester;
      this.quiz.semester = semester._id;
    },
    setLecture(lectureId) {
      const lecture = this.lectures.find(lecture => lecture._id === lectureId);
      this.lectureSelected = "true";
      this.quiz.lecture = lecture._id;
    },
    setTask(taskId) {
      const task = this.quizTaskSets.find(
        quizTaskSet => quizTaskSet._id === taskId
      );
      this.taskSelected = "true";
      this.quiz.quizTaskSetId = task._id;
    },
    getLecturesOfSemester(semester) {
      return this.lectures.filter(lecture =>
        semester.lectures.includes(lecture._id)
      );
    }
  }
};
</script>

<style scoped></style>
