<template>
  <div>
    <h2>Quizduelle</h2>
    <router-view></router-view>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "ManageQuiz",

  mounted() {
    this.fetchLectures();
    this.fetchSemesters();
    this.fetchCourses();
    this.fetchQuizTaskSets();
  },

  methods: {
    ...mapActions("lectureStore", ["fetchLectures"]),
    ...mapActions("semesterStore", ["fetchSemesters"]),
    ...mapActions("courseStore", ["fetchCourses"]),
    ...mapActions("quizTaskSetStore", ["fetchQuizTaskSets"])
  }
};
</script>

<style scoped></style>
