<template>
  <div>
    <h3>
      Einstellungen für Koans
    </h3>
    <el-form ref="form" :model="settings" label-position="top">
      <el-form-item label="Zeit pro Koan (in Sekunden)">
        <el-input
          :disabled="isLoading"
          v-model.number.trim="settings.koanTime"
        />
      </el-form-item>
      <el-form-item label="Zeit pro Codetask (in Sekunden)">
        <el-input
          :disabled="isLoading"
          v-model.number.trim="settings.codetaskTime"
        />
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          @click="onSubmit"
          :loading="isLoading"
          :disabled="$v.$invalid"
          >Speichern</el-button
        >
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { required, numeric } from "vuelidate/lib/validators";

export default {
  name: "SettingsQuiz",
  data() {
    return {
      settings: {},
      isLoading: false
    };
  },
  computed: {
    ...mapState("courseStore", ["courses", "isKoansSyncing"])
  },
  validations: {
    settings: {
      koanTime: {
        required,
        numeric
      },
      codetaskTime: {
        required,
        numeric
      }
    }
  },
  mounted() {
    this.isLoading = true;
    this.fetchGlobalSettings()
      .then(response => {
        this.settings = response.data;
      })
      .catch(() =>
        this.$notify({
          title: "Fehler",
          message: `Einstellungen konnten nicht geladen werden.`,
          type: "error"
        })
      )
      .finally(() => (this.isLoading = false));
  },
  methods: {
    ...mapActions("globalSettingStore", [
      "fetchGlobalSettings",
      "createGlobalSetting",
      "updateGlobalSetting"
    ]),
    onSubmit() {
      this.isLoading = true;
      if (this.settings._id) {
        this.updateGlobalSetting(this.settings)
          .then(() =>
            this.$notify({
              title: "Erfolg",
              message: "Die Einstellungen wurden aktualisiert.",
              type: "success"
            })
          )
          .catch(() =>
            this.$notify({
              title: "Fehler",
              message: `Die Einstellungen konnten nicht aktualisiert werden.`,
              type: "error"
            })
          )
          .finally(() => (this.isLoading = false));
      } else {
        this.createGlobalSetting(this.settings)
          .then(() => {
            this.$notify({
              title: "Erfolg",
              message: "Die Einstellungen wurden gespeichert.",
              type: "success"
            });
          })
          .catch(() =>
            this.$notify({
              title: "Fehler",
              message: `Die Einstellungen konnten nicht gespeichert werden.`,
              type: "error"
            })
          )
          .finally(() => (this.isLoading = false));
      }
    }
  }
};
</script>

<style lang="scss">
.el-transfer-panel {
  width: 280px !important;
}
</style>
