<template>
  <div>
    <h2>
      {{ semester._id ? "Semester bearbeiten" : "Neues Semester anlegen" }}
    </h2>
    <el-form ref="form" :model="semester" label-position="top">
      <el-form-item label="Semestername" required>
        <el-input v-model="semester.name" />
      </el-form-item>
      <el-form-item label="Vorlesungsbeginn" required>
        <el-date-picker
          v-model="semester.opensAt"
          format="dd.MM.yyyy"
          type="date"
          value-format="timestamp"
          placeholder="Datum wählen ..."
        >
        </el-date-picker>
      </el-form-item>
      <el-form-item label="Vorlesungsende" required>
        <el-date-picker
          v-model="semester.closesAt"
          format="dd.MM.yyyy"
          type="date"
          value-format="timestamp"
          placeholder="Datum wählen ..."
        >
        </el-date-picker>
      </el-form-item>
      <h4>Zuweisung</h4>
      <el-transfer
        v-model="semester.lectures"
        :data="getLectureList"
        :titles="['Verfügbare Vorlesungen', 'Zugewiesene Vorlesungen']"
      >
      </el-transfer>
      <el-form-item>
        <el-button
          type="primary"
          @click="onSubmit"
          :loading="isLoading"
          :disabled="$v.$invalid"
          >Speichern</el-button
        >
        <el-button
          type="danger"
          @click="onDelete"
          :loading="isLoading"
          :disabled="!semester._id"
          >Löschen</el-button
        >
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { required, numeric } from "vuelidate/lib/validators";
import { mapActions, mapState } from "vuex";
import { cloneDeep } from "lodash";

export default {
  name: "EditSemester",
  data() {
    return {
      semester: {
        name: "",
        opensAt: "",
        closesAt: ""
      },
      isLoading: false
    };
  },
  computed: {
    ...mapState("semesterStore", ["semesters"]),
    ...mapState("lectureStore", ["lectures"]),
    getLectureList() {
      return this.lectures.map(lecture => {
        return {
          key: lecture._id,
          label: lecture.name,
          disabled: false
        };
      });
    }
  },
  validations: {
    semester: {
      name: required,
      opensAt: {
        required,
        numeric
      },
      closesAt: {
        required,
        numeric
      }
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.setLectureObject();
    });
  },
  beforeRouteUpdate(to, from, next) {
    next();
    this.setLectureObject();
  },
  mounted() {
    this.fetchLectures();
  },
  methods: {
    ...mapActions("lectureStore", ["fetchLectures"]),
    ...mapActions("semesterStore", [
      "fetchSemesters",
      "createSemester",
      "updateSemester",
      "deleteSemester"
    ]),
    async setLectureObject() {
      if (!this.semesters.length) {
        this.isLoading = true;
        await this.fetchSemesters();
        this.isLoading = false;
      }

      if (this.$route.params.id) {
        this.semester = cloneDeep(
          this.semesters.find(
            semester => semester._id === this.$route.params.id
          )
        );
      } else {
        this.semester = {};
      }
    },
    onSubmit() {
      this.isLoading = true;
      if (this.semester._id) {
        this.updateSemester(this.semester)
          .then(() =>
            this.$notify({
              title: "Erfolg",
              message: "Das Semester wurde aktualisiert.",
              type: "success"
            })
          )
          .catch(() =>
            this.$notify({
              title: "Fehler",
              message: `Das Semester konnte nicht aktualisiert werden.`,
              type: "error"
            })
          )
          .finally(() => (this.isLoading = false));
      } else {
        this.createSemester(this.semester)
          .then(response => {
            this.$notify({
              title: "Erfolg",
              message: "Das Semester wurde erstellt.",
              type: "success"
            });
            this.$router.push({
              name: "edit-semester",
              params: { id: response.data._id }
            });
          })
          .catch(() =>
            this.$notify({
              title: "Fehler",
              message: `Das Semester konnte nicht erstellt werden.`,
              type: "error"
            })
          )
          .finally(() => (this.isLoading = false));
      }
    },
    onDelete(done) {
      this.isLoading = true;
      this.$confirm(
        `Bist du sicher dass du das Semester "${this.semester.name}" löschen willst?`,
        "Löschen",
        {
          confirmButtonText: "Ja",
          cancelButtonText: "Nein",
          type: "warning"
        }
      )
        .then(() => {
          this.deleteSemester(this.semester)
            .then(() => {
              this.$notify({
                title: "Erfolg",
                message: "Das Semester wurde gelöscht.",
                type: "success"
              });
              this.$router.push({
                name: "new-semester"
              });
            })
            .catch(() =>
              this.$notify({
                title: "Fehler",
                message: `Das Semester konnte nicht gelöscht werden.`,
                type: "error"
              })
            )
            .finally(() => (this.isLoading = false));
          done();
        })
        .finally(() => (this.isLoading = false));
    }
  }
};
</script>
