<template>
  <div>
    <h2>
      {{ lecture._id ? "Vorlesung bearbeiten" : "Neue Vorlesung anlegen" }}
    </h2>
    <el-form ref="form" :model="lecture" label-position="top">
      <el-form-item label="Vorlesungsname">
        <el-input v-model="lecture.name" />
      </el-form-item>
      <el-form-item label="Beschreibung">
        <el-input type="textarea" :rows="6" v-model="lecture.description" />
      </el-form-item>
      <el-form-item v-if="lecture.semesters">
        Zugewiesene Semester: {{ lecture.semesters.length }}
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          @click="onSubmit"
          :loading="isLoading"
          :disabled="$v.$invalid"
          >Speichern</el-button
        >
        <el-button
          type="danger"
          @click="onDelete"
          :loading="isLoading"
          :disabled="!lecture._id"
          >Löschen</el-button
        >
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { required } from "vuelidate/lib/validators";
import { cloneDeep } from "lodash";

export default {
  name: "EditLecture",
  data() {
    return {
      lecture: {
        name: "",
        description: "",
        semesters: []
      },
      isLoading: false
    };
  },
  computed: {
    ...mapState("lectureStore", ["lectures"])
  },
  validations: {
    lecture: {
      name: {
        required
      }
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.setLectureObject();
    });
  },
  beforeRouteUpdate(to, from, next) {
    next();
    this.setLectureObject();
  },
  methods: {
    ...mapActions("lectureStore", [
      "fetchLectures",
      "createLecture",
      "updateLecture",
      "deleteLecture"
    ]),
    async setLectureObject() {
      if (!this.lectures.length) {
        this.isLoading = true;
        await this.fetchLectures();
        this.isLoading = false;
      }

      if (this.$route.params.id) {
        this.lecture = cloneDeep(
          this.lectures.find(lecture => lecture._id === this.$route.params.id)
        );
      } else {
        this.lecture = {};
      }
    },
    onSubmit() {
      this.isLoading = true;
      if (this.lecture._id) {
        this.updateLecture(this.lecture)
          .then(() =>
            this.$notify({
              title: "Erfolg",
              message: "Die Vorlesung wurde aktualisiert.",
              type: "success"
            })
          )
          .catch(() =>
            this.$notify({
              title: "Fehler",
              message: `Die Vorlesung konnte nicht aktualisiert werden.`,
              type: "error"
            })
          )
          .finally(() => (this.isLoading = false));
      } else {
        this.createLecture(this.lecture)
          .then(response => {
            this.$notify({
              title: "Erfolg",
              message: "Die Vorlesung wurde erstellt.",
              type: "success"
            });
            this.$router.push({
              name: "edit-lecture",
              params: { id: response.data._id }
            });
          })
          .catch(() =>
            this.$notify({
              title: "Fehler",
              message: `Die Vorlesung konnte nicht erstellt werden.`,
              type: "error"
            })
          )
          .finally(() => (this.isLoading = false));
      }
    },
    onDelete(done) {
      this.isLoading = true;
      this.$confirm(
        `Bist du sicher dass du die Vorlesung "${this.lecture.name}" löschen willst?`,
        "Löschen",
        {
          confirmButtonText: "Ja",
          cancelButtonText: "Nein",
          type: "warning"
        }
      )
        .then(() => {
          this.deleteLecture(this.lecture)
            .then(() => {
              this.$notify({
                title: "Erfolg",
                message: "Die Vorlesung wurde gelöscht.",
                type: "success"
              });
              this.$router.push({
                name: "new-lecture"
              });
            })
            .catch(() =>
              this.$notify({
                title: "Fehler",
                message: `Die Vorlesung konnte nicht gelöscht werden.`,
                type: "error"
              })
            )
            .finally(() => (this.isLoading = false));
          done();
        })
        .finally(() => (this.isLoading = false));
    }
  }
};
</script>
