<template>
  <div>
    <el-row>
      <h1>
        Wählen Sie Semester und Vorlesung aus
      </h1>
    </el-row>

    <el-row :gutter="2">
      <el-col :span="5">
        <el-select
          v-model="semesterSelectionID"
          placeholder="Semester"
          v-on:change="setSemester(semesterSelectionID)"
        >
          <el-option
            v-for="semester in semesters"
            :key="semester._id"
            :label="semester.name"
            :value="semester._id"
            >{{ semester.name }}
          </el-option>
        </el-select>
      </el-col>

      <el-col :span="5">
        <el-select
          v-if="semesterValue"
          v-model="lectureSelectionID"
          placeholder="Vorlesung"
          v-on:change="setLecture(lectureSelectionID)"
        >
          <el-option
            v-for="lecture in getLecturesOfSemester(semesterValue)"
            :key="lecture._id"
            :label="lecture.name"
            :value="lecture._id"
            >{{ lecture.name }}
          </el-option>
        </el-select>
      </el-col>
      <el-button v-if="lectureValue" type="primary" @click="fetchEverything"
        >Daten Aktualisieren</el-button
      >
    </el-row>

    <el-row v-if="lectureValue">
      <el-tabs v-model="tabChoice">
        <el-tab-pane label="Koans" name="koans">
          <BarChartAdminStatistics
            v-if="tabChoice === 'koans'"
            :lecture="lectureValue"
            :semester="semesterValue"
            :users="users"
            :key="[users.length, semesters, lectures]"
          />
        </el-tab-pane>

        <el-tab-pane label="Quizduell" name="quizDuell">
          <BarChartQuizDuell
            v-if="tabChoice === 'quizDuell'"
            :lecture="lectureValue"
            :semester="semesterValue"
            :quizDuells="quizDuells"
            :key="[quizDuells, semesters, lectures]"
          />
        </el-tab-pane>
      </el-tabs>
    </el-row>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import BarChartQuizDuell from "../statistics/BarChartQuizDuell";
import BarChartAdminStatistics from "../statistics/BarChartAdminStatistics";

export default {
  name: "Statistics",
  components: { BarChartQuizDuell, BarChartAdminStatistics },
  mounted() {
    this.fetchQuizDuells();
    this.fetchLectures();
    this.fetchSemesters();
    this.fetchAllUsers();
  },
  data() {
    return {
      tabChoice: "quizduell",
      statistics: [
        {
          name: "Testsemester",
          points: 95,
          best: 125,
          worst: 35
        }
      ],
      semesterValue: null,
      lectureValue: null,
      semesterSelectionID: null,
      lectureSelectionID: null
    };
  },
  computed: {
    ...mapState("lectureStore", ["lectures"]),
    ...mapState("semesterStore", ["semesters"]),
    ...mapState("userStore", ["users"]),
    ...mapState("quizDuellStore", ["quizDuells"])
  },
  methods: {
    ...mapActions("lectureStore", ["fetchLectures"]),
    ...mapActions("semesterStore", ["fetchSemesters"]),
    ...mapActions("userStore", ["fetchAllUsers"]),
    ...mapActions("quizDuellStore", ["fetchQuizDuells"]),

    fetchEverything() {
      this.fetchQuizDuells();
      this.fetchLectures();
      this.fetchSemesters();
      this.fetchAllUsers();
    },
    setSemester(semesterId) {
      this.semesterValue = this.semesters.find(
        semester => semester._id === semesterId
      );
    },
    setLecture(lectureId) {
      this.lectureValue = this.lectures.find(
        lecture => lecture._id === lectureId
      );
    },
    getLecturesOfSemester(semester) {
      return this.lectures.filter(lecture =>
        semester.lectures.includes(lecture._id)
      );
    }
  }
};
</script>

<style>
.el-row {
  margin-bottom: 1px;
}
</style>
