<template>
  <v-card-text>
    <Field
      :name="`solutions.${task._id}-0`"
    >
      <v-textarea
        v-model="inputValue"
        density="compact"
        :disabled="isReadOnly"
        label="Antwort"
        variant="outlined"
      />
    </Field>
  </v-card-text>

</template>

<script lang="ts">
  import { Field } from 'vee-validate'
  import { VCardText, VTextarea } from 'vuetify/components'
  import { defineComponent } from 'vue'

  export default defineComponent({
    name: 'ExamReflectionTask',
    components: {
      Field,
      VCardText,
      VTextarea,
    },
    props: {
      task: {
        type: Object,
        required: true,
      },
      examSolution: {
        type: Object,
        required: false,
      },
      isReadOnly: {
        type: Boolean,
        default: false,
        required: false,
      },
    },
    emits: ['task-progress'],
    data() {
      return {
        inputValue: this.examSolution?.solvedWith?.[0]?.solution || '',
      }
    },
    watch: {
      inputValue(value) {
        const solvedData = {
          solutionId: '1',
          value,
          correctness: false,
        }
        this.$emit('task-progress', solvedData)
      },
      examSolution: {
        immediate: true,
        handler(value) {
          if (value && value.solution) {
            this.inputValue = value.solution || ''
          }
        },
      },
    },
  })
</script>

<style scoped>
.v-theme--light {
  --v-disabled-opacity: 1 !important;
}

.v-theme--dark {
  --v-disabled-opacity: 1 !important;
}
</style>
